{# templates/security/login_user.html_ #}
{% extends "a_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}{{ _('Welcome to Isotammi') }}{% endblock %}
{% block body %}
{{ super() }}

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h1>{{ _('Log in to Isotammi Service') }}</h1>
<!-- <div style="font-size:8pt; color:gray">{{ _('Git Application Version') }} 
        <i>{{ 'git'|app_date }}</i></div>
-->
    <div>{% include "security/_messages.html" %}</div>
    <div>

        <div class="startbox">
            <div style="display: inline-block;">
	            <h2>{{ _('Login with your credentials') }} </h2>
	            <div>
					<form action="{{ url_for_security('login') }}" 
					      method="POST" name="login_user_form">
						{{ login_user_form.hidden_tag() }}
						{{ render_field_with_errors(login_user_form.email) }} 
						{{ render_field_with_errors(login_user_form.password) }} 
						{{ render_field_with_errors(login_user_form.remember) }} 
						{{ render_field(login_user_form.next) }} 
						{{ render_field(login_user_form.submit) }} 
					</form>
		        </div>
	        </div>
        </div>

        <div class="startbox">
            <div style="display: inline-block;">
                    {# <form method="get" action="/register"> #}
                    <h2>{{ _("Can't login?") }}</h2>
                    {# </form> #}
	                {% include "security/_menu.html" %}
	                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}