{# templates/security/register_user.html_ #} 
{% extends "a_layout.html" %} 
{% from "security/_macros.html" import render_field_with_errors, render_field %}  
{% block title %}{{ _('Registration') }}{% endblock %} 
{% block body %} 
{{ super() }}
  
 <style>
 p > label { display: inline-block; width:14em; }
 p > input { display: inline-block; }
.tooltip {
  position: relative;
  display: inline-block;
  background-color: #1cb31c; /* A lighter green */
  color: white;
  padding: 0 2pt;
  border-radius: 7pt;
}
input#agree { position: relative; left: 7em; }
form > ul > li {color: red; }
.tooltip .tooltiptext {
  visibility: hidden;
  width: 35em;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  /* Position the tooltip */
  position: absolute;
  right: -20em;
  top: -6em;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style> 
	 
<div style="margin-left:50px; padding-bottom: 2em;"> 
  <div> 
    <h1>{{ _('Fill in the User Information Form of Isotammi database Service') }}</h1> 
    
    <div>
    {% include "flash_messages.html" %}
    </div>

{% if security.registerable %}
   {# if config['SECURITY_REGISTERABLE'] #}

    <div class="row"> 
       <div class="startbox"> 
          <h2>{{ _('Register as an user of Isotammi Service') }}</h2> 
              <p><b>{{ _('Note!') }}</b>
                {{ _('When you have sent this form, you must wait for mail from us and click the link '
                     '"%(link)s" in the message you got. Then you can log in!', 
                     link="Confirm my account") }}</p>
            <h2>{{ _('Other Operations') }}</h2> 
                {% include "security/_menu.html" %} 
       </div>

       <div class="startbox2"> 
          <h2>{{ _('My User Properties') }}</h2> 
		     <form action="{{ url_for_security('register') }}" 
		           method="POST" name="register_user_form"> 
		            
				  {{ register_user_form.hidden_tag() }} 
				  {{ render_field_with_errors(register_user_form.email) }} 
                  {{ render_field_with_errors(register_user_form.name) }} 
                  <p>{{ _('Define a username and password for you') }}:
                    <span class="tooltip"> &nbsp;{{ _("help") }}&nbsp;
                      <span class="tooltiptext">{{ _("<b>Userid</b> of length 6 to 20 characters can include upper an lower case alphabets. "
                        "numbers, characters '-' and '_'. It must start with an alphabet."
                        "<br><b>Password</b> length must be between 8 and 20 characters.") }}</span>
                    </span>
                  </p> 	                  
                  {{ render_field_with_errors(register_user_form.username) }} 
                  {{ render_field_with_errors(register_user_form.password) }}
                   
			 
				  {% if register_user_form.password_confirm %}
				  <div id="agree-block">
				    {{ render_field_with_errors(register_user_form.password_confirm) }}
				  </div>
				  {% endif %} 
				  <input type=hidden name=language value={{ session.lang }}>
				  {# render_field(register_user_form.terms) #} 
 
                  {{ render_field_with_errors(register_user_form.agree) }} 
                  <div class="right-button">
				    {{ render_field(register_user_form.submit) }}
				  </div>
		     </form> 
	    </div> 
	</div>
{% else %}
    <p><i style="color:darkred; font-size:large;">{{ _('Currently no registration is available.') }}</i></p>
	{# endif -#}
{% endif %}

</div> 
</div>
{% endblock %}