{# templates/security/register_user.html_ #} 
{% extends "a_layout.html" %} 
{% from "security/_macros.html" import render_field_with_errors, render_field %}  
{% block title %}{{ _('Registration') }}{% endblock %} 
{% block body %} 
{{ super() }}  
  
	 
<div style="margin-left:50px; padding-bottom: 2em;"> 
  <div> 
    <h1>{{ _('Fill in the User Information Form of Isotammi database Service') }}</h1> 
    <div>{% include "security/_messages.html" %}</div> 
    <div class="row"> 
       <div class="startbox"> 
          <h2>{{ _('Register as an user of Isotammi Service') }}</h2> 
              <p><b>{{ _('Note!') }}</b>
                {{ _('When you have sent this form, you must wait for mail from us and click the link '
                     '"%(link)s" in the message you got. Then you can log in!', 
                     link="Confirm my account") }}</p>
            <h2>{{ _('Other Operations') }}</h2> 
                {% include "security/_menu.html" %} 
       </div>

       <div class="startbox"> 
          <h2>{{ _('My User Properties') }}</h2> 
		     <form action="{{ url_for_security('register') }}" 
		           method="POST" name="register_user_form"> 
		            
				  {{ register_user_form.hidden_tag() }} 
				  {{ render_field_with_errors(register_user_form.email) }} 
                  {{ render_field_with_errors(register_user_form.name) }} 
                  <p>{{ _('Define a username and password for you') }}:</p>
                  {{ render_field_with_errors(register_user_form.username) }} 
                  {{ render_field_with_errors(register_user_form.password) }} 
				 
				  {% if register_user_form.password_confirm %} 
				    {{ render_field_with_errors(register_user_form.password_confirm) }} 
				  {% endif %} 
				  <input type=hidden name=language value={{ session.lang }}>
				  {# render_field(register_user_form.terms) #} 
 
                  {{ render_field_with_errors(register_user_form.agree) }} 
                  <div class="right-button">
				    {{ render_field(register_user_form.submit) }}
				  </div>
		     </form> 
	    </div> 

</div> 
{% endblock %}