{# templates/security/send_confirmation.html  #}
{% extends "a_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %} 
{% include "security/_messages.html" %}
{% block title %}{{ _('Verifying registration') }}{% endblock %}
{% block body %}
{{ super() }} 

<div style="margin-left:50px; padding-bottom: 2em;">
    <h1>{{ _('Ask for Validation Link') }}</h1>
	<div class="startbox">	
		<h2>{{ _('Submit Validation Link') }}</h2>
        <p>{{ _("If you can't find the registration confirmation mail message we have sent, you can ask for a new one.")}}</p>
		<form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
		  {{ send_confirmation_form.hidden_tag() }}
		  {{ render_field_with_errors(send_confirmation_form.email) }}
		  {{ render_field(send_confirmation_form.submit) }}
		</form>
        </div> 
 
        <div class="startbox"> 
            <div style="display: inline-block;"> 
            <h2>{{ _('Other Options') }}</h2> 
		{% include "security/_menu.html" %}
	</div>
</div>
{% endblock %}