*~
*.pyc
instance/*.py
.settings/
RemoteSystemsTempFiles/\.project
\.metadata/
\.pytest_cache
/gedcoms/
/uploads/
.pydevproject 
/env.sh
__pycache__/
/venv/
.coverage
/htmlcov/
trace\.txt
pyinfo.py
wsgi.py
training
kku/
/media/
app/static/tmp/

app/messages.pot
/media/
