{# _myapp/templates/index.html_ #}
{% extends "layout.html" %}
{% block title %}Alkusivu{% endblock %}
{% block body %}
{{ super() }}

<details style="margin-left:40pt; background-color:lightgray; width:410pt">
	<summary><b>Versio 1 – tiedostojen lataus</b> (ilman tietokantaa)</summary>
    <div>
        <h3>Versio 1 – tiedostojen lataus</h3>
        <p>Esiversio lataa tiedoston ja näyttää sen <em>(ei tietokantakäsittelyä)</em></p>
        <form action="/lataa1a" method="post" enctype="multipart/form-data">
            <input type="file" name="filenm" />
            <input type="submit" value="Lataa" />
        </form>
        <h3>Versio 1b</h3>
        <p>Esiversio lataa tuomiokirjojen henkilötiedoston olioiksi ja näyttää ne taulukkona 
           <em>(ei tietokantakäsittelyä)</em></p>
        <form action="/lataa1b" method="post" enctype="multipart/form-data">
            <input type="file" name="filenm" />
            <input type="submit" value="Lataa" />
        </form>
    </div>
</details>
<div>
    <form action="/lataa" method="post" enctype="multipart/form-data">
    <h3>Versio 2 – tietokantaan talletus</h3>
    <p>Lataa tiedoston ja näyttää latauksen mahdolliset ilmoitukset, yhteenvetotilasto</p>
    <div style="height: 90pt">
        <div style="float: left; width: 350px; margin-left: 15pt;"><input type="file" name="filenm" />
            <ul style="list-style-type:none">
                <li><input type="radio" name="aineisto" checked
                           value="xml_file">Gramps XML-tiedosto</li>
                <li><input type="radio" name="aineisto" 
                           value="refnimet">Henkilöiden referenssinimet</li>
                <li><input type="radio" name="aineisto" 
                           value="henkilot">Tuomiokirjojen henkilöt</li>
            </ul>
        </div>
        <div style="float: left; padding-top: 40pt">
            <input type="submit" value="Lataa"/></div>
    </div>
    </form>
</div>
<div>
    <h3>Toimintoja Grampsista tuodulle aineistolle</h3>
    <ul>
    <li><a href="/lista/henkilot2">Näytä henkilöt</a> (pääsy henkilötietosivulle)</li>
    <li><a href="/lista/surnames">Luettelo sukunimistä</a></li>
    <li><a href="/lista/objects">Luettelo mediatiedostoista eli tallenteista</a></li>
    <li><a href="/lista/repositories">Luettelo arkistoista</a> 
        (arkistosivulla arkiston lähteet)</li>
    <li><a href="/lista/sources">Luettelo lähteistä (lähdesivulla viittauet)</a></li>
    <li><a href="/lista/notes">Huomautukset</a></li>
    <li><a href="/lista/places">Paikat</a></li>
    <li>Ongelmaselvitusvälineitä<ul>
	    <li><a href="/lista/events_wo_place">Paikattomat tapahtumat</a></li>
	    <li><a href="/lista/sources_wo_cites">Viittauksettomat lähteet</a></li>
	    <li><a href="/lista/events_wo_cites">Viittauksettomat tapahtumat</a></li>
    </ul>
</div>

<details style="background-color:lightgray; width:450pt">
    <summary><b>Aiempia harjoitustoimintoja</b></summary>
    <ul>
    <li><a href="/lista/henkilot">Näytä tuomiokirjoista tuodut henkilöt</a></li>
    <li><a href="/lista/refnimet/REFFIRST">Näytä referenssietunimet aakkosjärjestyksessä</a>
        (<a href="/lista/refnimet">kaikki järjestämättä</a>)</li>
    <li><form action="/yhdista" method="post" enctype="multipart/form-data">
        <p>Yhdistelynäyttö<br />
        Anna sukunimen alkuosa: <input type="text" name="names"><input type="submit" value="Näytä"/></p>
        </form>
    </li>
    <li><a href="/stk">Ensimmäinen UI-harjoitus</a></li>
    </ul>
</details>

<details style="background-color:lightgray; width:450pt">
    <summary><b>Hallintatoiminnot</b></summary>
    <ul>
	    <li><a href="/tyhjenna/kaikki/kannasta"><em>Tyhjennä</em></a> koko kanta
	        <i>(Mitään kysymättä!)</i></li>
	    <li><a href="/lista/users">Näytä käyttäjätunnukset</a></li>
	    <li><a href="/aseta/refnames">Aseta referenssinimet</a></li>
    </ul>
</details>
{% endblock %}