{# _myapp/templates/table1.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

{% if headings %}
	<h2>{{headings[0]}}</h2>
	<p>{{headings[1]}}</p>
{% endif %}

<section id="lista">
<table>
{% if titles %}
	<tr>
    {% for title in titles %}
	    <th>{{title}}</th>
	{% endfor %}
    </tr>
	{% if lists %}
	    {% for list in lists %}
		    <tr>
	    	{% for data_line in list %}
		        <td>{{data_line}}</td>
	    	{% endfor %}
	        </tr>
	    {% endfor %}
	{% else %}
        <tr><td colspan="5">Ei tietoja</td></tr>
	{% endif %}
{% else %}
        <tr><td colspan="5">Ei tietoja</td></tr>
{% endif %}
</table>
{% endblock %}
