{# _myapp/templates/table1.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}

<h2>Person data</h2>
<section id="lista">
<table>
    <tr><th>unique id</th><th>gender</th><th>firstname</th><th>suffix</th><th>surname</th>
    </tr>
{% if person %}
 	{% if person.name %}
    	{% for pname in person.name %}
    		<tr>
        		<td><a href="/lista/family_data/{{person.uniq_id}}">{{person.uniq_id}}</a></td>
        		<td>{% if person.gender %}{{person.gender}}{% endif %}</td>
        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
        		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
        		<td>{{pname.surname}}</td>
    		</tr>
		{% endfor %}
	{% else %}
		<tr>
    		<td>{{person.uniq_id}}</td>
		</tr>
	{% endif %}
{% else %}
        <tr><td colspan="1">Ei person tietoja</td></tr>
{% endif %}
</table>

<br>
<br>

<h2>Events</h2>
<table>
    <tr><th>unique id</th><th>type</th><th>date</th><th>place</th>
    </tr>
{% if events %}
	{% for event in events %}
		<tr>
    		<td><a href="/poimi/cite_sour_repo={{event.uniq_id}}">{{event.uniq_id}}</a></td>
    		<td>{% if event.type %}{{event.type}}{% endif %}</td>
    		<td>{% if event.date %}{{event.date}}{% endif %}</td>
    		<td>{% if event.place %}{{event.place}}{% endif %}</td>
		</tr>
	{% endfor %}
{% else %}
        <tr><td colspan="1">Ei event tietoja</td></tr>
{% endif %}
</table>
</section>
{% endblock %}
