{# _myapp/templates/table1.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

<h2>Henkilöluettelo</h2>
<p>Näytetään {{persons|count}} henkilöä 
{% if name %}
tiedostosta [<i>{{name}}</i>] 
{% endif %}{% if uri %}
palvelimelta <i>{{uri}}</i>
{% endif %}</p>

<section id="lista">
<table>
    <tr><th>oid</th>
        <th>nimi</th>
        <th>ammatti</th>
        <th>paikka</th>
        <th>käräjät</th>
    </tr>
{% if persons %}
    {% for p in persons %}
        {% set e = p.events[0] %}
        <tr onmouseover="info('{{p.oid}}', '{{p.name.last}}, {{p.name.fist}}',
            '{% if p.occupation %}{{p.occupation}}{% endif %}', 
            '{% if p.place %}{{p.place}}{% endif %}', '{{e.nimi}}', '{{e.aika}}', 
            '{% if e.citation %}{{e.citation.id}}{% endif %})')" >
            <td class="id"><a href="/poimi/oid={{p.oid}}">{{p.oid}}</a></td>
            <td>{{p.name.first}} <b> {{p.name.last}}</b></td>
            <td>{% if p.occupation %}{{p.occupation}}{% endif %}</td>
            <td>{% if p.place %}{{p.place}}{% endif %}</td>
            <td>{% if p.events|count %}
                <ul class="event">{% for e in p.events %}
                <li><span class="id">{{e.oid}}</span> {{e.name}}
                <span style="font-size:80%; font-style: italic">{{e.date}}</span> 
                {% if e.citation %}({% if e.citation.url %}signum
                <a href='{{e.citation.url}}'>{{e.citation.oid}}</a>)
                {% else %}{{e.citation.oid}})
                {% endif %}{% endif %}
                </li>{% endfor %}</ul>
            {% endif %}
            </td>

        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">Ei tietoja</td></tr>
{% endif %}
</table>
</section>
<section id="tiedot"><p>Solmut ja yhteydet</p></section>
{% endblock %}
