{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<br><br>
	<div ng-app="myApp" ng-controller="compareCtrl">
	<table><tr><td>

<h2>{{ _("Person data") }}</h2>
<section id="lista">
<h2>{{ _("Names") }}</h2>
<table>
    <tr>
    	<th colspan="6"><a target="_blank" href="/scene/person={a names[0].uniq_id a}">
    	{{ _('Link to Narrated Page') }}</a></th>
    </tr>
    <tr>
    	<th ng-repeat="x in n_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="name in names">
		<td class="id">{a name.uniq_id a}</td>
		<td>{a name.priv a}</td>
		<td>{a name.sex a}</td>
		<td>{a name.firstname a}</td>
		<td>{a name.suffix a}</td>
		<td>{a name.surname a}</td>
	</tr>
</table>

<p>&nbsp;</p>

<h2>{{ _("Events") }}</h2>
<table>
    <tr>
    	<th ng-repeat="x in e_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="event in events | orderBy: 'type'">
		<td class="id">{a event.uniq_id a}</td>
		<td>{a event.type a}</td>
		<td>{a event.date a}</td>
		<td>{a event.location.substr(0,event.location.length-2) a}</td>
		<td>{a event.description a}</td>
	</tr>
</table>

<br>
<br>

<h2>{{ _("Notes") }}</h2>
<table>
    <tr>
    	<th ng-repeat="x in u_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="note in notes">
		<td>{a note.priv a}</td>
		<td>{a note.text a}</td>
		<td>{a note.url a}</td>
	</tr>
</table>
</section>

</td><td>

<h2>{{ _("Person data") }}</h2>
<section id="lista">
<table>
    <h2>{{ _("Names") }}</h2>
    <tr>
    	<th colspan="6"><a target="_blank" href="/scene/person={a names2[0].uniq_id a}">
    	{{ _('Link to Narrated Page') }}</a></th>
    </tr>
    <tr>
    	<th ng-repeat="x in n_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="name in names2">
		<td class="id">{a name.uniq_id a}</td>
		<td>{a name.priv a}</td>
		<td>{a name.sex a}</td>
		<td>{a name.firstname a}</td>
		<td>{a name.suffix a}</td>
		<td>{a name.surname a}</td>
	</tr>
</table>

<p>&nbsp;</p>

<h2>{{ _("Events") }}</h2>
<table>
    <tr>
    	<th ng-repeat="x in e_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="event in events2 | orderBy: 'type'">
		<td class="id">{a event.uniq_id a}</td>
		<td>{a event.type a}</td>
		<td>{a event.date a}</td>
		<td>{a event.location.substr(0, event.location.length-2) a}</td>
		<td>{a event.description a}</td>
	</tr>
</table>

<br>
<br>

<h2>{{ _("Notes") }}</h2>
<table>
    <tr>
    	<th ng-repeat="x in u_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="note in notes2">
		<td>{a note.priv a}</td>
		<td>{a note.text a}</td>
		<td>{a note.url a}</td>
	</tr>
</table>
</section>

</td></tr></table>
</div>
<br>
<br>

<script>
var app = angular.module('myApp', []).controller('compareCtrl', function($scope) {
	$scope.n_columns = [
		{column:'uniq_id'}, {column:'priv'}, {column:'sex'},
		{column:'firstname'}, {column:'suffix'}, {column:'surname'}
	];
    $scope.names = [
	{% for pname in person.names %}
        {uniq_id:'{{person.uniq_id}}',priv:'{{person.priv}}',sex:'{{person.sex_str()}}',
        firstname:'{{pname.firstname}}',suffix:'{{pname.suffix}}',surname:'{{pname.surname}}'},
    {% endfor %}
    ];
    $scope.names2 = [
	{% for pname in person2.names %}
        {uniq_id:'{{person2.uniq_id}}',priv:'{{person2.priv}}',sex:'{{person2.sex_str()}}',
        firstname:'{{pname.firstname}}',suffix:'{{pname.suffix}}',surname:'{{pname.surname}}'},
    {% endfor %}
    ];
	$scope.e_columns = [
		{column:'uniq_id'}, {column:'type'}, {column:'date'},
		{column:'place'}, {column:'description'}
	];
    $scope.events = [
	{% for event in events %}
        {uniq_id:'{{event.uniq_id}}',type:'{{event.type}}',
        {% if event.date %}date:'{{event.date}}',
        {% elif event.daterange %}date:'{{event.daterange}}',
        {% else %}date:'-',
        {% endif %}
		location:'{% for loc in event.location %}{{loc}} * {% endfor %}',
        description:'{{event.description}}'},
    {% endfor %}
    ];
    $scope.events2 = [
	{% for event in events2 %}
        {uniq_id:'{{event.uniq_id}}',type:'{{event.type}}',
        {% if event.date %}date:'{{event.date}}',
        {% elif event.daterange %}date:'{{event.daterange}}',
        {% else %}date:'-',
        {% endif %}
		location:'{% for loc in event.location %}{{loc}} * {% endfor %}',
        description:'{{event.description}}'},
    {% endfor %}
    ];
	$scope.u_columns = [
		{column:'priv'}, {column:'description'}, {column:'href'}
	];
    $scope.notes = [
	{% for note in person.notes %}
        {priv:'{{note.priv}}',description:'{{note.text}}',
        url:'{{note.url}}'},
    {% endfor %}
    ];
    $scope.notes2 = [
	{% for note in person2.notes %}
        {priv:'{{note.priv}}',description:'{{note.text}}',
        href:'{{note.url}}'},
    {% endfor %}
    ];
});

app.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{a');
  $interpolateProvider.endSymbol('a}');
}]);
</script>

{% endblock %}
