{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/static/infobox.js"></script>
{% from "start/s_macros.html" import hamburger_menu with context %}
{# import 'start/s_macros.html' as macro #}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

<h2>{{ _('List of persons with the same name') }}</h2>
<p>{{ _('Showing person pairs') }}</p>
<p><button ng-click = "show_me = !show_me">{{ _('All/Same Birth date') }}</button>
   <small>{{ _('Click on the column header to sort column') }}</small></p>

<section id="lista">
<div ng-app="myApp" ng-controller="namesCtrl">
	<table>
	    <tr>
	    	<th ng-repeat="x in columns" ng-click="sort(x.column)">{a x.column a}
			<a ng-show="currentSort.exp == x.column && currentSort.reverse"><i class='fa fa-angle-down'></i></a>
			<a ng-show="currentSort.exp == x.column && !currentSort.reverse"><i class='fa fa-angle-up'></i></a></th>
	    </tr>
	    <tr ng-repeat="id_par in id_pars | orderBy:currentSort.exp: currentSort.reverse"
	    	ng-show="(id_par.est_birth1 === id_par.est_birth2) || !show_me">
	        <td><a href="/compare/uniq_id={a id_par.uniq_id1 a},{a id_par.uniq_id2 a}">{a id_par.uniq_id1 a}</a></td>
	        <td>{a id_par.firstname1 a}</td>
	        <td>{a id_par.suffix1 a}</td>
	        <td>{a id_par.surname1 a}</td>
	        <td>{a id_par.est_birth1 a}</td>
	        <td>{a id_par.est_death1 a}</td>
	        <td bgcolor="#E0E0E0">&nbsp;</td>
	        <td>{a id_par.uniq_id2 a}</td>
	        <td>{a id_par.firstname2 a}</td>
	        <td>{a id_par.suffix2 a}</td>
	        <td>{a id_par.surname2 a}</td>
	        <td>{a id_par.est_birth2 a}</td>
	        <td>{a id_par.est_death2 a}</td>
        </tr>
	</table><br><br>
</div>
</section>

<script>
var app = angular.module('myApp', []).controller('namesCtrl', function($scope) {
	$scope.columns = [
		{column:'uniq_id1'},
		{column:'firstname1'},
		{column:'suffix1'},
		{column:'surname1'},
		{column:'est_birth1'},
		{column:'est_death1'},
		{column:' '},
		{column:'uniq_id2'},
		{column:'firstname2'},
		{column:'suffix2'},
		{column:'surname2'},
		{column:'est_birth2'},
		{column:'est_death2'}
	];
    $scope.id_pars = [
	{% for record in ids %}
    	{% for id_pair in record %}
        	{uniq_id1:'{{id_pair[0]}}',
        	 est_birth1:'{{ id_pair[1] if id_pair[1] else '-' }}',
        	 est_death1:'{{ id_pair[2] if id_pair[2] else '-' }}',
        	 firstname1:'{{id_pair[3]}}',
        	 suffix1:'{{id_pair[4]}}',
        	 surname1:'{{id_pair[5]}}',
        	 uniq_id2:'{{id_pair[6]}}',
        	 est_birth2:'{{ id_pair[7] if id_pair[7] else '-' }}',
        	 est_death2:'{{ id_pair[8] if id_pair[8] else '-' }}',
        	 firstname2:'{{id_pair[9]}}',
        	 suffix2:'{{id_pair[10]}}',
        	 surname2:'{{id_pair[11]}}'},
    	{% endfor %}
    {% endfor %}
    ];
    
    $scope.order = {};

    $scope.sort = function(column) {
        if ($scope.order[column] == column) {
            $scope.order[column+'Desc'] = !$scope.order[column+'Desc'];

        } else {
           $scope.order[column] = column;
           $scope.order[column+'Desc'] = false;
        }

        $scope.currentSort = {exp: $scope.order[column], reverse: $scope.order[column+'Desc']};
    };
});

app.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{a');
  $interpolateProvider.endSymbol('a}');
}]);
</script>

{% endblock %}
