{# _myapp/templates/person.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _("Person's details") }}{% endblock %}
{% block body %}
{{ super() }}

{% for p in persons %}
    <h2>{{ _('Person') }}</h2>
    <ol id="itemlist">
        <li class="itemrow">
                <div class="col1">{{ _('Identifier') }}</div>
                <div class="col2"><span class="id">{{p.uniq_id}}</span></div>
        </li>
    {% for name in p.names|sort(attribute='order') %}
        <li class="itemrow">
                <div class="col1">{{ _('Name') }} {{name.order + 1}}</div>
                <div class="col2">{{name.firstname}} <i>{{name.prefix}}</i> <b>{{name.surname}}</b></div>
        </li>
    {% endfor %}
        <li class="itemrow">
                <div class="col1">{{ _('Sort name') }}</div>
                <div class="col2"><span class="id">{{p.sortname}}</span></div>
        </li>
        <li class="itemrow">
                <div class="col1">{{ _('Db handle') }}</div>
                <div class="col2"><span class="handle">{{p.handle}}</span></div>
        </li>
     </ol>
    {% if p.events %}
    <h4>{{ _('Events') }}</h4>
    <ol class="num">
        {% for e in p.events %}
        <li><div class="itemrow">
                <div class="col1">{{ _('Identifier < br/> Type < br/> Date </div>') }}
                <div class="col1"><span class="id">{{e.uniq_id}}</span><br>{{e.type}} 
                    <br><small>{{e.dates}}</small>
            </div>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endfor %}
    <p>&rtrif; <a href="javascript:history.back()">{{ _('Go back') }}</a></p>

{% endblock %}
