{# tools/tables.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Data Views') }}{% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}
{# import 'start/s_macros.html' as macro #}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h2>{{ _('Technical views') }}</h2>
    <div class="row">
        <div class="startbox">
	        <h3>{{ _('Data Views as tables') }}</h3>
	        <ul>
	            <li><a href="/listall/persons">{{ _('Show people') }}</a></li>
	            <li><a href="/listall/families">{{ _('Show families') }}</a></li>
	            <!-- li><a href="/lista/surnames">{{ _('List of surnames') }}</a></li -->
	            <li><a href="/listall/media">{{ _('List of media files, called recordings') }}</a></li>
	            <li><a href="/listall/repositories">{{ _('List of repositories') }}</a> 
	                {{ _('(on Repository page sources in Repository)') }}</li>
	            <li><a href="/listall/sources">{{ _('List of sources (references on the source page)') }}</a></li>
	            <li><a href="/listall/notes">{{ _('Comments') }}</a></li>
	            <li><a href="/listall/places">{{ _('Places') }}</a></li>
                <li><a href="/list/refnames">{{ _('List reference names') }}</a></li>
            </ul>
         </div>
         <div class="startbox">
            <h3>{{ _('Find possible doubles') }}</h3>
            <ul>
                <li><a href="/listall/same_name">{{ _('Find people with the same name') }}</a></li>
                <li><a href="/listall/same_birthday">{{ _('Find people with the same birth date') }}</a></li>
                <li><a href="/listall/same_deathday">{{ _('Find people with the same date of death') }}</a></li>
	        </ul>
        </div>
        <div class="startbox">
            <h3>{{ _('Problem Solving Tools') }}</h3>
            <ul>
                <li><a href="/listall/people_wo_birth">{{ _('Persons without birth event') }}</a></li>
                <li><a href="/listall/old_people_top">{{ _('Senior Citizens, Top twenty') }}</a></li>
                <li><a href="/listall/events_wo_place">{{ _('Events without place information') }}</a></li>
                <li><a href="/listall/sources_wo_cites">{{ _('Unreferenced sources') }}</a></li>
                <li><a href="/listall/sources_wo_repository">{{ _('Sources without a repository') }}</a></li>
                <li><a href="/listall/events_wo_cites">{{ _('Unreferenced Events') }}</a></li>
            </ul>
        </div>

{#      <div class="startbox">
          <h3>{{ _('Exit') }}</h3>
          <p>▸ <a href="/login">{{ _('Return main page') }}</a></p>
        </div>
#}
    </div>
  </div>
</div>

{% endblock %}
