{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}

{% if photos %}
	<br><br><table>
	<tr>
	{% for photo in photos %}
		<td><img src="/static/{{photo.src}}" alt="{{ _('Picture cannot be found') }}" width="300"></td>
	{% endfor %}
	</tr>
	<tr>
	{% for photo in photos %}
		<td>{{photo.description}}</td>
	{% endfor %}
	</tr>
	</table>
{% endif %}

<h2>{{ _("Person data") }}</h2>
<div>&gt; {{ _('Narrative Page') }} <a href="/person/uniq_id={{person.uniq_id}}">{{person.uniq_id}}</a></div>
<section id="lista">
<table>
    <h2>{{ _("Names") }}</h2>
    <tr><th>{{ _("unique_id") }}</th><th>{{ _('private') }}</th><th>{{ _("sex") }}</th><th>{{ _("firstname") }}</th><th>{{ _("suffix") }}</th><th>{{ _("surname") }}</th><th>{{ _("link") }}</th>
    </tr>
{% if person %}
 	{% if person.names %}
    	{% for pname in person.names %}
		<tr>
    		<td class="id">{{person.uniq_id}}</td>
    		<td>{% if person.priv %}{{person.priv}}{% endif %}</td>
    		<td>{% if person.sex %}{{person.sex}}{% endif %}</td>
    		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
    		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
    		<td>{{pname.surname}}</td>
            <td><a href="/lista/family_data/{{person.uniq_id}}">{{ _("family") }}</a></td>
		</tr>
		{% endfor %}
	{% else %}
		<tr>
    		<td colspan="5">{{person.uniq_id}}</td>
            <td><a href="/lista/family_data/{{person.uniq_id}}">{{ _("family") }}</a></td>
		</tr>
	{% endif %}
{% else %}
        <tr><td colspan="1">{{ _('No person information') }}</td></tr>
{% endif %}
</table>
<p>&nbsp;</p>

<h2>{{ _("Events") }}</h2>
<table>
    <tr><th>{{ _("unique_id") }}</th><th>{{ _("type") }}</th><th>{{ _("date") }}</th><th>{{ _("place") }}</th><th>{{ _("description") }}</th><th>{{ _("link to source data") }}</th>
    </tr>
{% if events %}
	{% for event in events %}
		<tr>
    		<td class="id">
    			{% if event.type == "Baptism" %}
    				<a href="/lista/baptism_data/{{event.uniq_id}}">{{event.uniq_id}}</a>
				{% else %}{{event.uniq_id}}
				{% endif %}</td>
    		<td>{% if event.type %}{{event.type}}{% endif %}</td>
    		<td>{% if event.datetype %} {{event.datetype}} {% endif %}
    		    {% if event.dates %}{{event.dates}}{% endif %}</td>
    		<td>{% if event.place %}{{event.place |join(' • ')}}{% endif %}</td>
    		<td>{% if event.description %}{{event.description}}{% endif %}</td>
            <td>{% if event.citation_ref %}
            		<a href="/pick/cite_sour_repo={{event.uniq_id}}">{{ _("citations") }}</a>
            	{% endif %}</td>
		</tr>
	{% endfor %}
{% else %}
        <tr><td colspan="1">{{ _('No event information') }}</td></tr>
{% endif %}
</table>

<br>
<br>

<h2>{{ _("URLs") }}</h2>
<table>
    <tr><th>{{ _("priv") }}</th><th>{{ _("description") }}</th><th>{{ _("URL") }}</th>
    </tr>
{% if person %}
	{% if not person.notes %}
		<tr><td colspan="2">{{ _('No URL information') }}</td></tr>
	{% else %}
		{% for note in person.notes %}
			<tr>
	    		<td>{{note.priv}}</a></td>
	    		<td>{{note.text}}</a></td>
	    		<td><a href="{{note.url}}">{{note.url}}</a></td>
			</tr>
		{% endfor %}
	{% endif %}
</table>
{% endif %}

<br>
<br>
</section>
{% endblock %}
