{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') + ", media" }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
        
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
   ) ) }}

<h2>{{ _('Media files') }}</h2>

<section id="lista">
<table>
    <tr><th>{{ _("uniq_id") }}</th>
        <th>{{ _("src") }}</th>
        <th>{{ _("mime") }}</th>
        <th>{{ _("description") }}</th>
        <th>{{ _("picture") }}</th
    </tr>
{% if media %}
    {% for obj in media %}
	    <tr>
	        <td>{{obj.uniq_id}}</td>
	        <td>{{obj.src}}</td>
    		<td>{{obj.mime}}</td>
    		<td>{{obj.description}}</td>
    		<td><a href="/scene/media/{{obj.name}}?id={{obj.uuid}}">{{obj.uuid_str()}}</a></td>
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No data') }}</td></tr>
{% endif %}
</table>
{% endblock %}
