{# _myapp/templates/table_families.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
  
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

<h2>{{ _('List of Families') }}</h2>
<p>{{ _('Number of families:') }} {{families|count}}  
<h4>Sort by clicking a column of the table</h4>
<section id="lista">
<table id="families">
    <tr><th onclick="sortTable(0)" style="cursor:pointer">{{ _("Uniq_id") }}</th>
        <th>{{ _("id of Father") }}</th>
        <th onclick="sortTable(2)" style="cursor:pointer">{{ _("Father") }}</th>
        <th>{{ _("id of Mother") }}</th>
        <th onclick="sortTable(4)" style="cursor:pointer">{{ _("Mother") }}</th>
        <th onclick="sortTable(5)" style="cursor:pointer">{{ _("Type") }}</th>
        <th>{{ _("No of Children") }}</th>
        <th>{{ _("Links of Children") }}</th>
    </tr>
{% if families %}
    {% for f in families %}
        <tr>
                <td>{{f.uniq_id}}</td>
                <td><a href="/scene/person={{f.father.uniq_id}}">{{f.father.uniq_id}}</a></td>
                {% if f.father.names %}
                    <td>{{f.father.names[0].firstname}} {{f.father.names[0].suffix}} {{f.father.names[0].surname}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td><a href="/scene/person={{f.mother.uniq_id}}">{{f.mother.uniq_id}}</a></td>
                {% if f.mother.names %}
                    <td>{{f.mother.names[0].firstname}} {{f.mother.names[0].suffix}} {{f.mother.names[0].surname}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{f.type}}</td>
                <td>{{f.no_of_children}}</td>
                <td>{% for c in f.children %}<a href="/scene/person={{c.uniq_id}}">{{c.uniq_id}} </a>{% endfor %}</td>
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No persons') }}</td></tr>
{% endif %}
</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("families");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }	        
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}
