{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
        
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

{% if headings %}
	<h2>{{headings[0]}}</h2>
	<p>{{headings[1]}}</p>
{% endif %}

<section id="lista">
<table>
{% if titles %}
	<tr>{% set len = titles.__len__() %}
    {% for title in titles %}
	    <th>{{title}}</th>
	{% endfor %}
    </tr>
	{% if lists %}
	    {% for line in lists %}
		    <tr>
	    	{% for i in range(len) %}
	    	  {% if titles[i] in ["date", "birth", "death"] %}<td>{{line[i]|pvm}}</td>
              {% elif  titles[i] == "change" %}<td><small>{{line[i]|timestamp}}</small></td>
              {% elif  titles[i] == "handle" %}<td><small>{{line[i]}}</small></td>
              {% else %}<td>{{line[i]}}</td>
		      {% endif %}
	    	{% endfor %}
	        </tr>
	    {% endfor %}
	{% else %}
        <tr><td colspan="5">{{ _('No data') }}</td></tr>
	{% endif %}
{% else %}
        <tr><td colspan="5">{{ _('No data') }}</td></tr>
{% endif %}
</table><br>
</section>
{% endblock %}
