{# _myapp/templates/lista2.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Reference names from Database') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

{% set sp = {"M": "♂", "F": "♀", "U": "?"} %}
{% set tp = {"undef":" ", "fname":"etunimi", "lname":"sukunimi", "patro":"patronyymi", "place":"paikka", "occu":"ammatti"} %}
{% set rt = {'REFFIRST':'etunimi', 'REFLAST':'sukunimi', 'REFPATRO':'patronyymi'} %}
<h2>{{ _('Redirects to reference names') }}</h2>
<p>{{ _('Included') }} {{names|count}} {{ _('name') }}</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ol  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}'>{{ message }}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endwith %}
<section id="lista">
<table style="width:500pt">
    <tr><th>{{ _('Oid') }}</th>
        <th>{{ _('Ref. Name') }}</th>
        <th style="width:50%">{{rt[reftype]}}-{{ _('Reference') }}</th>
        <th>{{ _('Source') }}</th>
    </tr>
    {% for (r, base, other) in names %}
        <!-- r={{r}}, base={{base}}, other={{other}} -->
        <tr>
            <td class="id">{{r.oid}}</td>
            <td>{% if other != [] %}<b>{% endif %}{{r.name}}
                {% if other != [] %}</b>{% endif %} 
                {% if r.sex %}<span class="sex{{r.sex}}">{{sp[r.sex]}}</span>{% endif %}</td>
            <td>{% if base != [] %}<i>{{rt[reftype]}}</i> →{% for n in base %}
                <span class="id">{{n.oid}}</span>&nbsp;{{n.name}}{% if n.sex 
                %}&nbsp;<span class="sex{{n.sex}}">{{sp[n.sex]}}</span>{% endif %}
                {% endfor %}
                {% elif other != [] %} ← {% for n in other %}
                <span class="id">{{n.oid}}</span>&nbsp;{{n.name}}{% if n.sex 
                %}&nbsp;<span class="sex{{n.sex}}">{{sp[n.sex]}}</span>{% endif %} 
                {% endfor %}
                {% endif %}
            </td>
            <td>{% if r.source %}{{r.source}}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</section>
{% endblock %}
