{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
        
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

<h2>{{ _('List of Sources') }}</h2>
<p>{{ _('Showing sources') }}</p>

<section id="lista">
<table>
    <tr><th>{{ _("uniq_id") }}</th>
        <th>{{ _("stitle") }}</th>
    </tr>
{% if sources %}
    {% for s in sources %}
	    <tr>
	        <td><a href="/pick/source_uniq_id={{s.uniq_id}}">{{s.uniq_id}}</a></td>
	        <td>{{s.stitle}}</td>
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No data') }}</td></tr>
{% endif %}
</table>
{% endblock %}
