{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}

<h2>{{ _("Families data") }}</h2>
<section id="lista">
<h3>{{ _("Main person") }}</h3>
<table>
    <tr><th>{{ _("unique id") }}</th><th>{{ _("sex") }}</th><th>{{ _("firstname") }}</th><th>{{ _("suffix") }}</th><th>{{ _("surname") }}</th>
    </tr>
{% if person %}
 	{% if person.names %}
    	{% for pname in person.names %}
    		<tr>
        		<td class="id"><a href="/lista/person_data/{{person.uniq_id}}">{{person.uniq_id}}</a></td>
        		<td>{% if person.sex %}{{person.sex}}{% endif %}</td>
        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
        		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
        		<td>{{pname.surname}}</td>
    		</tr>
		{% endfor %}
	{% else %}
		<tr>
                <td class="id"><a href="/lista/person_data/{{person.uniq_id}}">{{person.uniq_id}}</a></td>
		</tr>
	{% endif %}
{% else %}
        <tr><td colspan="1">{{ _('No person information') }}</td></tr>
{% endif %}
</table>
<p>&nbsp;</p>

{% if families %}
	{% for family in families %}
		<h3>{{ _("Family") }} <span class="id">{{family.uniq_id}}</span>{% if family.rel_type %},
		  {{family.rel_type}}{% endif %}
		</h3>
<div style="margin-left:2em;">		
		{% if family.spouse %}
			<h3>{{ _("Spouse") }} <span class="id">{{family.spouce}}</span></h3>
			<table>
			    <tr><th>{{ _("unique id") }}</th><th>{{ _("sex") }}</th><th>{{ _("firstname") }}</th><th>{{ _("suffix") }}</th><th>{{ _("surname") }}</th><th>{{ _("family") }}</th>
			    </tr>
			 	{% if family.spouse.names %}
			    	{% for pname in family.spouse.names %}
			    		<tr>
			        		<td class="id"><a href="/lista/person_data/{{family.spouse.uniq_id}}">{{family.spouse.uniq_id}}</a></td>
			        		<td>{% if family.spouse.sex %}{{family.spouse.sex}}{% endif %}</td>
			        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
			        		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
			        		<td>{{pname.surname}}</td>
                            <td><a href="/lista/family_data/{{family.spouse.uniq_id}}">{{ _("family") }}</a></td>
			    		</tr>
					{% endfor %}
				{% else %}
					<tr>
			    		<td>{{family.spouse.uniq_id}}</td>
			        	<td>{% if family.spouse.sex %}{{family.spouse.sex}}{% endif %}</td>
					</tr>
				{% endif %}
			</table>		
		{% endif %}
		
		{% if family.father %}
			<h3>{{ _("Father") }} <span class="id">{{family.father}}</span></h3>
			<table>
			    <tr><th>{{ _("unique id") }}</th><th>{{ _("sex") }}</th><th>{{ _("firstname") }}</th><th>{{ _("suffix") }}</th><th>{{ _("surname") }}</th>
			    </tr>
			 	{% if family.father.names %}
			    	{% for pname in family.father.names %}
			    		<tr>
			        		<td><a href="/lista/family_data/{{family.father.uniq_id}}">{{family.father.uniq_id}}</a></td>
			        		<td>{% if family.father.sex %}{{family.father.sex}}{% endif %}</td>
			        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
			        		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
			        		<td>{{pname.surname}}</td>
			    		</tr>
					{% endfor %}
				{% else %}
					<tr>
			    		<td>{{family.father.uniq_id}}</td>
			        	<td>{% if family.father.sex %}{{family.father.sex}}{% endif %}</td>
					</tr>
				{% endif %}
			</table>		
		{% endif %}
		
		{% if family.mother %}
			<h3>{{ _("Mother") }} <span class="id">{{family.mother}}</span></h3>
			<table>
			    <tr><th>{{ _("unique id") }}</th><th>{{ _("sex") }}</th><th>{{ _("firstname") }}</th><th>{{ _("suffix") }}</th><th>{{ _("surname") }}</th>
			    </tr>
			 	{% if family.mother.names %}
			    	{% for pname in family.mother.names %}
			    		<tr>
			        		<td><a href="/lista/family_data/{{family.mother.uniq_id}}">{{family.mother.uniq_id}}</a></td>
			        		<td>{% if family.mother.sex %}{{family.mother.sex}}{% endif %}</td>
			        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
			        		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
			        		<td>{{pname.surname}}</td>
			    		</tr>
					{% endfor %}
				{% else %}
					<tr>
			    		<td>{{family.mother.uniq_id}}</td>
			        	<td>{% if family.mother.sex %}{{family.mother.sex}}{% endif %}</td>
					</tr>
				{% endif %}
			</table>		
		{% endif %}

		{% if family.children %}
			<h3>{{ _("Children") }}</h3>
			<table>
			    <tr><th>{{ _("unique id") }}</th><{{ _("sex") }}</th><th>{{ _("firstname") }}</th><th>{{ _("suffix") }}</th><th>{{ _("surname") }}</th>
			    </tr>
				{% for child in family.children %}
				 	{% if child.names %}
				    	{% for pname in child.names %}
				    		<tr>
				        		<td><a href="/lista/family_data/{{child.uniq_id}}">{{child.uniq_id}}</a></td>
				        		<td>{% if child.sex %}{{child.sex}}{% endif %}</td>
				        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
				        		<td>{% if pname.suffix %}{{pname.suffix}}{% endif %}</td>
				        		<td>{{pname.surname}}</td>
				    		</tr>
						{% endfor %}
					{% else %}
						<tr>
				    		<td>{{child.uniq_id}}</td>
				        	<td>{% if child.sex %}{{child.sex}}{% endif %}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>		
		{% endif %}
</div>
	{% endfor %}
{% else %}
        <tr><td colspan="1">{{ _('No family information') }}</td></tr>
{% endif %}
</table>

<p>&nbsp;</p>
</section>
{% endblock %}
