{# _myapp/templates/table_of_objects.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
        
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

{% if headings %}
	<h2>{{headings[0]}}</h2>
	<p>{{headings[1]}}</p>
{% endif %}

<section id="lista">
<table>
{% if titles %}
	<tr>{% set w = titles.__len__() %}
    {% for title in titles %}<th>{{title}}</th>{% endfor %}
    </tr>
	{% if objs %}
	    {% for obj in objs %}
		    <tr>
	    	{% for k in titles %}
	    	  {% if k in ["date", "birth", "death"] %}<td>{{obj[k]|d('')|pvm}}</td>
              {% elif  k == "change" %}<td><small>{{obj[k]|d('-')|timestamp}}</small></td>
              {% elif  k == "handle" %}<td><small>{{obj[k]|d('-')}}</small></td>
              {% elif  obj[k]|is_list %}<td><ul>
                {% for i in obj[k] %}<li>{{i|d('-')}}</li>{% endfor %}</ul></td>
              {% else %}<td>{{obj[k]|d('-')}}</td>
		      {% endif %}
	    	{% endfor %}
	        </tr>
	    {% endfor %}
	{% else %}
        <tr><td colspan="{{w}}">{{ _('No data') }}</td></tr>
	{% endif %}
{% else %}
        <tr><td colspan="{{w}}">{{ _('No data') }}</td></tr>
{% endif %}
</table><br>
</section>
{% endblock %}
