{# _myapp/templates/lista2.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Reference names from Database') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
        
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

{% set tp = {"undef":" ", "fname":"etunimi", "lname":"sukunimi", "patro":"patronyymi", 
             "place":"paikka", "occu":"ammatti"} %}
{% set rt = {'firstname':'etunimi', 'surname':'sukunimi', 'patronyme':'patronyymi', 
             'father':'isän nimi', 'mother':'äidin nimi', 'basename':'BASENAME'} %}
<h2>{{ _('Reference names') }}</h2>
<p>{{ _('Included') }} {{names|count}} {{ _('name') }}</p>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ol  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}'>{{ message }}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endwith %}
<div>
<!--section id="lista"-->
<table style="width:500pt">
    <tr><th>{{ _('Oid') }}</th>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Type ~ Ref. name') }}</th>
        <th>{{ _('Gender') }}</th>
        <th>{{ _('Name Source') }}</th>
        <th>{{ _('Persons') }}</th>
    </tr>
    {% for r in names %}
        <tr>
            <td class="id">{{r.rid}}</td>
            <td>{% if not r.refname %}<b>{% endif %}{{r.name}}
                {% if not r.refname %}</b>{% endif %}</td>
            <td><span class="typevar">{{rt[r.reftype]}}</span>
            {% if r.refname %} ~ {{r.refname}}{% endif %}</td>
            <td class="center">{% if r.sex %}{{ r.sex_str() }}{% endif %}</td>
            <td>{% if r.source %}{{r.source}}{% endif %}</td>
            <td class="center">{% if r.usecount %}
            <a href="/scene/persons/ref={{r.name}}">{{r.usecount}}</a>{% endif %}</td>
        </tr>
    {% endfor %}
</table>
<!--/section-->
</div>
{% endblock %}
