{# _myapp/templates/table_persons_2.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
        
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu((
    ("/scene", _('Change settings'), _('Select displayed data')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

<h2>{{ _('List of Persons') }}</h2>
<p>{{ _('Number of persons:') }} {{persons|count}}  

<section id="lista">
<table>
    <tr><th>{{ _("Uniq_id") }}</th>
        <th>{{ _("Name") }}</th>
        <th>{{ _("Event type") }}</th>
        <th>{{ _("Date") }}</th>
        <th>{{ _("Place") }}</th>
    </tr>
{% if persons %}
    {% for p in persons %}
        {% set ecnt = p.events|count %}{% if ecnt %}{% else %}{% set ecnt = 1 %}{% endif %}
        {% set tr_tag = "" %}
            <tr>
                <td rowspan="{{ecnt}}"><a href="/pick/uniq_id={{p.uniq_id}}">{{p.uniq_id}}</a></td>
                <td rowspan="{{ecnt}}">{{p.names[0].firstname}} <b>{{p.names[0].surname}}</b>
                    <br><small class="id">{{p.sortname}}</small></td>
    	{% if p.events %}
        	{% for event in p.events %} {{tr_tag|safe}} {% set tr_tag="<tr>" %}
	    		<td style="align:right;">{{event.type}}</td>
	    		<td>{{event.date}}</td>
	    		<td>{{event.place}}</td>
	    	</tr>
			{% endfor %}
		{% else %}
            </tr>
		{% endif %}
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No persons') }}</td></tr>
{% endif %}
</table>
{% endblock %}
