{# _myapp/templates/gr_result.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _("Gramps to Neo5j analyze") }}{% endblock %}
{% block body %}
    {{ super() }}
<style>
div.content > p {
    margin: 0.5em 1em;
}
</style>
    <h2>{{ _("Analyze of the Gramps XML") }}</h2>
      {% if text %}
        <div class="content">
           <h3>{{ _("Results") }}</h3>
	    {% for line in text %}
	       <p>{{line}}</p>
	    {% endfor %}
        </div>
	{% endif %}
    <p>&rtrif; <a href="/gramps/uploads">{{ _("Return") }}</a></p>
{% endblock %}
</body>
</html>

