{# _gramps/details.html_ #}
{% extends "start/s_layout.html" %}
{% block title %}{{ _('Batch Details') }}{% endblock %}
{% block body %}
{{ super() }}

{% from "start/s_macros.html" import hamburger_menu, state_info, show_advance with context %}

<style>
startbox h2 {margin-bottom: 0;}
div.startbox {
    height: 300px;
    width: 280px;
}
div.startbox table { width: 100%; }
div.actions {
    border: solid 2pt silver;
    background-color: whitesmoke;
    height: auto;
    min-height: fit-content;
}
tbody {
    background: whitesmoke;
}
td {
    position: relative;
}
#description { 
    width: 266px;
    height: 4em;
}
#msg {
    color: blueviolet;
    font-weight: normal;
    padding-left: 4em;
}
.visible { display: inline; }
.hidden { display:none; }
</style>

<script>
function doconfirm( command, title, caller, message ) { // used in commands.html
	if (confirm(title)) {
		document.location.href = command;
		document.getElementById(caller).append("{{ _(' wait...') }}");
	}
}
</script>

{{ hamburger_menu( (
   ) ) }}

<div id="startdiv">
	<h1>{{ _('Material Details') }}</h1>

{% include "flash_messages.html" %}

	<div class="prelines">
		{{ show_advance(batch) }}
	</div>

    <div class="startbox" style="width: min-content">
    	<h2 class="center">{{ _("General")|title() }}</h2>
    	<table>
        	<tr>
        		<th title="Db version {{batch.db_schema}}">{{ _("Batch") }}</th>
        		<td>{{ batch.id }}</td>
        	</tr>
            <tr>
                <th>{{ _("Material type") }}</th>
                {% set m_code = batch.material_type | lower | replace(" ","") -%}
                <td class="typedesc matr_{{m_code}}" style="font-size:110%">{{ _(batch.material_type) }}</td>
            </tr>
{#          <tr><th>{{ _("State ") }}</th><td><b>{{ _(batch.state) }}</b></td></tr>
#}
            <tr>
                <th>{{ _("Changed") }} </th>
                <td>{{ _(batch.timestamp_str()) }}</td>
            </tr>
            <tr>
                <th>{{ _("Gramps file") }}</th>
                <td style="overflow: auto">{{ batch.xmlname }}</td>
            </tr>
        	<tr>
        		<th colspan="2">{{ _("Description") }}<br>
        			<form>
            			<input type="hidden" name="batch_id" value="{{ batch.id }}">
            			<textarea id="description" name="description">{{ batch.description }}</textarea>
            			<button hx-post="update_description" hx-target="#msg">{{ _("Save") }}</button>
            			<span id="msg"></span>
                    </form> 
                </th>
        	</tr>
       	</table>
       	
    {% if config.SCRIPTING_TOOL_ENABLED and user_context.is_auditor %}
       	<p><a href="/scripting/{{ batch.id }}">{{ _("Scripting tool") }}</a></p>
    {% endif %}
    {% if batch.db_schema %}   
        <div style="font-size:6pt; text-align:end; color:gray;">
             Db version {{batch.db_schema}}</div>
    {% endif %}

    </div>
    
    <div class="startbox">
    	<h2 class="center">{{ _("Object Statistics") }}</h2>
    	<table>
         	<tr>
         		<th>{{ _("Type") }}</th>
         		<th>{{ _("Count") }}</th>
         		<th colspan="2">{{ _("Source citations") }}</th>
            <tr>
    {% for label,do_citations,(c_obj,c_ref) in object_stats %}
    		<tr><!-- {{label}}, {{do_citations}}, ({{c_obj}},{{c_ref}}) -->
    			<td>{{ label|title }}</td>
    			<td class="right">{{ c_obj }}</td>
       {% if do_citations %}
     		    <td class="right">{{ c_ref }}</td>
                <td class="right">
                {% if c_obj %}{{ (100 * c_ref/c_obj)|int }}% {% endif %}
                </td>
       {% else %}
                <td colspan="2"> </td>
       {% endif %}
    {% endfor %}
    	</table>
    </div>
    
    <div class="startbox">
    	<h2 class="center">{{ _("Event Statistics") }}</h2>
    	<table>
            <tr>
            	<th>{{ _("Type") }}</th>
                <th>{{ _("Count") }}</th>
                <th colspan="2">{{ _("Source citations") }}</th>
            </tr>
    {% for label,(c_obj,c_ref,pct) in event_stats %}
    		<tr>
    			<td>{{ label }}</td>
    			<td class="right">{{ c_obj }}</td>
    			<td class="right">{{ c_ref }}</td>
    			<td class="right">{{ pct }}%</td>
            </tr>
    {% endfor %}
    	</table>
    </div>

{% if false %}{# nonstandard_types or user_context.is_auditor #}
    <div class="startbox">
    	<h2 class="center">{{ _("Nonstandard types") }}</h2>
    	<div style="overflow: auto; height: 250px">
    	<table>
    		<tr>
    			<th>{{ _("Category") }}
    			<th>{{ _("Type") }}
    			<th>{{ _("Count") }}
    	{% for type in nonstandard_types %}
    		<tr>
    			<td>{{ type.1 }}
    			<td>{{ type.2 }}
    			<td>{{ type.3 }}
    	{% endfor %}
		</table>
		</div>
    {% if user_context.is_auditor %}
    	<br>
       	<a href="/gramps/run_supertool/{{ batch.id }}">{{ _("Refresh nonstandard types") }}</a>
    {% endif %}
    </div>
{% endif %}

    <div class="startbox actions">
        <h2 class="center">{{ _("Operations") }}</h2>
        <div hx-trigger="load"
            hx-get="/gramps/commands/{{batch.id}}">
        </div>
    </div>
    <p>&rtrif; <a href="{{request.referrer}}">{{ _("Back") }}</a></p>

<!-- Startdiv ends -->
</div>

{% endblock %}

</body>
</html>

