{# _gramps/details.html_ #}
{% extends "start/s_layout.html" %}
{% block title %}{{ _('Batch Details') }}{% endblock %}
{% block body %}
{{ super() }}

{% from "start/s_macros.html" import hamburger_menu, state_info with context %}

<style>
startbox h2 {margin-bottom: 0;}
div.startbox { height: 300px; }
div.startbox > table { width: 280px; }
div.actions {
    border: solid 2pt silver;
    background-color: whitesmoke;
    height: auto;
}
tbody {
    background: whitesmoke;
}
td {
    position: relative;
}
#description { 
    width: 266px;
    height: 4em;
}
#msg {
    color: blueviolet;
    font-weight: normal;
    padding-left: 8em;
    background: white;
}
.visible { display: inline; }
.hidden { display:none; }
</style>

<script>
function doconfirm( command, title ) { // used in commands.html
	if (confirm(title)) {
		document.location.href = command;
	}
}
</script>

{{ hamburger_menu( (
   ) ) }}

<div id="startdiv">
	<h1>{{ _('Material Details') }}</h1>

{% include "flash_messages.html" %}

    <div class="startbox" style="width:auto">
    	<h2 class="center">{{ _("General")|title() }}</h2>
    	<table>
        	<tr>
        		<th>{{ _("Batch") }}</th>
        		<td>{{ batch.id }}</td>
        	</tr>
            <tr>
                <th>{{ _("Material type") }}</th>
                <td class="typedesc" style="font-size:110%">{{ _(batch.material_type) }}</td>
            </tr>
            <tr>
                <th>{{ _("Status") }}</th>
                <td><b>{{ _(batch.state) }}</b>
                </td>
            </tr>
            <tr>
                <th>{{ _("Changed") }} </th>
                <td>{{ _(batch.timestamp_str()) }}</td>
            </tr>
            <tr>
                <th>{{ _("Gramps file") }}</th>
                <td style="overflow: auto">{{ batch.xmlname }}</td>
            </tr>
        	<tr>
        		<th colspan="2">{{ _("Description") }}<br>
        			<form>
        			<input type="hidden" name="batch_id" value="{{ batch.id }}">
        			<textarea id="description" name="description">{{ batch.description }}</textarea>
        			<button hx-post="update_description" hx-target="#msg">{{ _("Save") }}</button>
        			</form> <span id="msg"></span>
                </th>
        	</tr>
       	</table>
       	<p>
    {% if config.SCRIPTING_TOOL_ENABLED and user_context.is_auditor %}
       	<a href="/scripting/{{ batch.id }}">{{ _("Scripting tool") }}</a>
    {% endif %}

    </div>
    
    <div class="startbox">
    	<h2 class="center">{{ _("Object Statistics") }}</h2>
    	<table>
         	<tr>
         		<th>{{ _("Type") }}</th>
         		<th>{{ _("Count") }}</th>
         		<th colspan="2">{{ _("Source citations") }}</th>
            <tr>
    {% for label,do_citations,(c_obj,c_ref) in object_stats %}
    		<tr><!-- {{label}}, {{do_citations}}, ({{c_obj}},{{c_ref}}) -->
    			<td>{{ label|title }}</td>
    			<td class="right">{{ c_obj }}</td>
       {% if do_citations %}
     		    <td class="right">{{ c_ref }}</td>
                <td class="right">
                {% if c_obj %}{{ (100 * c_ref/c_obj)|int }}% {% endif %}
                </td>
       {% else %}
                <td colspan="2"> </td>
       {% endif %}
    {% endfor %}
    	</table>
    </div>
    
    <div class="startbox">
    	<h2 class="center">{{ _("Event Statistics") }}</h2>
    	<table>
            <tr>
            	<th>{{ _("Type") }}</th>
                <th>{{ _("Count") }}</th>
                <th colspan="2">{{ _("Source citations") }}</th>
            </tr>
    {% for label,(c_obj,c_ref,pct) in event_stats %}
    		<tr>
    			<td>{{ label }}</td>
    			<td class="right">{{ c_obj }}</td>
    			<td class="right">{{ c_ref }}</td>
    			<td class="right">{{ pct }}%</td>
            </tr>
    {% endfor %}
    	</table>
    </div>

    <div class="startbox actions">
        <h2 class="center">{{ _("Operations") }}</h2>
        <div hx-trigger="load"
            hx-get="/gramps/commands/{{batch.id}}">
        </div>
    </div>
    <p>&rtrif; <a href="{{request.referrer}}">{{ _("Back") }}</a></p>

<!-- Startdiv ends -->
</div>

{% endblock %}

</body>
</html>

