{# start/index.html_ #}
{% extends "start/s_layout.html" %}
{% block title %}{{ _("Isotammi User's Candidate Material") }} (gramps/index_gramps){% endblock %}
{% block body %}
{{ super() }}

{% include "security/_messages.html" %}
{% import 'start/s_macros.html' as macro %}

{{ macro.hamburger_menu( (
   ) ) }}



<script>
var TOOLARGE =  _("The file is too large (max 60 MB)");

function checkFileSize() {
 	try {
	 	var input = document.getElementById('filenm');
 	 	var file = input.files[0];
 	 	if (file.size > 60000000) {
			alert(TOOLARGE);
			return false;
 	 	}
 	}
 	catch {
 	}
	return true;
}
</script>

<div id="startdiv">
  <div>
    <h1>{{ _('Candidate material xml files') }}</h1>
    <p>{{ _('User') }} <b>{{current_user.name}}</b></p>

        <div class="row">
    
    {% if current_user.is_authenticated and current_user.has_role('research') %}
    
           <div class="startbox">
                <h2>{{ _('Send data to server') }}</h2>
                  <form action="/gramps/upload" method="post"  enctype="multipart/form-data">
                 <div style="display: inline-block;">
                   <input type="hidden" name="material" value="xml_file">
                   <p>{{ _('Select Gramps XML File (*.gramps etc) for converting to your candidate material') }}.</p>
                   <input type="file" name="filenm" accept=".gramps,.gpkg"/>
                 </div>
                 <div class="submit"> 
                    <input type="submit" value="{{ _('Send') }}" onclick="checkFileSize()"/>
                 </div>
                 <div><ul><li>{{ _('Read more') }}: <i>
                    <a href="https://gramps-project.org/wiki/index.php/Fi:Etusivu" 
                       title="{{ _('Manual') }}">Gramps</a></i></li></ul>
                 </div>
                 </form>
         </div>
    
         <div class="startbox">
	            <h2>{{ _('My files and materials') }}</h2>
                <p>{{ _('Manage your uploaded files and the candidate materials which you have stored in the database.') }}</p>
	            <form action="/gramps/uploads">
                 <div class="submit"> 
                    <input type="submit" value="{{ _('List my data sets') }}" />
                 </div>
	            </form>
         </div>
     
     {% endif %}
    </div>
  </div>
</div>
{% endblock %}
