{# start/index.html_ #}
{% extends "start/s_layout.html" %}
{% block title %}{{ _("Isotammi User's Candidate Material") }} (gramps/index_gramps){% endblock %}
{% block body %}
{{ super() }}

{% include "security/_messages.html" %}
{% import 'start/s_macros.html' as macro %}

{{ macro.hamburger_menu( (
    ("/message", _('Contact administrator'), _('Message to the administrator')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}


<div id="startdiv">
  <div>
    <h2>{{ _('Candidate material xml files') }}</h2>
    <p>{{ _('User') }} <b>{{current_user.name}}</b></p>

        <div class="row">
    
    {% if current_user.is_authenticated and current_user.has_role('research') %}
    
           <div class="startbox">
                <h3>{{ _('Send data to server') }}</h3>
                  <form action="/gramps/upload" method="post"  enctype="multipart/form-data">
                 <div style="display: inline-block;">
                   <input type="hidden" name="material" value="xml_file">
                   <p>{{ _('Select Gramps XML File (*.gramps) for converting to candidate material') }}</p>
                   <input type="file" name="filenm" />
                 </div>
                 <div class="submit"> 
                    <input type="submit" value="{{ _('Upload') }}" />
                 </div>
                 </form>
         </div>
    
         <div class="startbox">
	            <h3>{{ _('My Gramps files on server') }}</h3>
	            <p>{{ _('Manage your uploaded files') }}</p>
	            <ul><li><a href=/gramps/uploads>{{ _("List my uploads") }}</a>
	            </li></ul>
         </div>
     
     {% endif %}
    </div>
  </div>
</div>
{% endblock %}
