{# _gramps/uploads.html_ #}
<!-- Note different versions:
     ./gramps/templates/gramps/uploads.html
     ./audit/templates/audit/batches.html
     ./admin/templates/admin/uploads.html
 -->
{% extends "start/s_layout.html" %}
{% block title %}{{ _("Uploads from Gramps") }}{% endblock %}
{% block body %}
{{ super() }}
<!-- <meta http-equiv="refresh" content="30"> -->

{% from "start/s_macros.html" import hamburger_menu with context %}

<style>
td {
    position: relative;
}
.progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
fileselect {
	border-width: 2px 3px 3px 2px; 
	min-width: 725px;
}
</style>

<script>
// Progress bar
var PROGRESS_INTERVAL = {{interval}}; <!-- 10000; -->
var selected_batch_id = '';

function selectFile(sel, batch_id, xml_name) {
    document.getElementById('nm').innerHTML=sel.value;
    selected_batch_id = batch_id;

    // Button rules for selected row:
    //   id           disabled
    // download     if xml_name
    // start_upload if xml_name         // (bring to database)
    // show_log     always
    // batch_delete if batch_id
    // xml_delete   if not batch_id
    var buttons = document.getElementsByTagName('button');
    for (var i = 0, length = buttons.length; i < length; i++)
    {
	    buttons[i].disabled = false;
	    if (buttons[i].id == 'download' && xml_name == '')
	        buttons[i].disabled = true;
	    if (buttons[i].id == 'analyze' && xml_name == '')
	        buttons[i].disabled = true;
	    if (buttons[i].id == 'start_upload' && xml_name == '')
	        buttons[i].disabled = true;
	    if (buttons[i].id == 'batch_delete' && batch_id == '')
	        buttons[i].disabled = true;
	    if (buttons[i].id == 'xml_delete' && batch_id != '')
	        buttons[i].disabled = true;
    }
};

function update_progress(xmlfile) {
	// see http://jsfiddle.net/kedctfmj/3/
	$.get("get_progress/" + encodeURIComponent(xmlfile), (rsp) => {
		var progress_div = $("td div.progress[data-name='"+xmlfile+"']");
		var batch_id_column = progress_div.parent().prev().prev();
		progress_div.css("background","lightgreen");
		if (rsp.progress == 0) rsp.progress = 1;
		progress_div.get(0).style.width = rsp.progress + "%";
		if (rsp.status == "loading") 
			setTimeout(function() {update_progress(xmlfile)}, PROGRESS_INTERVAL);
		else 
			location.reload();
	});
}

$(document).ready( function() {

	// On reload there may be a selection done
	var selector = document.querySelector('input[name="sel"]:checked'); 
	if(selector) selectFile(selector);

    // The operations buttons
    
    $("#download").click(function(e) {
        $("#form").attr("action","/gramps/xml_download/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });
    
    $("#analyze").click(function(e) {
        $("#form").attr("action","/gramps/xml_analyze/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#analyze").click(function(e) {
        $("#form").attr("action","/gramps/xml_analyze/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });


    $("#gramps_analyze").click(function(e) {
        $("#form").attr("action","/gramps/gramps_analyze/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#start_upload").click(function(e) {
        $("#form").attr("action","/gramps/start_upload/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#show_log").click(function(e) {
        $("#form").attr("action","/gramps/show_log/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#xml_delete").click(function(e) {
        var name = document.getElementById('nm').innerText;
        if (confirm_delete('xml', name)) {
	        $("#form").attr("action","/gramps/xml_delete/" + name);
	        $("#form").submit();
        }
    });

    $("#batch_delete").click(function(e) {
        if (confirm_delete('batch', selected_batch_id)) {
	        $("#form").attr("action","/gramps/batch_delete/" + selected_batch_id);
	        $("#form").submit();
        };
    });

});

function confirm_delete(subj, name) {
	if (subj == 'xml') {
		var msg = "{{ _('File') }}: " + name + "\n\n" + 
		  "{{ _('Are you sure you want to delete the XML file?') }}";
	} else {
	    var msg = "{{ _('Batch') }}: " + name + "\n\n" + 
	      "{{ _('Are you sure you want to delete this batch from database?') }}";
	}
    var ok = confirm(msg);
    if (!ok) {
        return false;
    }
    return true;
}
</script>

{{ hamburger_menu( (
   ) ) }}

<div id="startdiv">
  <div>
    <h1>{{ _("Uploaded Candidate Materials") }}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

    <table class="fileselect">
           <tr> <th></th>
                <th>{{ _("Upload time") }}</th>
                <th>{{ _("Gramps file") }}</th>
                <th>{{ _("Batch id") }}</th>
                <th>{{ _("Person count") }}</th>
                <th>{{ _("Status") }}
					<div class="tooltip"> &#x2754;
					  <div class="tooltiptext">
					  	<p><b>{{ _("Steps for uploading Gramps files") }}</b></p>
					  	<p>↓ {{ _("UPLOADED") }} – {{ _("the file has been uploaded to server") }}<br>
					  	   ↓ {{ _("STORING") }}  – {{ _("the file content is being stored to the database") }}<br>
					  	   ↳ {{ _("STORED") }}   – {{ _("the data is stored as candidate material") }}<br>
					  	   → {{ _("REMOVED") }}  – {{ _("Not found any more") }}<br>
					  	   ↝ {{ _("ERROR") }} / {{ _("FAILED") }} – {{ _("there was an error") }}
						</p>
					  </div>
					</div> 
				</th>
   			</tr>

	    {% for upload in uploads %}{% if upload.status != "?" %}
	       <tr>
	           <td><input type="radio" name="sel" value="{{upload.xmlname | urlencode}}"
	                onClick="selectFile(this,'{{upload.batch_id}}', '{{upload.xmlname}}');">
	           </td>
	           <td>{{upload.upload_time_s}}</td>
	           <td>{{upload.xmlname}}</td>
               <td>{% if upload.batch_id %}
                    {% if upload.status == "LADATTU" %}{{_( "deleted from database" ) }})
                    {% else %}{{upload.batch_id}}{% endif %}
                {% endif %}</td>
               <td class="center">{% if upload.count %}{{upload.count}}{% endif %}</td>
	           <td>{{upload.status}}
	           		<div class="progress" data-name='{{upload.xmlname}}'></div>
                
                {% if upload.loading %}
                     <script>
	                     setTimeout( function() {update_progress('{{upload.xmlname}}')}, 1000 );
                     </script>
                {% endif %}
	           </td>
	       </tr>
	    {% endif %}{% endfor %}
	    {% if uploads|length == 0 %}
	       <tr><td colspan="5" style="padding:2em">
	              <a href="/gramps">{{ _("Start by sending your first Gramps file") }}</a></td>
	       </tr>
	    {% endif %}
    </table>
    <div>
      <form id="form" action="" method="get">
	    <h2>{{ _("Operations for") }} <i id="nm">({{ _('the selected file') }})</i></h2>
        <div>{{ _("Saving data") }}:
            <button id="download" disabled>{{ _("Download the Gramps file") }}</button>
            <button id="analyze" disabled>{{ _("Analyze the Gramps file") }}</button>
		    {% if gramps_verify %}
            <button id="gramps_analyze" disabled>{{ _("Execute Gramps Verify Tool") }}</button>
            {% endif %}
            <button id="start_upload" disabled>{{ _("Store to database") }}</button>
            <button id="show_log" disabled>{{ _("Show last log") }}</button>
        </div>
        <div>{{ _("Delete data") }}:
            <button id="xml_delete" disabled>{{ _("Delete the file") }}</button>
            <button id="batch_delete" disabled>{{ _("Delete from database") }}</button>
        </div>
	  </form>
    </div>
    
  <p>&rtrif; <a href="/gramps">{{ _("Send a new Gramps file") }}</a><br>
   {% if current_user.is_authenticated and current_user.has_role('research') %}
	&rtrif; <a href="/scene/persons/search?div=2">{{ _('Look at your candidate materials') }}</a><br>
   {% endif %}
    &rtrif; <a href="javascript:history.back()">{{ _("Return to front page") }}</a>
  </p>
    
  </div>
</div>
{% endblock %}
<script>
// Status help text
var e = document.getElementById('help');
e.onmouseover = function() {
  document.getElementById('help_box').style.display = 'block';
}
e.onmouseout = function() {
  document.getElementById('help_box').style.display = 'none';
}
</script>
</body>
</html>

