{# _gramps/uploads.html_ #}
{% extends "start/s_layout.html" %}
{% block title %}{{ _("Uploads from Gramps") }}{% endblock %}
{% block body %}
{{ super() }}
    <!-- meta http-equiv="refresh" content="30" -->

{% from "start/s_macros.html" import hamburger_menu with context %}

<script>
function selectFile(sel) {
    document.getElementById('nm').innerHTML=sel.value;
    
    var buttons = document.getElementsByTagName('button');
    for (var i = 0, length = buttons.length; i < length; i++)
    {
     buttons[i].disabled = false;
    }
};

$(document).ready( function() {

	// The operations buttons

    $("#download").click(function(e) {
        $("#form").attr("action","/gramps/xml_download/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#start_upload").click(function(e) {
        $("#form").attr("action","/gramps/start_upload/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#show_log").click(function(e) {
        $("#form").attr("action","/gramps/show_log/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

    $("#xml_delete").click(function(e) {
        $("#form").attr("action","/gramps/xml_delete/" + 
                document.getElementById('nm').innerText);
        $("#form").submit();
    });

});
</script>

{{ hamburger_menu( (
   ) ) }}

<div id="startdiv">
  <div>
    <h2>{{ _("Uploads from Gramps") }}</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

    <h3>{{ _("Status for differents steps in XML file upload") }}</h3>
    <div class="steps">
        <div>1. {{ _("UPLOADED") }}<br>{{ _("the file has been uploaded to server") }}</div> –
        <div>2. {{ _("STORING") }}<br>{{ _("the file content is being stored to the database") }}</div> –
        <div>3. {{ _("STORED") }}<br>{{ _("the file content has been stored to the database") }}</div> –
        <div>4. {{ _("ERROR") }} / {{ _("FAILED") }}<br>{{ _("there was an error") }}</div>
    </div>

    <table class="fileselect" style="border-width: 2px 3px 3px 2px; min-width: 725px;">
           <tr> <th></th>
                <th>{{ _("Upload time") }}</th>
                <th>{{ _("XML file") }}</th>
                <th>{{ _("Status") }}</th>
   			</tr>
	    {% for upload in uploads %}
	       <tr>
	           <td><input type="radio" name="sel" value="{{upload.xmlname | urlencode}}"
	                   onClick="selectFile(this);"></td>
	           <td>{{upload.upload_time_s}}</td>
	           <td>{{upload.xmlname}}</td>
	           <td>{{upload.status}}  
	           	{% if upload.batch_id %} (id={{ upload.batch_id }}) {% endif %}
	           </td>
	       </tr>
	    {% endfor %}
    </table>
    <div>
      <form id="form" action="" method="get">
	    <h3>{{ _("Operations for") }} <i id="nm">({{ _('the selected file') }})</i></h3>
        <div>
            <button id="download" disabled>{{ _("Download to your computer") }}</button>
            <button id="start_upload" disabled>{{ _("Store to database") }}</button>
            <button id="show_log" disabled>{{ _("Show last log") }}</button>
            <button id="xml_delete" disabled>{{ _("Delete the file") }}</button>
	    </div>
	  </form>
    </div>
    
  {% if current_user.is_authenticated and current_user.has_role('member') %}
	<p>&rtrif; <a href="/scene/persons_all?div=2">{{ _('See your own data') }}</a></p>
   {% endif %}
    <p>&rtrif; <a href="javascript:history.back()">{{ _("Return to front page") }}</a></p>
    
  </div>
</div>
{% endblock %}
</body>
</html>

