{# _audit/auditions.html_ #}
{% extends "/audit/layout.html" %}
{% block title %}{{ _("Auditions") }}{% endblock %}
{% block body %}
    {{ super() }}
   
  <h2>{{ _("Auditions and Amount of Objects") }}</h2>
  
  <div class="content">
    <p>
        {{ _('Total <b>%(tot)s</b> objects approved by <i>%(aud)s</i>', aud=user, tot=total) }}
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

        <table>
           <tr>
                <th>{{ _("Researcher") }}</th>
                <th>{{ _("Batch id") }}</th>
{% for t in titles %}<th>{{t}}</th>{% endfor %}
           </tr>

    {% for key, labels in batches.items() %}
	       <tr>{% set l = key.split('/') %}
               <td>{{l[0]}}</td>
               <td><b>{{l[1]}}</b><br><small>{{l[2]}}</small></td>
        {% for t in titles %}
	           <td class="right">{{ labels[t] }}</td>
        {% endfor %}
	       </tr>
    {% endfor %}
            
	    </table>
    <p>&rtrif; <a href="/admin/readlog">{{ _('Display application log') }}</a></p>
  </div>
{% endblock %}
</body>
</html>

