{# _audit/batches.html_ #}
{# Copied from admin/uploads_all #}
{% extends "/audit/layout.html" %}
{% block title %}{{ _("Batches") }}{% endblock %}
{% from "start/s_macros.html" import state_info with context %}
{% block body %}
    {{ super() }}
   
	<h1>{{ _("Batches") }}</h1>
    
{% include "flash_messages.html" %}

    <div class="content">
        <table class="table100">
           <tr>
	{% if not user %}
	                <th>{{ _("User") }}</th>
	{% endif %}
                <th>{{ _("Gramps file / uploaded at") }}</th>
                <th>{{ _("Status") }} {{ state_info() }}</th>
                <th>{{ _("Batch id") }}</th>
                <th>{{ _("Operations") }}</th>
           </tr>
    {% for upload in uploads %}
	   {% if upload.batch_id and current_user.has_role('audit') %}
	       <tr
	      {% if batch_id == upload.batch_id %}style="background: bisque;"{% endif %}
	       >
		  {% if not user %}
             {% if current_user.username == upload.user %}
               <td title="{{ _('me') }}">&#9733; <b>{{upload.user}}</b></td>
             {% else %}
               <td>{{upload.user}}</td>
             {% endif -%}
    	  {% endif -%}

			   <td>{{upload.xmlname}}
			{% if upload.description %} 
                    <br><i>{{ upload.description[0:29] }}
				{% if upload.description|length > 29  %}
                        ... 
                        <div class="tooltip"> 
                        &nbsp;&#8505;&nbsp;
                          <div class="tooltiptext">
                            {{ upload.description }} 
                          </div>
                        </div> 
				{% endif %}
                    </i>
			{% endif %}
			   </td>
	           <td>
	      {% if upload.state.startswith("Audi") %}
	           	   <b>{{upload.state|transl('state')}}</b>
	      {% else %}
	           	   {{upload.state|transl('state')}} 
	      {% endif %}
			{% if upload.auditors %}
                    <br><i>{{ _("Auditor") }}: {{ ', '.join(upload.auditors) }}</i>
			{% endif %}
	           </td>
	           
	           <td>{{upload.batch_id}}
	      {% if upload.count %}
	           	   ({{upload.count}}&nbsp;{{ _("persons") }})
	      {% endif %}
	        </td>

	        <td>
<!-- 
    		{% if upload.has_file %}
	           	▸ <a href="/admin/xml_download/{{upload.user}}/{{upload.xmlname | urlencode}}"
    	             title="{{ _("Download file") }}">
    	               {{ _("Download original file") }}</a>
    		{% endif -%}
 -->
	        {% if upload.xmlname %}
	            ▸ <a href="/admin/show_upload_log/{{upload.user}}/{{upload.xmlname | urlencode}}">
	           			{{ _("Show log") }}</a>
	        {% endif -%}
	        {% if upload.state == "Audit Requested" or  upload.state == "Auditing"%}
		        {% if upload.xmlname %}<br>{% endif -%}
	           	▸ <a href="/audit/pick/{{upload.batch_id}}">
                     {{ _("Pick audit operation") }}</a>
            {% endif -%}
	           	</td>
	       </tr>
        {% endif %}
    {% endfor %}
	    </table>
    <p>&rtrif; <a href="/admin/readlog">{{ _('Display application log') }}</a></p>
    </div>

{% endblock %}
</body>
</html>

