{# _audit/batches.html_ #}
{# Copied from admin/uploads_all #}
{% extends "/audit/layout.html" %}
{% block title %}{{ _("Batches") }}{% endblock %}
{% from "start/s_macros.html" import state_info with context %}
{% block body %}
<style>
td.td-hdr {
  background: white;
  padding-left: 5em;
}
tr > td:nth-child(1), tr > td:nth-child(6) {
    white-space: nowrap;
}
tr > td:nth-child(5) {
    overflow-x: auto;
}
.typedesc {
  font-size: 100%;
}
</style>
    {{ super() }}
   
	<h1>{{ _("Batches") }}</h1>
    
{% include "flash_messages.html" %}

    <div class="content">
        <table class="table100">
           <tr>
	{% if not user %}
	                <th>{{ _("User") }}</th>
	{% endif %}
                <th>{{ _("Batch type") }}</th>
                <th>{{ _("Batch") }}</th>
                <th>{{ _("Status") }} {{ state_info() }}</th>
                <th>{{ _("Gramps file") }}</th>
                <th>{{ _("Operations") }}</th>
           </tr>
    {% if current_user.has_role('audit') %}
       {% for upload in uploads|sort(attribute='state') %}
          {% if loop.changed(upload.state) %}
            <tr><td colspan="6" class="td-hdr">
                <h3>{{upload.state|transl('state')}}</h3></td>
            </tr>
          {% endif %}
	       <tr
	      {% if batch_id == upload.batch_id %}style="background: bisque;"{% endif %}
	       >
		  {% if not user %}
             {% if current_user.username == upload.user %}
               <td title="{{ _('me') }}">&#9733; <b>{{upload.user}}</b>
             {% else %}
               <td><a href="/audit/profile/{{upload.user}}" title="{{ _('User Profile') }}"
                    >{{upload.user}}</a>
             {% endif -%}
                   <br>{{upload.u_name}}
               </td>
    	  {% endif -%}

	           <td>{% set m_code = upload.material_type | lower | replace(" ","") %}
                    <span class="typedesc matr_{{m_code}}">
                        {{ _(upload.material_type|transl('material')) }}
                    </span>
               </td>
               <td>{{upload.batch_id}}
	      {% if upload.count %}
	           	   <br>–&nbsp;{{upload.count}}&nbsp;{{ _("persons") }}
	      {% endif %}
	           </td>

	           <td>
	      {% if upload.for_auditor %}
	           	   <b>{{upload.state|transl('state')}}</b>
	      {% else %}
	           	   {{upload.state|transl('state')}} 
	      {% endif %}
			{% if upload.auditors %}
                    <br><i>
                {% for auditor, ts_from, ts_to in upload.auditors %}
                    {% if not loop.first %}<br>{% endif %}
                    <span title="{{ _('Auditing started') }}">
                       {{auditor}}&nbsp;{{ts_from|format_ts_day}}&nbsp;– {{ts_to|format_ts_day}}</span>
            	{% endfor %}</i>
			{% endif %}
	           </td>

			   <td>"{{upload.xmlname}}"
			{% if upload.description %} 
                    <br><i>{{ upload.description[0:29] }}
				{% if upload.description|length > 29  %}
                        ... 
                        <div class="tooltip"> 
                        &nbsp;&#8505;&nbsp;
                          <div class="tooltiptext">
                            {{ upload.description }} 
                          </div>
                        </div> 
				{% endif %}
                    </i>
			{% endif %}
               </td>

	           <td>
	        {% if upload.xmlname %}
	            ▸ <a href="/admin/show_upload_log/{{upload.user}}/{{upload.xmlname | urlencode}}/{{upload.batch_id}}">
	           			{{ _("Show upload log") }}</a>
	        {% endif -%}
	        {% if upload.for_auditor %}
		        {% if upload.xmlname %}<br>{% endif -%}
	           	▸ <a href="/audit/pick/{{upload.batch_id}}">
                     {{ _("Your audit operations") }}</a>
            {% endif -%}
	           	</td>
	       </tr>
        {% endfor %}
    {% endif %}
	    </table>
    <p>&rtrif; <a href="/admin/readlog">{{ _('Display application log') }}</a></p>
    </div>

{% endblock %}
</body>
</html>

