{# _audit/batches.html_ #}
{# Copied from admin/uploads_all #}
{% extends "/audit/layout.html" %}
{% block title %}{{ _("Classifiers") }}{% endblock %}
{% block body %}
    {{ super() }}

<style>
td {
	padding:.33em;
	vertical-align: top;   
}
h4 {
	margin: 1em 2em;
}
</style>

	<h1>{{ _("Classifiers") }}</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}


    <div class="content">
    	<p><ul>
{% for name, val in data.items() %}
	{% if name != 'lt_in' %}
			<li><a href="#{{name}}">{{ val[0] }}</a></li>
	{% endif %}
{% endfor %}
    	</ul></p>
        <table>
           <tr>
                <th>{{ _("Database") }}</th>
                <th>{{ _("Value") }}</th>
                <th>{{ _("Inessive") }}</th>
           </tr>
           
{% for name, val in data.items() %}
	{% set desc = val[0] %}
	{% set rows = val[1] %}
	{% for row in rows %}
		{% if loop.first %}
   	       <tr><td colspan="3" id="{{ name }}">
   	       <h4>{{ desc }} ({{ name }})</h4></td>
	       </tr>
   	    {% endif %}
   	       <tr>
	           <td><tt>{{ row[0] }}</tt></td>
	           <td>{{ row[1] }}</td>
	           <td>{{ row[2] }}</td>
	       </tr>
	{% endfor %}
{% endfor %}
	    </table>
    </div>
{% endblock %}
</body>
</html>

