{# _audit/index.html_ #}
{% extends "audit/layout.html" %}
{% block title %}{{ _("Isotammi auditor") }}{% endblock %}
{% block body %}
{{ super() }}
{% include "security/_messages.html" %}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<div id="startdiv">
    <div>
        <h2>{{ _("Isotammi auditor") }}</h2>

        <div class="startbox">
            <h3>{{ _('Operations') }}</h3>
            <ul>
            <li><a href="/tables">{{ _("Table format tools") }}</a>.
	           {{ _('The data includes accepted and candidate materials of all users.') }}
	        </li>
            <li><a href="/admin/readlog">{{ _('Display application log') }}</a></li>
            <li><a href="/audit/list_uploads">
                {{ _("Select a batch to be moved to Isotammi database") }}
                </a></li>
            <li><a href="/admin/clear_batches">{{ _("Remove empty batches") }}</a></li>
            <li>{{ _("List approved Isotammi data sets") }}:
                <a href="/audit/approvals/all">{{ _("all") }}</a>,
                <a href="/audit/approvals/own">{{ _("approved by me") }}</a>
            </li>
            <li><a href="/audit/refnames">{{ _('Reference names') }}</a></li>
            <li><a href="/refplace_editor">{{ _('Experimental place merge') }}</a></li>
            </ul>
            </p>
        </div>

    </div>
</div>
{% endblock %}
