{# _audit/move_in_2.html_ #}
{% extends "audit/layout.html" %}
{% block title %}{{ _("Material for Isotammi database") }} 2/2{% endblock %}
{% block body %}
{{ super() }}
{% include "security/_messages.html" %}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<div id="startdiv">
    <div>
        <h2>{{ _("Moved batch to Isotammi database") }}</h2>

        <div class="startbox2">
            <h3>{{ _('User Batch') }} <i>{{ batch }}</i></h3>
            <p>{{ _('From user') }} <i>{{user}}</i></p>
            <p>{{ _('Moved %(cnt_objs)s objects from %(batch_id)s to Common Database',
                     cnt_objs=rel_cnt, batch_id=batch) }}</p>
{% if time %}
            <p>{{ _('Time') }} {{time}}</p>
{% endif %}
        </div>

    </div>
</div>
{% endblock %}
