{# _audit/move_in_1.html_ #}
{% extends "audit/layout.html" %}
{% block title %}{{ _("Material for Isotammi database") }} 1/2{% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<div id="startdiv">
    <div>
        <h1>{{ _("Select for auditing") }}</h1>

{% include "flash_messages.html" %}

        <div style="width: min-content;">
            <h2>{{ _('Selected Batch') }} {{root.id}}</h2>
            <p>{{root.state|transl('state')}} {{_("material")}}:
               {{root.material|transl('material')}}</p>
			<table>
				<tr>
					<th>{{ _('Batch id') }}</th>
        {% for label, cnt in label_nodes %}
					<th>{{ _(label|trim) | title }}</th>
        {% endfor -%}
				</tr>

                <tr>
                    <td class="nowrap">{{root.id}}{% if time %}<br>
                    <small>{{ _('saved at') }} {{time}}</small>{% endif %}
                    </td> {% for label, cnt in label_nodes %}
                    <td class="right nowrap">{{cnt|int_thousands}}</td> {% endfor %}
                </tr>
            </table>
            <p>{{ _('Total %(cnt)s nodes from user <b>%(user)s</b>.', cnt=total|int_thousands, user=user) }}</p>        
{% if total %}
            <form action="/audit/requested" method="post">
	            <div class="submit">
                   <input type="hidden" value="{{root.id}}" name="batch">
                   <input type="hidden" value="{{user}}" name="user">
                   <input type="submit" value="{{ _('Start auditing') }}" />
	            </div>
            </form>
{% else %}
            <p>{{ _('– There is no more data to move in this batch') }}.</p>        
{% endif %}
        </div>

    </div>
</div>
{% endblock %}
