{# _audit/move_in_1.html_ #}
{% extends "audit/layout.html" %}
{% block title %}{{ _("Select auditiong operation") }}{% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}
<style>
div.props {
	display: inline-box;
}
div.props > div { 
    margin: 2pt;
}
div.props > div > span:nth-child(1) {
    display: inline-block;
    width: 12em;
    vertical-align:top;
}
</style>

{{ hamburger_menu() }}

<div id="startdiv">
    <div>
        <h1>{{ _("User Material") }}</h1>

{% include "flash_messages.html" %}

        <h2>{{ _("Selected <i>%(m)s</i> batch in the state <i>%(s)s</i>", 
            m = root.material_type | transl('material') | lower,
            s = root.state | transl('state') | lower ) }}</h2>

		<div class="props">
		
    {% if root.description %}
			<div style="margin: 6pt 2pt;">
                <span>{{ _('Title') }}:</span>
				<span style="font-size:larger; font-style:italic;">
                    {{root.description}}</span>
			</div>
	{% endif %}
            <div>
                <span>{{ _('Gramps file') }}:</span>
                <span>
                    <a href="/audit/batch_download/{{root.id}}/{{user}}">{{basename}}</a>
                </span>
            </div>
            <div>
                <span>{{ _('Total nodes') }}:</span>
                <span>{{total|int_thousands}}</span>
            </div>
            <div>
                <span>{{_('Researcher')}}:</span>
                <span><b>{{user}}</b></span>
            </div>

    {% for auditor, ts, ts_str in root.auditors %}
            <div style="color: brown;">
                <span>{% if loop.first %}{{ _("Current auditors") }}:{% endif %}</span>
                <span><b>{{auditor}}</b>
                    <span  title="{{ _('Audit start date') }}">{{ts_str}}</span>
                </span>
            </div>
    {% endfor %}
    {% for access in root.has_access %}
            <div><span>{{ _("Access is given also to") }}:</span>
                <span><b>{{access}}</b> </span>
            </div>
    {% endfor %}
		</div>

        <div style="width: min-content;">

			<table style="min-width: 35em; margin: 1em 0;">
				<tr>
					<th>{{ _('Batch id') }}</th>
        {% for label, cnt in label_nodes %}
					<th>{{ _(label|trim) | title }}</th>
        {% endfor -%}
				</tr>

                <tr>
                    <td class="nowrap"><b>{{root.id}}</b>
                    {% if time %}<br><small>{{ _('saved at') }} {{time}}</small>{% endif -%}
                    </td>
                    {% for label, cnt in label_nodes %}
                    <td class="right nowrap">{{cnt|int_thousands}}</td> {% endfor -%}
                </tr>
            </table>


            <form action="/audit/selected" method="post">
                <input type="hidden" value="{{root.id}}" name="batch">
                <input type="hidden" value="{{user}}" name="user">
	            <div class="submit">
<!-- 	            	{{root.state}} {{user}}/{{current_user.username}} -->
                   <input type="submit" value="{{ _('Return') }}" name="cancel" /> 
                   <input type="submit" value="{{ _('Browse this material') }}" name="browse" /> 
                   <span style="font-size:large; color:gray;"> | </span>
{% if total %}
    {% if root.state == "Rejected" %}
                   <input type="submit" value="{{ _('Start auditing again') }}" name="start"
        {% if not can_start %} disabled {% endif %} />
    {% else %}
                   <input type="submit" value="{{ _('Start auditing') }}" name="start"
        {% if not can_start %} disabled {% endif %} />
    {% endif %}
                   <input type="submit" value="{{ _('Accept auditing') }}" name="accept"
	{% if not can_accept %} disabled {% endif %} />
                   <input type="submit" value="{{ _('Reject auditing') }}" name="reject"
	{% if not can_accept %} disabled {% endif %} />
{% else %}
                   <input type="submit" value="{{ _('Reject auditing') }}" name="reject"
	{% if not can_remove %} disabled {% endif %} />
{% endif %}
	            </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
