{# _audit/move_in_1.html_ #}
{% extends "audit/layout.html" %}
{% block title %}{{ _("Select auditiong operation") }}{% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}
<style>
.box {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 5pt;
  height: 64pt;
  border: 1pt solid silver;
  background-color: #eee;
  overflow-y: auto;
}
.box2 { width: 50%; }
.box3 { width: 37.5%; }
.box p {
    /*font-size:12pt;*/
    margin-top: 6pt;
    overflow: auto;
 }
.box div  {font-size:9pt; }
table     { width: 750px; }
.clearfix { width: 750px; }
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.mail-button {
    margin-top: -6pt;
    text-align: right;
}
</style>

{{ hamburger_menu() }}

<div id="startdiv">
    <div>
        <h1>{{ _("Auditing Researcher's Material") }}</h1>

{% include "flash_messages.html" %}

{# Boxes #}
        <div class="clearfix">
          <div class="box">
            <div>{{ _('Material') }}</div>
            <p>
               <span class="typedesc">{{ _(root.material_type) }}</span>
               <br><b>{{root.id}}</b>
            </p>
          </div>
          <div class="box">
            <div>{{ _('State') }}</div>
            <p><b>{{ _(root.state) }}</b>
               <br><small>{{root.timestamp_str()}}</small>
            </p>
          </div>
          <div class="box">
            <div>{{_('Researcher')}}</div>
            <p><b><a href="/audit/profile/{{user}}" title="{{ _('User Profile') }}"
                    >{{user}}</a></b></p>
             <form id="form" action="/admin/send_email" method="post">
                <div class="mail-button">
                    <input type="hidden" class="user" name="select_user" value="{{user}}">
                    <input type="hidden" name="subject"
                        value="{{ _('Message from Isotammi auditor %(u)s', u=auditor_name) }}">
                    <button id="send_email">{{ _("Write email") }}</button>
                </div>
            </form>
          </div>
          <div class="box" style="background-color: seashell;">
            <div>{{ _("Current auditors") }}</div>
            <p>
            {% for auditor, ts_from, ts_to in root.auditors %}
                {% if not loop.first %}<br>{% endif %}
               <b><a href="/audit/profile/{{auditor}}" title="{{ _('User Profile') }}"
                    >{{auditor}}</a></b>
               <span title="{{ _('Auditing started') }}">
                   {{ts_from|format_ts_day}}
               </span>
            {% endfor %}
            {% for auditor, ts_from, ts_to in root.prev_audits %}
                {% if root.auditors or not loop.first %}<br>{% endif %}
               <a href="/audit/profile/{{auditor}}" title="{{ _('User Profile') }}"
                    >{{auditor}}</a>
               <span title="{{ _('Duration of audition') }}" style="color:gray;">
                {% if ts_to %}({{ts_from|format_ts_day}} .. {{ts_to|format_ts_day}})
                {% else %}{{ts_from|format_ts_day}} –{% endif %}
               </span>
            {% endfor %}
            </p>
          </div>
          <div class="box box3">
            <div>{{ _('Gramps file') }}</div>
            <p>{{basename}}</p>
          </div>
          <div class="box box3">
            <div>{{ _('Description') }}</div>
            <p><i>{{root.description}}</i></p>
          </div>
          <div class="box">
            <div>{{ _("Access is given also to") }}</div>
            <p>
            {% for access in root.has_access %}<b><a href="/audit/profile/{{access}}" title="{{ _('User Profile') }}"
                    >{{access}}</a></b>
            {% endfor %}
            </p>
          </div>
        </div>

{# Statistics #}
        <div style="width: min-content;">

            <h2>{{ _("Objects Count") }}</h2>
            <table style="width:750px; margin:2em 0;"><!-- Must be pixels! -->
				<tr>
        {% set w = (750 / (label_nodes|length + 2.5) | round(1,'floor') ) %}
        {% for label, cnt in label_nodes %}
					<th style="width: {{w}}px">{{ _(label|trim) | title }}</th>
        {% endfor -%}
                    <th style="width: {{w}}px">{{ _('Total') }}</th>
                </tr>

                <tr>
                    {% for label, cnt in label_nodes %}
                    <td class="right nowrap">{{cnt|int_thousands}}</td>
                    {% endfor -%}
                    <td class="right nowrap"><b>{{total|int_thousands}}</b></td>
                </tr>
            </table>

{# Buttons #}
            <form action="/audit/selected" method="post">
                <input type="hidden" value="{{root.id}}" name="batch_id">
                <input type="hidden" value="{{root.material_type}}" name="material_type">
                <input type="hidden" value="{{root.state}}" name="state">
                <input type="hidden" value="{{user}}" name="user">

                <div class="submit">
                   <input type="submit" value="&lt; {{ _('Back') }}" name="cancel" /> 
                   <input type="submit" value="{{ _('Upload log') }}" name="upload_log"
                       title="{{ _('Show upload log') }}"/>
                   <input type="submit" value="{{ _('Browse this material') }}" name="browse"
                       title="{{ _('You can browse, if you are currently auditing') }}"
                    {% if not can_browse %} disabled {% endif -%} />
                   <input type="submit" value="{{ _('Download file') }}" name="download"
                       title="{{ _('You can download, if you are currently auditing') }}"
                    {% if not can_download %} disabled {% endif -%} />

                   <span style="font-size:large; color:gray;"> | </span>

{% if can_start %}
                   <input type="submit" name="start"
                       title="{{ _('Start as auditor (also the only way to delete the material)') }}"
                    {% if other_auditor %}
                       value="{{ _('Supersede other auditor') }}"
                    {% elif root.state == "Accepted" or root.state == "Rejected" %}
                       value="{{ _('Start auditing again') }}"
                    {% else %}{# "Audit Requested" #}
                       value="{{ _('Start auditing') }}"
                    {% endif -%}/>
{% endif %}
{% if i_am_auditor %}
                   <input type="submit" value="{{ _('Accept auditing') }}" name="accept"
                       title="{{ _('Include to accepted materials') }}"
	                {% if not can_accept %} disabled {% endif -%} />
                   <input type="submit" value="{{ _('Withdraw') }}" name="withdraw"
                       title="{{ _('Give up for now') }}"
                    {% if not can_accept %} disabled {% endif -%} />
                   <input type="submit" value="{{ _('Reject auditing') }}" name="reject"
                       title="{{ _('Dicard this material') }}"
                    {% if not can_accept %} disabled {% endif -%} />
{% endif -%}
{% if can_delete %}
                   <input type="submit" value="{{ _('Delete batch') }}" name="delete"
                       title="{{ _('The material and files are deleted permanetly') }}"/>
{% endif -%}
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
