{# _templates/scene/person_pg.html_ #}
{% extends "/scene/layout.html" %}
{% import '/scene/macros.html' as macro with context %}
{% block title %}{{ macro.person_name_plain(person.names[0]) }}{% endblock %}
{% block body %}

{% if True %}
        <div class="subsection" id="notes">
            <h4>Js-testaus</h4>

<div style="margin:1em;">
    <table id="demo"><body><tr><td>Tähän vastaus</td></tr></body></table>

    <button type="button" onclick="showTable()">Try it</button>
</div>
        </div>
{% endif %}

{% endblock %}
