{# _myapp/templates/table1.html_ #}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% extends "layout.html" %}
{% block title %}Käyttäjäehdokkaat kannasta{% endblock %}
{% block body %}
{{ super() }}
 
<div class="row">
    <h2>Käyttäjäehdokkaat</h2>
    <div class="startbox">

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul  class='flashes'>
            {% for category, message in messages %}
              <li class='flash_{{category}}}'>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <section id="lista">
        <table>
            <tr><th>Email</th><th>Role</th><th>Admin</th>
            </tr>
	        {% if emails %}
	            {% for e in emails %}
	                <tr>
	                    <td>{{e.allowed_email}}</td>
	                    <td>{{e.default_role}}</td>
	                    <td>{{e.admin_name}}</td>
	                </tr>
	            {% endfor %}
	        {% else %}
	                <tr><td colspan="1">Ei tietoja</td></tr>
	        {% endif %}
        </table>
        </section>
    </div>

   	<h2>Luo uusi käyttäjäehdokas</h2>
    <div class="startbox">
	    <div style="display: inline-block;">    
	        <form action="{{ url_for('list_emails') }}" method="POST">
	          {{ form.hidden_tag() }}
	          {{ render_field_with_errors(form.allowed_email) }}
	          {{ render_field_with_errors(form.default_role) }}      
	          {{ render_field(form.submit) }}
	
	        </form>
	    </div>
	</div>                
</div>

{% endblock %}
