{# templates/admin/start.html_ #}
{% extends "/a_layout.html" %}
{% block title %}{{ _('Duplicates search') }}{% endblock %}
{% block body %}
{{ super() }}
{% include "security/_messages.html" %}

<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.min.js"></script>

<style>
div.searchkey { display: none; }
td.matchvector:hover ~ td > div.searchkey { display: inline; }
</style>

<div id="myApp" style="margin-left:50px; padding-bottom: 2em;">
  <h1>{{ _('Find possible duplicates') }}</h1>

    <div class="startbox2">
        <h2>{{ _('Data Batches') }}</h2>
        <table width="100%">
        <tr>
            <th>{{ _('Select') }}</th>
            <th>{{ _('Batch') }}</th>
            <th>{{ _('User') }}</th>
            <th>{{ _('File') }}</th>
            <th>{{ _('Has searchkeys') }}</th>
            <th>{{ _('Search in') }}</th>
        </tr>
        <tr v-for="batch in batches">
            <td><input type=radio name=select v-model="batch1" v-bind:value="batch">
        	<td>${ batch.id }
        	<td>${ batch.user }
        	<td>${ batch.file }
        	<td>${ batch.has_searchkeys }
            <td><input type=radio name=select2 v-model="batch2" v-bind:value="batch">
        </tr>
        </table>
        <button v-on:click="search_duplicates" v-bind:disabled="!batch1 || !batch2 || !batch1.has_searchkeys || !batch2.has_searchkeys">
        	{{ _('Search duplicates') }}
    	</button>
    	{#
        Using model: <select v-model="selected_model">
        	<option v-for="model in models" v-bind:value="model">
        		${ model }
        	</option>
        </select>
        #}
        <p>
        <table v-bind:disabled="!batch1">
        <tr>
        <td rowspan=2>
        <button v-on:click="generate_keys" v-bind:disabled="!batch1 || batch1.has_searchkeys">
        	{{ _('Generate comparison keys') }}
    	</button>
		<tr><td>
        <button v-on:click="remove_keys" v-bind:disabled="!batch1 || !batch1.has_searchkeys">
        	{{ _('Remove comparison keys') }}
    	</button>
        </table>
    </div>

    <div class="startbox2">
    	${ status }
		<div v-if="operation == 'generate_keys'">
		</div>
		<div v-if="operation == 'remove_keys'">
		</div>
		<div v-if="operation == 'search_duplicates'">
			Search result
			<table>
			<tr>
				<th>Score
				<th>Person 1
				<th>Person 2
				<th>Compare
				<th>Names match?
			<tr v-for="match in matches" class="match_row">
				<td>${ match.score.toFixed(2) }
				<!-- td class="matchvector">${ match.matchvector } -->
				<!-- td><a href="#" @click=show_persons($event)>Show</a -->
				<td><zzza 
						target=_blank 
						v-bind:href="'/person/' + match.p1.iid"
						class="plink"
					>
					${ match.p1.name } ${ match.p1.id }
					{#
					<hr>
					${ match.p1.searchkey }
					<br>
					${ match.p1.birth_low }-${ match.p1.birth_high }
					${ match.p1.death_low }-${ match.p1.death_high }
					</a>
					<div class="xsearchkey">${ match.p1.page }</div>
					#} 
				<td><zzza 
						target=_blank 
						v-bind:href="'/person/' + match.p2.iid"
						class="plink"
					>
					${ match.p2.name } ${ match.p2.id }
					{#
					<hr>
					${ match.p2.searchkey }
					<br>
					${ match.p2.birth_low }-${ match.p2.birth_high }
					${ match.p2.death_low }-${ match.p2.death_high }
					</a> 
					<div class="xsearchkey">${ match.p2.page }</div>
					#} 
				<td><a 
						target=_blank 
						v-bind:href="'/dupsearch/compare?iid1=' + match.p1.iid + '&iid2=' + match.p2.iid +
						'&batch_id1=' + batch1.id + '&batch_id2=' + batch2.id +
						'&state1=' + batch1.state + '&state2=' + batch2.state
						"
						class="plink"
					>{{ _("Compare") }}
					</a>
				<td><a 
						target=_blank 
						v-bind:href="'/dupsearch/compare2?iid1=' + match.p1.iid + '&iid2=' + match.p2.iid +
						'&batch_id1=' + batch1.id + '&batch_id2=' + batch2.id +
						'&state1=' + batch1.state + '&state2=' + batch2.state
						"
						class="plink"
					>{{ _("Compare2") }}
					</a>
				<td><span v-if="match.p1.name == match.p2.name">Same name</span>
				<td><span v-if="match.p1.id == match.p2.id">Same ID</span>
			</tr>
			</table>
			${ matches.length } matches
		</div>
	</div>


</div>

<script>

function log(msg) {
	console.log(msg);
}

var app = new Vue({
    delimiters: ['${', '}'],
    el: '#myApp',
    created: function() {
        this.init();    
    },
    data: {
        batches: [],
        matches: [],
        models: [],
        output: "",
        status: "",
        batch1: undefined,
        batch2: undefined,
        minscore: 5.0,
        minitems: 5,
        selected_model:'',
        namematch: '',
        namematch_algo: "none",
        operation:undefined,
        gencount:undefined,
        matchcount:undefined,
        p1_active: false,
        p2_active: false,
        i: 0,
        done: false
    }, // data
    methods: {
        init: function() {
            this.fetch_batches();
        },

		generate_keys:  function(q) {
			log("Generating");
			//app.status = "Generating keys for " + app.batch1.id; 
			app.status = "";
            app.operation = undefined;
            app.operation = 'generate_keys';
			app.done = false;
			app.i = 0;
			app.msg = "Generating keys for " + app.batch1.id + " ... ";
			setTimeout(app.logger,1000);
            axios.get('/dupsearch/generate_keys/' + app.batch1.id + "/" + app.namematch_algo).
                then(function(rsp, status) {
					app.done = true;
                    app.gencount = rsp.data;
					app.status = "Generated keys for " + app.gencount + " people";
                    app.operation = 'generate_keys';
                    //app.fetch_batches();
                    app.batch1.has_searchkeys = true;
                }, function () {
					app.done = true;
					app.status += " FAILED";
					//app.status = "Generation failed";
                });
		},

		remove_keys:  function(q) {
			log("remove_keys");
			//app.status = "Removing keys for " + app.batch1.id;
			app.status = "";
            app.operation = undefined;
			app.done = false;
			app.i = 0;
			app.msg = "Removing keys for " + app.batch1.id + " ... ";
			setTimeout(app.logger,1000);
            axios.get('/dupsearch/remove_keys/' + app.batch1.id).
                then(function(rsp, status) {
					app.done = true;
                    app.gencount = rsp.data;
					app.status = "Removed keys for " + app.gencount + " people";
                    app.operation = 'remove_keys';
                    //app.fetch_batches();
                    app.batch1.has_searchkeys = false;
                }, function () {
					app.done = true;
					app.status += " FAILED";
					//app.status = "Removing failed";
                });
			
		},



		logger: function () {
			if (!app.done) { 
				//app.status = "\nSearching... " + app.i;
				app.status = app.msg + app.i;
				app.i += 1;
				setTimeout(app.logger,1000);
			}
		},

		search_duplicates:  function(q) {
			log("search_duplicates");
            app.operation = 'search_duplicates';
            app.operation = undefined;
			app.status = "";
			app.i = 0;
			app.done = false;
			app.msg = "Searching... "
			setTimeout(app.logger,1000);
            axios.post('/dupsearch/search', {
            	batchid1: app.batch1.id,
            	batchid2: app.batch2.id,
            	minscore: app.minscore,
            	minitems: app.minitems,
            	model: app.selected_model,
            	namematch: app.namematch
            	}).
                then(function(rsp, status) {
					app.done = true;
                    log(rsp);
					app.status = "";
                    app.operation = 'search_duplicates';
                    app.matches = rsp.data;
                    app.matchcount = app.matches.length;
                }, function () {
					app.done = true;
					app.status = "Search failed";
                });
		},

        fetch_batches: function(q) {
            axios.get('/dupsearch/batches').
                then(function(rsp, status) {
                    log(rsp);
                    app.batches = rsp.data;
                }).
                catch(function(rsp, status) {
                    log(rsp);
					app.status = "Fetching batches failed";
                });
        },
        
        create_index: function(q) {
            axios.get('/dupsearch/create_index/' + app.batch1.id).
                then(function(rsp, status) {
                    log(rsp);
					app.status = "Index created";
                    app.batch1.has_index = true;
                }).
                catch(function(rsp, status) {
                    log(rsp);
					app.status = "Index creation failed";
                });
        },
        
        drop_index: function(q) {
            axios.get('/dupsearch/drop_index/' + app.batch1.id).
                then(function(rsp, status) {
                    log(rsp);
					app.status = "Index dropped";
                    app.batch1.has_index = false;
                }).
                catch(function(rsp, status) {
                    log(rsp);
					app.status = "Index drop failed";
                });
        },

        person_page: function(iid) {
        	var url = "/person/" + iid;
        	return url;
    	},
        show_persons: function(event) {
        	log(event.target);
        	var url = "/person/" + iid;
        	return url;
    	}
    } // methods

});

</script>

{% endblock %}
