/* 
    Created on : 22.2.2016, 18:12:41
    Author     : jm
*/

body {
    font-family: verdana, sans-serif;
    font-size: 10pt;
}
h1 {
    background-color:bisque;
    height: 14pt;
    font-size: 11pt;
}
h2 {
    margin-left: 38pt;
}
.startbox {
	display: inline-block;
	vertical-align:top;
    margin: 0 1em 1em 0;
	padding: 1em; 
	background-color: bisque;
	max-width: 300px;
}
img#logo {
    width: 43px;
    height: 44px;
    vertical-align: text-top;
}

table, th, td {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 2px;
    text-align: left;
    vertical-align: text-top;
}
.id { color: sienna; text-align: right; }
.typevar { font-size: 80%; font-style: italic;
    text-align: center;
}
.center { text-align: center;}
tr:hover {background-color: #f5f5f5}

#lista { width:80%; float:left}
#tiedot { 
    border: 1px solid silver;
    background-color: whitesmoke;
    opacity: 0.8;
    width: 18%; 
    position:fixed; top:90pt; right: 10pt;}
#tiedot li {margin-left: -20pt;}
#tiedot ul {list-style-type: none; font-size: 80%;}

ul.event {
    list-style:circle;
    vertical-align: text-top;
    margin:0;
}
ul.event > li {margin-left: -1em;}
ol#itemlist {
    list-style: none; 
    vertical-align: text-top;
}
li.itemrow { 
    margin: 2pt;
}
.itemrow div.col1 {
    display: inline-block;
    width: 150pt;
    vertical-align:top;
    padding-right: 5pt;
}
.itemrow div.col2 {
    display: inline-block;
    width: 200pt;
}
.itemrow div.col3 {
    display: inline-block;
    width: 250pt;
    vertical-align:top;
    padding-right: 5pt;
}
.itemrow div.also { 
    display: inline-block;
    font-style: italic;
    color: skyblue;
}
.genderF {color:red}
.genderM {color:blue}
.gender {}

.flashes {
    font-size: 80%;
    color: darkblue; 
    border: solid 2pt darkblue; 
    background-color:#eef
}
.flash_error { color: red }
.flash_warning { color: blueviolet }
.flash_message { color: blue }
