/* 
    Created on : 22.2.2016, 18:12:41
    Author     : jm
*/

body {
    font-family: verdana, sans-serif;
    font-size: 10pt;
}
h1 {
    position: relative;
    width: 100%;
    padding: 2px;
    height: 23px;
    font-size: 13pt;
    font-family: Georgia, "Times New Roman", times;
    font-weight: 600;
    letter-spacing: 1px;
    background-color:bisque;
    color: #7e6b53; /* Darker bisque */
    width: 100%;
    padding: 2px;
    margin-bottom: 2px; /* murupolun kanssa */
}
img#logo {
    width: 64px;
    height: 64px;
    float: left;
    margin: -16px 5px 0 5px;
    vertical-align: text-top;
}
.bread {
    margin: 2px; 
    color: #cf7c19; 
    font-style: italic; 
}
a.bread:link { text-decoration: none; }
a.bread:visited { text-decoration: none; }
a.bread:hover { text-decoration: underline; }
a.bread:active { text-decoration: underline; }

div#paluu {
    position: absolute;
    top: 50px;
    left: 6px;
    width: 60px;
    display: inline-block;
    font-weight: normal;
    font-size: 9pt;
    text-align: center;
    text-decoration: none;
    background: #f6f6f6; 
    padding: 2pt;
    color: black;
    border:1px solid gray;
    border-style: outset;
    border-radius: 4pt;
    margin: 5pt;
}
#paluu a { 
	text-decoration: none; 
    color: black;
}

#startdiv {
	margin-left:50px;
	margin-bottom:1em;
}
.startbox, .startbox2 {
    display: inline-block;
    vertical-align:top;
    margin: 0 1em 1em 0;
    padding: 1em; 
    background-color: bisque;
    width: 280px;
    min-height: 200px;
    border-radius: 15px;
}
.startbox2 {
    width: 603px;
}
.bg_intro {
	background-image: url(/static/charta_bg_680px.jpg);
	background-size: cover;
}

.admin {background-color: pink;}
.gedtools {background-color: lightsteelblue;}
.startbox h3, .startbox2 h3 { margin-top: 5px; margin-bottom: 5px; }
.startbox div, .startbox2 div { display: inline-block; width: 100%; }
/* Changed 1.3.2019/JMä
.startbox ul, .startbox2 ul { display: inline-block; width: 100%; 
    list-style-type: none; margin-left: -24pt; }
*/
.startbox ul, .startbox2 ul {
    list-style-type: disc;
    margin-left: -26px;
}
.inp {display: inline; }
.inp label { display: inline-block; width: 100px; }
.inp input { width: 120px;  margin-left: 1em; }
.submit { text-align:right; }       /* 20.8.2018 / JMä */

ul.compact {
	margin: 0;
    padding-left: 2em;
}
ul.compact > li {list-style-type: disc}

.not-allowed {cursor: not-allowed;}

table, th, td {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 2px;
    text-align: left;
/*  vertical-align: text-top; poistettu 3.7.2018/JMä */
}
.table100 { 
	background: ivory; 
	width: 100%;
}
.id { color: sienna; text-align: right; }
.handle {
	font-family: Courier, monospace;
    font-size: 80%;
    color: sienna;
 }
.typevar { font-size: 80%; font-style: italic;
    text-align: center;
}
.center { text-align: center;}
tr:hover {background-color: #f5f5f5}

#lista { width:80%; float:left}
#tiedot { 
    border: 1px solid silver;
    background-color: whitesmoke;
    opacity: 0.8;
    width: 18%; 
    position:fixed; top:90pt; right: 10pt;}
#tiedot li {margin-left: -20pt;}
#tiedot ul {list-style-type: none; font-size: 80%;}

ul.event {
    list-style:circle;
    vertical-align: text-top;
    margin:0;
}
ul.event > li {margin-left: -1em;}
ol#itemlist {
    list-style: none; 
    vertical-align: text-top;
}
li.itemrow { 
    margin: 2pt;
}
.itemrow div.col1 {
    display: inline-block;
    width: 150pt;
    vertical-align:top;
    padding-right: 5pt;
}
.itemrow div.col2 {
    display: inline-block;
    width: 200pt;
}
.itemrow div.col3 {
    display: inline-block;
    width: 250pt;
    vertical-align:top;
    padding-right: 5pt;
}
.itemrow div.also { 
    display: inline-block;
    font-style: italic;
    color: skyblue;
}
/* ISO/IEC 5218 codes 1=male, 2=female */
.sex1 {color:blue}
.sex2 {color:red}

.flashes {
    font-size: 10pt;
    margin: 2em;
    padding: 0.5em 3em;
    color: darkblue;
    border: solid 2pt darkblue; 
    background-color: lightyellow;
}
.msg_TITLE   {color: black; line-height: 1.8; font-size: 120% }
.msg_INFO    {padding-left: 1em; color: black }
.msg_WARNING {padding-left: 2em; color: blueviolet }
.msg_ERROR   {padding-left: 3em; color: red; font-weight: bold }
.flash_error {color: red; font-weight: bold }
.flash_warning {color: blueviolet }
.flash_message { color: blue }

.right {
	margin-left: auto;
	text-align: right;
	}

div.fullclear {
    clear: both;
}
#footer {
	color: gray;
	background: #eee;
	text-align: right;
}

div.legend { /* Not used? */
     margin-left:4em; 
     font-size: 90%;
     border-left: 6px solid silver;
}
table.legend, table.legend > tbody > tr > td, table.legend > tbody > tr > th {
   border:none;
   outline:none;
}

div.steps { margin: 1em;}
div.steps div {
	border-style: solid;
	border-radius: 5px;
	border-width: 1px 3px 3px 1px;
	border-color: gray;
	display: inline-block;
    height: 70px;
	width: 150px;
	padding: 5px;
	background-color: lightyellow;
	box-shadow: 5px 5px 5px lightgrey;
}
div.steps div.bg {
    border: 0px;
    height:35px;
    /*color: none;
    background-color: #ffffe9;*/
}
div.steps div.exception {
    border: 0px;
    margin:3px;
    height:auto;
    color: gray;
    background-color: #ffffe9;
}
.fileselect {
	border-width: 2px 3px 3px 2px; 
	min-width: 725px;
}
