{# _myapp/templates/index.html_ #}
{% extends "layout.html" %}
{% block title %}Alkusivu{% endblock %}
{% block body %}
{{ super() }}
<div>
    <h2>Versio 1</h2>
    <p>Lataa tiedoston ja näyttää sen <em>(ei tietokantakäsittelyä)</em></p>
    <form action="/lataa1a" method="post" enctype="multipart/form-data">
        <input type="file" name="filenm" />
        <input type="submit" value="Lataa" />
    </form>
</div>
<div>
    <h3>Versio 1b</h3>
    <p>Lataa tiedoston ja näyttää sen taulukkona <em>(ei tietokantakäsittelyä)</em></p>
    <form action="/lataa1b" method="post" enctype="multipart/form-data">
        <input type="file" name="filenm" />
        <input type="submit" value="Lataa" />
    </form>
</div>
<div>
    <form action="/lataa" method="post" enctype="multipart/form-data">
    <h2>Versio 2</h2>
    <p>Lataa tiedoston ja näyttää latauksen mahdolliset ilmoitukset, yhteenvetotilasto</p>
    <div style="height: 70pt">
        <div style="float: left; width: 300px;"><input type="file" name="filenm" />
            <ul style=" margin-left: 15pt; list-style-type:none">
                <li><input type="radio" name="aineisto" 
                           value="henkilot" checked="">Tuomiokirjojen henkilöt</li>
                <li><input type="radio" name="aineisto" 
                           value="refnimet">Henkilöiden referenssinimet</li>
                <!-- li><input type="radio" name="aineisto" 
                           value="karajat">Tuomiokirjat</li -->
            </ul>
        </div>
        <div style="float: left; padding-top: 40pt">
            <input type="submit" value="Lataa"/></div>
    </div>
    </form>
    <h3> Muita toimintoja</h3>
    <ul>
    <!-- li><a href="/dbtest">Testaa tietokantayhteys</a></li -->
    <li><a href="/lista/henkilot">Näytä kannassa olevat henkilöt</a></li>
    <li><a href="/lista/refnimet/REFFIRST">Näytä referenssietunimet</a>
        (<a href="/lista/refnimet">kaikki järjestämättä</a>)</li>
    <li><form action="/yhdista" method="post" enctype="multipart/form-data">
        <p>Yhdistelynäyttö<br />
        Anna sukunimen alkuosa: <input type="text" name="names"><input type="submit" value="Näytä"/></p>
        </form>
    </li>
    <li><a href="/tyhjenna/kaikki/kannasta"><em>Tyhjennä</em></a> koko kanta!</li>
    </ul>
</div>
{% endblock %}