{# _myapp/templates/index.html_ #}
{% extends "layout.html" %}
{% block title %}Alkusivu{% endblock %}
{% block body %}
{{ super() }}
<div>
    <h2>Versio 1</h2>
    <p>Lataa tiedoston ja näyttää sen</p>
    <form action="/lataa1a" method="post" enctype="multipart/form-data">
        <input type="file" name="filenm">
        <input type="submit" value="Lataa">
    </form>
</div>
<div>
    <h3>Versio 1a</h3>
     <p>Lataa tiedoston ja näyttää sen taulukkona</p>
    <form action="/lataa1b" method="post" enctype="multipart/form-data">
        <input type="file" name="filenm">
        <input type="submit" value="Lataa">
    </form>
</div>
<div>
    <h2>Versio 2 (ei toteutettu)</h2>
    <p>Lataa tiedoston ja näyttää latauksen mahdolliset ilmoitukset, yhteenvetotilasto</p>
    <form action="/lataa2" method="post" enctype="multipart/form-data">
        <input type="file" name="filenm">
        <input type="submit" value="Lataa">
    </form>
</div>
<div>
    <h2>Versio 3 (ei toteutettu)</h2>
    <p>nimien listaus tietokannasta</p>
</div>
{% endblock %}