{# _myapp/templates/person.html_ #}
{% extends "layout.html" %}
{% block title %}Henkilön tiedot{% endblock %}
{% block body %}
{{ super() }}

{% for person in persons %}
    <h3>Henkilö</h3>
    <ol id="itemlist">
        <li class="itemrow">
                <div class="col1">Tunniste</div>
                <div class="col2">{{person.id}}</div>
                <div class="also"></div>
        </li>
        <li class="itemrow">
                <div class="col1">Nimi</div>
                <div class="col2">{{person.name.first}} <b>{{person.name.last}}</b></div>
                <div class="also">(Vakioitu nimi tähän)</div>
        </li>
        <li class="itemrow">
                <div class="col1">Ammatti</div>
                <div class="col2">överste</div>
                <div class="also">(suomennos tähän)</div>
        </li>
        <li class="itemrow">
                <div class="col1">Paikka</div>
                <div class="col2">&nbsp;</div>
        </li>
    </ol>
    {% if person.citation %}
    <h4>Ollut käräjillä</h4>
    <ol class="num">
        {% for e in person.citation %}
        <li><div class="itemrow">
                <div class="col1">Paikka, aika</div>
                <div class="col1">{{e.id}}<br />Signum:
                <a href='http://www.narc.fi/Arkistolaitos/tma/kaki/tth/tth1.htm'>
                    {{e.signum}}</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endfor %}
    <p>&rtrif; <a href="javascript:history.back()">Palaa takaisin</a></p>

{% endblock %}
