{# _myapp/templates/person.html_ #}
{% extends "layout.html" %}
{% block title %}Henkilön tiedot{% endblock %}
{% block body %}
{{ super() }}

{% for p in persons %}
    <h2>Henkilö</h2>
    <ol id="itemlist">
        <li class="itemrow">
                <div class="col1">Tunniste</div>
                <div class="col2">{{p.oid}}</div>
                <div class="also"></div>
        </li>
        <li class="itemrow">
                <div class="col1">Nimi</div>
                <div class="col2">{{p.name.first}} <b>{{p.name.last}}</b></div>
                <div class="also">orig: {{p.name_orig}}</div>
        </li>
        <li class="itemrow">
                <div class="col1">Ammatti</div>
                <div class="col2">{{p.occupation}}</div>
                <div class="also"></div>
        </li>
        <li class="itemrow">
                <div class="col1">Paikka</div>
                <div class="col2">{{p.place}}</div>
        </li>
    </ol>
    {% if p.citation %}
    <h4>Ollut käräjillä</h4>
    <ol class="num">
        {% for e in p.citation %}
        <li><div class="itemrow">
                <div class="col1">Paikka, aika</div>
                <div class="col1">{{e.oid}}<br />Signum:
                <a href='http://www.narc.fi/Arkistolaitos/tma/kaki/tth/tth1.htm'>
                    {{e.signum}}</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endfor %}
    <p>&rtrif; <a href="javascript:history.back()">Palaa takaisin</a></p>

{% endblock %}
