{# _myapp/templates/lista2.html_ #}
{% extends "layout.html" %}
{% block title %}Referenssinimet kannasta{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>
<style>
    .center { text-align: center;}
</style>
{% if name %}
<p>Referenssinimet tiedostosta [<i>{{name}}</i>] </p>
{% else %}
<p>Nimet taulukkona</p>
{% endif %}
<!-- p>Mukana - henkilöä ja - tapahtumaa</p -->
<section id="lista">
<table>
    <tr><th>id</th>
        <th>tyyppi</th>
        <th>nimi</th>
        <th>on ref.</th>
        <th>ref.nimi</th>
        <th>sukupuoli</th>
        <th>lähde</th>
    </tr>
    {% for r in names %}
        <tr>
            <td class="id">{{r.id}}</td>
            <td>{{r.type}}</td>
            <td>{% if r.is_ref %}<b>{% endif %}{{r.name}}{% if r.is_ref %}</b>{% endif %}</td>
            <td class="center"><!--{% if r.reftype %}{{r.reftype}}&mdash;>{% endif %}--></td>
            <td>{{r.refname}}</td>
            <td class="center">{% if r.gender %}{{r.gender}}{% endif %}</td>
            <td>{% if r.source %}{{r.source}}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</section>
{% endblock %}
