{# _myapp/templates/lista2.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}
{% if name %}
<script src="/static/infobox.js"></script>

<p>Henkilöt tiedostosta [<i>{{name}}</i>] taulukkona</p>
<section id="lista">
<table>
    <tr><th>id</th>
        <th>nimi</th>
        <th>ammatti</th>
        <th>paikka</th>
        <th>käräjäpaikka</th>
        <th>&nbsp;-aika</th>
        <th>signum</th>
    </tr>
    {% for r in rivit %}
        <tr onmouseover="info('{{r.id}}', '{{r.sukunimi}}, {{r.etunimi}}',
            '{{r.ammatti}}', '{{r.paikka}}', 
            '{{r.kpaikka}}', '{{r.kaika}}', '{{r.signum}}')" >
            <td class="id">{{r.id}}</td>
            <td>{{r.etunimi}} <b> {{r.sukunimi}}</b></td>
            <td>{{r.ammatti}}</td>
            <td>{{r.paikka}}</td>
            <td>{{r.kpaikka}}</td>
            <td nowrap>{{r.kaika}}</td>
            <td>{% if r.url %}
                <a href='{{r.url}}'>{{r.signum}}</a>
                {% else %}{{r.signum}}
                {% endif %}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei tietoja</p>
{% endif %}
</section>
<section id="tiedot"><p>Solmut ja yhteydet</p></section>
{% endblock %}
