{# _myapp/templates/lista2.html_ #}
{% extends "layout.html" %}
{% block title %}Referenssinimet kannasta{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

{% set sp = {"M": "♂", "F": "♀", "U": "?"} %}
{% set tp = {"undef":" ", "fname":"etunimi", "lname":"sukunimi", "patro":"patronyymi", "place":"paikka", "occu":"ammatti"} %}
{% set rt = {'REFFIRST':'etunimi', 'REFLAST':'sukunimi', 'REFPATRO':'patron.'} %}
<h2>Referenssinimet</h2>
<p>Mukana {{names|count}} nimeä</p>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ol  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}'>{{ message }}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endwith %}
<section id="lista">
<table style="width:500pt">
    <tr><th>oid</th>
        <th>ref.nimi</th>
        <th style="width:40%">etunimet</th>
        <th>lähde</th>
    </tr>
    {% for (r,names) in names %}
        <tr>
            <td class="id">{{r.oid}}</td>
            <td>{{r.name}} 
                {% if r.gender %}<span class="gender{{r.gender}}">{{sp[r.gender]}}</span>{% endif %}</td>
            <!-- td>{{names}}</td --!>
            <td>{% for n in names %} {{n}} {% endfor %}</td>
            <td>{% if r.source %}{{r.source}}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</section>
{% endblock %}
