{# _myapp/templates/lista2.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}
{% if name %}
<p>Henkilöt tiedostosta [<i>{{name}}</i>] taulukkona</p>
<table>
    <tr><th>id</th>
        <th>nimi</th>
        <th>ammatti</th>
        <th>paikka</th>
        <th>käräjäpaikka</th>
        <th>aika</th>
        <th>signum</th>
    </tr>
    {% for r in rivit %}
        <tr>
            <td class="id">{{r.id}}</td>
            <td>{{r.etunimi}} <b> {{r.sukunimi}}</b></td>
            <td>{{r.ammatti}}</td>
            <td>{{r.paikka}}</td>
            <td>{{r.kpaikka}}</td>
            <td nowrap>{{r.kaika}}</td>
            <td>{% if r.url %}
                <a href='{{r.url}}'>{{r.signum}}</a>
                {% else %}{{r.signum}}
                {% endif %}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei tietoja</p>
{% endif %}
{% endblock %}
