{# _myapp/templates/lista2.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}
{% if name %}
<p>Luettu aineisto [<i>{{name}}</i>] taulukkona</p>
<table>
    <tr><th>nimi</th>
        <th>ammatti</th>
        <th>paikka</th>
        <th>käräjät</th>
    </tr>
    {% for r in rivit %}
        <tr>
            <td>{{r.nimi}}</td>
            <td>{{r.ammatti}}</td>
            <td>{{r.paikka}}</td>
            <td>{{r.karajat}}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei tietoja</p>
{% endif %}
{% endblock %}
