{# _myapp/templates/virhe_lataus.html_ #}
{% extends "layout.html" %}
{% block title %}Lataus epäonnistui{% endblock %}
{% block body %}
    {{ super() }}
    <h2>
    {% if code == 1 %}
        Virheellinen syöttötiedosto.
    {% else %}
        {% if code == 415 %}
        Tiedoston lataaminen ei onnistu.
        {% else %}
        Tiedoston lataus ei onnistu, koodi={{code}}
        {% endif %}
    {% endif %}
    </h2>
    {% if text %}
    <p>{{text}}</p>
    {% endif %}
    <p>&gt; <a href="/">Palaa alkuun</a>
{% endblock %}

