{# templates/stat/anstk.html #}
{% extends "admin/layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("App Stats") }}{% endblock %}
{% block body %}
{{ super() }}

<div class="startdiv">
  <h2>{{ _("Application usage statistics") }}</h2>
  <div id="errors" class="errors"></div>
  Return to <a href="/stat">statistics start page</a>
  <p>
    <div>
      Set options:
      <form action="/stat/appstat">
	<fieldset>
{% set topn = opts["topn"] %}
	  <label for="topn">{{ _("How many:") }}</label>
	  <input type="text" name="topn" size="1"
	         title="{{ _("How many at most?") }}"
	         value="{{ topn }}">
	  &nbsp;&nbsp;

{% set msg = opts["msg"] %}
	  <label for="msg">{{ _("Msgs:") }}</label>
	  <input type="text" name="msg" size="6"
	         title="{{ _("python regexp(s) to match messages") }}"
	         value="{{ msg }}">
	  &nbsp;&nbsp;

{% set maxlev = opts["maxlev"] %}
	  <label for="maxlev">{{ _(" Maxlev:") }}</label>
	  <input type="text" name="maxlev" size="6"
	         title="{{ _("report max level") }}"
		 {% if maxlev %} value="{{ maxlev }}" {% endif %}>
	  &nbsp;&nbsp;

{% set logs = opts["logs"] %}
	  <label for="logs">{{ _(" Logs:") }}</label>
	  <input type="text" name="logs" size="6"
	         title="{{ _("shell glob to match log files\nin ") }} {{logdir}}"
		 {% if logs %} value="{{ opts['logs'] }}" {% endif %}>
	  &nbsp;&nbsp;

	  <label for="bycount">{{ _("By count:") }}</label>
	  <input type="checkbox" name="bycount" size="1"
	         title="{{ _("Sort by count or by text?") }}"
		 {% if opts["bycount"] %} checked {% endif %}
		 id="bycount" value="x">
	  &nbsp;&nbsp;

	  <label for="cumul">{{ _("Cumulative:") }}</label>
	  <input type="checkbox" name="cumul" size="1"
	         title="{{ _("Cumulative counts?") }}"
		 {% if opts["cumul"] %} checked {% endif %}
		 id="cumul" value="x">
	  &nbsp;&nbsp;
	  <input type="submit" value="Go">
	</fieldset>
      </form>
    </div>

    {% for sections in res %}
    {# sections[0] is log file name #}
    {# sections[1] is contents from that log file #}
    <h3>Logfile(s) <tt>{{ sections[0] }}</tt></h3>

    {% for sectiondata in sections[1] %}
    {# sectiondata[0] is 'By xxx' #}
    <i> {{ sectiondata[0] }} </i>

<table>
{% for row in sectiondata[1] %}  <tr>
  {% for col in row
    %} <td{% if loop.first %} style="text-align: right"{% endif
	%}{% if loop.last %} style="text-align: right"{% endif
	   %}> {{ col }} </td>
  {% endfor %}</tr>
{% endfor %}</table><br>

   {% endfor %}
{% endfor %}

</div>
{% endblock %}
