{# _bp/audit/templates/layout.html_ #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ config.STK_SYSNAME }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/k_screen.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hamburger.css') }}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/help.js?40"></script>
    <script src='https://d3js.org/d3.v4.min.js'></script>
    
	<!-- i18n for Javascript: -->
	<link rel="gettext" type="application/x-po" href="/static/translations/{{ session.lang }}.po">
	<script src="/static/js/gettext.js"></script>
	<style>
h1, .startbox, .startbox2 { background-color: #f9f8bf; }
td,th {background: white;}
.tight {margin: 2pt;}
.goto {margin:3pt 12pt;}
table.transparent {
    background-color:inherit;
    border-width:0
}
table.transparent tbody tr td {
    background-color:inherit;
    border-width:0;
    vertical-align:top;
}
body {
    font-family: Sans-serif;
    font-size: 11px;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}
	</style>
  </head>

  <body>
    {% block body %}
    <h1><a href="/"><img id="logo" src="/static/tam.png" alt="{{ _('Back to Front Page') }}" title="{{ _('Back to Front Page') }}"
             onmouseover="this.src='/static/tam1.png';" 
             onmouseout="this.src='/static/tam.png';"/></a>
        <div class="curr_user"><a href="/settings" title="{{ _('My profile') }}">{{current_user.username}}</a></div>
        <i>{{ config.STK_SYSNAME }} – {{ _('The Genealogical Society of Finland') }}</i></h1>
    <div id="paluu">
        <a href="/audit">{{ _('Audit home') }}</a>
    </div>
    {% endblock %}

    <div class="fullclear"></div>
    <div id="footer">
        <span id="createdate">{{ config.STK_SYSNAME }} &nbsp;
        {% if time0 %}
            {% set elapsed = time.time()-time0 %}
            <tt>time {{'%0.4f'| format(elapsed|float)}}s</tt> &nbsp;
        {% endif %}
        {% if elapsed %}
            <tt>time {{'%0.4f'| format(elapsed|float)}}s</tt> &nbsp;
        {% endif %}
        {{ _('Version') }} {{ 'app'|app_date }}</span>
    </div>
    <div class="fullclear"></div>
    
  <div id="chart" style="width:50%"></div>

  <script>
    const width = window.innerWidth,
            height = window.innerHeight,
            maxRadius = (Math.min(width, height) / 2) - 5;

        const formatNumber = d3.format(',d');

        const x = d3.scaleLinear()
            .range([0, 2 * Math.PI])
            .clamp(true);

        const y = d3.scaleLinear()
            .range([maxRadius*.1, maxRadius]);

        // const color = d3.scaleOrdinal(d3.schemeCategory20);

        const partition = d3.partition();

        const arc = d3.arc()
            .startAngle(d => x(d.x0))
            .endAngle(d => x(d.x1))
            .innerRadius(d => Math.max(0, y(d.y0)))
            .outerRadius(d => Math.max(0, y(d.y1)));

        const middleArcLine = d => {
            const halfPi = Math.PI/2;
            const angles = [x(d.x0) - halfPi, x(d.x1) - halfPi];
            const r = Math.max(0, (y(d.y0) + y(d.y1)) / 2);

            const middleAngle = (angles[1] + angles[0]) / 2;
            const invertDirection = middleAngle > 0 && middleAngle < Math.PI; // On lower quadrants write text ccw
            if (invertDirection) { angles.reverse(); }

            const path = d3.path();
            path.arc(0, 0, r, angles[0], angles[1], invertDirection);
            return path.toString();
        };

        const textFits = d => {
            const CHAR_SPACE = 6;

            const deltaAngle = x(d.x1) - x(d.x0);
            const r = Math.max(0, (y(d.y0) + y(d.y1)) / 2);
            const perimeter = r * deltaAngle;

            return d.data.name.length * CHAR_SPACE < perimeter;
        };

        const handleClick = (d, i) => {
            if (d.data.uuid != null) {
                var searchParams = new URLSearchParams(window.location.search);
                searchParams.set('uuid', d.data.uuid);
                var newParams = searchParams.toString();
                window.location.search = newParams
            }
        }

        const svg = d3.select('body').append('svg')
            .style('width', '100vw')
            .style('height', '100vh')
            .attr('viewBox', `${-width / 2} ${-height / 2} ${width} ${height}`);

        var fanchart_data = JSON.parse('{{ fanchart_data|safe }}');

        root = d3.hierarchy(fanchart_data);
        root.sum(d => d.size);

        const slice = svg.selectAll('g.slice')
            .data(partition(root).descendants());

        slice.exit().remove();

        const newSlice = slice.enter()
            .append('g').attr('class', 'slice');

        newSlice.on("click", handleClick);

        newSlice.append('title')
            .text(d => d.data.title);

        newSlice.append('path')
            .attr('class', 'main-arc')
            .style('fill', d => d.data.color)
            .attr('d', arc);

        newSlice.append('path')
            .attr('class', 'hidden-arc')
            .attr('id', (_, i) => `hiddenArc${i}`)
            .attr('d', middleArcLine);

        // First line of text
        const text = newSlice.append('text')
            .attr('display', null); // d => textFits(d) ? null : 'none');

        // Add white contour
        text.append('textPath')
            .attr('startOffset','50%')
            .attr('xlink:href', (_, i) => `#hiddenArc${i}` )
            .append('tspan')
            .attr('dy', '-0.4em')
            .text(d => d.data.name)
            .style('fill', 'none')
            .style('stroke', '#fff')
            .style('stroke-width', 5)
            .style('stroke-linejoin', 'round');

        text.append('textPath')
            .attr('startOffset','50%')
            .attr('xlink:href', (_, i) => `#hiddenArc${i}` )
            .text(d => d.data.name);

        // Second line of text
        const text2 = newSlice.append('text')
            .attr('display', null); // d => textFits(d) ? null : 'none');

        // Add white contour
        text2.append('textPath')
            .attr('startOffset','50%')
            .attr('xlink:href', (_, i) => `#hiddenArc${i}` )
            .append('tspan')
            .attr('x', 0).attr('dy', '0.8em')
            .text(d => d.data.years)
            .style('fill', 'none')
            .style('stroke', '#fff')
            .style('stroke-width', 5)
            .style('stroke-linejoin', 'round');

        text2.append('textPath')
            .attr('startOffset','50%')
            .attr('xlink:href', (_, i) => `#hiddenArc${i}` )
            .text(d => d.data.years);
  </script>

<div id="ohjeikkuna" title="{{ _('Instructions') }}"></div>

</body></html>
