{# gedcom/templates/g_layout.html_ #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Suomi-tietokanta</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gedtools.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hamburger.css') }}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/help.js?"></script>
	
	<!-- i18n for Javascript: -->
	<link rel="gettext" type="application/x-po" href="/static/translations/{{ session.lang }}.po">
	<script src="/static/js/gettext.js"></script>
  </head>
  <body>
    {% block body %}
    <div id="Header"><a href="/"><img id="logo" src="/static/tam.png" alt="{{ _('Back to Front Page') }}" title="{{ _('Back to Top') }}"
             onmouseover="this.src='/static/tam1.png';" 
             onmouseout="this.src='/static/tam.png';"/></a>
        <div class="curr_user"><a href="/settings" title="{{ _('My profile') }}">{{current_user.username}}</a></div>
        <i>{{ _('A Database of the Genealogical Society of Finland') }}</i></div>

        
	{% from "start/s_macros.html" import hamburger_menu with context %}
	
	{{ hamburger_menu((
	   ) ) }}

    {% endblock %}

    <div class="fullclear"></div>
    <div id="footer">
        <span id="createdate">{{ config.STK_SYSNAME }} &nbsp;
        {% if elapsed %}
            <tt>time {{'%0.4f'| format(elapsed|float)}}s</tt> &nbsp;
        {% endif %}
        {{ _('Version') }} {{ 'app'|app_date }}</span>
    </div>
    <div class="fullclear"></div>

<div id="ohjeikkuna" title="{{ _('Instructions') }}"></div>

</body></html>
