{# templates/gedcoms.html_ #}
{% extends "g_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _('GEDCOM Materials') }}{% endblock %}
{% block body %}
{{ super() }}

<script src="/static/js/gedcom_scripts.js?20"></script>

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h2>{{ _("GEDCOM Management") }} ({{ _("user") }}: {{ user }})</h2>
    <div class="row">
        <div class="startbox2"> 
	        <div style="display: inline-block;">
	            <h3>{{ _("Uploaded GEDCOMs") }}</h3> 
				<div>
				    <table>
					    {% for file in files %}
						    <tr>
						    <td>
						    <a href="/gedcom/info/{{ file.name|escape }}">{{ file.name }}</a>
						    <td><b>{{ file.metadata.desc|escape }}</b>
						    </tr>
					    {% endfor %}
					</table>
				    <br><p>{{ kpl }} {{ ngettext("file","files",kpl) }}</p>
				</div>
			</div>
		</div>

	    <div class="startbox">
	        <div style="display: inline-block;">
	            <h3>{{ _("Upload a new GEDCOM file") }}</h3>
				<div>
				    <!-- form id="upload_form" method="post" enctype="multipart/form-data" action="/gedcom/upload" -->
				    <form id="upload_form" method="post" enctype="multipart/form-data">
				      <div>
				        <input type="file" name="file" id="file" accept="{{ allowed_extensions }}">
				      </div>
				      <div><label for="desc">{{ _("Description") }}</label>
				           <input name="desc" style="width: 14em"></div>
				      <div class="submit">
				        <input type="button" id="upload" value="{{ _('Upload') }}">
				      </div>
				    </form>
				    <div>&rtrif; <a href="/">{{ _("Return main page") }}</a></div>
				</div>
			 </div>
	    </div>
	</div>
  </div>
</div>
<div id="waiter" class="modal"></div>	
{% endblock %}


