{# templates/gedcoms.html_ #}
{% extends "a_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _('Logged on user') }}{% endblock %}
{% block body %}
{{ super() }}

<style>
.errors {
	font-size: 9pt;
	color: white;
	background-color: red; 
}

table.diff td {
	max-width: 600px;
	overflow: hidden; 
}
</style>

<script>
	
    function hide_all() {
        $("div.gedcom").hide();
    }
    
    $(document).ready( function() {
        console.log("ready");

        $(document).on({
            ajaxStart: function() { $("body").addClass("loading");  },
            ajaxStop: function() { $("body").removeClass("loading"); },    
            ajaxError: function() { $("#errors").text("{{ _('Server error') }}").show(); }    
        });
        
        $("#transforms").click(function() {
            hide_all();
            $("#div_transforms").show();
        });
        $("#versions").click(function() {
            hide_all();
            $.get("/gedcom/versions/{{ gedcom }}", function(versions) {
                $("#versions_list").empty();
                $.each(versions, function(i,version) {
                	//$("#versions_list").append("<li>"+version+"</li>");
                	var row = $("<tr><td>" +
                	"<input type=radio name=v1>" +
                	"<input type=radio name=v2>" +
                	"<td><a href=/gedcom/download/"+version+">"+version+"</a></tr>");
                	row.data("version",version);
                	$("#versions_list").append(row);
                });
                $("#versions_list tr:nth-last-child(2) input[name=v1]").prop("checked",true);
                $("#versions_list tr:nth-last-child(1) input[name=v2]").prop("checked",true);
	            $("#div_versions").show();
            });
        });
        $("a.transform").click(function(e) {
            $.get("/gedcom/transform/{{ gedcom }}/" + $(e.target).attr("data-transform"), function(rsp) {
                $("#div_transform_params1").html(rsp);
	            $("#div_transform_params").show();
            });
        });
        $("#delete").click(function() {
        	//alert("{{ _('Function still planned') }}");
            var ok = confirm('{{ _('Are you sure?') }}');
            if (ok) {
            	$.get("/gedcom/delete/{{ gedcom }}",function() {
            		window.location.replace("/gedcom/list");
            	});
            }
        });
        $("#update_desc").click(function() {
            $.post("/gedcom/update_desc/{{ gedcom }}", {desc:$("#desc").val()},function(rsp) {
            	console.log(rsp);
        	});
        });
        $("input,a").click(function() {
        	 $("#errors").hide();
        });
        $("#palauta").click(function() {
			var gedcom = "{{ gedcom }}";
			var version = $("#oldname").text();
            $.get("/gedcom/revert/{{ gedcom }}/" + version, function(rsp) {
                	$("#div_oldname").hide();
            });
        	 
        });
        $("#compare").click(function() {
        	var row1 = $("input[name=v1]:checked").parent().parent();
        	var gedcom1 = row1.data("version");
        	var row2 = $("input[name=v2]:checked").parent().parent();
        	var gedcom2 = row2.data("version");
        	$.get("/gedcom/compare/" + gedcom1 + "/" + gedcom2,function(rsp) {
            	$("#difftable").html(rsp.diff);
            	$("button.palauta_button").hide();
            	$("#palauta1").text("{{ _('Revert to') }} " + gedcom1).data("gedcom",gedcom1);
            	$("#palauta2").text("{{ _('Revert to') }} " + gedcom2).data("gedcom",gedcom2);
            	if (!gedcom1.match(/\.ged$/)) $("#palauta1").show();
            	if (!gedcom2.match(/\.ged$/)) $("#palauta2").show();
            	$("#div_compare").show();
        	});
        });
    	$("button.palauta_button").click(function(rsp) {
			var gedcom = "{{ gedcom }}";
			var version = $(this).data("gedcom");
            $.get("/gedcom/revert/{{ gedcom }}/" + version, function(rsp) {
		        $("#versions").click(); 
                alert(gedcom + " {{ _('renamed to') }} " + rsp.newname + "\n" +
                	  version + " {{ _('renamed to') }} " + gedcom);
            });
    	});
    	$("#save_result").click(function(rsp) {
			var gedcom = "{{ gedcom }}";
            $.get("/gedcom/save/{{ gedcom }}", function(rsp) {
		        var msg  = gedcom + " {{ _('renamed to') }} " + rsp.newname; 
            	$("#oldname").text(rsp.newname);
            	$("#div_oldname").show();
            	$("#div_save").hide();
            });
    	});
        hide_all();
    });
</script>

<div class="startdiv">
    <div>
	    <h2>{{ _("Gedcom transformations") }}</h2>
	    <div id="errors" class="errors"></div>
	    <div class="row">
	       <div class="startbox">
	         <div style="display: inline-block;">
				<h3>{{ _("GEDCOM") }} "{{gedcom}}"</h3>
				<label for="desc">{{ _("Description") }}</label>
			    <input id="desc" value='{{ metadata.desc }}' style="width: 14em">
                <div class="submit">
			         <input type="button" id="update_desc" value='{{ _("Update") }}'>
			    </div>
				<p>({{ _('Visualisation data, not based on material') }})</p>
				<table>
				    <tr><td>{{ _("Upload time") }}</td>
				        <td class="right">2018-06-06</td></tr>
				    <tr><td>{{ _("Number of individuals") }}</td>
				        <td class="right">{{ num_individuals }}</td></tr>
	                <tr><td>{{ _("Allow help desk to view data") }}</td>
	                    <td class="right"><input type="checkbox" id="view_permission"></td></tr>
                    {% for meta in metadata.items() %}
                    <!--
                    <tr><td>{{ meta.0 }}
                        <td>{{ meta.1 }}
                    -->
                    {% endfor %}
                    <pre>
                    {{ info }}
                    </pre>
			    </table>
	          </div>
	       </div>
	
	      <div class="startbox">
	        <div style="display: inline-block;">
	
				<h3>{{ _("Options") }}</h3>
				<div>
				    <ul>
				        <li><a href="/gedcom/download/{{ gedcom }}" id="download">{{ _("Fetch this GEDCOM") }}</a></li>
				        <li><a href="#" id="delete" data="/gedcom/delete">
	                        {{ _("Remove this GEDCOM") }}</a></li>
	                </ul>
				    <input type="submit" id="transforms" value='{{ _("Choose a transformation") }}'>
				    <input type="submit" id="versions" value='{{ _("Display versions") }}'>
				    <ul>
                        <li>&rtrif; <a href="/gedcom/list">{{ _("Switch to another GEDCOM") }}</a></li>
                    </ul>
				</div>
	        </div>
	      </div>
	
	      <div class="startbox2 gedcom" id="div_transforms">
	        <div style="display: inline-block;">

		        <h3>{{ _("Transformations") }}</h3>
		        <table>
		        {% for transform in transforms %}
		            <tr><td><a href="#" class="transform" 
		                 data-transform="{{ transform.name }}">{{ transform.name[:-3] }}</a>
		            <td>{{ transform.docline }}
		            <td>{% if transform.doclink %}
		            	<a href="{{ transform.doclink }}" target="doc">{{ _("Description") }}
		            	{% endif %}
		        {% endfor %}
		        </table>
		    </div>
	      </div>
	       
	      <div class="startbox gedcom" id="div_versions">
	        <div style="display: inline-block;">
	
		        <h3>{{ _("Versions") }}</h3>
		        <table id="versions_list"></table>
                <div class="submit">
		          <button id="compare">{{ _("Compare versions") }}</button>
		        </div>
		    </div>
		  </div>
	        
	      <div class="xstartbox gedcom" id="div_compare">
	        <h3>{{ _("GEDCOM comparison") }}:</h3>
	        <button id="palauta1" class="palauta_button"></button>
	        <button id="palauta2" class="palauta_button"></button>
	        <p>
	        <div id="difftable">
		    </div>
		  </div>

	      <div class="startbox gedcom" id="div_transform_params">
			<form id="form">
		      <div id="div_transform_params1">
		      </div>
			  <input type=submit id=transform value='{{ _("Perform transformation") }}'>
	        </form>
	      </div>
	      
	   </div>
   </div> 
   <div>
	  <div id="output" class="gedcom">
		<h3>{{ _("Transformation results") }}</h3>
		<div id="div_oldname">
		<h3>{{ _("Old version is saved as") }} <span id="oldname"></span> (<a id="palauta" href="#">{{ _("Revert to old version") }}</a>)</h3>
		</div>
		<div id="div_save">
		{{ _("Not saved yet") }}
		<h3><button id="save_result">{{ _("Save result") }}</button></h3>
		</div>
		<pre>
		  <div id="output_log">
		  </div>
		  <div id="error_log" class="errors">
		  </div>
	  	</pre>
	  	<div id="diff"></div>	
      </div>
   </div>
</div>

<div id="waiter" class="modal"></div>	
    
{% endblock %}
