{# templates/gedcoms.html_ #}
{% extends "a_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _('GEDCOM Materials') }}{% endblock %}
{% block body %}
{{ super() }}

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h2>{{ _("GEDCOM Management") }}</h2>
    <div class="row">
        <div class="startbox">
	        <div style="display: inline-block;">
	            <h3>{{ _("Uploaded GEDCOMs") }}</h3>
				<div>
				    <ul>
					    {% for file in files %}
						    <li>
						    <b>{{ file.metadata.desc|escape }}</b>
						    <br>
						    <a href="/gedcom/info/{{ file.name|escape }}">{{ file.name }}</a>
						    <p>
						    </li>
					    {% endfor %}
				    <p>{{ kpl }} {{ _("files") }}</p>
				</div>
			</div>
		</div>

	    <div class="startbox">
	        <div style="display: inline-block;">
	            <h3>{{ _("Upload a new GEDCOM file") }}</h3>
				<div>
				    <form method="post" enctype="multipart/form-data" action="/gedcom/upload">
				      <div>
				        <input type="file" name="file" accept="{{ allowed_extensions }}">
				      </div>
				      <div><label for="desc">{{ _("Description") }}</label>
				           <input name="desc" style="width: 14em"></div>
				      <div class="submit">
				        <input type="submit" value="{{ _('Upload') }}">
				      </div>
				    </form>
				    <div>&rtrif; <a href="/">{{ _("Return to main page") }}</a></div>
				</div>
			 </div>
	    </div>
	</div>
  </div>
</div>
{% endblock %}


