{# templates/gedcoms.html_ #}
{% extends "a_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}Kirjautunut käyttäjä{% endblock %}
{% block body %}
{{ super() }}

<style>
#errors {
	font-size: 24px;
	color: white;
	background-color: red; 
}
</style>

<script>
	
    function hide_all() {
        $("div.gedcom").hide();
    }
    
    $(document).ready( function() {
        console.log("ready");

        $(document).on({
            ajaxStart: function() { $("body").addClass("loading");  },
            ajaxStop: function() { $("body").removeClass("loading"); },    
            ajaxError: function() { $("#errors").text("Palvelinvirhe").show(); }    
        });
        
        $("#transforms").click(function() {
            hide_all();
            $("#div_transforms").show();
        });
        $("#versions").click(function() {
            hide_all();
            $.get("/gedcom/versions/{{ gedcom }}", function(versions) {
                $("#versions_list").empty();
                $.each(versions, function(i,version) {
                	$("#versions_list").append("<li>"+version+"</li>");
                });
	            $("#div_versions").show();
            });
        });
        $("a.transform").click(function(e) {
            $.get("/gedcom/transform/{{ gedcom }}/" + $(e.target).attr("data-transform"), function(rsp) {
                $("#div_transform_params1").html(rsp);
	            $("#div_transform_params").show();
            });
        });
        $("#delete").click(function() {
        	//alert("{{ _('Toiminto vasta suunnitteilla') }}");
            var ok = confirm('{{ _("Oletko varma?") }}');
            if (ok) {
            	$.get("/gedcom/delete/{{ gedcom }}",function() {
            		window.location.replace("/gedcom/list");
            	});
            }
        });
        $("#update_desc").click(function() {
            $.post("/gedcom/update_desc/{{ gedcom }}", {desc:$("#desc").val()},function(rsp) {
            	console.log(rsp);
        	});
        });
        $("input,a").click(function() {
        	 $("#errors").hide();
        });
        hide_all();
    });
</script>

<div style="margin-left:50px; padding-bottom: 2em;">
    <div>
	    <h2>Gedcom-käsittelyt</h2>
	    <div id="errors"></div>
	    <div class="row">
	       <div class="startbox">
	         <div style="display: inline-block;">
				<h3>{{ _("GEDCOM") }} "{{gedcom}}" tiedot</h3>
				{{ _("Kuvaus") }}:<br>
			    <input id="desc" value='{{ metadata.desc }}'>
			    <input type="button" id="update_desc" value='{{ _("Päivitä") }}'>
				<p>(Näennäistiedot, ei aineistosta)</p>
				<table>
				    <tr><td>{{ _("Ladattu") }}</td>
				        <td class="right">2018-06-06</td></tr>
				    <tr><td>{{ _("Henkilöiden lukumäärä") }}</td>
				        <td class="right">{{ num_individuals }}</td></tr>
	                <tr><td>{{ _("Sallin neuvontapalvelun katselumahdollisuuden") }}</td>
	                    <td class="right"><input type="checkbox" id="view_permission"></td></tr>
                    {% for meta in metadata.items() %}
                    <!--
                    <tr><td>{{ meta.0 }}
                        <td>{{ meta.1 }}
                    -->
                    {% endfor %}
			    </table>
	          </div>
	       </div>
	
	      <div class="startbox">
	        <div style="display: inline-block;">
	
				<h3>Valinnat</h3>
				<div>
				    <input type="submit" id="transforms" value='{{ _("Valitse muunnos") }}'>
				    <input type="submit" id="versions" value='{{ _("Näytä versiot") }}'>
				    <ul>
				        <li><a href="/gedcom/download/{{ gedcom }}" id="download">{{ _("Hae tämä tiedosto") }}</a></li>
				        <li><a href="#" id="delete" data="/gedcom/delete">
	                        {{ _("Poista tämä tiedosto") }}</a></li>
	                </ul><ul>
				        <li><a href="/gedcom/list">{{ _("Paluu alkusivulle") }}</a></li>
				    </ul>
				</div>
	        </div>
	      </div>
	
	      <div class="startbox gedcom" id="div_transforms">
	        <div style="display: inline-block;">
	
		        <h3>{{ _("Muunnokset") }}</h3>
		        <ul>
		        {% for transform in transforms %}
		            <li><a href="#" class="transform" 
		                 data-transform="{{ transform.name }}">{{ transform.name[:-3] }}</a>
		            {{ transform.docline }}</li>
		        {% endfor %}
		        </ul>
		    </div>
	      </div>
	       
	      <div class="startbox gedcom" id="div_versions">
	        <div style="display: inline-block;">
	
		        <h4>{{ _("Versiot") }}:</h4>
		        (vasta suunnitteilla)
		        <ul id="versions_list"></ul>
		    </div>
		  </div>
	        
	      <div class="startbox gedcom" id="div_transform_params">
			<form id="form">
		      <div id="div_transform_params1">
		      </div>
			  <input type=submit id=transform value='{{ _("Muunna") }}'>
	        </form>
	      </div>
	      
	   </div>
   </div>
   <div>
	  <h3>{{ _("Tulokset") }}</h3>
	  <pre>
	  <div id="output"></div>
	  </pre>	
   </div>
</div>

<div id="waiter" class="modal"></div>	
    
{% endblock %}
