{# templates/gedcoms.html_ #}
{% extends "g_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _('Logged on user') }}{% endblock %}
{% block body %}
{{ super() }}

<script>
var maxsize = {{ maxsize }};  // to be used in gedcom_scripts.js
</script>

<script src="/static/js/gedcom_scripts.js?37"></script>

<script>
var gedcom = "{{ gedcom }}";
</script>

<div class="startdiv">
    <div>
	    <h1>{{ _("Gedcom tools") }}</h1>
	    <div id="errors" class="errors"></div>

	    <div class="row">

	       <div class="startbox">
	         <div style="display: inline-block;">
				<h2>{{ _("File") }} <i>{{gedcom}}</i></h2>
				<p>{{ _("user") }}: <b>{{ user }}</b></p>
				<label for="desc">{{ _("Description") }}<br></label>
			    <input id="desc" value='{{ metadata.desc }}' style="width: 263px;">
				<btn id="update_desc">{{ _("Update description") }}</btn>
                <div><input type="checkbox" 
                        id="view_permission"
                        {%if metadata.admin_permission %}
                            checked
                        {% endif %}
                    > {{ _("Allow help desk to view data") }}
                </div>
                <div id="permission_message">{{ _("Permission updated") }}</div>
                <hr style="margin:2em;">
                <div class="link_item" id="div_show_info"> 
                    &rtrif; 
                    <a id="show_info" class="link" href="#">
                        {{ _("Show GEDCOM info") }}
                    </a>
                </div>
                <div class="link_item"> 
                    &rtrif; 
                    <a class="link" href="/gedcom">
                    	{{ _("Switch to another GEDCOM") }}
                    </a>
                </div>
              </div>
           </div>
    
          <div class="startbox gedcom" id="info">
            <div style="display: inline-block;">
    
                <h2>{{ _("Statistics") }}</h2>
				<table>
                    {% if metadata.upload_time %}
	                    <tr><td>{{ _('Upload time') }}
	                        <td class="right">{{metadata.upload_time}}
                    {% endif %}

                    {% if metadata.size %}
	                    <tr><td>{{ _('File size') }}
	                        <td class="right">{{metadata.size|int_thousands}} {{ _('bytes') }}
                    {% endif %}

                    {% if 1  or info.date %}
	                    <tr><td>{{ _('Gedcom date') }}
	                        <td class="right">{{info.date}} {{info.time}}
                    {% endif %}

                    {% if info.submitter %}
					    <tr><td>{{ _("Submitter") }}</td>
					        <td class="right">{{ info.submitter }}</td></tr>
                    {% endif %}
                    
                    {% if info.gedcom_version %}
					    <tr><td>{{ _("Gedcom version") }}</td>
					        <td class="right">{{ info.gedcom_version }}</td></tr>
                    {% endif %}
                    
                    {% if metadata.encoding %}
	                    <tr><td>{{ _('Encoding') }}
	                        <td class="right">{{metadata.encoding}}
                    {% endif %}

				    <tr><td>{{ _("Gedcom charset") }}</td>
				        <td class="right">{{ info.charset }}</td></tr>

                    {% if info.source_program %}
					    <tr><td>{{ _("Source program") }}</td>
					        <td class="right">
		                    {% if info.source_program_name %}
			                    {{ info.source_program_name }}
		                    {% else %}
			                    {{ info.source_program }}
		                    {% endif %}
		                    {% if info.source_program_version %}
			                    {{ info.source_program_version }}
		                    {% endif %}
					        </td></tr>
                    {% endif %}

				    <tr><td>{{ _("Number of individuals") }}</td>
				        <td class="right">{{ info.num_individuals | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of families") }}</td>
				        <td class="right">{{ info.num_families | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of unique places") }}</td>
				        <td class="right">{{ info.num_places | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of notes") }}</td>
				        <td class="right">{{ info.num_notes | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of citations") }}</td>
				        <td class="right">{{ info.num_citations | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of sources") }}</td>
				        <td class="right">{{ info.num_sources | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of repositories") }}</td>
				        <td class="right">{{ info.num_repos | int_thousands }}</td></tr>
				    <tr><td>{{ _("Number of multimedia objects") }}</td>
				        <td class="right">{{ info.num_multimedia }}</td></tr>
			    </table>
	          </div>
	       </div>
	
	      <div class="startbox">
	        <div style="display: inline-block;">
	
				<h2>{{ _("Actions") }}</h2>
				    <btn id="transforms"
				    	title='{{ _("Choose a transformation to perform for this GEDCOM") }}'>
					    {{ _("Choose a transformation") }}
			    	</btn>

				    <btn id="versions"
				    	title='{{ _("Display previous versions of this GEDCOM") }}'>
					    {{ _("Versions management") }}
			    	</btn>

				    <span class="button">
				    	<a href="/gedcom/download/{{ gedcom }}" id="download"
				    	title='{{ _("Fetch this GEDCOM") }}'>
				        	{{ _("Fetch this GEDCOM") }}</a>
			    	</span>

				    <btn id="delete"
				    	title='{{ _("Remove this GEDCOM") }}'>
				    	{{ _("Remove this GEDCOM") }}</a>
			    	</btn>

	                <div class="link_item"> 
	                    &rtrif; 
	                    <a id="analyze" class="link" href="#">
	                    {{ _("Technical analysis") }}</a>
	                </div>
	
	                <div class="link_item"> 
	                    &rtrif; 
	                    <a id="show_history" class="link" href="#">
	                        {{ _("Show transformation history") }}
                        </a>
	                </div>

	        </div>
	      </div>
	
	      <div class="startbox2 gedcom" id="div_transforms">
	        <div style="display: inline-block;">

		        <h2>{{ _("Transformations") }}</h2>
		        <table>
		        {% for transform in transforms %}
		            <tr><td><a href="#" class="transform" 
		                 data-transform="{{ transform.name }}">{{ transform.displayname }}</a>
		            <td>{{ transform.docline }}
		            <td>{% if transform.doclink %}
		            	<a href="{{ transform.doclink }}" target="doc">{{ _("Description") }}
		            	{% endif %}
		        {% endfor %}
		        </table>
		    </div>
	      </div>
	       
	      <div class="startbox gedcom" id="div_versions">
	        <div style="display: inline-block;">
	
		        <h2>{{ _("Versions") }}</h2>
		        <table id="versions_list"></table>
                <div class="xsubmit">
		          <btn id="delete_old_versions">{{ _("Delete old versions") }}</btn>
		          <btn id="compare">{{ _("Compare versions") }}</btn>
		          <div id="no_versions">{{ _("No previous versions") }}</div>
		        </div>
		    </div>
		  </div>
	        
	      <div class="gedcom" id="div_history">
	        <div style="display: inline-block;">
	
		        <h2>{{ _("Transformation history") }}</h2>
		        <a href="javascript:window.scroll(0,0)">
		        <img src="/static/444-512.png" class="totop" title="Top">
		        </a>
		        <pre>
					<div id="history">
					</div>
	        	</pre>
		    </div>
		  </div>

	      <div class="gedcom" id="div_compare">
	        <h2>{{ _("GEDCOM comparison") }}:</h2>
	        <button id="palauta1" class="palauta_button"></button>
	        <button id="palauta2" class="palauta_button"></button>
	        <p>
	        <a href="javascript:window.scroll(0,0)">
		        <img src="/static/444-512.png" class="totop" title="Top">
	        </a>
	        <div id="difftable">
		    </div>
		  </div>

	      <div class="gedcom" id="div_results">
	        <h2>{{ _("Results") }}:</h2>
	        <a href="javascript:window.scroll(0,0)">
		        <img src="/static/444-512.png" class="totop" title="Top">
	        </a>
	        <p>
	        <div id="results">
		    </div>
	        <div id="div_excerpt">
		        <gedcom-text id="excerpt">
			    </gedcom-text>
			    <p>
			    <button>OK</button>
		    </div>
		  </div>

	      <div class="startbox2 gedcom" id="div_transform_params">
			<form id="form">
		      <div id="div_transform_params1">
		      </div>
		      <btn id="transform">{{ _("Perform transformation") }}</btn>
	        </form>
	      </div>
	      
	   </div><!-- row -->
   </div> 

</div><!-- startdiv -->

<div class="resultdiv">
   <div>
	  <div id="output" class="gedcom">
		<h2>{{ _("Transformation results") }}</h2>
		<div id="div_oldname">
		<h2>{{ _("Old version is saved as") }} 
		  <span id="oldname"></span> 
		  (<a id="palauta" href="#">{{ _("Revert to old version") }}</a>)</h2>
		</div>
		<div id="div_save">
		<span class="important">{{ _("Not saved yet") }}</span>
		<button id="save_result">{{ _("Save result") }}</button>
		</div>
	        <a href="javascript:window.scroll(0,0)">
		        <img src="/static/444-512.png" class="totop" title="Top">
	        </a>
          <pre><div id="output_log_pre"></div></pre>
		  <div id="output_log">
		  </div>
		  <pre>
		      <div id="error_log" class="errors"></div>
		  </pre>
	  	<div id="diff"></div>	
      </div>
   </div>
</div>

<div id="waiter" class="modal"></div>	

    
{% endblock %}
