{# templates/login/login.html_ #}
{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block body %}
{{ super() }}

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h2>Tervetuloa Suomikantaan, {{usrname}}</h2>
    <div>
        <div class="startbox">
            <div style="display: inline-block;">
                <h3>Oma sukupuuni</h3>
                <p>Katso omaa aineistoasi ja vertaa Suomikantaan</p>
                <p style="text-align:right;"> 
                    <button type="submit">Henkilöluettelo</button>
                </p>
            </div>
         </div>
        <div class="startbox">
            <div style="display: inline-block;">
                <h3>Tietojen lisääminen</h3>
                <form action="/lataa" method="post" enctype="multipart/form-data">
                <div style="display: inline-block;">
                    <input type="hidden" name="aineisto" value="xml_file">
                    <p> Valitse Gramps XML-tiedostosi ehdokasaineistoksi</p>
                    <input type="file" name="filenm" />
                </div>
                <p>
                    <input type="submit" value="Lataa" style="float: right;"/>
                </p>
                </form>
            </div>
        </div>
        <div class="startbox">
            <div style="display: inline-block;">
                <h3>Oma Gedcom-aineistoni</h3>
                <p>Lataa aineistosi Ged-com-muodossa tai muokkaa jä lähetettyä</p>
                <p style="text-align:right;"> 
                    <button type="button"
                     onclick="alert('Toiminto vasta suunnitteilla')">
                     Gedcom-käsittelyt</button>
                </p>
            </div>
        </div>
        <div class="startbox">
            <div style="display: inline-block;">
                <h3>Viesti ylläpitoon</h3>
                <p>Pyydä tutkijaoikeuksia tai lähetä muu viesti ylläpitoon</p>
                <p style="text-align:right;"> 
                    <button type="button"
                     onclick="alert('Toiminto vasta suunnitteilla')">
                     Laadi viesti</button>
                </p>
            </div>
        </div>
        <div class="startbox">
            <div style="display: inline-block;">
                <h3>Kirjaudu ulos</h3>
                <p style="text-align:right;"> 
					<form method="get" action="/login">
					    <button type="submit">Poistu sovelluksesta</button>
					</form>
                </p>
            </div>
        </div>
    </div>
  </div>
	
{% endblock %}