{# templates/login/login.html_ #}
{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block body %}
{{ super() }}

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h2>Tervetuloa Suomikantaan</h2>
    <div>
        <div class="startbox">
            <div>
                <div style="display: inline-block;">
                    <h3>Tutustu Suomikannan aineistoihin</h3>
                    <p>Katso aineistojamme rajoitetuin oikeuksin</p>
                    <form method="get" action="/lista/k_persons">
                    <p style="text-align:right;">
                        <button type="submit">Henkilöt</button></p>
                    </form>
                    <h4>Liity Suomikannan käyttäjäksi</h4>
                    <ul>
                        <li><a href="#" 
                            title="Liity käyttäjäksi">
                            Rekisteröidy käyttäjäksi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="startbox">
            <h3>Kirjadu tunnuksillasi</h3>
            <div>
                <form action="/login" method="post">
	                <div class="inp">
	                    <label for="a">Käyttäjätunnus</label><input id="a" 
	                     type="text" name="usrname" size="10">
	                </div>
	                <div class="inp">
	                    <label for="b">Salasana</label><input id="b" 
	                     type="password" name="passwd" size="10">
	                </div>
	                <div style="display: inline-block; text-align:right;">
	                    <input type="submit" value="Kirjaudu"/>
	                </div>
                </form>
                <h4>Eikö onnistu?</h4>
                <ul>
                    <li><a href="#" 
                        title="Käyttäjätunnuksen tai salasanan elvyttäminen">
                        Salasana unohtunut</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
	
{% endblock %}