{# templates/gedcoms.html_ #}
{% extends "layout.html" %}
{% include "security/_messages.html" %}
{% block title %}Kirjautunut käyttäjä{% endblock %}
{% block body %}
{{ super() }}

<style>
/* http://stackoverflow.com/questions/1964839/jquery-please-wait-loading-animation    */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
</style>

<script>
	
    function hide_all() {
        $("div.gedcom").hide();
    }
    
    $(document).ready( function() {
        console.log("ready");

        $(document).on({
            ajaxStart: function() { $("body").addClass("loading");  },
            ajaxStop: function() { $("body").removeClass("loading"); }    
        });
        
        $("#transforms").click(function() {
            hide_all();
            $("#div_transforms").show();
        });
        $("#versions").click(function() {
            hide_all();
            $.get("/gedcom/versions/{{ gedcom }}", function(versions) {
                $("#versions_list").empty();
                $.each(versions, function(i,version) {
                	$("#versions_list").append("<li>"+version+"</li>");
                });
	            $("#div_versions").show();
            });
        });
        $("a.transform").click(function(e) {
            $.get("/gedcom/transform/{{ gedcom }}/" + $(e.target).attr("data-transform"), function(rsp) {
                $("#div_transform_params").html(rsp);
	            $("#div_transform_params").show();
            });
        });
        $("#delete").click(function() {
        	alert("{{ _('Toiminto vasta suunnitteilla') }}");
            //var ok = confirm('{{ _("Oletko varma?") }}');
        });
        hide_all();
    });
</script>

<h2>{{ _("GEDCOM") }} {{gedcom}}</h2>
<div>
	<h3>Tiedot</h3>
	<p>&lt;not implemented!&gt;</p>
<div>
	<ul>
    <li><b>{{ _("Ladattu") }}</b>: 2018-06-06
    <li><b>{{ _("Henkilöiden lukumäärä") }}</b>: {{ num_individuals }}
    </ul>
    <div><input type="checkbox" id="view_permission"> 
        <b>{{ _("Sallin neuvontapalvelun katselumahdollisuuden") }}</b> 
    </div>
</div>
</div>
<div>
<h3>Valinnat</h3>
<div>
    <input type="submit" id="transforms" value='{{ _("Muunnokset") }}'>
    <input type="submit" id="versions" value='{{ _("Versiot") }}'>
</div>
<div>
    <a href="#" id="delete" data="/gedcom/delete">{{ _("Poista GEDCOM") }}</a>
    <br>
    <a href="/gedcom/list">{{ _("Paluu") }}</a>
</div>
<div id="div_transforms" class="gedcom">
        <h4>{{ _("Muunnokset") }}:</h4>
        <table>
        {% for transform in transforms %}
            <tr>
            <td><a href="#" class="transform" data-transform="{{ transform.name }}">{{ transform.name }}</a></td>
            <td>{{ transform.docline }}</td>
            </tr>
        {% endfor %}
        </table>
</div>
<div id="div_versions" class="gedcom">
        <h4>{{ _("Versiot") }}:</h4>
        (vasta suunnitteilla)
        <ul id="versions_list">
        </ul>
</div>
</div>
    <div id="div_transform_params" class="gedcom">
    </div>

<div>
	<h3>Tulokset</h3>
	<div class="modal"></div>
</div>
    
{% endblock %}
