{# _myapp/templates/person.html_ #}
{% extends "layout.html" %}
{% block title %}Henkilöiden yhdistäminen{% endblock %}
{% block body %}
{{ super() }}
<script>
function myFunction(oid, fn, ln) {
    document.getElementById("tiedot").innerHTML = "<h3>Mahdollisia referenssinimiä</h3><p>Henkilö " + oid +
            "</p><h4>Etunimi " + fn + "</h4><ul>" + 
        "<li><input type='radio' name='retu' value='Aleksi' /> Demo-Aleksi</li>" +
    "</ul><h4>Sukunimi " + ln + "</h4><ul>" + 
        "<li><input type='radio' name='rsuku' value='Andersson' /> Demo-Andersson (sukunimi)</li>" +
        "<li><input type='radio' name='rsuku' value='Andersson:p' /> Demo-Andersson (patronyymi)</li>" +
        "<li><input type='radio' name='rsuku' value='Antinpoika:p' /> Demo-Antinpoika (patronyymi)</li>" +
    "</ul>";
}</script>
<h2>Henkilöiden yhdistely</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}}'>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/samahenkilo" method="post" enctype="multipart/form-data">
<div id="lista">
    <p>Henkilöt, joiden nimi alkaa '{{pattern}}'</p>
       <input type="text" name="names" value="{{pattern}}" readonly hidden>
    <ol style='border: solid 1pt gray; background-color: lightgoldenrodyellow'>
        <li> Merkitse päähenkilö (1. valintasarake) ja yhdistettävät henkilöt (2. sarake)
        <li> Poimi tarvittaessa referenssinimet vierestä <i>(ei vielä käytössä)</i>
        <li> <input type="submit" value="Yhdistä valittuun päähenkilöön" />
    </ol>
<table width="100%">
    <tr><th><center>liitä o&Larr;x</center></th>
        <th>henkilö</th>
        <th>käräjät, signum</th>
    </tr>

{% for p in persons %}
    {% set e = p.events[0] %}
    <tr>
        <td><center>
            <input type="radio" name="base" value="{{p.oid}}"
                   onchange="myFunction('{{p.oid}}', '{{p.names[0].first}}', '{{p.names[0].last}}')"/>
            <input type="checkbox" name="join" value="{{p.oid}}" />
            </center>
        </td>
        <td><span class="id">{{p.oid}}</span>
            {{p.names[0].first}} <b>{{p.names[0].last}}</b>
            <i>{% if p.occupation %}{{p.occupation}}{% endif %}</i></td>
        <td>{% if p.events|count %}<ul class="event">
                {% for e in p.events %}
                <li><span class="id">{{e.oid}}</span>
                    {{e.name}} {{e.date}} {% if e.citation %}
                ({% if e.citation.url %}<a href='{{e.citation.url}}'>{{e.citation.oid}}</a>)
                {% else %}{{e.citation.oid}})
                {% endif %}{% endif %}
                </li>{% endfor %}</ul>
            {% endif %}
            </td>
    </tr>
{% endfor %}    
    
</table>
</div>
<div id="tiedot">
    <h3>Referenssinimiä</h3>
    <p>&nbsp;</p>
</div>
</form>
{% endblock %}
