{# _myapp/templates/table1.html_ #}
{% extends "k_layout.html" %}
{% block title %}SS Suomitietokanta{% endblock %}
{% block body %}
{{ super() }}

<h2>Paikkakuntaluettelo</h2>

	<div class="wrapper" id="nav" role="navigation">
		<div class="container">
			<ul class="menu" id="dropmenu">
				<li><a href="k_persons" title="Henkilöt">Henkilöt</a></li>
				<li><a href="#" title="Sukunimet">Sukunimet</a></li>
				<li><a href="#" title="Perheet">Perheet</a></li>
				<li class="CurrentSection"><a href="/lista/k_locations" title="Paikat">Paikat</a></li>
				<li><a href="#" title="Lähteet">Lähteet</a></li>
				<li><a href="#" title="Pikkukuvat">Pikkukuvat</a></li>
			</ul>
		</div>
	</div>
	<div class="content" id="Individuals">
		<p id="description">
		Tällä sivulla on hakemisto kaikista paikkakunnista ja niiden alla olevista 
		lähinnä alemman tason paikoista.
		</p>
		<div id="alphanav">
			<ul><li><a href="#" title="alkuun">&uarr;</a></li>
        {% for p in places %}{% set ini = p.pname|list|first %}
            {% if alpha != ini %}{%set alpha = ini %}
                <li><a href="#{{alpha}}" title="Aakkosmenu: {{alpha}}">{{alpha}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
                    <th>Paikka, liittyvät paikat</th>
				</tr>
			</thead>
			<tbody>
	{% if places %}
	    {% for p in places %}{% set ini = p.pname|list|first %}
            <tr><td class="ColumnAlpha">{% if alpha != ini %}{%set alpha = ini %}
	               <a id="{{alpha}}" name="{{alpha}}" title="Palaa alkuun" href="#">{{alpha}}</a>
                {% endif %}</td>
                <td class="ColumnPerson">
                   <div>
                      <a href="/events/loc={{p.id}}" class="id" 
                        id="{{p.id}}">{{p.id}}</a> {{p.pname}}
                      <small>{{p.type|transl('lt')}}</small>
			    {% if p.uppers[0] %}{% set e = p.uppers[0] %}
						<small>{{e.type|transl('lt_in')}}</small>
						<a href="#{{e.id}}" 
						  title="siirry paikkaan id={{e.id}}">{{e.pname}}</a>
		        {% endif %}
                   </div>
            {% if p.lowers %}
		           <ul style="margin:0 0 5px 1em;">
		        {% for e in p.lowers|sort(attribute='pname') %}    <li>
	                       <a href="#{{p.id}}"
	                         title="siirry paikkaan id={{e.id}}">{{e.pname}}</a>
	                       &nbsp;<small>{{e.type|transl('lt')}}</small>
                      </li>
		        {% endfor %}
		           </ul>
	        {% endif %}
	    {% endfor %}
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
