{% macro stars(value) -%}
   {% if value < 2 %}
     {% if value == 0 %}<i class='fa fa-exclamation-circle'></i><i class='fa fa-exclamation-circle'></i>
     {% else %}<i class='fa fa-exclamation-circle'></i>{% endif %}
   {% else %}
     {% if   value < 2.25 %}<i class='fa fa-star-o'></i>
     {% elif value < 2.75 %}<i class='fa fa-star-o'></i><i class='fa fa-star-half-o'></i>
     {% elif value < 3.25 %}<i class='fa fa-star'></i><i class='fa fa-star'></i>
     {% elif value < 3.75 %}<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star-half'></i>
     {% elif value < 4.25 %}<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
     {% elif value < 4.75 %}<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star-half'></i>
     {% endif %}
   {% endif %}                           
{%- endmacro %}

{% macro menu(value) -%}
        <div class="container">
            <ul class="menu" id="dropmenu">
                <li{% if value == 1 %} class="CurrentSection"
                  {% endif %}><a href="/lista/k_persons" title="Henkilöt">Henkilöt</a></li>
                <li{% if value == 2 %} class="CurrentSection"
                  {% endif %}><a href="#" title="Sukunimet">Nimet</a></li>
                <li{% if value == 3 %} class="CurrentSection"
                  {% endif %}><a href="#" title="Perheet">Perheet</a></li>
                <li{% if value == 4 %} class="CurrentSection"
                  {% endif %}><a href="/lista/k_locations" title="Paikat">Paikat</a></li>
                <li{% if value == 5 %} class="CurrentSection"
                  {% endif %}><a href="/lista/k_sources" title="Lähteet">Lähteet</a></li>
                <li{% if value == 6 %} class="CurrentSection"
                  {% endif %}><a href="#" title="Pikkukuvat">Kuvat</a></li>
            </ul>
        </div>
{%- endmacro %}
        