{# _myapp/templates/table1.html_ #}
{% extends "k_layout.html" %}
{% block title %}henkilöluettelo{% endblock %}
{% block body %}
{{ super() }}

<h2>Henkilöluettelo</h2>

	<div class="wrapper" id="nav" role="navigation">
		<div class="container">
			<ul class="menu" id="dropmenu">
				<li class="CurrentSection"><a href="k_persons" title="Henkilöt">Henkilöt</a></li>
				<li><a href="#" title="Sukunimet">Sukunimet</a></li>
				<li><a href="#" title="Perheet">Perheet</a></li>
                <li><a href="/lista/k_locations" title="Paikat">Paikat</a></li>
				<li><a href="#" title="Lähteet">Lähteet</a></li>
				<li><a href="#" title="Pikkukuvat">Pikkukuvat</a></li>
			</ul>
		</div>
	</div>
	<div class="content" id="Individuals">
		<p id="description">
		Tällä sivulla on hakemisto kaikista tietokannan henkilöistä sukunimen 
mukaan lajiteltuna. Henkilön nimen napsauttaminen vie sinut valitun 
henkilön sivulle.
		</p>
		<div id="alphanav">
			<ul><li><a href="#" title="alkuun">&uarr;</a></li>
        {% for p in persons %}{% set ini = p.name[0].surname|list|first %}
            {% if alpha != ini %}{%set alpha = ini %}
                <li><a href="#{{alpha}}" title="Aakkosmenu: {{alpha}}">{{alpha}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
					<th>Henkilö</th>
					<th>Tapahtumat</th>
				</tr>
			</thead>
			<tbody>
	{% if persons %}
	    {% for p in persons %}{% set ini = p.name[0].surname|list|first %}
	            <tr><td class="ColumnAlpha">{% if alpha != ini %}
		               {%set alpha = ini %}
		               <a id="{{alpha}}" name="{{alpha}}" title="Palaa alkuun" href="#">{{alpha}}</a>
	               {% endif %}</td>
	                <td class="ColumnPerson"><div>
	                   <a href="/person/uniq_id={{p.uniq_id}}" class="id"
	                     title="katso henkilön {{p.uniq_id}} tiedot">{{p.uniq_id}}</a>
		               {{p.name[0].firstname}} 
		               {% if p.name[0].surname %} <b>{{p.name[0].surname}}</b>
		               {% else %}<i>{{p.name[0].patronyme}}</i>{% endif %}
		               {% if p.name[0].refname %}
		               <br><small class="refname" style="margin-left:4em;"
		                title="referenssinimi">referenssinimi: {{p.name[0].refname}}</small>
		               {% endif %}
	                </div></td>
	              <td class="ColumnEvent">
	        {% if p.events %}<ul>{% for e in p.events|sort(attribute='date') %}
		              <li><i>{{e.type|transl('evt')}}</i> {{e.date|pvm}}
		              {% if e.place %} – {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
	        {% endif %}
	              </td>
	           </tr>
	    {% endfor %}
	{% else %}
	        <tr><td colspan="3">Ei ketään</td></tr>
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
