{# _myapp/templates/table1.html_ #}
{% extends "k_layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
        Stk – Henkilöluettelo</h1>
{{ super() }}

	<div class="wrapper" id="nav" role="navigation">
		<div class="container">
			<ul class="menu" id="dropmenu">
				<li class="CurrentSection"><a href="k_persons" title="Henkilöt">Henkilöt</a></li>
				<li><a href="#" title="Sukunimet">Sukunimet</a></li>
				<li><a href="#" title="Perheet">Perheet</a></li>
				<li><a href="#" title="Paikat">Paikat</a></li>
				<li><a href="#" title="Lähteet">Lähteet</a></li>
				<li><a href="#" title="Pikkukuvat">Pikkukuvat</a></li>
			</ul>
		</div>
	</div>
	<div class="content" id="Individuals">
		<p id="description">
		Tällä sivulla on hakemisto kaikista tietokannan henkilöistä sukunimen 
mukaan lajiteltuna. Henkilön nimen napsauttaminen vie sinut valitun 
henkilön sivulle.
		</p>
		<div id="alphanav">
			<ul>
				<li><a href="#%C2%A0" title="Aakkosmenu: &nbsp;">&nbsp;</a></li>
        {% for p in persons %}{% set ini = p.name[0].surname|list|first %}
            {% if alpha != ini %}{%set alpha = ini %}
                <li><a href="#{{alpha}}" title="Aakkosmenu: {{alpha}}">{{alpha}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr>
					<th></th>
					<th>Henkilö</th>
					<th>Tapahtumat</th>
				</tr>
			</thead>
			<tbody>
	{% if persons %}
	    {% for p in persons %}{% set ini = p.name[0].surname|list|first %}
<p> {{p.name[0].surname}} | jos "{{ini}}" != "{{alpha}}" {% if alpha != ini %} niin uusi {% endif %} </p> 
	            <tr><td class="ColumnAlpha">{% if alpha != ini %}
		               {%set alpha = ini %}
		               <a id="{{alpha}}" name="{{alpha}}" title="Palaa alkuun" href="#">{{alpha}}</a>
	               {% endif %}</td>
	                <td class="ColumnPerson"><div>
	                   <a href="/person/uniq_id={{p.uniq_id}}" class="id">{{p.uniq_id}}</a>
		               {{p.name[0].firstname}} <b>{{p.name[0].surname}}</b>
		               {% if p.name[0].refname %}<br><small>referenssinimi: {{p.name[0].refname}}</small>{% endif %}
	                </div></td>
	        {% if p.events %}
		           <td class="ColumnEvent"><ul>{% for e in p.events %}
		              <li><i>{{e.type}}</i> {{e.date}}
		              {% if e.place %} – {{e.place}}{% endif %}</li>
		              {% endfor %}
		           </ul></tr>
	        {% else %}
	               <td></td>
	        {% endif %}
	           </tr>
	    {% endfor %}
	{% else %}
	        <tr><td colspan="3">Ei ketään</td></tr>
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
