{# _myapp/templates/k_persons.html_ #}
{% extends "k_layout.html" %}
{% block title %}henkilöluettelo{% endblock %}
{% block body %}
{{ super() }}
{% import 'k_macros.html' as macro %}

<h2>Henkilöluettelo</h2>

{{ macro.menu(1) }}
	<div class="content" id="Individuals">
        <div id="summaryarea">
            <p id="description">
    Tällä sivulla on luettelo {{persons|count}} henkilönimestä mahdollisen 
    sukunimen mukaan lajiteltuna.<br> 
    Henkilön nimen napsauttaminen vie sinut valitun henkilön sivulle. 
    Jos henkilöllä on monta nimeä, hän esiintyy listalla kullakin nimellä.
            </p>
			<details id="searchform" {% if not persons|count %} open{% endif %}>
			  <summary><b>Rajaa</b> näytettävät henkilöt</summary>
			  <div id="searching">
			    <form  action="/person/list/" method="post">
                  <p>Haku tapahtuu annetun sanan alkuosalla, 
                     esim. "Sib" osuu nimeen "Sibbe".</p>
                  <label for="snam">Hakusana (alkuosa)&nbsp; </label>
                    <input type="text" name="name" id="snam" required>
                    <!--input type="text" name="name" id="snam" required--><br>
                  <input type="radio" name="rule" id="ssur" value="surname" checked>
                    <label for="ssur">Sukunimi</label>
                  <input type="radio" name="rule" id="sfir" value="firstname">
                    <label for="sfir">Etunimi</label>
                  <input type="radio" name="rule" id="ssuf" value="suffix">
                    <label for="ssuf">Patronyymi</label>
				  <input type="submit" value="Hae">
			    </form>
			  <div>		  
			</details>

	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}

        </div>

		<div id="alphanav">
			<ul><li><a href="#" title="alkuun">&uarr;</a></li>
        {% for p in persons %}{% set ini = p.names[0].surname|list|first %}
            {% if alpha != ini %}{%set alpha = ini %}
                <li><a href="#{{alpha}}" title="Aakkosmenu: {{alpha}}">{{alpha}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
					<th>Henkilö</th>
                    <th>Henkilön tapahtumat</th>
                    <th>Perheen tapahtumat</th>
				</tr>
			</thead>
			<tbody>
	{% if persons %}
	    {% for p in persons %}{% set ini = p.names[0].surname|list|first %}
	            <tr><td class="ColumnAlpha">{% if alpha != ini %}
		               {%set alpha = ini %}
		               <a id="{{alpha}}" name="{{alpha}}" title="Palaa alkuun" href="#">{{alpha}}</a>
	               {% endif %}</td>
	                <td class="ColumnPerson"><div>
	                   <a href="/person/uniq_id={{p.uniq_id}}"
	                     title="katso henkilön {{p.uniq_id}} tiedot">
		               {{p.names[0].firstname}} 
		               {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
		               {% else %}<i>{{p.names[0].patronyme}}</i>{% endif %}</a>
		               {% if p.names[0].refname %}
		               <br><small class="refname" title="referenssinimi">
		                  referenssinimi: {{p.names[0].refname}}
		               {% endif %}
	                </div></td>
	              <td class="ColumnEvent">
	        {% if p.events %}<ul>{% for e in p.events|sort(attribute='date') %}
		              <li><i>{{e.type|transl('evt')}}</i> 
		              {% if e.datetype %} {{e.datetype}} {% endif %}
		              {% if e.date %}{{e.date|pvm}}{% elif e.daterange %}{{e.daterange}}{% endif %}
		              {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
	        {% endif %}
	              </td>
                  <td class="ColumnEvent"><!-- Perheen tapahtumat tähän -->
                  </td>
	           </tr>
	    {% endfor %}
	{% else %}
	        <tr><td colspan="3">Ketään ei löydetty hakutiedoilla</td></tr>
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
