{# _myapp/templates/table1.html_ #}
{% extends "k_layout.html" %}
{% block title %}lähteen tapahtumat{% endblock %}
{% block body %}
{{ super() }}

<h2>Lähteen tapahtumat</h2>

    <div class="wrapper" id="nav" role="navigation">
        <div class="container">
            <ul class="menu" id="dropmenu">
                <li><a href="/lista/k_persons" title="Henkilöt">Henkilöt</a></li>
                <li><a href="#" title="Sukunimet">Sukunimet</a></li>
                <li><a href="#" title="Perheet">Perheet</a></li>
                <li><a href="/lista/k_locations" title="Paikat">Paikat</a></li>
                <li class="CurrentSection"><a href="/lista/k_sources" title="Lähteet">Lähteet</a></li>
                <li><a href="#" title="Pikkukuvat">Pikkukuvat</a></li>
            </ul>
        </div>
    </div>
    <div class="content" id="IndividualDetail">
    {% for s in sources %}
    <h3 style="position:sticky; top:0;">{{s.stitle}}</h3>
    {% endfor %}
    </div>
    
         <div class="subsection" id="events">
            <h4>Tapahtumat</h4>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">Tapahtuma</th>
                        <th class="ColumnDate">Päivämäärä</th>
                        <th class="ColumnPlace">Paikka</th>
                        <th class="ColumnDescription">Kuvaus</th>
                        <th class="ColumnNotes">Lisätiedot</th>
                    </tr>
                </thead>
                <tbody>
		        {% for e in events %}
                    <tr>
                 	{% if e.type == "Cause Of Death" %}
                		{% set t_cause_of_death = e.description %}
            		{% else %}
                        <td class="ColumnEvent">
                            <span class="id">{{e.uniq_id}}</span> {{e.type}}
                        </td>
                        <td class="ColumnDate">{{e.date|pvm}}</td>
                        <td class="ColumnPlace">
                            <a href="/events/loc={{e.locid}}" 
                            title="tyyppiä {{e.ltype}}; katso paikan tiedot">
                            {{e.location}}</a>
                        </td>
                        <td class="ColumnDescription">{{e.description}}</td>
                        <td class="ColumnNotes">
                            <div>{% if e.type == "Death" %}
                            	{% if t_cause_of_death %}kuolinsyy: {{t_cause_of_death}} 
                            	{% endif %}{% endif %}</div>
                        </td>
                    {% endif %}
                    </tr>
		         {% endfor %}
                 </tbody>
            </table>
        </div>

        <div class="subsection" id="sourcerefs">
            <h4>Lähdeviitteet</h4>
            <p>Ei lähdeviitteitä haettuna</p>
        </div>
    </div>
{% endblock %}

