{# _myapp/templates/table1.html_ #}
{% extends "k_layout.html" %}
{% block title %}lähteen tapahtumat{% endblock %}
{% block body %}
{{ super() }}

<h2>Lähteen tapahtumat</h2>

    <div class="wrapper" id="nav" role="navigation">
        <div class="container">
            <ul class="menu" id="dropmenu">
                <li><a href="/lista/k_persons" title="Henkilöt">Henkilöt</a></li>
                <li><a href="#" title="Sukunimet">Sukunimet</a></li>
                <li><a href="#" title="Perheet">Perheet</a></li>
                <li><a href="/lista/k_locations" title="Paikat">Paikat</a></li>
                <li class="CurrentSection"><a href="/lista/k_sources" title="Lähteet">Lähteet</a></li>
                <li><a href="#" title="Pikkukuvat">Pikkukuvat</a></li>
            </ul>
        </div>
    </div>
    <div class="content" id="IndividualDetail">
    <h3 style="position:sticky; top:0;">{{stitle}}</h3>
    </div>
    
         <div class="subsection" id="events">
            <h4>Tapahtumat</h4>
            <ol>
		        {% for c in events|sort(attribute='page') %}
        		<li>
   					{{c.page}}
               		<ol type="a">
               		{% for event in c.events %}
                   	<li>
                   		{{event.type|transl('evt')}}
                   		<ol>
	               		{% for name in event.names %}
                   			<li>
                   			<a href="/person/uniq_id={{name.uniq_id}}" class="id"
	                     title="katso henkilön {{name.uniq_id}} tiedot">{{name.surname}}, {{name.firstname}}</a>
                   			</li>
                    	{% endfor %}
                    	</ol>
                    </li>
                    {% endfor %}
                    </ol>
		        {% endfor %}
         		</li>
            </ol>
        </div>

        <div class="subsection" id="sourcerefs">
            <h4>Lähdeviitteet</h4>
            <p>Ei lähdeviitteitä haettuna</p>
        </div>
    </div>
{% endblock %}

