{# _myapp/templates/layout.html_ #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Person demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pers.css') }}"></link>
  </head>
  <body>
    {% block body %}
    <h1><a href="/"><img id="logo" src="/static/hlo.png" alt="Palaa alkuun" title="Palaa alkuun"
             onmouseover="this.src='/static/hlo1.png';" 
             onmouseout="this.src='/static/hlo.png';"/></a>
        Taapeli henkilötietodemo</h1>
    {% endblock %}
  </body>
</html>