{# _myapp/templates/table1.html_ #}
{% extends "layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<br><br>
	<div ng-app="myApp" ng-controller="compareCtrl">
	<table><tr><td>

<h2>Person data</h2>
<section id="lista">
<h2>Names</h2>
<table>
    <tr>
    	<th ng-repeat="x in n_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="name in names">
		<td class="id">{a name.uniq_id a}</td>
		<td>{a name.priv a}</td>
		<td>{a name.gender a}</td>
		<td>{a name.firstname a}</td>
		<td>{a name.suffix a}</td>
		<td>{a name.surname a}</td>
	</tr>
</table>

<p>&nbsp;</p>

<h2>Events</h2>
<table>
    <tr>
    	<th ng-repeat="x in e_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="event in events | orderBy: 'type'">
		<td class="id">{a event.uniq_id a}</td>
		<td>{a event.type a}</td>
		<td>{a event.date | date:'dd.MM.yyyy' a}</td>
		<td>{a event.location.substr(0,event.location.length-2) a}</td>
		<td>{a event.description a}</td>
	</tr>
</table>

<br>
<br>

<h2>URLs</h2>
<table>
    <tr>
    	<th ng-repeat="x in u_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="url in urls">
		<td>{a url.priv a}</td>
		<td>{a url.description a}</td>
		<td>{a url.href a}</td>
	</tr>
</table>
</section>

</td><td>

<h2>Person data</h2>
<section id="lista">
<table>
    <h2>Names</h2>
    <tr>
    	<th ng-repeat="x in n_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="name in names2">
		<td class="id">{a name.uniq_id a}</td>
		<td>{a name.priv a}</td>
		<td>{a name.gender a}</td>
		<td>{a name.firstname a}</td>
		<td>{a name.suffix a}</td>
		<td>{a name.surname a}</td>
	</tr>
</table>

<p>&nbsp;</p>

<h2>Events</h2>
<table>
    <tr>
    	<th ng-repeat="x in e_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="event in events2 | orderBy: 'type'">
		<td class="id">{a event.uniq_id a}</td>
		<td>{a event.type a}</td>
		<td>{a event.date | date:'dd.MM.yyyy' a}</td>
		<td>{a event.location.substr(0, event.location.length-2) a}</td>
		<td>{a event.description a}</td>
	</tr>
</table>

<br>
<br>

<h2>URLs</h2>
<table>
    <tr>
    	<th ng-repeat="x in u_columns">{a x.column a}</th>
    </tr>

	<tr ng-repeat="url in urls2">
		<td>{a url.priv a}</td>
		<td>{a url.description a}</td>
		<td>{a url.href a}</td>
	</tr>
</table>
</section>

</td></tr></table>
</div>
<br>
<br>

<script>
var app = angular.module('myApp', []).controller('compareCtrl', function($scope) {
	$scope.n_columns = [
		{column:'uniq_id'}, {column:'priv'}, {column:'gender'},
		{column:'firstname'}, {column:'suffix'}, {column:'surname'}
	];
    $scope.names = [
	{% for pname in person.names %}
        {uniq_id:'{{person.uniq_id}}',priv:'{{person.priv}}',gender:'{{person.gender}}',
        firstname:'{{pname.firstname}}',suffix:'{{pname.suffix}}',surname:'{{pname.surname}}'},
    {% endfor %}
    ];
    $scope.names2 = [
	{% for pname in person2.names %}
        {uniq_id:'{{person2.uniq_id}}',priv:'{{person2.priv}}',gender:'{{person2.gender}}',
        firstname:'{{pname.firstname}}',suffix:'{{pname.suffix}}',surname:'{{pname.surname}}'},
    {% endfor %}
    ];
	$scope.e_columns = [
		{column:'uniq_id'}, {column:'type'}, {column:'date'},
		{column:'place'}, {column:'description'}
	];
    $scope.events = [
	{% for event in events %}
        {uniq_id:'{{event.uniq_id}}',type:'{{event.type}}',
        {% if event.date %}date:'{{event.date}}',
        {% elif event.daterange %}date:'{{event.daterange}}',
        {% else %}date:'-',
        {% endif %}
		location:'{% for loc in event.location %}{{loc}} * {% endfor %}',
        description:'{{event.description}}'},
    {% endfor %}
    ];
    $scope.events2 = [
	{% for event in events2 %}
        {uniq_id:'{{event.uniq_id}}',type:'{{event.type}}',
        {% if event.date %}date:'{{event.date}}',
        {% elif event.daterange %}date:'{{event.daterange}}',
        {% else %}date:'-',
        {% endif %}
		location:'{% for loc in event.location %}{{loc}} * {% endfor %}',
        description:'{{event.description}}'},
    {% endfor %}
    ];
	$scope.u_columns = [
		{column:'priv'}, {column:'description'}, {column:'href'}
	];
    $scope.urls = [
	{% for url in person.urls %}
        {priv:'{{url.priv}}',description:'{{url.description}}',
        href:'{{url.href}}'},
    {% endfor %}
    ];
    $scope.urls2 = [
	{% for url in person2.urls %}
        {priv:'{{url.priv}}',description:'{{url.description}}',
        href:'{{url.href}}'},
    {% endfor %}
    ];
});

app.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{a');
  $interpolateProvider.endSymbol('a}');
}]);
</script>

{% endblock %}
