{# _myapp/templates/person.html_ #}
{% extends "layout.html" %}
{% block title %}Henkilön tiedot{% endblock %}
{% block body %}
{{ super() }}

{% for p in persons %}
    <h2>Henkilö</h2>
    <ol id="itemlist">
        <li class="itemrow">
                <div class="col1">Tunniste</div>
                <div class="col2">{{p.uniq_id}}</div>
        </li>
        <li class="itemrow">
                <div class="col1">Nimi</div>
                <div class="col2">{{p.names[0].firstname}} <b>{{p.names[0].surname}}</b></div>
        </li>
        <li class="itemrow">
                <div class="col1">Referenssinimi</div>
                <div class="col2">{{p.names[0].refname}}</div>
        </li>
     </ol>
    {% if p.events %}
    <h4>Tapahtumat</h4>
    <ol class="num">
        {% for e in p.events %}
        <li><div class="itemrow">
                <div class="col1">Tunniste<br />tyyppi<br />aika</div>
                <div class="col1"><span class="id">{{e.uniq_id}}</span><br />{{e.type}} 
                    <br /><span style="font-size:80%; font-style: italic">{{e.date}}</span>
            </div>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endfor %}
    <p>&rtrif; <a href="javascript:history.back()">Palaa takaisin</a></p>

{% endblock %}
