{# _myapp/templates/lista2.html_ #}
{% extends "layout.html" %}
{% block title %}Referenssinimet kannasta{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

{% set sp = {"M": "mies", "N": "nainen", "U": "?"} %}
{% set tp = {"undef":" ", "fname":"etunimi", "lname":"sukunimi", "patro":"patronyymi", 
             "place":"paikka", "occu":"ammatti"} %}
{% set rt = {'REFFIRST':'etunimi', 'REFLAST':'sukunimi', 'REFPATRO':'patron.'} %}
<h2>Referenssinimet</h2>
<p>Mukana {{names|count}} nimeä</p>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ol  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}'>{{ message }}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endwith %}
<section id="lista">
<table style="width:500pt">
    <tr><th>oid</th>
        <th>nimi</th>
        <th class="center">viittaus</th>
        <th>ref.nimi</th>
        <th>sukupuoli</th>
        <th>lähde</th>
    </tr>
    {% for r in names %}
        <tr>
            <td class="id">{{r.oid}}</td>
            <td>{% if not r.refname %}<b>{% endif %}{{r.name}}
                {% if not r.refname %}</b>{% endif %}</td>
            <td class="typevar">{{rt[r.reftype]}}</td>
            <td>{{r.refname}}</td>
            <td class="center">{% if r.gender %}{{sp[r.gender]}}{% endif %}</td>
            <td>{% if r.source %}{{r.source}}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
</section>
{% endblock %}
