{# /scene/templates/scene/details_batch.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('Material Details') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<!-- script src="/static/infobox.js"></script -->
<style>
#sc-startdiv div { position:relative }
.sc-startbox, .sc-startbox2 {
    display: inline-block;
    vertical-align:top;
    margin: 0 1em 1em 0;
    padding: 1em; 
    background-color: bisque;
    width: 280px;
    min-height: 300px;
    border-radius: 15px;
    font-size: 10pt;
}
.sc-startbox h2, .sc-startbox2 h2 {
    margin: .3em;
}
.sc-startbox2 {
    width: 603px;
}
.right {
    text-align: right;
    padding-right: 1ex;
}
.sc-startbox table { width: 100%; }
.sc-startbox table, .sc-startbox tr, .sc-startbox th,
.sc-startbox2 table, .sc-startbox2 tr, .sc-startbox2 th {
    border: 1px solid silver;
    border-collapse: collapse;
    background-color: ivory; 
    padding: 2px;
    text-align: left;
}
tr:hover {background-color: #f5f5f5}
.filename {overflow-wrap: anywhere;}
#description {
    width: 245px;
    height: 4em;
}
#msg {
    color: blueviolet;
    font-weight: normal;
    padding-left: 4em;
}
#actions {padding-bottom: 2pt;}
#actions a { color: blue; }
</style>

<script>
function doconfirm( command, title, caller, message ) { // used in commands.html
    if (confirm(title)) {
        document.location.href = command;
        document.getElementById(caller).append("{{ _(' wait...') }}");
    }
}
</script>

<div id="startdiv">
	<h1>{{ _('Material Details') }}</h1>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(7) }}
<div id="Material"  class="content">
    
    <div id="summaryarea">
        <h2>{{ _('Statistics for Material %(id)s', id=batch.id) }}</h2>
    
    {% include "flash_messages.html" %}
    
        <div class="flex_container">
            
            <div class="sc-startbox"><!-- div class="startbox" style="width:auto" -->
                <h2 class="center">{{ _("General")|title() }}</h2>
                <table>
                    <tr>
                        <th title="Db version {{batch.db_schema}}">{{ _("Batch") }}, {{_('Researcher')|lower}}</th>
                        <td>{{ batch.id }}
                            <a href="/audit/profile/{{batch.user}}"
                             style="text-decoration: underline;"
                             title="{{ _('User Profile') }}">{{batch.user}}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _("Material type") }}</th>
                        <td>{% set m_code = batch.material_type | lower | replace(" ","") %}
                            <span class="typedesc matr_{{m_code}}" style="font-size:110%">{{ _(batch.material_type) }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _("Status") }}</th>
                        <td><b>{{ _(batch.state) }}</b></td>
                    </tr>
                    <tr>
                        <th>{{ _("Changed") }} </th>
                        <td>{{ _(batch.timestamp_str()) }}</td>
                    </tr>
                    <tr>
                        <th>{{ _("Gramps file") }}</th>
                        <td class="filename">{{ batch.xmlname }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">{{ _("Description") }}<br>
                            <form>
                                <input type="hidden" name="batch_id" value="{{ batch.id }}">
                                <textarea id="description" name="description">{{ batch.description }}</textarea>
                                <button hx-post="update_description" hx-target="#msg">{{ _("Save") }}</button>
                                <span id="msg"></span>
                            </form>
                        </th>
                    </tr>
                </table>
            {% if config.SCRIPTING_TOOL_ENABLED and user_context.is_auditor %}
                <p><a href="/scripting/{{ batch.id }}">{{ _("Scripting tool") }}</a></p>
            {% endif %}   
            {% if batch.db_schema %}   
                <div style="font-size:6pt; text-align:end; color:gray;">Db version {{batch.db_schema}}</div>
            {% endif %}   
            </div>
            
            <div class="sc-startbox">
                <h2 class="center">{{ _("Object Statistics") }}</h2>
                <table>
                    <tr>
                        <th>{{ _("Type") }}</th>
                        <th>{{ _("Count") }}</th>
                        <th colspan="2">{{ _("Source citations") }}</th>
                    <tr>
            {% for label,do_citations,(c_obj,c_ref) in object_stats %}
                    <tr><!-- {{label}}, {{do_citations}}, ({{c_obj}},{{c_ref}}) -->
                        <td>{{ label|title }}</td>
                        <td class="right">{{ c_obj }}</td>
               {% if do_citations %}
                        <td class="right">{{ c_ref }}</td>
                        <td class="right">
                        {% if c_obj %}{{ (100 * c_ref/c_obj)|int }}% {% endif %}
                        </td>
               {% else %}
                        <td colspan="2"> </td>
               {% endif %}
            {% endfor %}
                </table>
            </div>
            
            <div class="sc-startbox">
                <h2 class="center">{{ _("Event Statistics") }}</h2>
                <table>
                    <tr>
                        <th>{{ _("Type") }}</th>
                        <th>{{ _("Count") }}</th>
                        <th colspan="2">{{ _("Source citations") }}</th>
                    </tr>
            {% for label,(c_obj,c_ref,pct) in event_stats %}
                    <tr>
                        <td>{{ label }}</td>
                        <td class="right">{{ c_obj }}</td>
                        <td class="right">{{ c_ref }}</td>
                        <td class="right">{{ pct }}%</td>
                    </tr>
            {% endfor %}
                </table>
            </div>
         </div>

        <form>
            <input type="hidden" name="uniq_id" value="{{ batch.uniq_id }}">
        </form>
        <div id="comments_div" hx-get="/scene/hx-comment/comments_header" hx-trigger="load"></div> 
            
        <div id="actions">
            <h3>{{ _("Actions") }}</h3>
            <div hx-trigger="load"
                hx-get="/gramps/commands/{{batch.id}}?caller=scene"> 
            </div>
        </div>
    </div>

<!-- Startdiv ends -->
</div>



<!-- </div> {# content #} -->
{% endblock %}
