{# /scene/templates/scene/comments.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('Material Details') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>
<style>
.right {
    text-align: right;
    padding-right: 1ex;
}
.person_name {
    font-style: italic;
}
.IndividualList, .IndividualList td, .IndividualList th {
    padding: 0.2em 1em;
}
</style>

<div id="startdiv">
	<h1>{{ _('Material Details') }}</h1>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(7) }}
<div id="Material"  class="content">
    
    <div id="summaryarea">
        <h2>{{ _('Statistics for Common Materials', id=user_context.material.m_type) }}</h2>
 
{% include "flash_messages.html" %}

        <p><b>{{ _('Materials of type') }}:</b>
           <span class="typedesc" style="font-size:110%">
               {{ _(user_context.material.m_type )}}
           </span>
        </p>

        <div>
            <table class="IndividualList">
                <tr>
                    <th>{{ _('User') }}</th>
                    <th>{{ _('Batch')}}</th>
                    <th>{{ _('File') }}, {{ _('Description')|lower }}</i></th>
                    <th>{{ _('Status') }}</th>
                </tr>
       {% for root in materials %}
                <tr>
                    <td>
                        <span class="person_name">{{root.user.name}}</span><br>
                        {{root.user.username}}
                    </td>
                    <td>
            {% if current_user.is_authenticated and (current_user.has_role('audit') ) %}
                        <form method="post" action="/scene/material/batch">
                            <input type="hidden" name="material_type" value="{{root.material_type}}">
                            <input type="hidden" name="state" value="{{root.state}}">
                            <button type="submit" name="batch_id" value="{{ root.id }}"
                                    class="Auditor">{{ root.id }}</button>
                        </form>
            {% else %}
                        {{root.id}}<br>
            {% endif -%}
                        <span id="changetime">{{ _(root.timestamp_str()) }}</span>
                    </td>
                    <td>{{ root.file.rsplit("/", 1) | last }}
            {% if root.description %}
                        <br><i>{{root.description}}</i>
            {% endif %}
                    </td>
                    <td>{{ _(root.state) }}</td>
                </tr>
       {% endfor %}
            </table>
         </div>

<!-- Startdiv ends -->
</div>

<!-- </div> {# content #} -->
{% endblock %}
