{# _scene/event_baptism.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _("Event details") }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}

<div id="startdiv">
    <h2>{{ _("Event details") }}</h2>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(12) }}
    <div class="content" id="IndividualDetail">

        <h3 style="position:sticky; top:0;">
        {% if event.description %}
            <i>{{event.type|transl('evt')|title}}:</i> {{event.description}}
        {% else %}
            <i>{{event.type|transl('evt')|title}}</i>
        {% endif %}
        </h3>
 
        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="ColumnValue">
                        {{macro.all_obj_ids(event)}} 
                    </td>
{#                  {% if event.citation_ref %}
                    <td class="ColumnValue" rowspan="2"><small>{{ _("Source") }}:
                        {% for cr in event.citation_ref %}
                            <a href="#sref{{obj[cr].mark}}">{{obj[cr].mark}}</a>
                        {% endfor %}</small>
                    </td>{% endif %}
#}              </tr>

                {% if event.description %}<tr>
                    <td class="ColumnAttribute">{{ _("Description") }}</td>
                    <td class="ColumnValue">{{ event.description }}</td>
                </tr>{% endif %}
                {% if event.dates %}<tr>
                    <td class="ColumnAttribute">{{ _("Date") }}</td>
                    <td class="ColumnValue">{{ event.dates }}</td>
                </tr>{% endif %}
                {% if event.place %}<tr>
                    <td class="ColumnAttribute">{{ _("Place") }}</td>
                    <td class="ColumnValue">
                        <a href="/scene/location/uuid={{event.place.uuid}}" class="inlink">
                            {{event.place.pname}}</a>
                    </td>
                </tr>{% endif %}

            </table>
        </div>

        <div class="subsection" id="persons">
            <h4>{{ _("Participants") }}</h4>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">{{ _("Role") }}</th>
                        <th class="ColumnSources">{{ _("Member") }}</th>
                    </tr>
                </thead>
                <tbody>
	{% for p in participants %}
			<tr>
	    		<td>{% if p.role == "Primary" %}
	    		    <span class="myself">&nbsp;{{ _('Self') }}&nbsp;</span>
	    		{% else %}
	    		    {{p.role|transl('role')}}
	    		{% endif %}</td>
                <td>{% if p.rel_type %} {{ macro.family_name(p) }}
                    {% else %} {{ macro.person_anon(p, None) }}
                    {% endif %}
                </td>
			</tr>
	{% endfor %}
</table>
</section>
{% endblock %}
