{# _scene/event_baptism.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _("Event details") }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}

<div id="startdiv">
    <h2>{{ _("Event details") }}</h2>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(12) }}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul  class='flashes'>
        {% for message in messages %}
          <li class='flash_{{category}}}'>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
{% endwith %} 

<div id="vue_app" :args="{uuid:'{{uuid}}'}">
    <div class="content" id="IndividualDetail">
    <div id="query_uuid" style="display:none">{{uuid}}</div>

        <h3 style="position:sticky; top:0;">
            <span v-if="description"><i>${event.type}:</i> ${event.description}</span>
            <span v-else><i>${event.type}</i> </span>
        </h3>

        <div id="summaryarea">
            <table v-if="event">
                <tr>
                    <td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="ColumnValue">
                        todo: {macro.all_obj_ids(event)}
                    </td>
                </tr>
                <tr v-if="event.description">
                    <td class="ColumnAttribute">{{ _("Description") }}</td>
                    <td class="ColumnValue">${ event.description }</td>
                </tr>
                <tr v-if="event.dates">
                    <td class="ColumnAttribute">{{ _("Date") }}</td>
                    <td class="ColumnValue">${ event.dates }</td>
                </tr>
                <tr v-if="event.place">
                    <td class="ColumnAttribute">{{ _("Place") }}</td>
                    <td class="ColumnValue">
                        <a href="/scene/location/" :uuid="event.place.uuid" class="inlink">
                            ${event.place.pname}</a>
                    </td>
                </tr>
            </table>
        </div><!-- div#summaryarea -->

        <div class="subsection" id="persons">
            <h4>{{ _("Participants") }}</h4>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">{{ _("Role") }}</th>
                        <th class="ColumnSources">{{ _("Member") }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="p in participants" :key="p.uuid">
                        <td v-if="p.role">${p.role}</td>
                        <td v-else><span class="myself">&nbsp;{{myself}}&nbsp;</span>
                        </td>
                        <td v-if="p.rel_type">${ macro.family_name(p) }</td>
                        <td v-else> ${ macro.person_anon(p, None) }</td>
        			</tr>
            </table>

        </div><!-- div#persons -->
    </div><!-- div.content -->
</div><!-- div.vue_app -->

<script>

/* --------------------------------- Vue ----------------------------------- */

var vm = new Vue({
    el: '#vue_app',
    delimiters: ['${', '}'],
    data: {
    	args: {},
        message: 'Not yet run',
        uuid: '?',
        event: null,
        referees: [],
        translations: {}
    },
    created: function () {
        // `this` points to the vm instance
        console.log("uuid is: "+this.uuid);
    },
    computed: {},
    methods: {
        beforeMount(){
            this.getEvent(uuid);
        },
        datesStr(dates) {
            // Show DateRange as full text.
            if (!dates) return '';
            return dates['as_str'];
        },

        getEvent(q_uuid) {
            // Asks for data for all families of given person
            console.log("event "+q_uuid);
            axios.post("/scene/json/event", {uuid:q_uuid})
            .then (function(rsp) {
                vm.referees = [];
                vm.status = "Status code: "+String(rsp.status);
                console.log("stk result: "+rsp.data.statusText);
                vm.message=rsp.data.statusText;
                vm.event=rsp.data.event;
                vm.translations=rsp.data.translations;
                console.log("Got",vm.referees.length, "referees")
            }) // axios then
            .catch(function (error) {
                console.log('Axios error:',error);
                vm.message = error;
            }) // axios catch
        } // getFamilies
    } // methods
}) // Vue vm
</script>
{% endblock %}

