{# /scene/templates/scene/families.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('List of families') }} (scenefamilies){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>
<style>
label { display: inline-block; width: 66pt; }
.search-button {
	width: 25pt;
	height: 25pt;
	border-radius: 7pt;
	border: 1pt solid darkgray;
}

div.man-man, div.wife-wife { 
    border-left: solid 3px blue; 
    padding-left: 3px;
}
div.man-wife, div.wife-man {
    padding-left: 6px;
}
div.wife-man a.inlink, div.man-wife a.inlink {
    color:darkgray;
}
th, td {width:30%;}
th span.man-man, th span.wife-wife { color: #020299;}
</style>

{% set cnt = families|count %}
{% set name1 = user_context.first|replace("#", " ") %}

<div id="startdiv">
	<h1>{{ _('List of Families') }}</h1>
    <div>{{ macro.show_use_case() }}</div>
</div>

{{ macro.menu(3) }}
    <div class="content" id="Individuals">

        <div id="summaryarea">
            <div class="flex-container">
               <div>
                   <p>{{ _('Displaying %(num)s distinct families', num=cnt) }}
	{% if user_context.at_start() %}
	                   {{ _('from begin') }}
	{% else %}         {{ _('starting <tt>%(name)s</tt>', name=name1) }}
	{% endif %}
	{% if user_context.order == 'man' -%}
					   {{ _("ordered by man's name") }}.
	{% else %}         {{ _("ordered by wife's name") }}.
	{% endif %}
                   </p>
	           </div>
	           <div class="SearchBox">
	               <form action="/scene/families">
	                 <fieldset>
	                    <input type="hidden" name="o" value="father" >
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }} {{ _('Father') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value="&gt;" class="search-button">
	                 </fieldset>
	               </form>

	               <form action="/scene/families">
	                 <fieldset>
	                    <input type="hidden" name="o" value="mother" >
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }} {{ _('Mother') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value="&gt;" class="search-button">
	                 </fieldset>
	               </form>
	           </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul  class='flashes'>
                {% for category, message in messages %}
                  <li class='flash_{{category}}'>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>

{% if cnt %}
    {% set last = families|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
				<li class="title">
	{% if user_context.order == "man" %}▶{% endif %}
					{{ _("Father") }}</li>
				{{ macro.buttons_bw(user_context, "/scene/families?o=father") }}
				{{ macro.buttons_fw(user_context, "/scene/families?o=father") }}

				<li class="title">
	{% if user_context.order == "wife" %}▶{% endif %}
					{{ _("Mother") }}</li>
				{{ macro.buttons_bw(user_context, "/scene/families?o=mother") }}
				{{ macro.buttons_fw(user_context, "/scene/families?o=mother") }}
				<li class="title">&nbsp;</li>
            </ul>
        </div>
{% endif %}

    <table class="IndividualList">
        <tr><th>{{ _("Family") }}</th>
            <th><span class="man-{{user_context.order}}">{{ _("Man") }}</span> / 
               <span class="wife-{{user_context.order}}">{{ _("Wife") }}</span>
            </th>
            <th>{{ _("Children") }}</th>
        </tr>

    {% for f in families %}
        <tr>
            <td class="ColumnFamily">
                <a href="/scene/family?uuid={{f.uuid}}" class="inlink"
                   title="{{ _('Go to family page') }}">&rarr; {{f.rel_type|transl('marr')}}</a>
        {% if f.marriage_place %} {{f.marriage_place}} {% endif -%}
        {% if f.dates %} {{f.dates}} {% endif -%}
                <br><span class="id" title="{{ _('Original ID') }}">{{f.id}}</span> 
                <span class="idno" title="{{ _('Key') }}">{{f.uniq_id}}</span>
                </td>

            <td class="ColumnSpouse">
                <div class="man-{{user_context.order}}">&#9794;
        {% if f.father.uuid %}
				{{ macro.person_names_anon(f.father, f.father.names[0:1]) }}
        {% endif -%}
                </div>
                <div class="wife-{{user_context.order}}">&#9792;
        {% if f.mother.uuid %}
				{{ macro.person_names_anon(f.mother, f.mother.names[0:1]) }}
        {% endif -%}
                </div>
            </td>

            <td><small>
        {% if f.no_of_children %}
            {% if f.num_hidden_children > 0 %}
                {{ ngettext('%(num)d child', '%(num)d children', f.no_of_children) }}
                ({{ ngettext('hidden', '%(num)d hidden', f.num_hidden_children) }}):
            {% else %}
                {{ ngettext('%(num)d child', '%(num)d children', f.no_of_children) }}:
            {% endif %}
        {% endif %}
        {% for c in f.children %}<br><span title="☆ ~{{c.birth_low}}">
                 {{ macro.person_name_by_sortname(c) }}</span>
        {% endfor %}</small></td>
        </tr>
    {% endfor %}

	{% if cnt == 0 %}
		<tr><td colspan="4">
				<p>{{ _('No family found with search keys starting "%(name)s"', name=name1) }}.</p>
				{% if name1 %}<p>&nbsp;&#9656; <a href="?fw=%20" 
					title="{{ _('first page') }}">{{ _("Go to the first person") }}</a></p>
				{% endif %}
			</td>
		</tr>
	{% elif user_context.at_end() %}
		<tr><td colspan="4" id="lastitem_badge"><i>{{ _('The last item found') }}</i>
			</td>
		</tr>
	{% endif %}
    </table>

	</div>

{% endblock %}
