{# /scene/templates/scene/families.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of families') }} (scenefamilies){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>
<style>
div.wife { padding-left: 1.2em;}
</style>
{% set cnt = families|count %}
{% set next = user_context.scope %}

<div id="startdiv">
	<h2>{{ _('List of Families') }}</h2>
    <div>{{ macro.show_use_case() }}</div>
</div>

{{ macro.menu(3) }}
    <div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
               <div>
                   <p>{{ _('Displaying %(num)s distinct families', num=cnt) }}
                       {% if next[0] > ' ' %}{{ _('starting <tt>%(name)s</tt>', name=next[0]) }},
                       {% else %}{{ _('from begin') }}.
                       {% endif %}
                   </p>
	           </div>
	           <div>
	               <form action="/scene/families">
	                 <fieldset>
	                    <input type="hidden" name="o" value="father" >
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }} {{ _('Father') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>

	               <form action="/scene/families">
	                 <fieldset>
	                    <input type="hidden" name="o" value="mother" >
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }} {{ _('Mother') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>
	           </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul  class='flashes'>
                {% for category, message in messages %}
                  <li class='flash_{{category}}'>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>

{% if cnt %}
        {% set last = families|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/families?o=father&fw=%20"
                        title="{{ _("Father") }} {{ _('first page') }}" 
                        class="navlink">{{ _("Father") }}: |&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu"
                          style="cursor:not-allowed"> &lt; </span></li>
             	{% if next[1].startswith('>') %}
	                <li><span class="navlink" title="{{ _('no next page') }}"
	                          style="cursor:not-allowed"> &gt; </span></li>
	            {% else %}
	                <li><a href="/scene/families?o=father&{{ {'fw':next[1]} | urlencode }}"
	                	title="seuraava sivu" class="navlink"> &gt; </a></li>
            	{% endif %}
 
                <li>{% if last %}
                     <a href="/scene/families?o=mother&fw=%20"
                        title="{{ _("Mother") }} {{ _('first page') }}"
                        class="navlink">{{ _("Mother") }}: |&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu"
                          style="cursor:not-allowed"> &lt; </span></li>
            	{% if next[1].startswith('>') %}
	                <li><span class="navlink" title="{{ _('no next page') }}"
	                          style="cursor:not-allowed"> &gt; </span></li>
	            {% else %}
	                <li><a href="/scene/families?o=mother&{{ {'fw':next[1]} | urlencode }}"
	                	title="seuraava sivu" class="navlink"> &gt; </a></li>
            	{% endif %}
            </ul>
        </div>
{% endif %}

{% if cnt %}
    <table class="IndividualList">
        <tr><th>{{ _("family") }}</th>
            <th>{{ _("Man") }} / {{ _("Wife") }}</th>
            <th>{{ _("Children") }}</th>
        </tr>
    {% for f in families %}
        <tr>
            <td><a href="/scene/family?uuid={{f.uuid}}" class="inlink"
                   title="{{ _('Go to family page') }}">{{f.rel_type|transl('marr')}}</a>
                {% if f.marriage_place %}{{f.marriage_place}}{% endif %}
                {% if f.dates %}{{f.dates}}{% endif %}
                <br><span class="id" title="{{ _('Original ID') }}">{{f.id}}</span> 
                <span class="idno" title="{{ _('Key') }}">{{f.uniq_id}}</span>
                </td>

            <td class="ColumnSpouse">
                <div class="man">&#9794;
            {% if f.father.uuid %}
				{{ macro.person_names_anon(f.father, f.father.names[0:1]) }}
            {% endif -%}
                </div>
                <div class="wife">&#9792;
            {% if f.mother.uuid %}
				{{ macro.person_names_anon(f.mother, f.mother.names[0:1]) }}
            {% endif -%}
                </div>
            </td>

            <td><small>{% if f.no_of_children %}
                {% if f.num_hidden_children > 0 %}
                {{ ngettext('%(num)d child', '%(num)d children', f.no_of_children) }}
                ({{ ngettext('hidden', '%(num)d hidden', f.num_hidden_children) }}):
                {% else %}
                {{ ngettext('%(num)d child', '%(num)d children', f.no_of_children) }}:
                {% endif %}
            {% endif %}
            {% for c in f.children %}<br>
                 {{ macro.person_name_by_sortname(c) }}
            {% endfor %}</small></td>
        </tr>
    {% endfor %}

    {% if next[1].startswith('>') %}
        <tr><td colspan="4" id="lastitem_badge">
                <i>{{ _('The last item found') }}</i>
            </td>
        </tr>
    {% endif %}
    </table>

    <div id="alphanav">{% set alpha = "¤" %}
        <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
            <li>{% if last %}
                 <a href="/scene/families?o=father&fw=%20" title="{{ _("Father") }} {{ _('first page') }}" class="navlink">{{ _("Father") }}: |&lt;</a>
            {% else %}<span class="navlink">|&lt;</span>
            {% endif %}</li>
            <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>
            {% if next[1].startswith('>') %}
                <li><span class="navlink" title="{{ _('no next page') }}" style="cursor:not-allowed"> &gt; </span></li>
            {% else %}
                <li><a href="/scene/families?o=father&{{ {'fw':next[1]} | urlencode }}"
                    title="seuraava sivu" class="navlink"> &gt; </a></li>
            {% endif %}

            <li>{% if last %}
                 <a href="/scene/families?o=mother&fw=%20" title="{{ _("Mother") }} {{ _('first page') }}" class="navlink">{{ _("Mother") }}: |&lt;</a>
            {% else %}<span class="navlink">|&lt;</span>
            {% endif %}</li>
            <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>
            {% if next[1].startswith('>') %}
                <li><span class="navlink" title="{{ _('no next page') }}" style="cursor:not-allowed"> &gt; </span></li>
            {% else %}
                <li><a href="/scene/families?o=mother&{{ {'fw':next[1]} | urlencode }}"
                    title="seuraava sivu" class="navlink"> &gt; </a></li>
            {% endif %}
        </ul>
    </div>

{% else %}
    <div class="NotFound">
        <p>{{ _('No one found with search keys starting "%(name)s"', name=next[0]) }}.</p>
        {% if next[0] %}<p>&nbsp;&#9656; <a href="?fw=%20" 
            title="{{ _('first page') }}">{{ _("Go to the first person") }}</a></p>
        {% endif %}
    </div>
{% endif %}

</div>

{% endblock %}
