{# _templates/scene/person_pg.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _("Family details") }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
<style>
u { color: DarkKhaki; text-decoration: none; }
</style>

<div id="startdiv">
    <h2>{{ _("Family details") }}</h2>
    <!-- owner {{family.owner}}, next {{next}}, filter {{session['owner_filter']}}</small> -->
</div>

{{ macro.menu(menuno) }}
    <div class="content" id="IndividualDetail">

        <h3 style="position:sticky; top:0;">{{ _("Family") }} {{ family.uniq_id }}</h3>
        <p><b>{{ _("Type") }}</b> {{ family.type|transl('marr') }}</p>
        <p><b>{{ _("Marriage place") }}</b> {{ family.marriage_place }}</p>
        <p><b>{{ _("Marriage dates") }}</b> {{ family.marriage_date }}</p>
        <p><b>{{ _("Father") }}</b>
        	{% if family.father %}
                <a href="/scene/person={{family.father.uniq_id}}">
                {{family.father.names[0].firstname}} 
                <i>{{family.father.names[0].suffix}}</i>
 				{% if family.father.names[0].prefix %}
 				{{family.father.names[0].prefix}}{% endif %}
 				<b>{{family.father.names[0].surname}}</b></a>
 				s. {{ family.father.dates }}</h3>
            {% else %}<small>{{ _('unknown') }}</small>{% endif %}
    
        <p><b>{{ _("Mother") }}</b>
        	{% if family.mother %}
                <a href="/scene/person={{family.mother.uniq_id}}">
                {{family.mother.names[0].firstname}} 
                <i>{{family.mother.names[0].suffix}}</i>
  				{% if family.mother.names[0].prefix %}
 				{{family.mother.names[0].prefix}}{% endif %}
                <b>{{family.mother.names[0].surname}}</b></a>
 				s. {{ family.mother.dates }}</h3>
            {% else %}<small>{{ _('unknown') }}</small>{% endif %}
            
        {% if family.children %} <br><br><b>{{ _("Children") }}</b><br>     
            <table>
        	{% for c in family.children %}
                <tr><td><a href="/scene/person={{c.uniq_id}}">
            		{{c.names[0].firstname}}
            		<i>{{c.names[0].suffix}}</i>
            		{% if c.names[0].prefix %}
		 				{{c.names[0].prefix}}
	 				{% endif %}
	 				<b>{{c.names[0].surname}}</b>
	 				s. {{ c.dates }}</h3>
	 				{{ "," if not loop.last }}</a></td></tr>
            {% endfor %}
            </table><br>
        {% endif %}

        {% if family.notes %}<br><br><b>{{ _("Notes") }}</b><br>
            <table>
            {% for n in family.notes %}
 				<tr>{% if n.text %}<td>{{ n.text }}</p></td>{% endif %}
 				{% if n.url %}<td><a href="{{ n.url }}">{{ n.url }}</a></td>{% endif %}</tr>
            {% endfor %}
            </table><br>
        {% endif %}
        
        {% if family.sources %}<br><br><b>{{ _("Sources") }}</b><br>
            <table>
            {% for data in family.sources %}
         		<tr><td>{{ data[0] }}: 
         		<a href="/scene/source={{ data[1] }}" class="inlink">{{ data[2] }}</a>,
         		{{ _("Page") }}: {{ data[3] }}</td></tr>
            {% endfor %}
            </table><br>
		{% endif %}
        
        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="ColumnValue"><span class="id">tuntematon</span> / <tt>{{family.uniq_id}}</tt></td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}

