{# /scene/templates/scene/families.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of families') }} (scenefamilies){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>

{% set cnt = families|count %}

<h2>{{ _('List of Families') }}</h2>
<!-- 
<small>{{cnt}} persons, user {{user}}, filter {{session['owner_filter']}}, next {{next}}</small>
 -->

{{ macro.menu(3) }}
    <div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
               <div id="description">
                    <p>{{ _('Displaying %(num)s families', num=cnt) }}.</p>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul  class='flashes'>
                {% for category, message in messages %}
                  <li class='flash_{{category}}'>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>

    {% if cnt %}
        {% set last = families|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/families" title="{{ _('first page') }}" class="navlink">|&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>
                <li><a href="/scene/families?f={{last.uniq_id}}" title="seuraava sivu" class="navlink"> &gt; </a></li>
            </ul>
        </div>
    {% endif %}

<section id="lista">

<table id="families">
    <tr><th>{{ _("family") }}</th>
        <th>{{ _("Father") }}</th>
        <th>{{ _("Mother") }}</th>
        <th>{{ _("Children") }}</th>
    </tr>
{% if cnt %}
    {% for f in families %}
        <tr>
            <td><span title="{{ _('Original ID') }}">{{f.id}}</span> {{f.type}} 
                <a href="#" class="idno" title="{{ _('Key') }}">{{f.uniq_id}}</a>
                </td>
            <td>&#9794; {% if f.father.uniq_id %}<a href="/scene/person={{f.father.uniq_id}}">
                {{f.father.names[0].firstname}} 
                <i>{{f.father.names[0].suffix}}</i>
                <b>{{f.father.names[0].surname}}</b></a>
            {% else %}<small>{{ _('unknown') }}</small>
            {% endif %}</td>
            <td>&#9792; {% if f.mother.uniq_id %}<a href="/scene/person={{f.mother.uniq_id}}">
                {{f.mother.names[0].firstname}} 
                <i>{{f.mother.names[0].suffix}}</i>
                <b>{{f.mother.names[0].surname}}</b></a>
            {% else %}<small>{{ _('unknown') }}</small>
            {% endif %}</td>
        {% if true %}{# Do not show children names #}
            <td>{% if f.no_of_children %}
                {{ ngettext('%(num)d child', '%(num)d children', f.no_of_children) }}
                {% endif %}</td>
        {% else %}{# To be removed! Better to show marriage dates etc info #}
            <td><small>{% if f.no_of_children %}
                {{ ngettext('%(num)d child', '%(num)d children', f.no_of_children) }}:
            {% endif %}
            {% for c in f.children %}{% set nm = c.sortname.split('#') %}
                <a href="/scene/person={{c.uniq_id}}">{{nm[2]}}&nbsp;<b>{{nm[0]}}</b>&nbsp;<i>{{nm[1]}}</i>{{ "," if not loop.last }}</a>
            {% endfor %}</small></td>
        {% endif %}
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No persons') }}</td></tr>
{% endif %}
</table>
<div>
    {% if cnt %}
        {% set last = families|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/families" title="{{ _('first page') }}" class="navlink">|&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>
                <li><a href="/scene/families?f={{last.uniq_id}}" title="seuraava sivu" class="navlink"> &gt; </a></li>
            </ul>
        </div>
    {% endif %}
</div>

{% endblock %}
