{# _templates/scene/person_pg.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _("Family details") }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
<style>
u { color: DarkKhaki; text-decoration: none; }
</style>

<div id="startdiv">
    <h2>{{ _("Family details") }}</h2>
    <!-- owner {{family.owner}}, next {{next}}, filter {{session['owner_filter']}}</small> -->
</div>

{{ macro.menu(menuno) }}
    <div class="content" id="IndividualDetail">

        <h3 style="position:sticky; top:0;">{{ _("Family") }} {{ family.uniq_id }}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Type") }} {{ family.rel_type }}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Marriage dates") }} {{ family.marriage_date }}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Marriage place") }} {{ family.marriage_place }}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Father") }} {{ family.father}}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Father sortname") }} {{ family.father_sortname}}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Mother") }} {{ family.mother}}</h3>
        <h3 style="position:sticky; top:0;">{{ _("Mother sortname") }} {{ family.mother_sortname}}</h3>

        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="ColumnValue"><span class="id">tuntematon</span> / <tt>{{family.uniq_id}}</tt></td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}

