{# _myapp/templates/k_persons.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of persons') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro %}

{% set cnt = persons | count %}

{% if rule[0] == 'all' %}<h2>{{ _('Persons ordered by') }}</h2>
{% elif rule[0] == 'refname' %}<h2>{{ _('Persons carrying a Name') }} {{ rule[1] }}</h2>
{% else %}<h2>{{ _('Persons') }}</h2>
{% endif %}

<!-- Rule = {{rule}} for {{cnt}} persons, pick {{pick}}, next {{next}} -->

{{ macro.menu(menuno) }}
	<div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
	           <div>
	            <p id="description">{{ _('Displaying %(num)s persons', num=cnt) }}.</p>
	           </div>
	           <div>
	               <form action="/scene/persons_{{rule[0]}}/">
	                 <fieldset>
	                    <input type="hidden" name="c" value="10" >
	                    <label for="f">{{ _('Go to') }}</label>
	                    <input type="text" name="f" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>
	           </div>
            </div>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}
        </div>

    {% if cnt %}
		<div id="alphanav">{% set alpha = "¤" %}
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
			    <li>{% if next['bw'] %}<a href="/scene/persons_{{rule[0]}}/" title="alkuun" class="navlink">|&lt;</a>
			    {% else %}<span class="navlink">|&lt;</span>
			    {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>

            {% for p in persons %}
                {% set ini = p.sortname[0] %}
                {% if loop.changed(ini) %}
                    <li><a href="#{{ini}}" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="/scene/persons_{{rule[0]}}/?f={{next['fw']}}" title="seuraava sivu" class="navlink"> &gt; </a></li>
            </ul>

		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
					<th>{{ _('Person') }}</th>
                    <th>{{ _("Events") }}</th>
				</tr>
			</thead>
			<tbody>

	    {% for p in persons %}
	       {% if pick %}
	           {% if p.owner == pick %}{% set notMine = 0 %}{% else %}{% set notMine = 1 %}{% endif %}
	       {% else %}{% set notMine = 0 %}
	       {% endif %}
	            <tr><td class="ColumnAlpha">
	               {% set ini = p.sortname[0] %}
	               {% if loop.changed(ini) %}
		               {% if ini == "#" %}{% set symbol = '_' %}{% else %}{% set symbol = ini %}{% endif %}
		               <a id="{{symbol}}" name="{{alpha}}" title="{{ _('Back to Top') }}" href="#">{{symbol}}</a>
	               {% endif %}</td>

	                <td class="ColumnPerson"><div>
	                   {% if pick and notMine %}<span class="owner">&nbsp;{{p.owner}}&nbsp;</span>
	                   {% else %}&#9899;{% endif %}
	                   <a href="/scene/person={{p.uniq_id}}"
	                     title="{{ _('see details of person %(id)s', id=p.uniq_id) }}">
		               {{p.names[0].firstname}} 
		               {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
		               {% else %}<i>{{p.names[0].suffix}}</i>{% endif %}</a>

		               {%set eka = 1 %}
		               {% for name in p.names %}
		                  {% if eka == 1 %}{% set eka = 0 %}{% else %}<br><small>
		                      <span class="typedesc">{{name.type|transl('nt')}}</span> 
		                      {{name.firstname}} 
                            {% if name.surname %} <b>{{name.surname}}</b>
                            {% else %}<i>{{name.suffix}}</i>{% endif %}</small>
                          {% endif %}
                       {% endfor %}

                       <br>
                       <a href="/scene/person/{{p.uniq_id}}" class="idno">ID: {{p.uniq_id}} /</a>
                               {# TODO Remove the test link at ']' #}
                       <span class="id" title="{{ _('Original ID') }}">{{p.id}}</span>
                       <span class="refname" title="{{ _('Sorting name') }}">{{p.sortname}}</span>
	                </div></td>

	              <td class="ColumnEvent">
	        {% if p.events is iterable %}<ul>{% for e in p.events|sort(attribute='date') %}
		              <li{% if e.type != "Birth" and e.type != "Death" %} class="minor"{% endif %}>
		                  <i>{{e.type|transl('evt')}} {{e.description}}</i>
		                  {% if e.dates %}{{e.dates}} {% endif %}
		                  {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
		    {% else %}<u>See person {{p.events}}</u></td>
	        {% endif %}
	           </tr>
	    {% endfor %}
				</tr>
            </tbody>
        </table>
	{% else %}
        <table class="IndividualList">
            <tbody>
	        <tr><td>{{ _('No one found with search keys') }}</td></tr>
            </tbody>
        </table>
	{% endif %}
    </div>
{% endblock %}
