{# _myapp/templates/list_persons.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of persons') }} (scene/list_persons){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}

{% set cnt = persons|count %}
{% set user = owner_filter.user %}
{% set next = owner_filter.next_person %}
{% set owners = owner_filter.filter %}
{% if owners == 3 or owners == 5 %}{#
	#   common_own   011 3 = 1+2 = users data & Isotammi
	#   common_batch 101 5 = 1+4 = user batch & Isotammi #}
	{% set multi_owners = owners - 1 %}
    {% set my_set = owner_filter.choices.as_str[owners-1] %}
    {% set my_common = "Isotammi" %}
{% else %}
    {% set multi_owners = 0 %}
    {% set my_set = owner_filter.choices.as_str[owners] %}
{% endif %}

{% if session['owner_filter'] %}
    <h2>{{ _('Persons filtered by') }} {{ owner_filter.owner_str() }}</h2>
{# elif rule[0] == 'refname' %}
    <h2>{{ _('Persons carrying a Name') }} {{ rule[1] }}</h2> #}
{% else %}
    <h2>{{ _('Persons') }}</h2>
{% endif %}

{# <p><small>{{cnt}} persons, user {{user}}, filter {{owners}} {{my_set}}, next {{next}}</small></p> #}

{{ macro.menu(menuno) }}
	<div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
	           <div id="description">
	               <p>{{ _('Displaying %(num)s persons', num=cnt) }}. Tietojoukko: <b>
                       {% if multi_owners %}
                            &FilledSmallSquare;&nbsp;{{my_set}} / <span class="owner">&nbsp;{{my_common}}&nbsp;</span>.
                       {% else %}{{my_set}}
                       {% endif %}</b>
                       {% if user %}
                       (<i><a href="/scene?{{ {'fw':next[0]} | urlencode }}" title="vaihda poimintasääntöä" 
                            style="text-decoration-line: underline;">Vaihda</a></i>).
                       {% endif %}</p>
	           </div>
	           <div>
	               <form action="/scene/persons_all">
	                 <fieldset>
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>
	           </div>
            </div>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}
        </div>

    {% if cnt %}
		<div id="alphanav">{% set alpha = "¤" %}
			<ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
			    <li>{% if next[0] %}
			         <a href="/scene/persons_all/?fw=%20" title="{{ _('first page') }}" class="navlink">|&lt;</a>
			    {% else %}<span class="navlink">|&lt;</span>
			    {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>

            {% for p in persons %}
                {% set ini = p.sortname[0] %}
                {% if loop.changed(ini) %}{% if not ini == "#" %}
	                <li><a href="javascript:jump('{{ini}}')" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
                {% endif %}{% endif %}
            {% endfor %}
            <li><a href="/scene/persons_all/?{{ {'fw':next[1]} | urlencode }}" 
                 title="seuraava sivu" class="navlink"> &gt; </a></li>
            </ul>

		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
					<th>{{ _('Person') }}</th>
                    <th>{{ _("Events") }}</th>
				</tr>
			</thead>
			<tbody>

	    {% for p in persons %}
	       {% if multi_owners %}
               {% set owner_but_me = p.owners | sort %}
	       {% else %}{% set owner_but_me = [] %}
	       {% endif %}
	            <tr><td class="ColumnAlpha">
	               {% set ini = p.sortname[0] %}
	               {% if loop.changed(ini) %}
		               {% if ini == "#" %}{% set symbol = '–' %}
		               {% else %}{% set symbol = ini %}{% endif %}
		               <a id="{{symbol}}" name="{{ini}}" title="{{ _('Back to Top') }}" 
		                  href="#">{{symbol}}</a>
	               {% endif %}</td>

	                <td class="ColumnPerson"><div>
	                   {% for ow in owner_but_me %}
	                       {% if ow != '-' %}<span class="owner">&nbsp;{{ow}}&nbsp;</span>
	                       {% else %}&FilledSmallSquare;{% endif %}
	                   {% endfor %}
	                   <a href="/scene/person={{p.uniq_id}}"
	                     title="{{ _('see details of person %(id)s', id=p.uniq_id) }}">
		               {{p.names[0].firstname}} 
		               {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
		               {% else %}<i>{{p.names[0].suffix}}</i>{% endif %}</a>

		               {%set eka = 1 %}
		               {% for name in p.names %}
		                  {% if eka == 1 %}{% set eka = 0 %}{% else %}<br><small>
		                      <span class="typedesc">{{name.type|transl('nt')}}</span> 
		                      {{name.firstname}} 
                            {% if name.surname %} <b>{{name.surname}}</b>
                            {% else %}<i>{{name.suffix}}</i>{% endif %}</small>
                          {% endif %}
                       {% endfor %}

                       <br>
                       <a href="/scene/person/{{p.uniq_id}}" class="idno">ID: {{p.uniq_id}} /</a>
                               {# TODO Remove the test link at ']' #}
                       <span class="id" title="{{ _('Original ID') }}">{{p.id}}</span>
                       <span class="refname" title="{{ _('Sorting name') }}">{{p.sortname}}</span>
	                </div></td>

	              <td class="ColumnEvent">
	        {% if p.events is iterable %}<ul>{% for e in p.events|sort(attribute='date') %}
		              <li{% if e.type == "Birth" or e.type == "Death" %} class="major"
		                  {% else %} class="minor"{% endif %}>
		                  <i>{{e.type|transl('evt')}}</i> {{e.description}}
		                  {% if e.dates %}{{e.dates}} {% endif %}
		                  {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
		    {% else %}<u>See person {{p.events}}</u></td>
	        {% endif %}
	           </tr>
	    {% endfor %}
				</tr>
            </tbody>
        </table>
	{% else %}
        <div class="NotFound">
            <p>{{ _('No one found with search keys starting "%(name)s"', name=next[0]) }}.</p>
            {% if next[0] %}<p>&nbsp;&#9656; <a href="/scene/persons_all/?fw=%20" 
                title="{{ _('first page') }}">{{ _("Search from the beginning") }}</a></p>
            {% endif %}
        </div>
        <p>&nbsp;</p>
	{% endif %}
    </div>
{% endblock %}
