{# /scene/templates/scene/medias.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of medias') }} (scenemedias){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>

{% set cnt = medias|count %}
{% set user = owner_filter.user %}
{% set next = owner_filter.scope %}

<div id="startdiv">
	<h2>{{ _('List of Medias') }}</h2>
</div>

{{ macro.menu(6) }}
    <div class="content" id="Medias">
        <div id="summaryarea">
            <div class="flex-container">
               <div id="description_box">
                   <p>{{ _('Displaying %(num)s distinct medias', num=cnt) }}
                       {% if next[0] > ' ' %}{{ _('starting <tt>%(name)s</tt>', name=next[0]) }},
                       {% else %}{{ _('from begin') }},
                       {% endif %}{{ macro.select_dataset() }}
                   </p>
	           </div>
	           <div>
	               <form action="/scene/medias">
	                 <fieldset>
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of media') }}" 
	                     placeholder="{{ _('Title') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>
	           </div>
            </div>
            <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul  class='flashes'>
                {% for category, message in messages %}
                  <li class='flash_{{category}}'>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            </div>
        </div>

    {% if cnt %}
        {% set last = medias|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/medias?fw=%20"
                        title="{{ _("Media") }} {{ _('first page') }}" 
                        class="navlink">{{ _("Media") }}: |&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu"
                          style="cursor:not-allowed"> &lt; </span></li>
             	{% if next[1] == None or next[1].startswith('>') %}
	                <li><span class="navlink" title="{{ _('no next page') }}"
	                          style="cursor:not-allowed"> &gt; </span></li>
	            {% else %}
	                <li><a href="/scene/medias?{{ {'fw':next[1]} | urlencode }}"
	                	title="seuraava sivu" class="navlink"> &gt; </a></li>
            	{% endif %}
            </ul>
        </div>
    {% endif %}

<section id="lista">

{% if cnt %}
  <table id="medias">
    <tr><th>{{ _("Title") }}</th>
        <th style="text-align: center;">{{ _("Picture") }}</th>
        <th>{{ _("References") }}</th>
    {% if owner_filter.use_common() %}
        <th>{{ _('User Batch') }}</th>
    {% endif %}
    </tr>
    {% for m in medias %}
        <tr>
            <td><a href="/scene/media?uuid={{m.uuid}}" class="inlink"
                   title="{{ _('Go to media page') }}">{{ m.description }}</a>
                <br><span class="id" title="{{ _('Original ID') }}">{{m.id}}</span> 
                <span class="idno" title="{{ _('Key') }}">{{m.uniq_id}}</span>
            </td>
            <td style=" margin-left: auto; margin-right: auto;">
                <div style="text-align: center;">
	                <a href="/scene/media?uuid={{m.uuid}}" class="inlink"
	                   title="{{ _('Go to media page') }}">
	                   <img alt="({{ _('Photo') }})" 
	                     src="/scene/thumbnail?id={{m.uuid}}" 
	                     title="key = {{m.uuid_str()}}"/>
	                </a>
            </div></td>
            <td align="center">{{m.conn}}</td>
       {% if owner_filter.use_common() %}
            <td><i>{{m.credit}}</i><br>{{m.batch}}</td>
       {% endif %}
        </tr>
    {% endfor %}

    {% if next[1] == None or next[1].startswith('>') %}
        <tr><td colspan="4" id="lastitem_badge">
                <i>{{ _('The last item found') }}</i>
            </td>
        </tr>
    {% endif %}
  </table>
  <div style="margin-top: 1em;">
        {% set last = medias|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/medias?fw=%20" title="{{ _("Media") }} {{ _('first page') }}" class="navlink">{{ _("Media") }}: |&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>
                {% if next[1] == None or next[1].startswith('>') %}
                    <li><span class="navlink" title="{{ _('no next page') }}" style="cursor:not-allowed"> &gt; </span></li>
                {% else %}
                    <li><a href="/scene/medias?{{ {'fw':next[1]} | urlencode }}"
                        title="seuraava sivu" class="navlink"> &gt; </a></li>
                {% endif %}
            </ul>
        </div>
  </div>
{% else %}
  <div class="NotFound">
      <p>{{ _('No media found with search keys starting "%(name)s"', name=next[0]) }}.</p>
      {% if next[0] %}<p>&nbsp;&#9656; <a href="/scene/medias?fw=%20" 
          title="{{ _('first page') }}">{{ _("Go to the first media") }}</a></p>
      {% endif %}
  </div>
{% endif %}
<p>&nbsp;</p>

{% endblock %}
