{# /scene/templates/scene/media.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('Media data') }} (scenemedias){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>

<h2>{{ _('Media data') }}</h2>

{% if media %}
	<p>{{ _("Title") }}:{{ media.description }}</p>
	<p>{{ _('Original ID') }}: {{media.id}}</p> 
	<p><div class="thumbnail">
	            <a href="/scene/media/{{media.name}}?id={{media.uuid}}">
	            <img alt="({{ _('Photo') }})" 
	                 src="/scene/thumbnail?id={{media.uuid}}" 
	                 title="key = {{media.uuid_str()}}"/></a>
	        </div></p>
	        
<h3>{{ _('References') }}</h3>
	
    {% if media.ref %}
	    {% for p in media.ref %}
	    	{% if p[0] == 'Person' %}
	    		<p><a href="/scene/person?uuid={{p[1].uuid}}"
		                     title="{{ _('see details of person %(id)s', id=p[1].uuid_short()) }} (nr={{p[1].uniq_id}})">{{p[1].sortname}}</a></p>
		    {% elif p[0] == 'Place' %}
	    		<p><a href="/scene/location/uuid={{p[1].uuid}}"
		                     title="{{ _('see details of person %(id)s', id=p[1].uuid_short()) }} (nr={{p[1].uniq_id}})">{{p[1].pname}}</a></p>
		    {% endif %}
	    {% endfor %}
    {% else %}
    -
	{% endif %}
{% endif %}

{% endblock %}
