{# /scene/templates/scene/medias.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of medias') }} (scenemedias){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>

{% set cnt = medias|count %}
{% set user = owner_filter.user %}
{% set next = owner_filter.scope %}
{% set filt_owners = owner_filter.filter %}
{% if filt_owners == 3 or filt_owners == 5 %}{#
	#   common_own   011 3 = 1+2 = users data & Isotammi
	#   common_batch 101 5 = 1+4 = user batch & Isotammi #}
	{% set multi_owners = filt_owners - 1 %}
    {% set my_set = owner_filter.choices.as_str[filt_owners-1] %}
    {% set my_common = "Isotammi" %}
{% else %}
    {% set multi_owners = 0 %}
    {% set my_set = owner_filter.choices.as_str[filt_owners] %}
{% endif %}

<div id="startdiv">
	<h2>{{ _('List of Medias') }}</h2>
    <p><small>{{cnt}} medias, user {{user}}</small>
	
</div>

{{ macro.menu(6) }}
    <div class="content" id="Medias">
        <div id="summaryarea">
            <div class="flex-container">
               <div id="description">
                   <p>{{ _('Displaying %(num)s distinct medias', num=cnt) }}
                       {% if next[0] > ' ' %}{{ _('starting <tt>%(name)s</tt>', name=next[0]) }},
                       {% else %}{{ _('from begin') }},
                       {% endif %}{{ _('data set') }}
                       <b>{% if multi_owners %}
                            &FilledSmallSquare;&nbsp;{{my_set}} / <span class="owner">&nbsp;{{my_common}}&nbsp;</span>.
                       {% else %}{{my_set}}
                       {% endif %}</b>
                       {% if user %}
                       (<i><a href="/scene?{{ {'fw':next[0]} | urlencode }}" title="vaihda poimintasääntöä" 
                            style="text-decoration-line: underline;">Vaihda</a></i>).
                       {% endif %}</p>
	           </div>
	           <div>
	               <form action="/scene/medias">
	                 <fieldset>
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }} {{ _('Media') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of media') }}" 
	                     placeholder="{{ _('Media') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>
	           </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul  class='flashes'>
                {% for category, message in messages %}
                  <li class='flash_{{category}}'>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>

    {% if cnt %}
        {% set last = medias|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/medias?fw=%20"
                        title="{{ _("Media") }} {{ _('first page') }}" 
                        class="navlink">{{ _("Media") }}: |&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu"
                          style="cursor:not-allowed"> &lt; </span></li>
             	{% if next[1].startswith('>') %}
	                <li><span class="navlink" title="{{ _('no next page') }}"
	                          style="cursor:not-allowed"> &gt; </span></li>
	            {% else %}
	                <li><a href="/scene/medias?{{ {'fw':next[1]} | urlencode }}"
	                	title="seuraava sivu" class="navlink"> &gt; </a></li>
            	{% endif %}
            </ul>
        </div>
    {% endif %}

<section id="lista">

<table id="medias">
    <tr><th>{{ _("Title") }}</th>
    </tr>
{% if cnt %}
    {% for m in medias %}
        <tr>
            <td><a href="/scene/medias?uuid={{m.uuid}}" class="inlink"
                   title="{{ _('Go to media page') }}"></a>
                <br><span class="id" title="{{ _('Original ID') }}">{{m.id}}</span> 
                <span class="idno" title="{{ _('Key') }}">{{m.uniq_id}}</span>
                </td>
            <td>{% if m.description %} <!-- &#9794; -->
                <a href="/scene/medias?uuid={{m.uniq_id}}" class="inlink"
                   title="{{m.description}}">
                {{ m.description }}</a>
            {% else %} –
            {% endif %}</td>
        </tr>
    {% endfor %}

    {% if next[1].startswith('>') %}
        <tr><td colspan="4" id="lastitem_badge">
                <i>{{ _('The last item found') }}</i>
            </td>
        </tr>
    {% endif %}
{% else %}
        <tr><td colspan="5">{{ _('No medias') }}</td></tr>
{% endif %}
</table>
<p>&nbsp;</p>

<div>
    {% if cnt %}
        {% set last = medias|last %}
        <div id="alphanav">{% set alpha = "¤" %}
            <ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
                <li>{% if last %}
                     <a href="/scene/medias?fw=%20" title="{{ _("Media") }} {{ _('first page') }}" class="navlink">{{ _("Media") }}: |&lt;</a>
                {% else %}<span class="navlink">|&lt;</span>
                {% endif %}</li>
                <li><span class="navlink" title="edellinen sivu" style="cursor:not-allowed"> &lt; </span></li>
             	{% if next[1].startswith('>') %}
	                <li><span class="navlink" title="{{ _('no next page') }}" style="cursor:not-allowed"> &gt; </span></li>
	            {% else %}
	                <li><a href="/scene/medias?{{ {'fw':next[1]} | urlencode }}"
	                	title="seuraava sivu" class="navlink"> &gt; </a></li>
            	{% endif %}
            </ul>
        </div>
    {% endif %}
</div>

{% endblock %}
