{# /scene/templates/scene/media.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('Media data') }} (scenemedias){% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<script src="/static/infobox.js"></script>
<style>
h2 {margin-top: 1em;}
p {margin-left:15px;}
#flex {display: flex; /*height:75vh;*/
    flex-wrap: wrap;
}
#flex > div {
    margin:.5em; padding: 1em;
    width: 43%; 
}
.pic_container {
  /*width: 100%; */
  /*padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  min-height: 250px;
}
.pic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pic > img {
  max-width: 100%;
  max-height: 100%;
  border: solid 1pt gray;
}
div #summaryarea { margin: 0; }
td.value {width:100%;}
tr > td > img {
    margin: 0.5em;
    vertical-align: middle;
}
</style>

<div id="startdiv">
  <h1>{{ _('Media data') }}</h1>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(menuno) }}
<div class="content" id="IndividualDetail">

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if media %}
  <div id="flex">

    <div>
		<h2>{{ media.description }} ({{ _("Picture")|lower }})</h2>

        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="Value TwoRows">{{macro.all_obj_ids(media)}}</td>
                </tr>
	            <tr><td><br>{{ _('Thumbnail') }}</td>
                    <td class="Value">
                        <div style="display:flex;">
                            <div><img alt="({{ _('Thumbnail') }})" align="left"
                                src="/scene/thumbnail?id={{media.uuid}}" 
                                title="key = {{media.uuid_str()}}"/></div>
                            <div>
                                 <p style="nowrap;">
                                 {% if size %}{{ _("Size") }} {{size[0]}} x {{size[1]}} px<br>
                                 {%else%}{{media.description}}
                                 {%endif%}
                                 &rtrif; <a href="/scene/media/{{media.name}}?id={{media.uuid}}"
                                            style="text-decoration:underline;">
                                        {{ _('Show fullscreen') }}</a>
                                 </p>
                            </div>
                        </div>
                    </td>
               </tr>
	        </table>
		</div>

        <form>
			<input type="hidden" name="uniq_id" value="{{ media.uniq_id }}">
        </form>

    	<div id="comments_div" hx-get="/scene/comments/comments_header" hx-trigger="load"></div> 

	    <h3>{{ _('References') }}</h3>
		
	    {% if media.ref %}
	    <ul>
		    {% for ref in media.ref %}
		      <li>{{ _(ref.label) }}:
		    	{% if ref.label == 'Person' %}
		    		<a href="/scene/person?uuid={{ref.obj.uuid}}" class="inlink"
			               title="{{ _('see details of person %(id)s', id=ref.obj.uuid_short()) }} (nr={{ref.obj.uniq_id}})">
			               {{ref.obj.sortname|replace("#", " ")}}</a>
                {% elif ref.label == 'Place' %}
                    <a href="/scene/location/uuid={{ref.obj.uuid}}" class="inlink"
                           title="{{ _('see details of place %(id)s', id=ref.obj.uuid_short()) }} (nr={{ref.obj.uniq_id}})">
                           {{ref.obj.pname}}</a>
                {% elif ref.label == 'Event' %}
                    <a href="/scene/event/uuid={{ref.obj.uuid}}" class="inlink"
                           title="{{ _('see details of event %(id)s', id=ref.obj.uuid_short()) }} (nr={{ref.obj.uniq_id}})">
                           {{ _(ref.obj.type) }}</a> {{ref.obj.description}}
                    {% if ref.next_objs %}<ul>
                        {% for p in ref.next_objs %}<li>
                            {% if p.label == "Person" %}
                                <a href="/scene/person?uuid={{p.uuid}}" class="inlink"
                                    title="{{ _('see details of person %(id)s', id=p.uuid_short()) }} (nr={{p.uniq_id}})">
                                {{ macro.person_name_by_sortname(p) }}</a>
                            {% elif p.label == "Family" %}
                                <a href="/scene/family?uuid={{p.uuid}}" class="inlink"
                                    title="{{ _('see details of family %(id)s', id=p.uuid_short()) }} (nr={{p.uniq_id}})">
                                {{ macro.family_name(p) }}</a>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
			    {% else %}{{ref.obj.id}}
			    {% endif %}
			    {% if ref.crop %}
                <div style="display:flex;">
                    <div><br>{{ _('cropped') }}: &nbsp;</div>
                    <div>{% set cr_str = (ref.crop|join(',')) %}
    			        <img alt="({{ _('Thumbnail') }})"
                            src="/scene/thumbnail?id={{media.uuid}}&crop={{cr_str}}" 
                            title="{{ _('cropped') }} (%): {{ref.crop}}"/>
                    </div>
                </div>
			    {% endif %}
			  </li>
		    {% endfor %}
		</ul>
	    {% else %}
	    –
		{% endif %}
	</div>

{% if size %}
	<div class="pic_container">
        <div class="pic">
            	<img alt="picture {{media.description}}" 
            		 src="/scene/media/{{media.name}}?id={{media.uuid}}" 
                 	 title="key = {{media.uuid_str()}}"/>
        </div>
	</div>
 {% endif %}
  </div>
  <div class="fullclear"></div>
{% endif %}
</div>

{% endblock %}
