    <h3>{{ _('Most common names') }}</h3>
    <div class="flex-container2">
        <div class="CloudBox" style="display: inline-block;">
            <div>
        {% if surnamestats %}
                 <form name="surnameform" method="post" action="/scene/persons/search">
                    <input name="rule" type="hidden" value="surname">
                    <input name="key" type="hidden">
                    <script>
                        function submit_search(surname) {
                            document.forms.surnameform.elements.namedItem('key').value = surname;
                            document.forms.surnameform.submit();
                        }
                    </script>
            {% for stat in surnamestats %}
            	{% if stat.fontsize %}
                        <span style='font-size:{{ stat.fontsize}}pt'>
                {% else %}<span>
                {% endif -%}
                            <a href=# onclick="submit_search('{{ stat.surname }}')"
                               title="{{ stat.count }} {{ _('persons') }}">{{ stat.surname }}</a>
                        </span>
            {% endfor %}
                 </form>
        {% else %}
                <i>{{ _('No person names') }}</i>
        {% endif %}
            </div>
        </div>

           <div class="CloudBox CloudPink" style="display: inline-block;">
             <div>
        {% if placenamestats %}
                 <form name="placenameform" method="post" action="/scene/persons/search">
                    <input name="rule" type="hidden" value="placename">
                    <input name="key" type="hidden">
        	{% for stat in placenamestats %}
            	{% if stat.fontsize %}
                        <span style='font-size:{{ stat.fontsize }}pt'>
                {% else %}<span>
                {% endif -%}
                            <a href="/place/{{stat.iid}}"
                               title="{{ stat.count }} {{ pl_calc }}">
                               {{ stat.placename }}</a>&nbsp;
                        </span>
            {% endfor %}
                 </form>
        {% else %}
                <i>{{ _('No places') }}</i>
        {% endif %}
             </div>
           </div>

    </div><!-- end flex-container -->
