{# _templates/scene/person.html_ #}
{% extends "/scene/layout.html" %}
{% import '/scene/macros.html' as macro with context %}
{% block title %}{{ macro.person_name_plain(person.names[0]) }}{% endblock %}
{% block body %}
{{ super() }}
<style>
u { color: DarkKhaki; text-decoration: none; }
#citTest { margin:1em; }
#citTest div { display: inline-block; }
#citTbl td, #notTbl td { border: 2px solid brown; }
</style>

<div id="startdiv">
    <h2>{{ _("Person's details") }}</h2>
</div>

{{ macro.menu(menuno) }}
    <div class="content" id="IndividualDetail">

        {% if person.media_ref %}<div class="snapshot">
           {% set ref = person.media_ref[0] -%}
           {% set photo = obj[ref[0]] -%}
           {% set crop = ref[1] -%}
           {% set ord = ref[2] -%}
            <div class="thumbnail">
                <div><a href="#indivgallery">
	                <img alt="({{ _('Photo') }})" 
                         src="/scene/thumbnail?id={{photo.uuid}}&crop={{crop}}" 
	                     src="/scene/thumbnail?id={{photo.uuid}}" 
	                     title="{{ _('Photo') }} {{ord}}, id={{photo.id}}"/>
                </a></div>
                <p style="margin:0;">{{photo.description}}</p>
            </div>
        </div>{% endif %}

        <h3 class="sticky" title="{{ _('Top') }}"><a href="#">{{person.names[0].firstname}} 
            <i>{{person.names[0].suffix}}</i> {{person.names[0].prefix}} <b>{{person.names[0].surname}}</b></a>
            {{macro.citation_link(person.citation_ref, obj)}}
        </h3>

        {% set myid = person.uniq_id %}
        
        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute" style="padding-bottom: .5em;">{{ _("Identifiers") }}</td>
                    <td class="ColumnValue">
                        {{macro.all_obj_ids(person)}} /
                        <span class="id" title='{{ _("Sorting key") }}'>{{person.sortname}}</span>
                    </td>
                </tr>

                {% for pname in person.names|sort(attribute='order') %}<tr>
                    <td class="ColumnAttribute">{{pname.order + 1}}. {{pname.type|transl('nt')}}</td>
                    <td class="ColumnValue">
                        <span title="{{ _('first name') }}">{{pname.firstname}}</span>
                        <i title="{{ _('patronymic') }}">{{pname.suffix}}</i>
                        {% if pname.prefix %}<span title="etuliite">{{pname.prefix}}</span>{% endif %}
                        <b title="{{ _('surname') }}">{{pname.surname}}</b>

	                    {{macro.citation_link(pname.citation_ref, obj)}}
                    </td>
                </tr>{% endfor %}
                   
                {% if person.sex %}<tr>
                    <td class="ColumnAttribute">{{ _("Gender") }}</td>
                    <td class="ColumnValue">{{ person.sex_symbol() }} {{ person.sex_str() }}</td>
                </tr>{% endif %}
                {% if person.priv %}<tr>
                    <td class="ColumnValue" title="{{ _('Private data') }}">{{ macro.lock(person.priv) }}</td>
                </tr>{% endif %}
                <tr><td class="ColumnAttribute">{{ _('Years') }}</td>
                    <td class="ColumnValue">{{ macro.lifetimes(person) }}
           {% if person.death_high >= last_year_allowed %}
                        <span style="color:red">{{ _('confidential') }}!</span>
           {% endif %}
                    </td>
                </tr>
               <tr>
                    <td class="ColumnAttribute">{{ _("Age at death") }}</td>
                    <td class="ColumnValue">
            {% if person.death_high != person.death_low or
                  person.birth_high != person.birth_low %}
                        {{ _('at least') }}
            {% else %}
                        {{ _('about') }}
            {% endif %}
                        {{person.death_low - person.birth_high}}
                        {{ _('years') }}
                    </td>
                </tr>
                
                {% if person.confidence > '' %}<tr>
                    <td class="ColumnAttribute">{{ _("Confidence of data") }}</td>
                    <td class="ColumnValue">{{ macro.stars(person.confidence|float) }}</td>
                </tr>{% endif %}
   
{% if person.note_ref %}
                <tr><td></td>
                   <td>–► <a href="#notes" class="inlink">
        {% if person.note_ref|count == 1 %}{{ _('See person note') }}
        {% else %}{{ _('See %(num)d person notes', num=person.note_ref|count) }}
        {% endif %}</a></td>
                </tr>
{% endif %}
            </table>
        </div>

        <div class="subsection" id="events">
            <h4>{{ _("Events") }}</h4>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">{{ _("Event") }}</th>
                        <th class="ColumnDate">{{ _("Date") }}</th>
                        <th class="ColumnPlace">{{ _("Place") }}</th>
                        <th class="ColumnDescription">{{ _("Description") }}</th>
                    </tr>
                </thead>
                <tbody>
{% for e in person.events if e.type != "Cause Of Death" %}
                    <tr>
                        <td class="ColumnEvent" title="{{e.id}} {{e.uuid_short()}} nr:{{e.uniq_id}}">
                            <div class="magnifier" alt="{{e.uniq_id}}">
                                <a href="/scene/event/{{e.uniq_id}}" class="inlink">
                                   {{e.type|transl('evt')}}</a>
    {% if e.role and e.role != "Primary" %}
                                <span class="typedesc">({{e.role|transl('role')}})</span>
    {% endif %}
                                {{macro.citation_link(e.citation_ref, obj)}}
                            </div>
                        </td>

                        <td class="ColumnDate">{{e.dates}}</td>

                        <td class="ColumnPlace">{% set br=0 %}
			  {% for pref in e.place_ref %}{% set pl = obj[pref] %}
                            {% if br == 0 %}{% set br = 1 %}{% else %}/{% endif %}
                            <a href="/scene/location/uuid={{pl.uuid}}" class="inlink"
                             title="{{ _('of type') }} {{pl.type}}; {{ _('see details of place') }}">
                              {{macro.place_names_lang(pl)}}</a
                            >{{macro.note_link(pl.note_ref, obj)}}{% if pl.uppers %},
                            <small>{{macro.place_names_lang(pl.uppers[0])}}</small>{% endif %}
               {% endfor %}
                        </td>

                        <td class="ColumnDescription"><div>{{e.description}}</div>
                            <div>{% if e.type == "Death" and person.cause_of_death %}<span 
                                    class="typedesc">{{ "Cause Of Death"|transl('notet') }}</span>
                                        {% if person.cause_of_death.dates %}{{person.cause_of_death.dates}}{% endif %}
                                        {{person.cause_of_death.description}}
                                        {{macro.place_names_lang(person.cause_of_death)}}<br>
                            	{% endif %}
                            {% if e.note_ref %}
                            	{% for ref in e.note_ref %}{% set note = obj[ref] %}
	                            	<div><span class="typedesc">{{ note.type|transl('notet') }}</span>
				                      {{macro.citation_link(note.citation_ref, obj)}}
	                            	  {{ macro.notelink(note) }}</div>
	                            {% endfor %}
                           	{% endif %}
{#                          {% if e.place_ref %}
                                {% for pref in e.place_ref %}
                                    {% for ref in obj[pref].note_ref %}
                               <div><span class="typedesc">{{ obj[ref].type|transl('notet') }}</span>
                                    {{ macro.notelink(obj[ref]) }}</div>{% endfor %}
                                {% endfor %}
                            {% endif %}
#}
                            </div>
                        </td>
                    </tr>
{% endfor %}
                 </tbody>
            </table>
            <div id="noteContent"><p class="nodesTitle">{{ _('Place Notes') }}</p>
            {# Place foot notes are created in /static/js/scene_scripts.js
               method refTable.noteReferences() #}
            </div>
        </div>


{% if debug %}
        <div class="subsection" id="notes" style="color:green">
            <h4>Js-testaus</h4>
            <div id="citTest">
               <div><button type="button" onclick="tbl.findReferences('dbug','citTbl','notTbl')">*) Etsi viitteet</button><br>
                    <button type="button" onclick="tbl.noteReferences('noteContent','citTbl')">Lisää paikkojen huomautukset</button><br>
                    <button type="button" onclick="tbl.sourceReferences('sourcerefContent','citTbl')">Lisää lähdeluettelo</button></div>
               <div id="dbug"><p>Löydetyt viitteet</p></div>
               <div><table id="citTbl"><body><tr><td>Viitteet lähteittäin</td></tr></body></table></div>
               <div><table id="notTbl"><body><tr><td>Viitteet huomautuksiin</td></tr></body></table></div>
            </div>
        </div>
{% endif %}


        <div class="subsection" id="families">
            <h4>{{ _("Families") }}</h4>
{% set myid = person.uuid %}
{% if person.families_as_child %}
            <div class="mainbox" title="{{ _('Families') }}">
                <p>{{ _("Parents' family") }}</p>
            {% for fam in person.families_as_child %}{% if fam.role == "CHILD" %}
                <div class="groupbox">
	                <div class="familybox" title="{{ _('family') }} {{fam.id}}">
                        <p><a href="/scene/family?uuid={{fam.uuid}}" title="{{fam.uuid}}" class="inlink">
                             {{ _("Family") }} {{fam.rel_type|transl('marr')|lower}}</a>
                           {{fam.marriage_dates}}</p>
	                    <ul>{% if fam.father %}
	                        <li>{{ _("Man") }}: {{ macro.person_anon(fam.father, myid) }}</li>
	                {% endif %}{% if fam.mother %}
	                        <li>{{ _("Wife") }}: {{ macro.person_anon(fam.mother, myid) }}</li>
	                {% endif %}{% if fam.children %}
	                        <li>{{ _("Children") }}<ul>{% for ch in fam.children|sort %}
	                            <li>{{ch.child_by_sex()}}: {{ macro.person_anon(ch, myid) }}</li>{% endfor %}
	                        </ul></li>
	                {% endif %}
	                    </ul>
	                </div>
                </div>
            </div>
            {% endif %}{% endfor %}
{% endif %}

            <div class="mainbox" title="{{ _('Central person') }}">
	            <p>{{person.names[0].firstname}} {{ _("self") }}</p>
	            <div class="groupbox">
		            <div class="personbox" title="{{ _('Self') }}">
		                <span title="{{ _('first name') }}">{{person.names[0].firstname}}</span>
		                {% if not person.names[0].surname %}<i title="{{ _('patronymic') }}">{{person.names[0].suffix}}</i>
		                {% else %}<b title="{{ _('surname') }}">{{person.names[0].prefix}} {{person.names[0].surname}}</b>
		                {% endif %}
		            </div>
	            </div>
	        </div>

{% if person.families_as_parent %}
            <div class="mainbox" title="{{ _('Own families') }}">
                <p>{{ _("As Parent in Family") }}</p>
	            <div class="groupbox">
		            {% for fam in person.families_as_parent %}{% if fam.role != "CHILD" %}
		            <div class="familybox" title="perhe {{fam.id}} {{fam.role}}">
		                <p><a href="/scene/family?uuid={{fam.uuid}}" title="{{fam.uuid}}" class="inlink">
                             {{ _("Family") }} {{fam.rel_type|transl('marr')|lower}}</a>
                           {{fam.marriage_dates}}</p>
		                <ul>{% if fam.father %}
		                        <li>{{ _("Father") }}: {{ macro.person_anon(fam.father, myid) }}</li>
		                {% endif %}{% if fam.mother %}
		                        <li>{{ _("Mother") }}: {{ macro.person_anon(fam.mother, myid) }}</li>
		                {% endif %}{% if fam.children|count %}
		                        <li>{{ _("Children") }}<ul>{% for ch in fam.children|sort %}
		                            <li>{{ch.child_by_sex()}}: {{ macro.person_anon(ch, myid) }}</li>
		                         {% endfor %}</ul></li>
		                {% endif %}
		                    </ul>
		            </div>
		            {% endif %}{% endfor %}
	             </div>
             </div>
{% endif %}
        </div>

{% if person.media_ref %}
        <div class="subsection" id="indivgallery">
            <h4>{{ _("Media files") }}</h4>
        {% for ref, crop0, ord in person.media_ref %}
           {% set photo=obj[ref] %}
           {% set crop=crop0|replace(" ", "") %}
            <div class="thumbnail">
                <a href="/scene/media/{{photo.name}}?id={{photo.uuid}}">
	                <img alt="({{ _('Photo') }} {{ord}})" 
	                     src="/scene/thumbnail?id={{photo.uuid}}&crop={{crop}}" 
	                     title="{{ _('Photo') }} {{ord}}, id={{photo.id}}"/>
                </a>
                <p><a href="/scene/media?uuid={{photo.uuid}}"
                      title="{{ _('Go to photo page') }}">
                      {{photo.description}}</a> {{ macro.notelink(photo) }}
{% if crop and not crop == "None" %}<br><i>{{ _('crop') }} {{crop}}</i>{% endif %}
                </p>
            </div>
        {% endfor %}
            <div class="fullclear"></div>
        </div>
{% endif %}

{% if person.note_ref %}
        <div class="subsection" id="notes">
            <h4>{{ _("Person Notes") }}</h4>
    {% for ref in person.note_ref %}{% set note = obj[ref] %}
            <div class="grampsstylednote">
                 <p>► <span class="typedesc">{{ note.type|transl('notet') }}</span>
                    {{macro.citation_link(note.citation_ref, obj)}}
                    {{ macro.notelink(note) }}</p>
            </div>
    {% endfor %}
        </div>
{% endif %}

        <div class="subsection" id="sourcerefs">
            <h4>{{ _("Source references") }}</h4>
            {# Reference list is created below in /static/js/scene_scripts.js
               method refTable.sourceReferences() #}
            <div id="sourcerefContent"></div>
        </div>
    </div>

<script>
{{jscode|safe}}
var tbl = new refTable();
    {% if not debug %}
tbl.findReferences('','','');
tbl.sourceReferences('sourcerefContent','');
tbl.noteReferences('noteContent','');
    {% endif %}
</script>
{% endblock %}

