{# _templates/scene/person_pg.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _("Person's details") }}{% endblock %}
{% block body %}
{{ super() }}
{% set sp = {'M':'mies', 'F':'nainen'} %}
{% import '/scene/macros.html' as macro %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<h2>{{ _("Person's details") }}</h2>

{{ macro.menu(1) }}
    <div class="content" id="IndividualDetail">

        {% if person.media_ref %}<div class="snapshot">
            <div class="thumbnail">
                <img alt="{{ _('in Photo') }} {{obj[person.media_ref[0]].description}}" 
                     src="{{obj[person.media_ref[0]].src}}" />
            </div>
        </div>{% endif %}

        <h3 style="position:sticky; top:0;">{{person.names[0].firstname}} 
            <i>{{person.names[0].suffix}}</i> <b>{{person.names[0].surname}}</b>
        </h3>
