{# _templates/scene/person.html_ #}
{% extends "/scene/sc_layout.html" %}
{% import '/scene/macros.html' as macro with context %}
{% if person and person.names %}{% set person_name = person.names[0] %}
{% else %}{% set person_name = "–" %}
{% endif %}
{% block title %}{{ macro.person_name_plain(person_name) }}{% endblock %}
{% block body %}
{{ super() }}
<script src='https://d3js.org/d3.v4.min.js'></script>
<style>
u { color: DarkKhaki; text-decoration: none; }
#citTest { margin:1em; }
#citTest div { display: inline-block; }
#citTbl td, #notTbl td { border: 2px solid brown; }
div#comments_div h3 a {
    color: DarkGreen;
    text-decoration: none;
}
#tableNames { border: solid 1pt DarkGreen; } /* gray; } */
#tableNames td { padding-right: 1ex; }
tr.movable:hover {background-color:#FFE4C4; cursor: grabbing;}

    .tab-bottom {
     padding: .5em;
     background-color: #f2f2f2;
     margin: 0 1em;
     border-radius: 1em;
    }
	.tab-list a {
		display: inline-block;
		padding: 2px 5px 0px;
		cursor: pointer;
        z-index: 2;
	}
	.tab-list a.selected {
        margin-bottom: -2px;
        background-color: white;
        border-radius: .5em .5em 0 0;
        border: solid 1px gray;
        border-bottom: solid 1px white;
        font-weight: bold;
    }
    .tab-content {
        border: solid 1px gray;
    }
    div#families.subsection {
        clear: both;
        overflow: hidden;
        background-color: white;
    }
#chart {
 background: white;
 display:flex;
 justify-content: center;
 padding: 1em;
}

.msg {
  display: none;
}

.msg.htmx-settling {
  display: inline;
  color: white;
  background-color: orange;
}
</style>

<div id="startdiv">
    <h1>{{ _("Person's details") }}</h1>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(menuno) }}
    <div class="content" id="IndividualDetail">

        {% if person.media_ref %}<div class="snapshot">
           {% set ref = person.media_ref[0] -%}
           {% set photo = obj[ref[0]] -%}
           {% set crop = ref[1] -%}
           {% set ord = ref[2] -%}
            <div class="thumbnail">
                <div><a href="#indivgallery">
	                <img alt="({{ _('Photo') }})" 
                         src="/scene/thumbnail?id={{photo.uuid}}&crop={{crop}}" 
	                     src="/scene/thumbnail?id={{photo.uuid}}" 
	                     title="{{ _('Photo') }} {{ord}}, id={{photo.id}}"/>
                </a></div>
                <p style="margin:0;">{{photo.description}}</p>
            </div>
        </div>{% endif %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul  class='flashes'>
      {% for category, message in messages %}
        <li class='flash_{{category}}'>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} 

{% if person %}
        <h2 class="sticky" title="{{ _('Top') }}"><a href="#">
        <span id="primary_name">
        	{{person.names[0].firstname}} 
            <i>{{person.names[0].suffix}}</i>
            {{person.names[0].prefix}}
            <b>{{person.names[0].surname}}</b>
        </span>
            </a>
            {{macro.citation_link(person.citation_ref, obj)}}
        </h2>

    {% set myid = person.uniq_id %}  
        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute" style="padding-bottom: .5em;">{{ _("Identifiers") }}</td>
                    <td class="Value TwoRows">
                        {{macro.all_obj_ids(person)}}
                        / <span class="id" title='{{ _("Sorting key") }}'>{{person.sortname}}</span>
                    </td>
                </tr>

				<tr><td colspan="2">{{ _("Names") }}

                {# Sortable name list #}
                {% set edit_names = may_edit and (person.names|length > 1) %}
                {% if edit_names %}({{ _("order by dragging") }}){% endif %}
                </td></tr>
				<tr><td colspan="2">

				<form>
	    			<input type="hidden" name="uuid" value="{{ person.uuid }}">
	    			
	                {% if edit_names %}
	                    <table id="tableNames"><tbody id="names" 
						hx-put="/scene/sort_names" hx-trigger="end" hx-swap="none">
	                {% else %}
	                    <table><tbody id="names">
					{% endif %}
	                {% for p_name in person.names|sort(attribute='order') %}
	                        <tr{% if edit_names %} class="movable"{% endif %}>
	                            <td class="ColumnAttribute">
	                            	{% if may_edit %}
			                            <select hx-trigger="load" hx-get="nametypes/{{p_name.uniq_id}}/{{ p_name.type }}" hx-swap="outerHTML"></select>
		                            {% else %}
	                            		{{p_name.type|transl('nt')}}
                            		{% endif %}
	                            </td>
	                            <td class="Value" style="padding-left: 24px;">
	        						{% if p_name.title %}<span title="titteli" class="typedesc">{{p_name.title}}</span>{% endif %}
	                                <span title="{{ _('first name') }}">{{p_name.firstname}}</span>
	                                <i title="{{ _('patronymic') }}">{{p_name.suffix}}</i>
	                                {% if p_name.prefix %}<span title="etuliite">{{p_name.prefix}}</span>{% endif %}
	                                <b title="{{ _('surname') }}">{{p_name.surname}}</b>
	        
	        	                    {{macro.citation_link(p_name.citation_ref, obj)}}
	        	                    <input type="hidden" name="order" value="{{p_name.uniq_id}}">
	                            </td>
	                        </tr>{% endfor %}
	               	    </tbody></table>
				</form>
                </td></tr>

                {% if person.sex %}<tr>
                    <td class="ColumnAttribute">{{ _("Gender") }}</td>
                    <td class="Value">{{ person.sex_symbol() }} {{ person.sex_str() }}</td>
                </tr>
    {% endif %}
    {% if person.priv %}<tr>
                    <td class="ColumnValue" title="{{ _('Private data') }}">{{ macro.lock(person.priv) }}</td>
                </tr>
    {% endif %}
                <tr><td class="ColumnAttribute">{{ _('Possible years') }}</td>
                    <td class="Value">{{ macro.lifetimes(person) }}
    {% if person.death_high >= last_year_allowed %}
                        <span style="color:red">{{ _('confidential') }}!</span>
    {% endif %}
                    </td>
                </tr>
    {% if not (person.death_low - person.birth_high) < 0 %}
               <tr>
                    <td class="ColumnAttribute">{{ _("Age at death") }}</td>
                    <td class="Value">
       {% if person.death_high != person.death_low or
                      person.birth_high != person.birth_low %}
                        {{ _('at least') }}
       {% else %}
                        {{ _('about') }}
       {% endif -%}
                        {{person.death_low - person.birth_high}}
                        {{ _('years') }}
                    </td>
                </tr>
    {% endif %}
    {% if person.confidence > '' %}<tr>
                    <td class="ColumnAttribute">{{ _("Confidence of data") }}</td>
                    <td class="Value">{{ macro.stars(person.confidence|float) }}</td>
                </tr>
    {% endif %}
    {% if person.note_ref %}
                <tr><td></td>
                   <td>–► <a href="#notes" class="inlink">
    	{% if person.note_ref|count == 1 %}
                       {{ _('See person note') }}
    	{% else %}
                       {{ _('See %(num)d person notes', num=person.note_ref|count) }}
    	{% endif -%}</a></td>
                </tr>
    {% endif %}

		
            </table>
        </div>

        <form>
			<input type="hidden" name="uniq_id" value="{{ person.uniq_id }}">
        </form>

    	<div id="comments_div" hx-get="/scene/comments/comments_header" hx-trigger="load"></div> 
    	
        <div class="subsection" id="events">
            <h3>{{ _("Events") }}</h3>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">{{ _("Event") }}</th>
                        <th class="ColumnDate">{{ _("Date") }}</th>
                        <th class="ColumnPlace">{{ _("Place") }}</th>
                        <th class="ColumnDescription">{{ _("Description") }}</th>
                    </tr>
                </thead>
                <tbody>
    {% for e in person.events if e.type != "Cause Of Death" %}
                    <tr>
                        <td class="ColumnEvent" title="{{e.id}} {{e.uuid_short()}} nr:{{e.uniq_id}}">
                            <div class="magnifier" alt="{{e.uniq_id}}">
                                <a href="/scene/event/uuid={{e.uuid}}" class="inlink">
                                   {{e.type|transl('evt')}}</a>
        {% if e.role and e.role != "Primary" %}
                                <span class="typedesc">({{e.role|transl('role')}})</span>
        {% endif -%}
                                {{macro.citation_link(e.citation_ref, obj)}}
                            </div>
                        </td>

                        <td class="ColumnDate">{{e.dates}}</td>

                        <td class="ColumnPlace">{% set br=0 %}
    	{% for pref in e.place_ref %}{% set pl = obj[pref] %}
    	    {% if br == 0 %}{% set br = 1 %}{% else %}/{% endif %}
                            <a href="/scene/location/uuid={{pl.uuid}}" class="inlink"
                             title="{{ _('of type') }} {{pl.type}}; {{ _('see details of place') }}">
                              {{macro.place_names_lang(pl)}}</a
                            >{{macro.note_link(pl.note_ref, obj)}}{% if pl.uppers %},
                            <small>{{macro.place_names_lang(pl.uppers[0])}}</small>{% endif %}
    	{% endfor %}
                        </td>

                        <td class="ColumnDescription"><div>{{e.description}}</div>
                            <div>
        {% if e.type == "Death" and person.cause_of_death %}
                                <span class="typedesc">{{ "Cause Of Death"|transl('notet') }}</span>
	       {% if person.cause_of_death.dates %}{{person.cause_of_death.dates}}
           {% endif -%}
                                        {{person.cause_of_death.description}}
                                        {{macro.place_names_lang(person.cause_of_death)}}<br>
        {% endif %}
	    {% if e.note_ref %}
        	{% for ref in e.note_ref %}{% set note = obj[ref] %}
	                            	<div><span class="typedesc">{{ note.type|transl('notet') }}</span>
				                      {{macro.citation_link(note.citation_ref, obj)}}
	                            	  {{ macro.notelink(note) }}</div>
	        {% endfor %}
        {% endif %}
{#                          {% if e.place_ref %}
                                {% for pref in e.place_ref %}
                                    {% for ref in obj[pref].note_ref %}
                               <div><span class="typedesc">{{ obj[ref].type|transl('notet') }}</span>
                                    {{ macro.notelink(obj[ref]) }}</div>{% endfor %}
                                {% endfor %}
                            {% endif %}
#}
                            </div>
                        </td>
                    </tr>
    {% endfor %}
                 </tbody>
            </table>
            <div id="noteContent"><p class="nodesTitle">{{ _('Place Notes') }}</p>
{# Place foot notes are created in /static/js/scene_scripts.js method refTable.noteReferences() #}
            </div>
        </div>


    {% if debug %}
        <div class="subsection" id="notes" style="color:green">
            <h3>Js-testaus</h3>
            <div id="citTest">
               <div><button type="button" onclick="tbl.findReferences('dbug','citTbl','notTbl')">*) Etsi viitteet</button><br>
                    <button type="button" onclick="tbl.noteReferences('noteContent','citTbl')">Lisää paikkojen huomautukset</button><br>
                    <button type="button" onclick="tbl.sourceReferences('sourcerefContent','citTbl')">Lisää lähdeluettelo</button></div>
               <div id="dbug"><p>Löydetyt viitteet</p></div>
               <div><table id="citTbl"><body><tr><td>Viitteet lähteittäin</td></tr></body></table></div>
               <div><table id="notTbl"><body><tr><td>Viitteet huomautuksiin</td></tr></body></table></div>
            </div>
        </div>
    {% endif %}

<h3 id="relations">{{ _("Relations") }}</h3>
    <div id="tabs"
         hx-get="/scene/person_{{'fanchart_hx' if fanchart_shown else 'famtree_hx'}}?uuid={{person.uuid}}"
         hx-trigger="load delay:100ms"
         hx-target="#tabs"
         hx-swap="innerHTML">
    </div>

    {% if person.media_ref %}
        <div class="subsection" id="indivgallery">
            <h3>{{ _("Media files") }}</h3>
	   {% for ref, crop0, ord in person.media_ref %}
	       {% set photo=obj[ref] %}
	       {% set crop=crop0|replace(" ", "") %}
            <div class="thumbnail">
                <a href="/scene/media/{{photo.name}}?id={{photo.uuid}}">
	                <img alt="({{ _('Photo') }} {{ord}})" 
	                     src="/scene/thumbnail?id={{photo.uuid}}&crop={{crop}}" 
	                     title="{{ _('Show fullscreen') }}"/>
                </a>
                <p><a href="/scene/media?uuid={{photo.uuid}}" class="inlink"
                      title="{{ _('Go to photo page') }}">
                      ▸ {{photo.description}}</a> {{ macro.notelink(photo) }}
	       {% if crop and not crop == "None" -%}<br>
                      <i>{{ _('crop') }} {{crop}}</i>
	       {% endif %}
                </p>
            </div>
	   {% endfor %}
            <div class="fullclear"></div>
        </div>
    {% endif %}

    {% if person.note_ref %}
        <div class="subsection" id="notes">
            <h3>{{ _("Person Notes") }}</h3>
        {% for ref in person.note_ref %}{% set note = obj[ref] %}
            <div class="grampsstylednote">
                 <p>► <span class="typedesc">{{ note.type|transl('notet') }}</span>
                    {{macro.citation_link(note.citation_ref, obj)}}
                    {{ macro.notelink(note) }}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}

        <div class="subsection" id="sourcerefs">
            <h3>{{ _("Source references") }}</h3>
{# Reference list is created below in /static/js/scene_scripts.js method refTable.sourceReferences() #}
            <div id="sourcerefContent"></div>
        </div>
{% endif %}
    </div> {# content #}


<script>
/* For source references */
{{jscode|safe}}
var tbl = new refTable();
    {% if not debug %}
tbl.findReferences('','','');
tbl.sourceReferences('sourcerefContent','');
tbl.noteReferences('noteContent','');
    {% endif %}
    
{% if may_edit %}
var names = document.getElementById('names');
var sortable = Sortable.create(names);
{% endif %}

</script>
{% endblock %}
