{# _myapp/templates/k_persons.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('Search') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
{% set ordname = [_('surname'), _('first name'), _('patronymic')] %}
{% if order == '' %}{% set order=0 %}{% endif %}
{% set cnt = persons | count %}
<style>
.CloudBox {
    margin: 1em;
    padding: 5px;
    padding: 5px;
    min-width: 150px;
    max-width: 430px;
    padding-bottom: 1em;
}
div.CloudBox div {
/*     background: #e3f1f2; */
    background-image: url("/static/image/cloud.png");
    box-shadow: 7pt 10pt 10pt #ccc;
    padding: 1em 2em;
    text-align: center;
    border-radius: 3em;
    line-height: 1.6em;
}
div.CloudPink div {
    background-image: url("/static/image/cloud-pink.png");
}
</style>
<div id="startdiv">
	{% if rule == 'all' %}<h1>{{ _('Persons ordered by') }} {{ ordname[order] }}</h1>
	{% elif rule == 'refname' %}<h1>{{ _('Persons carrying a Name') }} {{ key }}</h1>
	{% else %}<h1>{{ _('Search') }}</h1>
	{% endif %}
    <div>{{ macro.show_use_case() }}</div>
</div>

{{ macro.menu(menuno) }}
    <div class="content" id="Individuals">
        <div id="summaryarea">
 
{% include "flash_messages.html" %}

         <form  action="/scene/persons/search" method="post">
{% if rule != 'notetext' %}         
            <div class="flex-container2">
{% if cnt + num_hidden > 0 %}
                <div class="description_box2">
<!-- {{cnt}} persons, {{num_hidden}} hidden, rule={{rule}}, status={{status}} -->
    {%- if rule == "years" %}
                    <p>{{ ngettext('Displaying %(num)s person, who may have lived during required years.', 
                                   'Displaying %(num)s persons, who may have lived during required years.', cnt ) }}
                    </p>
    {%- elif rule %}
                    <p>{{ ngettext('Displaying %(num)s person by name.', 
                                   'Displaying %(num)s persons by name.', cnt ) }}
                       {{ _('If the person has many names, they may appear in the list under each name.') }}</p>
    {%- endif %}
                    <p>{{ _('Under person\'s name there are the estimated possible life years determined by person data.') }} </p>
                    <ul>
    {% if num_hidden %}
                        <li>{{ ngettext(
                              '%(num)s person hidden because of privacy protection', 
                              '%(num)s people hidden because of privacy protection', 
                              num_hidden ) 
                            }}.
                        </li>
    {% endif %}
                    </ul>
                    <ul>
                    <p>▶ <a class="inlink" href="/scene/persons/search">{{ _('Most common names') }}</a></p>
                    </ul>
                </div>
{% endif %}
{% endif %}

{% if rule %}{% set selection = rule %}
{% else %}{% set selection = "any" %}
{% endif %}
{% set oldkey = key %}
           
                <div id="namesearch" class="SearchBox2">
                       <h2>
                          <label for="cars">{{ _('Search term') }}</label>

                          <select id="rule" name="rule">
                            <option value="surname"
                                x-desc="{{ _('Any surname (beginning part)') }}"
                        {% if selection == "surname" %}selected{% endif %}>{{ _('Surname') }}</option>
                            <option value="firstname"
                                x-desc="{{ _('Any firstname (beginning part)') }}"
                        {% if selection == "firstname" %}selected{% endif %}>{{ _('Firstname') }}</option>
                            <option value="patronyme"
                                x-desc="{{ _('Any patronymic (beginning part)') }}"
                        {% if selection == "patronyme" %}selected{% endif %}>{{ _('Patronymic') }}</option>

                            <option value="freetext"
                                x-desc="{{ _('Free text (any name, can use wildcards)') }}"
                                {% if selection == "freetext" %}selected{% endif %}>
                                {{ _('Free name search') }}
                            </option>
                            
                            <option value="notetext"
                                x-desc="{{ _('Free text search from note texts (can use wildcards)') }}"
                                {% if selection == "notetext" %}selected{% endif %}>
                                {{ _('Search from notes') }}
                            </option>

                            <option value="years"
                                x-desc="{{ _('A year (1750) or years range (1700-1750) where persons might live') }}"
                        {% if selection == "years" %}selected{% endif %}>{{ _('Years range') }}</option>
                          </select>
                       </h2>
                       <div style="margin: .5em 1em;">
                       <label for="snam" id="keydesc">Descr.</label>
                       <input type="text" name="key" id="snam"
                          {% if oldkey %}value="{{oldkey}}"
                            {# else %}placeholder="{{ _('Name') }}"#}
                          {% endif %}>
                       </div>
                      <div class="submit"><input type="submit" value="Hae"></div>
                      <div id="searchHelp"></div>
                </div>
            </div>
          </form>

       </div><!-- summaryarea -->

<script>
let selector = document.querySelector("#rule");
let helpText = document.querySelector("#keydesc");
let msg = selector.options[selector.selectedIndex].getAttribute('x-desc');
helpText.textContent = msg;

selector.addEventListener("change", () => {
	let msg = selector.options[selector.selectedIndex].getAttribute('x-desc');
	helpText.textContent = msg;
});
</script>


{% if rule == 'notetext' %}
   {%  include "scene/note_search_result.html" %}
{% elif status == 'OK' %}
   {%  include "scene/person_search_result.html" %}
{% elif rule %}
    <div class="NotFound">
        <p>{{ _('No one found with search keys') }}.</p>
    </div>
    <p>&nbsp;</p>
{% else %}
   {%  include "scene/most_common.html" %}

   {% endif %}
</div><!-- end Individuals -->
{% endblock %}
