{# _myapp/templates/k_persons.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('List of persons') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
{% set ordname = [_('surname'), _('first name'), _('patronymic')] %}
{% if order == '' %}{% set order=0 %}{% endif %}
{% set cnt = persons | count %}
<style>
.CloudBox {
    margin: 1em;
    padding: 5px;
    padding: 5px;
    min-width: 150px;
    max-width: 430px;
    padding-bottom: 1em;
}
div.CloudBox div {
/*     background: #e3f1f2; */
    background-image: url("/static/image/cloud.png");
    box-shadow: 7pt 10pt 10pt #ccc;
    padding: 1em 2em;
    text-align: center;
    border-radius: 3em;
    line-height: 1.6em;
}
div.CloudPink div {
    background-image: url("/static/image/cloud-pink.png");
}
</style>
<div id="startdiv">
	{% if rule == 'all' %}<h1>{{ _('Persons ordered by') }} {{ ordname[order] }}</h1>
	{% elif rule == 'refname' %}<h1>{{ _('Persons carrying a Name') }} {{ key }}</h1>
	{% else %}<h1>{{ _('Persons') }}</h1>
	{% endif %}
    <div>{{ macro.show_use_case() }}</div>
</div>

{{ macro.menu(menuno) }}

    <div class="content" id="Individuals">
        <div id="summaryarea">
          <form  action="/scene/persons/search" method="post">
            <div class="flex-container2">
{% if cnt + num_hidden > 0 %}
                <div class="description_box2">
<!-- {{cnt}} persons, {{num_hidden}} hidden, rule={{rule}}, status={{status}} -->
    {%- if rule == "years" %}
                    <p>{{ ngettext('Displaying %(num)s person, who may have lived during required years.', 
                                   'Displaying %(num)s persons, who may have lived during required years.', cnt ) }}
                    </p>
    {%- elif rule %}
                    <p>{{ ngettext('Displaying %(num)s person by name.', 
                                   'Displaying %(num)s persons by name.', cnt ) }}
                       {{ _('If the person has many names, they may appear in the list under each name.') }}</p>
    {%- endif %}
                    <p>{{ _('Under person\'s name there are the estimated possible life years determined by person data.') }} </p>
                    <ul>
    {% if num_hidden %}
                        <li>{{ ngettext(
                              '%(num)s person hidden because of privacy protection', 
                              '%(num)s people hidden because of privacy protection', 
                              num_hidden ) 
                            }}.
                        </li>
    {% endif %}
                    </ul>
                    <ul>
                    <p>▶ <a class="inlink" href="/scene/persons/search">{{ _('Most common names') }}</a></p>
                    </ul>
                </div>
{% endif %}

{% if rule %}{% set selection = rule %}
{% else %}{% set selection = "surname" %}
{% endif %}
{% set oldkey = key %}
           
                <div id="namesearch" class="SearchBox2">
                       <h2>
                          <label for="cars">{{ _('Search term') }}</label>
                          <select id="rule" name="rule">
                            <option value="surname"
                                x-desc="{{ _('Any surname (beginning part)') }}"
                        {% if selection == "surname" %}selected{% endif %}>{{ _('Surname') }}</option>
                            <option value="firstname"
                                x-desc="{{ _('Any firstname (beginning part)') }}"
                        {% if selection == "firstname" %}selected{% endif %}>{{ _('Firstname') }}</option>
                            <option value="patronyme"
                                x-desc="{{ _('Any patronymic (beginning part)') }}"
                        {% if selection == "patronyme" %}selected{% endif %}>{{ _('Patronymic') }}</option>
                            <option value="years"
                                x-desc="{{ _('A year (1750) or years range (1700-1750) where persons might live') }}"
                        {% if selection == "years" %}selected{% endif %}>{{ _('Years range') }}</option>
                          </select>
                       </h2>
                       <div style="margin: .5em 1em;">
                       <label for="snam" id="keydesc">Descr.</label>
                       <input type="text" name="key" id="snam"
                          {% if oldkey %}value="{{oldkey}}"
                            {# else %}placeholder="{{ _('Name') }}"#}
                          {% endif %}>
                       </div>
                      <div class="submit"><input type="submit" value="Hae"></div>
                      <div id="searchHelp"></div>
                </div>
            </div>
          </form>

       </div><!-- summaryarea -->

<script>
let selector = document.querySelector("#rule");
let helpText = document.querySelector("#keydesc");
let msg = selector.options[selector.selectedIndex].getAttribute('x-desc');
helpText.textContent = msg;

selector.addEventListener("change", () => {
	let msg = selector.options[selector.selectedIndex].getAttribute('x-desc');
	helpText.textContent = msg;
});
</script>

    <div>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}
    </div> <!-- end messages -->
{% if status == 'OK' %}
	<div id="alphanav">
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
	        {% for p in persons %}
         	  {% set ini = p.names[0].initial|upper %}
              {% if loop.changed(ini) %}
                 <li><a href="#{{ini}}" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
              {% endif %}
	        {% endfor %}
			</ul>
	</div>

	<table class="IndividualList">
		<thead>
			<tr><th></th>
                   <th>{{ _('Person') }}</th>
                   <th>{{ _("Person's events") }}</th>
			</tr>
		</thead>
		<tbody>
	    {% for p in persons %}
	        <tr>
                <td class="ColumnAlpha">
            {% set ini = p.names[0].initial|upper %}
            {% if loop.changed(ini) %}
		            <a id="{{ini}}" name="{{ini}}" title="{{ _('Back to Top') }}" href="#">{{ini}}</a>
			{% endif %}
				</td>
	            <td class="ColumnPerson">
                    <div>
	                    <a href="/scene/person?uuid={{p.uuid}}"
	                      title="{{ _('see details of person %(id)s', id=p.uuid_short()) }} (nr={{p.uniq_id}})">
                          {{p.names[0].firstname}} 
            {% if p.names[0].prefix %} {{p.names[0].prefix}}{% endif %}
            {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
            {% else %}    <i>{{p.names[0].suffix}}</i>
            {% endif %} </a>
		                <small class="idno">[{{ p.uuid_short() }}]</small>
		    {% if p.refnames %}
		                <br><small class="refname" title="{{ _('Reference names') }}">
		                  {{ _('Keywords') }}: {{p.refnames}}</small>
            {% endif %}
                        <br><small style="color:olive">{{ macro.lifetimes(p) }}</small>
            {% if p.too_new %}
		                <br><small><i style="color:red;">{{ _('Too recent for display to others!') }}</i></small>
		    {% endif %}
	                </div>
                </td>

	            <td class="ColumnEvent">
            {% if p.events %}<ul>
                {% for e in p.events|sort(attribute='dates') %}
		            <li><i>{{e.type|transl('evt')}}</i> {{e.description}}
		            {% if e.dates %}{{e.dates}} {% endif %}
		            {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
	        {% endif %}
                </td>
	        </tr>
	    {% endfor %}
        </tbody>
    </table>

{% elif rule %}
    <div class="NotFound">
        <p>{{ _('No one found with search keys') }}.</p>
    </div>
    <p>&nbsp;</p>
{% else %}

    <h3>{{ _('Most common names') }}</h3>
    <div class="flex-container2">
        <div class="CloudBox" style="display: inline-block;">
            <div>
        {% if surnamestats %}
                 <form name="surnameform" method="post" action="/scene/persons/search">
                    <input name="rule" type="hidden" value="surname">
                    <input name="key" type="hidden">
                    <script>
                        function submit_search(surname) {
                            document.forms.surnameform.elements.namedItem('key').value = surname;
                            document.forms.surnameform.submit();
                        }
                    </script>
                     {% for stat in surnamestats %}
                        <span style='font-size:{{ stat.fontsize}}px'>
                            <a href=# onclick="submit_search('{{ stat.surname }}')"
                               title="{{ stat.count }} {{ _('persons') }}">{{ stat.surname }}</a>
                        </span>
                     {% endfor %}
                 </form>
        {% else %}
                <i>{{ _('No person names') }}</i>
        {% endif %}
            </div>
        </div>

           <div class="CloudBox CloudPink" style="display: inline-block;">
             <div>
        {% if placenamestats %}
                 <form name="placenameform" method="post" action="/scene/persons/search">
                    <input name="rule" type="hidden" value="placename">
                    <input name="key" type="hidden">
                     {% for stat in placenamestats %}
                        <span style='font-size:{{ stat.fontsize }}px'>
                            <a href="/scene/location/uuid={{ stat.uuid }}"
                               title="{{ stat.count }} {{ _('references') }}">{{ stat.placename }}</a>
                        </span>
                     {% endfor %}
                 </form>
        {% else %}
                <i>{{ _('No places') }}</i>
        {% endif %}
             </div>
           </div>

    </div><!-- end flex-container -->
   {% endif %}
</div><!-- end Individuals -->
{% endblock %}
