<div class="tab-bottom">
    <div class="tab-list">
        <a hx-get="/scene/person_details?uuid={{person.uuid}}">{{ _("Families") }}</a>
        <a hx-get="/scene/person_fanchart?uuid={{person.uuid}}" class="selected">{{ _("Two-way fanchart") }}</a>
    </div>
    <div class="tab-content">
        <div id="chart"></div>
    </div>
</div>

<script type="text/javascript">
    var fanchart_data = JSON.parse('{{ fanchart_data|safe }}');

    Sunburst()
        .data(fanchart_data)
        .size('size')
        .color('color')
        .tooltipContent((d, node) => `<i>${d.tooltipContent}</i>`)
        .onClick((node) => {
            if (node.uuid != null) {
                var searchParams = new URLSearchParams(window.location.search);
                searchParams.set('uuid', node.uuid);
                searchParams.set('fanchart', true);
                var newParams = searchParams.toString();
                window.location.search = newParams
            }
        })
        .radiusScaleExponent(1)
        .width(500)
        .height(500)
        (document.getElementById('chart'));
</script>
