<div class="tab-list">
	<a hx-get="/scene/person_details">{{ _("Families in detail") }}</a>
	<a hx-get="/scene/person_fanchart" class="selected">{{ _("Two-way fanchart") }}</a>
</div>

<div class="column">
    <div id="fanchart"></div>
</div>

<script>
    var fanchart_data = JSON.parse('{{ fanchart_data|safe }}');

    Sunburst()
        .data(fanchart_data)
        .size('size')
        .color('color')
        .tooltipContent((d, node) => `<i>${d.tooltipContent}</i>`)
        ////    .onClick((d, node) => location.reload(location.href + "?uuid={d.uuid}"))
        .radiusScaleExponent(1.2)
        .centerRadius(0.05)
        .width(500)
    (document.getElementById('fanchart'));
</script>