{# _myapp/templates/k_persons.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of persons') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
{% set ordname = [_('surname'), _('first name'), _('patronymic')] %}
{% if order == '' %}{% set order=0 %}{% endif %}
{% set cnt = persons | count %}
<style>
div#description_box p {
    margin: 0.5em;
}
</style>
<div id="startdiv">
	{% if rule == 'all' %}<h2>{{ _('Persons ordered by') }} {{ ordname[order] }}</h2>
	{% elif rule == 'refname' %}<h2>{{ _('Persons carrying a Name') }} {{ key }}</h2>
	{% else %}<h2>{{ _('Persons') }}</h2>
	{% endif %}
    <div>{{ macro.show_use_case() }}</div>
</div>

{{ macro.menu(menuno) }}
    <div class="content">
        <div id="summaryarea">
          <form  action="/scene/persons/search" method="post">
            <div class="flex-container2">
{% if cnt %}
                <div class="description_box2">
    {%- if key == "years" %}
                    <p>{{ ngettext('Displaying %(num)s person,', 
                                   'Displaying %(num)s persons,', cnt ) }}
                       {{ _('who may have lived during required years.') }}</p>
    {%- elif key %}
                    <p>{{ ngettext('Displaying %(num)s person by name.', 
                                   'Displaying %(num)s persons by name.', cnt ) }}
                       {{ _('If the person has many names, they may appear in the list under each name.') }}</p>
    {%- endif %}
                    <p>{{ _('Under person\'s name there are the estimated possible life years determined by person data.') }} </p>
                    <ul>
    {% if num_hidden %}
                        <li>{{ ngettext(
                              '%(num)s person hidden because of privacy protection', 
                              '%(num)s people hidden because of privacy protection', 
                              num_hidden ) 
                            }}.
                        </li>
    {% endif %}
                    </ul>
                </div>
{% endif %}

{% if rule %}{% set selection = rule %}
{% else %}{% set selection = "surname" %}
{% endif %}
{% set oldkey = key %}
           
                <div id="namesearch" class="SearchBox2">
                       <h3>
                          <label for="cars">{{ _('Search term') }}</label>
                          <select id="rule" name="rule">
                            <option value="surname"
                                x-desc="{{ _('Surname (beginning part)') }}"
                        {% if selection == "surname" %}selected{% endif %}>{{ _('Surname') }}</option>
                            <option value="firstname"
                                x-desc="{{ _('Any firstname (beginning part)') }}"
                        {% if selection == "firstname" %}selected{% endif %}>{{ _('Firstname') }}</option>
                            <option value="patronyme"
                                x-desc="{{ _('Patronymic (beginning part)') }}"
                        {% if selection == "patronyme" %}selected{% endif %}>{{ _('Patronymic') }}</option>
                            <option value="years"
                                x-desc="{{ _('A year (1750) or years range (1700-1750) where persons might live') }}"
                        {% if selection == "years" %}selected{% endif %}>{{ _('Years range') }}</option>
                          </select>
                       </h3>
                       <label for="snam" id="keydesc">{{ _('Search word (beginning part)') }}</label>
                       <input type="text" name="key" id="snam"
                          {% if oldkey %}value="{{oldkey}}"
                            {# else %}placeholder="{{ _('Name') }}"#}
                          {% endif %}>
                       <br>
                      <div class="submit"><input type="submit" value="Hae"></div>
                      <div id="searchHelp"></div>
                </div>
<script>
let selector = document.querySelector("#rule");
let helpText = document.querySelector("#keydesc");
let msg = selector.options[selector.selectedIndex].getAttribute('x-desc');
helpText.textContent = msg;

selector.addEventListener("change", () => {
	let msg = selector.options[selector.selectedIndex].getAttribute('x-desc');
	helpText.textContent = msg;
});
</script>
                

            </div><!-- flex-container -->
          </form>
       </div><!-- summaryarea -->
       
    <div>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}

    </div>

{% if status == 0 %}

	<div id="alphanav">
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
	        {% for p in persons %}
         	  {% set ini = p.names[0].initial|upper %}
              {% if loop.changed(ini) %}
                 <li><a href="#{{ini}}" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
              {% endif %}
	        {% endfor %}
			</ul>
	</div>

	<table class="IndividualList">
		<thead>
			<tr><th></th>
<!--                    <th>{{ _('Owner') }}</th> -->
                   <th>{{ _('Person') }}</th>
                   <th>{{ _("Person's events") }}</th>
			</tr>
		</thead>
		<tbody>
	    {% for p in persons %}
	        <tr>
                <td class="ColumnAlpha">
            {% set ini = p.names[0].initial|upper %}
            {% if loop.changed(ini) %}
		            <a id="{{ini}}" name="{{ini}}" title="{{ _('Back to Top') }}" href="#">{{ini}}</a>
			{% endif %}
				</td>
					
<!--			<td style="text-align:center; padding:3px;">
 		    {%- if p.user %}{{p.user}}{% else %} – {% endif %}
				</td>
 -->
	            <td class="ColumnPerson">
                    <div>
	                    <a href="/scene/person?uuid={{p.uuid}}"
	                      title="{{ _('see details of person %(id)s', id=p.uuid_short()) }} (nr={{p.uniq_id}})">
                          {{p.names[0].firstname}} 
            {% if p.names[0].prefix %} {{p.names[0].prefix}}{% endif %}
            {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
            {% else %}    <i>{{p.names[0].suffix}}</i>
            {% endif %} </a>
		                <small class="idno">[{{ p.uuid_short() }}]</small>
		    {% if p.refnames %}
		                <br><small class="refname" title="{{ _('Reference names') }}">
		                  {{ _('Keywords') }}: {{p.refnames}}</small>
            {% endif %}
                        <br><small style="color:olive">{{ macro.lifetimes(p) }}</small>
            {% if p.too_new %}
		                <br><small><i style="color:red;">{{ _('Too recent for display to others!') }}</i></small>
		    {% endif %}
	                </div>
                </td>

	            <td class="ColumnEvent">
            {% if p.events %}<ul>
                {% for e in p.events|sort(attribute='dates') %}
		            <li><i>{{e.type|transl('evt')}}</i> {{e.description}}
		            {% if e.dates %}{{e.dates}} {% endif %}
		            {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
	        {% endif %}
                </td>
	        </tr>
	    {% endfor %}
        </tbody>
    </table>
{% elif rule %}
    <div class="NotFound">
        <p>{{ _('No one found with search keys') }}.</p>
    </div>
    <p>&nbsp;</p>
{% endif %}
</div><!-- Individuals -->
{% endblock %}
