{# _myapp/templates/k_persons.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of persons') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
{% set ordname = [_('surname'), _('first name'), _('patronymic')] %}
{% if order == '' %}{% set order=0 %}{% endif %}
{% set cnt = persons | count %}
<style>
div#description_box p {
    margin: 0.5em;
}
</style>
<div id="startdiv">
	{% if rule[0] == 'all' %}<h2>{{ _('Persons ordered by') }} {{ ordname[order] }}</h2>
	{% elif rule[0] == 'refname' %}<h2>{{ _('Persons carrying a Name') }} {{ rule[1] }}</h2>
	{% else %}<h2>{{ _('Persons') }}</h2>
	{% endif %}
    <div>{{ macro.select_dataset() }}</div>
</div>

{{ macro.menu(menuno) }}
    <div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
{% if cnt %}
                <div>
                    <p>{{ ngettext('Displaying %(num)s person.', 
                                   'Displaying %(num)s persons.', cnt ) }}
                       {{ _('If the person has many names, they may appear in the list under each name.') }}
                    </p>
                    <p>{{ _('Note that family events are not included.') }} </p>
                    </p>
                    <ul>
    {% if rule[0] == 'all' %}
                        <li>{{ _('Sorted by %(order)s.', order=ordname[order]) }}
                            {{ _('Change Order:') }} 
        {% if order != 0 %}<a href="/scene/persons/all/" 
                              class="inlink">{{ _('Surname') }}</a> /{% endif %}
        {% if order != 1 %}<a href="/scene/persons/all/fn" 
                              class="inlink">{{ _('First Name') }}</a> /{% endif %}
        {% if order != 2 %}<a href="/scene/persons/all/pn" 
                              class="inlink">{{ _('Patronymic or Matronymic') }}</a>{% endif %}.
                        </li>
    {% endif %}
    {% if num_hidden %}
                        <li>{{ ngettext(
                              '%(num)s person hidden because of privacy protection', 
                              '%(num)s people hidden because of privacy protection', 
                              num_hidden ) 
                            }}.
                        </li>
    {% endif %}
                    </ul>
                </div>
{% endif %}

                <div id="searching">
                   <fieldset>
                       {% if rule[0] %}{% set selection = rule[0] %}
                       {% else %}{% set selection = "surname" %}
                       {% endif %}
           
                       <form  action="/scene/persons" method="post">
                           <p>{{ _('Search takes place from beginning of selected name part, e.g. in Surname "Sib" coincides with the name "Sibbe".') }}</p>
                           <label for="snam">{{ _('Search word (beginning part)') }}&nbsp; </label>
                           <input type="text" name="name" id="snam" 
                              {% if name %}value="{{name}}"
                              {% else %}placeholder="{{ _('Name') }}"{% endif %} required>
                           <br>
                           <input type="radio" name="rule" id="ssur" value="surname"
                            {% if selection == "surname" %}checked{% endif %}>
                           <label for="ssur">{{ _('Surname') }}</label>
                           <input type="radio" name="rule" id="sfir" value="firstname"
                            {% if selection == "firstname" %}checked{% endif %}>
                           <label for="sfir">{{ _('Firstname') }}</label>
                           <input type="radio" name="rule" id="ssuf" value="patronyme"
                            {% if selection == "patronyme" %}checked{% endif %}>
                           <label for="ssuf">{{ _('Patronymic') }}</label>
                           <input type="submit" value="Hae">
                       </form>
                   </fieldset>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ol  class='flashes'>
                {% for category, message in messages %}
                  <li class='flash_{{category}}'>{{ message }}</li>
                {% endfor %}
                </ol>
              {% endif %}
            {% endwith %}
       </div>
       
    <div>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}

    </div><!-- summaryarea -->

{% if persons|count > 0 %}

	<div id="alphanav">
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
	        {% for p in persons %}
	        	{% set ini = p.names[0].initial|upper %}
	            {% if loop.changed(ini) %}
	                <li><a href="#{{ini}}" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
	            {% endif %}
	        {% endfor %}
			</ul>
	</div>

	<table class="IndividualList">
		<thead>
			<tr><th></th>
                   <th>{{ _('Owner') }}</th>
                   <th>{{ _('Person') }}</th>
                   <th>{{ _("Person's events") }}</th>
			</tr>
		</thead>
		<tbody>
	    {% for p in persons %}
	        <tr>
                <td class="ColumnAlpha">
            {% set ini = p.names[0].initial|upper %}
            {% if loop.changed(ini) %}
		            <a id="{{ini}}" name="{{ini}}" title="{{ _('Back to Top') }}" href="#">{{ini}}</a>
			{% endif %}
				</td>
					
				<td style="text-align:center; padding:3px;">
		    {%- if p.user %}{{p.user}}
		    {% else %} – 
		    {% endif %}
				</td>

	            <td class="ColumnPerson">
                    <div>
	                    <a href="/scene/person?uuid={{p.uuid}}"
	                      title="{{ _('see details of person %(id)s', id=p.uuid_short()) }} (nr={{p.uniq_id}})">
                          {{p.names[0].firstname}} 
            {% if p.names[0].prefix %} {{p.names[0].prefix}}{% endif %}
            {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
            {% else %}    <i>{{p.names[0].suffix}}</i>
            {% endif %} </a>
		                <small class="idno">[{{ p.uuid_short() }}]</small>
		    {% if p.refnames %}
		                <br><small class="refname" title="{{ _('Reference names') }}">
		                  {{ _('Keywords') }}: {{p.refnames}}</small>
            {% endif %}
                        <br><small style="color:olive">{{ macro.lifetimes(p) }}</small>
            {% if p.too_new %}
		                <br><small><i style="color:red;">{{ _('Too recent for display to others!') }}</i></small>
		    {% endif %}
	                </div>
                </td>

	            <td class="ColumnEvent">
            {% if p.events %}<ul>
                {% for e in p.events|sort(attribute='dates') %}
		            <li><i>{{e.type|transl('evt')}}</i> {{e.description}}
		            {% if e.dates %}{{e.dates}} {% endif %}
		            {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
	        {% endif %}
                </td>
	        </tr>
	    {% endfor %}
        </tbody>
    </table>
{% elif rule | count > 1 %}
    <div class="NotFound">
        <p>{{ _('No one found with search keys') }}.</p>
    </div>
    <p>&nbsp;</p>
{% endif %}
</div><!-- Individuals -->
{% endblock %}
