{# _templates/scene/person.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _("Person's details") }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<h2>{{ _("Person's details") }}</h2>

{{ macro.menu(1) }}
    <div class="content" id="IndividualDetail">
        {% if photos %}<div class="snapshot">
            <div class="thumbnail"><a href="#indivgallery">
                <img alt="{{ _('in Photo') }} {{photos[0].description}}" 
                	src="thumbnail?id={{photos[0].uuid}}" />
            </a></div>
        </div>{% endif %}
        <h3 style="position:sticky; top:0;">{{person.names[0].firstname}} 
            <i>{{person.names[0].suffix}}</i> {{person.names[0].prefix}} <b>{{person.names[0].surname}}</b>
        </h3>
        {% set myuuid = person.uuid %}
        {# set mybirth = "" %}{% for e in events %}
            {% if e.type == "Birth" %}{% set mybirth = e.date %}{% endif %}{% endfor #}
        
        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute">{{ _('Identifiers') }}</td>
                    <td class="ColumnValue">
                        {% if person.uuid %}<span class="id">{{person.uuid[:6]}}</span> /{% endif %}
                        <span class="id">{{person.uniq_id}}</span> / <tt>{{person.id}}@{{person.owner}}</tt></td>
                </tr>
                {% for pname in person.names|sort(attribute='order')  %}<tr>
                    <td class="ColumnAttribute">{{pname.order + 1}}. {{pname.type|transl('nt')}}</td>
                    <td class="ColumnValue">
                        <span title="{{ _('Firstname') }}">{{pname.firstname}}</span>
                        <i title="{{ _('Patronymic') }}">{{pname.suffix}}</i>
                        {% if pname.prefix %}<span title="etuliite">{{pname.prefix}}</span>{% endif %}
                        <b title="{{ _('Surname') }}">{{pname.surname}}</b>
                        <!-- todo: <a href="#sref3a">3a</a> -->
                        <!-- {% if pname.refname %}&nbsp; 
                          <tt class="refname" title="{{ _('Reference name') }}">{{pname.refname}}</tt -->
                        {% endif %}
                   <!-- <ul><div class="grampsstylednote">
                            <p>{{ _('This will contain a Person Note') }}</p>
                        </div></ul>
                   -->
                    </td>
                </tr>{% endfor %}
                {% if person.sex %}<tr>
                    <td class="ColumnAttribute">{{ _('Gender') }}</td>
                    <td class="ColumnValue">{{ person.sex_str() }}</td>
                </tr>{% endif %}
                {% if person.priv %}<tr>
                    <td class="ColumnValue" title="{{ _('Private data') }}">{{ macro.lock(person.priv) }}</td>
                </tr>{% endif %}
                
                {% if person.confidence %}<tr>
                    <td class="ColumnAttribute">{{ _('Confidence of data') }}</td>
                    <td class="ColumnValue">{{ macro.stars(person.confidence|float) }}</td>
                </tr>{% endif %}
<!--            <tr>
                    <td class="ColumnAttribute">{{ _('Age at death') }}</td>
                    <td class="ColumnValue">66 vuotta 10 kuukautta 21 päivää</td>
                </tr>
-->
            </table>
        </div -->

        <div class="subsection" id="events">
            <h4>{{ _('Events') }}</h4>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">{{ _('Event') }}</th>
                        <th class="ColumnDate">{{ _('Date') }}</th>
                        <th class="ColumnPlace">{{ _('Place') }}</th>
                        <th class="ColumnDescription">{{ _('Description') }}</th>
                        <th class="ColumnNotes">{{ _('Note') }}</th>
                        <th class="ColumnSources">{{ _('Sources') }}</th>
                    </tr>
                </thead>
                <tbody>
        {% for e in events|sort(attribute='dates') %}
                    <tr>
                 	{% if e.type == "Cause Of Death" %}
                		{% set t_cause_of_death = e %}
            		{% else %}
                        <td class="ColumnEvent">
                            <span class="id">
                            {% if e.type == "Baptism" %}
                            	<a href="/lista/baptism_data/{{e.uniq_id}}">{{e.uniq_id}}</a></span>
                             	{{e.type|transl('evt')}}
                         	{% else %}
                         		{{e.uniq_id}}</span> {{e.type|transl('evt')}}
                         	{% endif %}
                            {% if e.role != "Primary" %}<span 
                                class="typedesc">({{e.role|transl('role')}})</span>{% endif %}
                        </td>
                        <td class="ColumnDate">{% if e.dates %}{{e.dates}}{% else %}–{% endif %}</td>
                        <td class="ColumnPlace">
                          {% if e.place %}
                            <a href="/scene/location={{e.place.uniq_id}}" class="inlink"
                            title="{{ _('of Type') }} {{e.place.type}}; {{ _('See Place details') }}">
                            {{macro.place_names(e.place)}}</a>
                          {% endif %}
                        </td>
                        <td class="ColumnDescription">{{e.description}}</td>
                        <td class="ColumnNotes">
                            <div>{% if e.type == "Death" %}
                            	{% if t_cause_of_death %}<span
                            	   class="typedesc">{{ _('Cause Of Death') }}</span> 
                            	       {{t_cause_of_death.description}}
                                       {{t_cause_of_death.dates}}
                                       {{t_cause_of_death.clearnames|join(' • ')}}<br>
                            	{% endif %}{% endif %}
                            	{% if e.notes %}{% set first = True %}{% for note in e.notes %}
                            	   {% if first %}{% set first = False %}{% else %}<br>{% endif %}
                            	   <span class="typedesc">{{ note.type|transl('notet') }}</span>
                            	       {{ macro.notelink(note) }}{% endfor %}{% endif %}
                            	</div>
                        </td>
                        <td class="ColumnSources">
                         {% if e.source %}
                         	<a href="#sref{{e.source}}a">{{e.source}}a</a>
                     	 {% endif %}
                        </td>
                    {% endif %}
                    </tr>
         {% endfor %}
                 </tbody>
            </table>
        </div>

        <div class="subsection" id="families">
            <h4>{{ _('Families') }}</h4>
            {% set chtype = {"F":"tytär", "M":"poika", "":"lapsi"} %}
            <div class="mainbox" title="{{ _('Families') }}">
                <p>{{ _("Parents' family") }}</p>
            {% for fam in families %}{% if fam.role == "CHILD" %}
                <div class="groupbox">
	                <div class="familybox" title="{{ _('Family') }} {{fam.id}}">
	                    <p>{{ _('Family') }} <a href="/scene/family={{fam.uniq_id}}">{{fam.id}}</a></p>
	                    <ul>{% if fam.father %}
	                        <li>{{ _('Father') }}: {{ macro.person(fam.father, myuuid) }}</li>
	                {% endif %}{% if fam.mother %}
	                        <li>{{ _('Mother') }}: {{ macro.person(fam.mother, myuuid) }}</li>
	                {% endif %}{% if fam.children|count %}
	                        <li>{{ _('Children') }}<ul>{% for ch in fam.children|sort(attribute='birth_date') %}
	                            <li>{{chtype[ch.sex]}}: {{ macro.person(ch, myuuid) }}</li>{% endfor %}
	                        </ul></li>
	                {% endif %}
	                    </ul>
	                </div>
                </div>
            </div>
            {% endif %}{% endfor %}

            <div class="mainbox" title="{{ _('Central Person') }}">
	            <p>{{person.names[0].firstname}} {{ _('self') }}</p>
	            <div class="groupbox">
		            <div class="personbox" title="{{ _('self') }}">
		                <span title="{{ _('Firstname') }}">{{person.names[0].firstname}}</span>
		                {% if not person.names[0].surname %}<i title="{{ _('Patronymic') }}">{{person.names[0].suffix}}</i>
		                {% else %}{% if person.names[0].prefix %}<span title="etuliite">{{person.names[0].prefix}}</span>{% endif %}
		                <b title="{{ _('Surname') }}">{{person.names[0].surname}}</b>
		                {% endif %}
		            </div>
	            </div>
	        </div>

            <div class="mainbox" title="{{ _('Own families') }}">
                <p>{{ _('As Parent in Family') }}</p>
	            <div class="groupbox">
		            {% for fam in families %}{% if fam.role != "CHILD" %}
		            <div class="familybox" title="{{ _('Family') }} {{fam.id}} {{fam.role}}">
		                <p>{{ _('Family') }} <a href="/scene/family={{fam.uniq_id}}">{{fam.id}}</a></p>
		                <ul>{% if fam.father %}
		                        <li>{{ _('Father') }}: {{ macro.person(fam.father, myuuid) }}</li>
		                {% endif %}{% if fam.mother %}
		                        <li>{{ _('Mother') }}: {{ macro.person(fam.mother, myuuid) }}</li>
		                {% endif %}{% if fam.children|count %}
		                        <li>{{ _('Children') }}<ul>{% for ch in fam.children|sort(attribute='birth_date') %}
		                            <li>{{chtype[ch.sex]}}: {{ macro.person(ch, myuuid) }}</li>
		                         {% endfor %}</ul></li>
		                {% endif %}
		                    </ul>
		                </ol></div>
		            {% endif %}{% endfor %}
	             </div>
             </div>

        </div>

        <div class="subsection" id="indivgallery">
            <h4>{{ _("Media") }}</h4>
        {% for photo in photos %}
            <div class="thumbnail">
                <a href="media/{{photo.name}}?id={{photo.uuid}}">
                  <img alt="({{ _('Photo') }})" 
                     src="/scene/thumbnail?id={{photo.uuid}}" 
                     title="key = {{photo.uuid_str()}}"/></a>
                <div style="word-break: break-all;">
                    {{photo.description}}</div>
            </div>
        {% endfor %}
            <div class="fullclear"></div>
        </div>

<!--
        <div class="subsection scene">
            <h4>{{ _('Narrated') }}</h4>
            <div class="grampsstylednote">
                <p>
                {{ _('Note') }}
                </p>
            </div>
        </div>
-->
<!--
        <div class="subsection" id="pedigree">
            <h4>{{ _('Ahnentafel Report') }}</h4>
            <ol class="pedigreegen">
                <li>
                    <a href="../../../ppl/8/a/ce373c19c2f1a78cda8.html">Silius, Carl Gustaf</a>
                    <ol>
                        <li class="spouse">
                            <a href="../../../ppl/8/a/ce373c19c692ce8a5a8.html">Berttunen, Brita Kristina Eriksdotter</a>
                            <ol>
                                <li>
                                    <a href="../../../ppl/4/b/ce373c19c935b19acb4.html">Silius, Knut</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/9/8/ce373c19cba64453b89.html">Silius, Karl Aleksander</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/3/a/d62cce4aee65110a2a3.html">Silius, Knut Theodor nuor.</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/1/5/ce373c19ce0245e8851.html">Silius, Aina Alina</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/2/a/ce373c19da6166834a2.html">Airola ent. Silius, Knut Theodor</a>
                                </li>
                                <li class="thisperson">
                                Airola, Kalle Kustaa ent. Silius
                                    <ol class="spouselist">
                                        <li class="spouse">
                                            <a href="../../../ppl/d/3/ce373c1949b5af12e3d.html">Serenius, Saimi Alli Zuleima</a>
                                            <ol>
                                                <li>
                                                    <a href="../../../ppl/f/d/ce373c18ffb7fb981df.html">Airola, Maija Kyllikki</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li class="spouse">
                                            <a href="../../../ppl/1/e/ce373c195ac3fcc8ce1.html">Airola, Irja Tuulikki os. Kajander</a>
                                            <ol>
                                                <li>
                                                    <a href="../../../ppl/f/e/ce373c195dc54f0c8ef.html">Airola, Kalle Eero Ilmari</a>
                                                </li>
                                                <li>
                                                    <a href="../../../ppl/f/2/ce373c1984203db7f2f.html">Airola, Leena Irja Tuulikki</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="../../../ppl/2/1/ce373c19d7f6d6f7412.html">Silius, Hilja Kristina</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/3/1/ce373c19de07cf7a113.html">Airola, Saima Adele ent. Silius</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/8/5/ce373c19e4557f46258.html">Airola, Elsa Elina</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
-->
        <!-- div class="subsection" id="tree"><h4>Esivanhemmat -->
        <div class="subsection" id="sourcerefs">
            <h4>{{ _('Source References') }}</h4>
            <ol>
                {% set source_cnt = 0 %}
{#- 
>>> cita = citations[0] = <models.gen.citation.Citation object>
>>> citations[0].source = <models.gen.source.Source object>
>>> citations[0].source.stitle = 'Kangasala syntyneet 1721-1778'
>>> citations[0].source.repositories[0].rname = 'Kangasalan seurakunnan arkisto'
#}
                {% for cita in citations %}
                <li>
                    {% for repo in cita.source.repositories %}
	            		{{repo.rname}}:
	            		<a href="/scene/source={{cita.source.uniq_id}}" class="inlink"
	                       title="{{ _('see details of source %(id)s', id=cita.source.uniq_id) }}"
	                       >{{cita.source.stitle}}</a>
                    {% endfor %}
                    <ol>
                         {% set source_cnt = source_cnt + 1 %}
                         {% set conf = cita.confidence | int %}
                         <li id="sref{{ source_cnt }}a"
                          title="{{cita.confidence|transl("conf")}} {{ _('confidence') }} ({{cita.confidence}})"
                           {% if cita.confidence and cita.confidence < "2" %}
                             style="color:red"{% endif %}>
                             {{ _('Page') }}:
<!--			     {{cita.page}}-->
			     <a href="{{cita.source.notes[0].url}}" target="_blank"> {{cita.page}}</a>
			     &nbsp; {{ macro.stars(conf) }}

                   {% if cita.notetext %}<br>
                              <i {% if cita.confidence and cita.confidence < "2" %}
                             style="color:red"{% endif %}>{{ cita.notetext }}</i>{% endif %}                           
                         </li>
                	</ol>
                </li>
				{% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}

