{# _myapp/templates/list_persons.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('List of persons') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}

{% set cnt = persons|count %}
{% set user = owner_filter.user %}
{% set next = owner_filter.scope %}
{% set filt_owners = owner_filter.filter %}
{% if filt_owners == 3 or filt_owners == 5 %}{#
	#   common_own   011 3 = 1+2 = user's data & common
	#   common_batch 101 5 = 1+4 = user batch & common #}
	{% set multi_owners = filt_owners - 1 %}
    {% set my_set = owner_filter.choices.as_str[filt_owners-1] %}
    {% set my_common = _('Approved common data') %}
{% else %}
    {% set multi_owners = 0 %}
    {% set my_set = owner_filter.choices.as_str[filt_owners] %}
{% endif %}

<div id="startdiv">
	{% if session['owner_filter'] %}
	    <h2>{{ _('Persons filtered by') }} {{ owner_filter.owner_str() }}</h2>
	{# elif rule[0] == 'refname' %}
	    <h2>{{ _('Persons carrying a Name') }} {{ rule[1] }}</h2> #}
	{% else %}
	    <h2>{{ _('Persons') }}</h2>
	{% endif %}
	
<!-- 	<p><small>{{cnt}} persons, user {{user}}, filter {{filt_owners}} {{my_set}}, next {{next}}</small></p> -->
</div>

{{ macro.menu(menuno) }}
	<div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
	           <div id="description">
                   <p>{{ _('Displaying %(num)s distinct persons', num=cnt) }}
                       {% if next[0] > ' ' %}{{ _('starting <tt>%(name)s</tt>', name=next[0]) }}
                       {% else %}{{ _('from begin') }}
                       {% endif %}
                       {% if num_hidden %}
                       		<br>-
						    {{ ngettext(
						    	'%(num)s person hidden because of privacy protection', 
						    	'%(num)s people hidden because of privacy protection', 
						    	num_hidden ) 
						    }}
                       {% endif %}
                       <br>-
                       {{ _('data set') }}
                       <b>{% if multi_owners %}
                            &FilledSmallSquare;&nbsp;{{my_set}} / <span class="owner">&nbsp;{{my_common}}&nbsp;</span>.
                       {% else %}{{my_set}}
                       {% endif %}</b>
                       {% if user %}
                       (<i><a href="/" title="{{ _('Change the data set shown') }}" 
                            style="text-decoration-line: underline;">{{ _('Change') }}</a></i>).
                       {% endif %}</p>
	           </div>
	           <div>
	               <form action="/scene/persons_all">
	                 <fieldset>
	                    <input type="hidden" name="c" value="50" >
	                    <label for="fw">{{ _('Go to') }}</label>
	                    <input type="text" name="fw" size="8" 
	                     title="{{ _('Starting letters of surname') }}" 
	                     placeholder="{{ _('Surname') }}">
	                    <input type="submit" value=" > ">
	                 </fieldset>
	               </form>
	           </div>
            </div>
	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}
        </div>

    {% if cnt %}
		<div id="alphanav">{% set alpha = "¤" %}
			<ul><li><a href="#" title="{{ _('Top of page') }}">&uarr;</a></li>
			    <li>{% if next[0] > ' ' %}
			         <a href="/scene/persons_all/?fw=%20" title="{{ _('first page') }}" class="navlink">|&lt;</a>
			    {% else %}<span class="navlink">|&lt;</span>
			    {% endif %}</li>
                <li><span class="navlink" title="{{ _('previous page') }}" style="cursor:not-allowed"> &lt; </span></li>

            {% for p in persons %}
                {% set ini = p.sortname[0] %}
                {% if loop.changed(ini) %}{% if not ini == "#" %}
	                <li><a href="javascript:jump('{{ini}}')" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
                {% endif %}{% endif %}
            {% endfor %}
            {% if next[1].startswith('>') %}
                <li><span class="navlink" title="{{ _('no next page') }}" style="cursor:not-allowed"> &gt; </span></li>
            {% else %}
	            <li><a href="/scene/persons_all/?{{ {'fw':next[1]} | urlencode }}" 
	                 title="{{ _('next page') }}" class="navlink"> &gt; </a></li>
            {% endif %}
            </ul>

		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
					<th>{{ _('Person') }}</th>
                    <th>{{ _("Events") }}</th>
				</tr>
			</thead>
			<tbody>

	    {% for p in persons %}
	       {% if multi_owners %}
              {% set owner_but_me = p.owners | sort %}
	       {% else %}{% set owner_but_me = [] %}
	       {% endif %}
	            <tr><td class="ColumnAlpha">
           {% set ini = p.sortname[0] %}
           {% if loop.changed(ini) %}
              {% if ini == "#" %}{% set symbol = '–' %}
              {% else %}{% set symbol = ini %}{% endif %}
		               <a id="{{symbol}}" name="{{ini}}" title="{{ _('Back to Top') }}" 
		                  href="#">{{symbol}}</a>
	       {% endif %}
	                </td>

	                <td class="ColumnPerson">
	                    <div>
           {% if p.owners %}
              {# Special hack, see "Can a Jinja variable's scope extend beyond in an inner block?" #}
              {% set not_mine = [False] %}
	          {% for ow in p.owners %}
	             {% if config['DEMO'] or ow == user %}
                            <div class="detail_link" alt="{{p.uniq_id}}">
                                 {{p.sex_symbol()}} 
 								{{ macro.person_names_anon(p, p.names) }}
                            </div>
                 {% else %}{% set _x = not_mine.append(not not_mine.pop()) %}
                            <span class="owner">&nbsp;{{ow}}&nbsp;</span>
                            <div class="no_detail" title="Ei katseluoikeutta!">
                                 {{p.sex_symbol()}} {{ macro.person_name(p.names[0]) }}
                            </div>
                 {% endif %}
	          {% endfor %}
	       {% else %}
                            <div class="detail_link" alt="{{p.uniq_id}}">
                                {{p.sex_symbol()}} 
								{{ macro.person_names_anon(p, p.names) }}
                                {# macro.person(p) #}
                            </div>
	       {% endif %}

           

                             <br>
           {% if p.uuid %}   <span class="idno">Uuid:{{p.uuid_short()}} /</span>
	       {% endif %}
                             <span class="id" title="{{ _('Original ID') }}">{{p.id}}</span>
	                    </div>
	                </td>

                <td class="ColumnEvent">
           {% if p.events is iterable %}
                    <div>
              {% for e in p.events|sort() %}
                 {% if e.type == "Birth" or e.type == "Death" %}{% set ecl = "major" %}
                 {% else %}{% set ecl = "minor" %}{% endif %}
                        <div class="eventgrid">
                            <div class="col col_event">
                                <span class="evtype {{ecl}}">{{e.type|transl('evt')|lower}}</span>
                                {{e.description}}</div>
                            <div class="col col_date">
                                {% if e.dates %}{{e.dates}} {% endif %}
                                {% if e.place %} | {{e.place}}{% endif %}</div>
                      </div>
              {% endfor %}
                    </div>
           {% else %}<u>See person {{p.events}}</u>
                </td>
           {% endif %}
	    {% endfor %}

        {% if next[1].startswith('>') %}
                <tr><td class="ColumnAlpha"></td>
                    <td colspan="2" id="lastitem_badge">
                        <i>{{ _('The last item found') }}</i>
                    </td>
                </tr>
	    {% endif %}
            </tbody>
        </table>
	{% else %}
        <div class="NotFound">
            <p>{{ _('No one found with search keys starting "%(name)s"', name=next[0]) }}.</p>
            {% if next[0] %}<p>&nbsp;&#9656; <a href="/scene/persons_all/?fw=%20" 
                title="{{ _('first page') }}">{{ _("Go to the first person") }}</a></p>
            {% endif %}
        </div>
        <p>&nbsp;</p>
	{% endif %}
    </div>
{% endblock %}
