{# _myapp/templates/k_place_events.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('Place events') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<style>
#summaryarea { margin-left: 4em; }
div#summaryarea div.scrollbox {
    max-height: 230px; 
    overflow: scroll;
    margin-left: 15px;
/*     border: 1px solid #CCC; */
    padding: .5em;
}
div.scrollbox ul { margin: 0 }

div#events div.scrollbox {
    display: inline-block;
    max-height: 600px; 
    overflow: scroll;
/*     border: 1px solid #CCC; */
}
</style>

<div id="startdiv">
    <h2>{{ _('Place events') }}</h2>
</div>

{{ macro.menu(4) }}
    <div class="content" id="Place">
{% if place %}
    {% set current_p = place.uuid %}
      {% if place.coord %}
        <div id="map">{% if '°' in place.coord %}
        {{ _('Invalid coordinates') }}: {{place.coord}}
        &mdash; {{ _('should be in decimal format') }}
        {% else %}{% set r = 0.15 %}
            {% set y = place.coord[0] %}
            {% set x = place.coord[1] %}
           <iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src="https://www.openstreetmap.org/export/embed.html?bbox={{
             x - r }}%2C{{ y - r }}%2C{{ x + r  }}%2C{{ y + r }}&amp;layer=mapnik&amp;marker={{y}}%2C{{x}}" 
            style="border: 1px solid black"></iframe><br>
           <a target="map"
            href="https://www.openstreetmap.org/?mlat={{y}}&amp;mlon={{x}}#map=9/{{y}}/{{x}}">
            - {{ _('OpenStreetMap on a larger scale') }}</a><br>
           <a target="map" href="https://www.google.fi/maps/@{{y}},{{x}},14z?hl=fi">
            - {{ _('on Google Map') }}</a>
           <p>{{ _('Location') }}: N&nbsp;{{ '{0:0.4f}'.format(y) }}, 
            E&nbsp;{{ '{0:0.4f}'.format(x) }}</p>
        {% endif %}</div>
      {% endif %}

    <h3 class="sticky" title="▲ {{ _('Top') }}"><a href="#">
        {{ place.name.name }} ({{ place.type|transl('lt') }})</a></h3>
        <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}
        </div>

        <div id="summaryarea">
            <div class="scrollbox">
                <ul>{% for p in pl_hierarchy %}
                    <li style="margin-left: {{p.level * 2 - 2}}em;">
                    {% if p.uuid == current_p %}
                        <b style="font-size:larger;">{{ macro.place_names(p) }}</b>
                    {% else %}<a href="/scene/location/uuid={{p.uuid}}" class="inlink">
                        {{ macro.place_names(p) }}
                    </a>
                    {% endif %} <span class="typedesc">&nbsp;{{p.type|transl('lt')}}</span></li>
                {% endfor %}</ul>
            </div>
            <table><tbody>
                <tr><td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="Value">{{macro.all_obj_ids(place)}}</td>
                    <td></td>
                </tr>
    {% if place.notes %}
                <tr><td class="ColumnAttribute">{{ _('Notes') }}</td>
                    <td class="Value"><ul>
         {% for note in place.notes %}
                        <li><span class="typedesc">{{ note.type|transl('notet') }}</span>
                            {{ macro.notelink(note) }}</li>
        {% endfor %}
                    </ul></td>
                </tr>
    {% endif %}
            </div>
        </div>
            </tbody></table>
        </div>

    {% if place.noteref_hlink %}
        <div id="notes">
            <h4>{{ _('Note') }}</h4>
            <table class="infolist notelist">
                <thead>
                    <tr>
                        <th> </th>
                        <th class="ColumnDescription">{{ _('Type') }}</th>
                        <th class="ColumnDescription">{{ _('Additional Information') }}</th>
                    </tr>
                </thead>
                <tbody>
        {% for n in place.noteref_hlink %}
                    <tr>
                        <td class="ColumnValue" title="{{ _('Private data') }}">{{ macro.lock(n.priv) }}</td> 
                        <td class="ColumnDescription">{{n.type|transl('notet')}}</td> 
                        {% if n.url %}
                        <td class="ColumnDescription"><a href="{{n.url}}">{{n.text}}</a></td>
                        {% else %}
                        <td class="ColumnDescription">{{n.text}}</td>
                        {% endif %}
                    </tr>
         {% endfor %}
                 </tbody>
            </table>
        </div>
    {% endif %}

    {% if place.media_ref %}
        <div id="medias">
            <h4>{{ _('Media') }}</h4>
            <table class="infolist medialist">
                <thead>
                    <tr>
                        <th class="ColumnDescription">{{ _("Title") }}</th>
                        <th class="ColumnDescription">{{ _('Photo') }}</th>
                    </tr>
                </thead>
                <tbody>
        {% for m in place.media_ref %}
                    <tr>
                        <td class="ColumnDescription"><a href="/scene/media?uuid={{m.uuid}}" class="inlink"
                   title="{{ _('Go to media page') }}">{{m.description}}</a></td>
                        <td class="ColumnDescription">
                        	<div class="thumbnail">
					            <img alt="({{ _('Photo') }})" 
					                 src="/scene/thumbnail?id={{m.uuid}}" 
					                 title="key = {{m.uuid_str()}}"/>
				        	</div></td>
                    </tr>
         {% endfor %}
                 </tbody>
            </table>
        </div>
    {% endif %}
    
        <div id="events">
            <h4>{{ _('Events') }}</h4>
    {% if events %}
            <div class="scrollbox">
              <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnPerson">{{ _('Person') }}</th>
                        <th class="ColumnEvent">{{ _('Event') }}</th>
                        <th class="ColumnDate">{{ _('Date') }}</th>
                        <th class="ColumnDescription">{{ _('Description') }}</th>
                    </tr>
                </thead>
                <tbody>
        {% for e in events|sort %}
                    <tr>
                        <td class="ColumnPerson">
            {% if e.indi_label == "Person" %}
	                        {{ macro.person_names_anon(e.indi, e.indi.names) }}
            {% else %}
                            {{ macro.family_name(e.indi) }}
            {% endif %}
                        </td>
                        <td class="ColumnEvent">{{e.type|transl('evt')}}
                          {% if e.role != "Primary" %}({{e.role|transl('role')}}){% endif %}
                        </td>
                        <td class="ColumnDate">{{e.dates}}</td>
                        <td class="ColumnDescription">{{e.description}}</td>
                    </tr>
         {% endfor %}
                 </tbody>
              </table>
            </div>
    {% else %}
        <p>{{ _('No events') }}</p>
    {% endif %}
        </div>

{% else %}
<p>{{ _('The required place was not found.') }}</p>
</div>
{% endif %}
{% endblock %}

