{# _templates/scene/locations.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('Places') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
{% set cnt = places|count %}
{% set user = user_context.user %}
{% set next = user_context.scope %}
{% set ctxt = user_context.context %}
{% if ctxt == 3 or ctxt == 5 %}{#
	#   common_own   011 3 = 1+2 = user's data & demo
	#   common_batch 101 5 = 1+4 = user batch & demo #}
	{% set multi_owners = ctxt - 1 %}
    {% set my_set = user_context.choices.as_str[ctxt-1] %}
    {% set my_common = _('Demo-data') %}
{% else %}
    {% set multi_owners = 0 %}
    {% set my_set = user_context.choices.as_str[ctxt] %}
{% endif %}

<div id="startdiv">
    <h2>{{ _('Places List') }}</h2>
    <div>{{ macro.select_dataset() }}</div>
</div>

{{ macro.menu(menuno) }}
	<div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
				<div id="description_box">
                   <p>{{ _('Displaying %(num)s distinct places', num=cnt) }}
                       {% if next[0] > ' ' %}{{ _('starting <tt>%(name)s</tt>', name=next[0]) }}.
                       {% else %}{{ _('from begin') }}
                       {% endif %}
                   </p>
	           </div>
	           <div>
		           <form action="/scene/locations">
		             <fieldset>
		                <input type="hidden" name="c" value="50" >
		                <label for="fw">{{ _('Go to') }}</label>
		                <input type="text" name="fw" size="8" 
		                 title="{{ _('Starting letters of place') }}" 
		                 placeholder="{{ _('Place') }}">
		                <input type="submit" value=" > ">
		             </fieldset>
		           </form>
		       </div>
			</div>
		    {% with messages = get_flashed_messages(with_categories=true) %}
		      {% if messages %}
		        <ol  class='flashes'>
		        {% for category, message in messages %}
		          <li class='flash_{{category}}'>{{ message }}</li>
		        {% endfor %}
		        </ol>
		      {% endif %}
		    {% endwith %}
       </div>
       
        {% set last = places|last %}
		<div id="alphanav">{% set alpha = "¤" %}
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
			    <li>{% if next[0] > ' ' %}
			         <a href="/scene/locations?fw=%20" title="{{ _('first page') }}" class="navlink">|&lt;</a>
			    {% else %}<span class="navlink">|&lt;</span>
			    {% endif %}</li>
                <li><span class="navlink" title="{{ _('previous page') }}" style="cursor:not-allowed"> &lt; </span></li>

        {% for p in places %}
        	{% set ini = p.pname[0]|list|first %}
            {% if loop.changed(ini) %}
                <!-- li><a href="#{{ini}}" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li -->
                <li><a href="javascript:jump('{{ini}}')" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
            {% endif %}
        {% endfor %}
            {% if next[1].startswith('>') %}
                <li><span class="navlink" title="{{ _('no next page') }}" style="cursor:not-allowed"> &gt; </span></li>
            {% else %}
	            <li><a href="/scene/locations?{{ {'fw':next[1]} | urlencode }}" 
	                 title="{{ _('next page') }}" class="navlink"> &gt; </a></li>
            {% endif %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
                    <th style="maxwidth:50%">{{ _('Location, related places') }}</th>
                    <th>{{ _('Location') }}</th>
                    <th>{{ _('References') }}</th>
				</tr>
			</thead>
			<tbody>
   
	{% if places %}
	    {% for p in places %}
	    	{% set ini = p.pname[0]|list|first %}
            <tr><td class="ColumnAlpha">
	            {% if loop.changed(ini) %}
	               <a id="{{ini}}" name="{{ini}}" title="{{ _('Back to Top') }}" href="#">{{ini}}</a>
                {% endif %}
                </td>
                <td class="ColumnPerson">
                   <div>
                      <a href="/scene/location/uuid={{p.uuid}}"
                    {% if not p.ref_cnt %} class="dimmed" 
                        title="{{  _('No references to place %(uuid)s', uuid=p.uuid_str()) }}"
                    {% else %} class="inlink"
                        title="{{ _('see details of place %(id)s', id=p.uniq_id) }}"
                    {%- endif %}>
                        <b>{{ macro.place_names(p) }}</b></a>
                      <span class="typedesc">{{p.type|transl('lt')}}</span>
			    {% if p.uppers[0] %}{% set e = p.uppers[0] %}
						<span class="typedesc">{{e.type|transl('lt_in')}}</span>
						<a href="/scene/location/uuid={{e.uuid}}" class="inlink"
						  title="{{ _('Go to location') }} id={{e.uniq_id}}">{{ macro.place_names(e) }}</a> 
		        {% endif %}
                   </div>
            {% if p.lowers %}
		           <ul style="margin:0 0 5px 1em;">
		        {% for e in p.lowers|sort(attribute='pname') %}    <li>
	                       <a href="/scene/location/uuid={{e.uuid}}"
	                         title="{{ _('Go to location') }} id={{e.uniq_id}}">{{ macro.place_names(e) }}</a>
	                       &nbsp;<span class="typedesc">{{e.type|transl('lt')}}</span>
                      </li>
		        {% endfor %}
		           </ul>
	        {% endif %}
	        <td>{% if p.coord %}
                <small>({{p.coord[0]|round(4)}}, {{p.coord[1]|round(4)}})</small>
            {% endif %}</td>
            <td class="numbers">{% if p.ref_cnt %}{{p.ref_cnt}}{% endif %}</td>
	    {% endfor %}
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
