{# _myapp/templates/repository.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('Repository and Sources') }}{% endblock %}
{% import '/scene/macros.html' as macro with context %}
{% block body %}
{{ super() }}
<style>
div#summaryarea ul li p { margin: 0 0 0.3em 0; }
td.Citation {padding:.3em;}
td.Citation > div {display: inline }
td.Citation div ol {padding-top:.3em;}
</style>


<div id="startdiv">
    <h1>{{ _('Repository Details') }}</h1>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(5) }}
    <div class="content" id="IndividualDetail">
	    <h2 style="position:sticky; top:0;" 
	        title="{{ _('Repository') }} {{ macro.obj_title(repo) }}">{{repo.rname}}</h2>

	    <div id="summaryarea">
            <table><tbody>
                <tr>
                    <td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="Value TwoRows">{{macro.all_obj_ids(repo)}}</td>
                    <td></td>
                </tr>
                <tr><td class="ColumnAttribute">{{ _("Type") }}</td>
                    <td class="Value">{{repo.type|transl('rept')}}</td>
                    <td></td>
                </tr>
    {% if repo.notes %}
        <tr><td class="ColumnAttribute">{{ _("Notes") }}</td>
            <td class="Value"><ul>
    	{% for rnote in repo.notes %}
    		<li>{{ macro.notelink(rnote) }}</li>
        {% endfor -%}
        </ul>
    {% endif %}
{#
	{% if source.sauthor or source.spubinfo or source.sabbreviation %}
                <tr><td class="ColumnAttribute">{{ _("Publishing info") }}</td>
                    <td class="Value">{{source.spubinfo}}</td>
                    <td></td>
                </tr>
                <tr><td class="ColumnAttribute">{{ _("Abbreviation") }}</td>
                    <td class="Value">{{source.sabbrev}}</td>
                    <td></td>
                </tr>
	{% endif %}
	{% if source.notes %}
	            <tr><td class="ColumnAttribute">{{ _("Notes") }}</td>
                    <td class="Value"><ul>
    	{% for note in source.notes %}
	                   <li>{{ macro.notelink(note) }}</li>
		{% endfor -%}
                    </ul>
	{% endif %}
#}
            </tbody></table>
	    </div>

        <form>
			<input type="hidden" name="uniq_id" value="{{ repo.uniq_id }}">
        </form>

	{% if user_context.SHOW_DISCUSSION %}
    	<div id="comments_div" hx-get="/scene/hx-comment/comments_header" hx-trigger="load"></div> 
    {% endif %}

	    <div class="subsection" id="source" style="padding-bottom:1em;">
	        <h3>{{ _('Sources in this Repository') }}</h3>
	        <table class="infolist eventlist" width="100%">
	            <tbody>
					<tr>
						<th>{{ _('Media type') }}</th>
						<th>{{ _('Source') }}</th>
						<th>{{ _('Citations') }}</th>
					</tr>
	{% for source in repo.sources %}
	        		<tr>
		{% if source.medium %}
                      <td><span class="typedesc">{{source.medium|transl('medium')}}</span></td>
        {% else %}
                      <td>{{ _('Archieved') }}</td>
        {% endif -%}
	        		  <td><a href="/source/{{source.iid}}" class="inlink"
                   	 	     title="{{ _('Source')}} {{ macro.obj_title(source) }}">
                   	 	  {{source.stitle}}</a>
	        		  </td>
                      <td class="numbers">{{ source.citation_cnt }}</td>

	         		</tr>
	{% endfor %}
                </tbody></table>
	        </div>
	    </div>
{% endblock %}

