{# _myapp/templates/table1.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('Events of a Source') }}{% endblock %}
{% import '/scene/macros.html' as macro with context %}
{% block body %}
{{ super() }}
<style>
div#summaryarea ul li p { margin: 0 0 0.3em 0; }
td.Citation {padding:.3em;}
td.Citation div ol {padding-top:.3em;}
</style>


<div id="startdiv">
    <h2>{{ _('Source References') }}</h2>
</div>

{{ macro.menu(5) }}
    <div class="content" id="IndividualDetail">
	    <h3 style="position:sticky; top:0;" title="{{ _('Source') }}">{{source.stitle}}</h3>
	        <div id="summaryarea">

{% for repo in source.repositories %}
               <p>
                  <span class="typedesc">{% if repo.medium %}{{repo.medium|transl('medium')}}{% endif %}</span>
                  {{ _('in the repository') }} <b>{{repo.rname}}</b></p>
{% endfor %}
            <table><tbody>
                <tr><td class="ColumnAttribute">{{ _("Identifiers") }}</td>
                    <td class="Value">{{macro.all_obj_ids(source)}}</td>
                    <td></td>
                </tr>
                <tr><td></td></tr>
{% if source.sauthor or source.spubinfo or source.sabbreviation %}
                <tr><td class="ColumnAttribute">{{ _("Author") }}</td>
                    <td class="Value">{{source.sauthor}}</td>
                    <td></td>
                </tr>
                <tr><td class="ColumnAttribute">{{ _("Publishing info") }}</td>
                    <td class="Value">{{source.spubinfo}}</td>
                    <td></td>
                </tr>
                <tr><td class="ColumnAttribute">{{ _("Abbreviation") }}</td>
                    <td class="Value">{{source.sabbrev}}</td>
                    <td></td>
                </tr>
{% endif %}
<!--                <p>{{ _("Identifiers") }} {{macro.all_obj_ids(source)}}</p> -->
{% if source.notes %}
	            <tr><td class="ColumnAttribute">{{ _("Notes") }}</td>
                    <td class="Value"><ul>
    {% for note in source.notes %}
	                   <li>{{ macro.notelink(note) }}</li>
	{% endfor -%}
                    </ul>
{% endif %}
            </tbody></table>
	        </div>

	        <div class="subsection" id="citations">
	            <h4>{{ _('Source References and Events') }}</h4>
	            <table class="infolist eventlist" width="100%">
	                <tbody>

			        {% for c in citations|sort(attribute='page') %}
	        		<tr>
	        		  <td class="Citation" style="text-align: center;">
	        		     <span title="sitaatti {{c.id}} #{{c.uniq_id}}">{{ loop.index }}.</span> 
	        		  </td>
	        		  <td class="Citation">
	        		    <div title="{{c.confidence|transl("conf")}} – {{ _('confidence') }} ({{c.confidence}}/4)"
                          {% if c.confidence and c.confidence < "2" %}style="color:red"{% endif %}>
	   					  {{ _( "Page" ) }} <b>{{c.page}}</b> 
	   					  {{ macro.stars(c.confidence|float) }}

                          {% if c.notes %}
                            {% for note in c.notes %}
                                <br>{{ macro.notelink(note) }}
                            {% endfor %}
                          {% endif %}

	               		  <ol type="a">
	               		{% for indi in c.citators %}
	                        <li>
                          {% if indi.eventtype %}
                                 {{ _(indi.eventtype)|capitalize 
                             }}{% if indi.role %}
                                 <i>{{indi.role|transl('role')}}</i>{% endif -%}:
                          {% endif -%}
                          {% if indi.id[0] == "F" %}
                                 <a href="/scene/family?uuid={{indi.uuid}}" class="inlink"
                                    title="{{ _('see details of family') }}"> 
                                    {{ indi.clearname | replace("#", " ") }}</a>
                          {% else %}
                                 {{ macro.person_name_by_sortname_anon(indi) }}
                                 {% if indi.event_birth.dates %}{{ indi.event_birth.dates }}{% endif %} &ndash;
                                 {% if indi.event_death.dates %}{{ indi.event_death.dates }}{% endif %}
                          {% endif %}
               			    </li>
	                    {% endfor %}
	                      </ol>
	         		    </div>
	         		  </td>
	         		</tr>
                    {% endfor %}
                    </tbody></table>
	        </div>
	    </div>
{% endblock %}

