{# _myapp/templates/table1.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('Sources') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro with context %}
<style>
td.ColumnSource ul { margin: 0.5em;}
td.ColumnSource ul li { font-size: smaller; }
td.Archive ul { margin: 0; padding-left: 1em; padding-bottom: 0.5em; }
td ul li p { margin: 0 0 0.3em 0; }
</style>

<div id="startdiv">
    <h2>{{ _('List of Sources') }}{% if user_context.series %} ({{ _(user_context.series) }}){% endif %}</h2>
    <div>{{ macro.select_dataset() }}</div>
</div>

{{ macro.menu(5) }}
    <div class="content" id="Individuals">
        <div id="summaryarea">
            <div class="flex-container">
	            <div style="width:100%">
		            <p>{{ _('This page contains a directory of %(num)s sources.',num=sources|count) }}
                    <br>{{ _("Select series:") }}
			          <a href="/scene/sources" class="inlink">{{ _('all') }}</a> |
			          <a href="/scene/sources/birth" class="inlink">{{ _('birth') }}</a> |
			          <a href="/scene/sources/babtism" class="inlink">{{ _('babtism') }}</a> |
			          <a href="/scene/sources/wedding" class="inlink">{{ _('wedding') }}</a> |
			          <a href="/scene/sources/death" class="inlink">{{ _('death') }}</a> |
			          <a href="/scene/sources/move" class="inlink">{{ _('move') }}</a>
					</p>
				</div>
            </div>
        </div>

		<div id="alphanav">
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
        {% for s in sources %}
        	{% set ini = s.stitle|list|first|upper %}
            {% if loop.changed(ini) %}
                <li><a href="javascript:jump('{{ini}}')" title="{{ _('Alphabetical Menu') }}: {{ini}}">{{ini}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
                    <th>{{ _('Source, notes') }}</th>
                    <th>{{ _('Media in the repository') }}</th>
{#                  <th title="{{ _('Citations') }}">{{ _('citated') }}</th> #}
                    <th title="{{ _('events, persons, etc., referred from') }}">{{ _('References') }}</th>
				</tr>
			</thead>
			<tbody>
	{% if sources %}
	    {% for s in sources %}
	    	{% set ini = s.stitle|list|first|upper %}
	    	<tr><td class="ColumnAlpha">
	            {% if loop.changed(ini) %}
	               <a id="{{ini}}" name="{{ini}}" title="{{ _('Back to Top') }}" href="#">{{ini}}</a>
                {% endif %}
                </td>
            <td class="ColumnSource">
               <div>
<!--                  {% set uniq_id = s.uniq_id %}{% set id = s.id %} -->
                  <a href="/scene/source?uuid={{s.uuid}}" {% if s.ref_cnt == 0 %} class="dimmed" 
                     title="{{ _('Source') }} {{s.uuid}} ({{s.id}}) {{ _('unused') }}">{% else %}
                     title="{{ _('see details of source %(uniq_id)s (%(id)s)', uniq_id=uniq_id, id=id) }}">{% endif %}
                     {{s.stitle}}</a>
                </div>

	        {% if s.notes %}<ul>{% for note in s.notes %}
	            <li>{{ macro.notelink(note) }}</li>
            {% endfor %}</ul>{% endif %}
            </td>
            <td class="Archive">{% if s.repositories|length > 1 %}
                <ul>{% for repo in s.repositories %}
                    <li title="{{ _('Repository Name') }}">
                        <span class="typedesc">{% if repo.medium %}{{repo.medium|transl('medium')}}{% endif %}</span>
                        {{repo.rname}}</li>
                {% endfor %}</ul>
            {% elif s.repositories %}{% set repo = s.repositories[0] %}
                <span title="{{ _('Repository Name') }}">
                        <span class="typedesc">{% if repo.medium %}{{repo.medium|transl('medium')}}{% endif %}</span>
                        {{repo.rname}}</span>
            {% endif %}</td>
{#          <td class="numbers">{% if s.cit_cnt %}{{s.cit_cnt}}{% endif %}</td>
#}
            <td class="numbers">{% if s.ref_cnt %}{{s.ref_cnt}}{% endif %}</td>
            </tr>
	    {% endfor %}
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
