{# _myapp/templates/table1.html_ #}
{% extends "/scene/sc_layout.html" %}
{% block title %}{{ _('Events of a Source') }}{% endblock %}
{% import '/scene/macros.html' as macro with context %}
{% block body %}
{{ super() }}
<style>
td.space-after {padding-bottom: .5em;}
div#summaryarea ul li p { margin: 0 0 0.3em 0; }
td.Citation {padding:.3em;}
td.Citation > div {display: inline }
td.Citation div ol {padding-top:.3em;}
</style>


<div id="startdiv">
    <h1>{{ _('Source Details') }}</h1>
    <div>{{ macro.show_use_case(no_change=true) }}</div>
</div>

{{ macro.menu(5) }}
    <div class="content" id="IndividualDetail">
	    <h2 style="position:sticky; top:0;" title="{{ _('Source') }}">{{source.stitle}}</h2>
	    <div id="summaryarea">

            <table><tbody>
    {% if source.repositories %}{% set repo_name = source.repositories[0].rname %}
        {% for repo in source.repositories %}
                <tr><td class="ColumnAttribute space-after">
            {% if repo.medium %}
                        <span class="typedesc">{{repo.medium|transl('medium')}}</span>
            {% else %}
                        {{ _('Archieved') }}
            {% endif -%}
                        {{ _('in the repository') }}
                    </td>
                    <td class="Value"><b>
                    	<a href="/repository/{{repo.iid}}" class="inlink"
                           title="{{ _('Repository') }} {{ macro.obj_title(repo) }}">{{repo.rname}}</a>
                    </b></td>
                </tr>
        {% endfor %}
    {% else %}{% set repo_name = "?" %}
                <tr><td colspan="2" style="color:red;">
                        <i>{{ _("Note!") }} {{ _("Archieve not defined!") }}</i>
                    </td>
                </tr>
    {% endif %}
                <tr stype="margin-top: 1em;">
                    <td class="ColumnAttribute space-after">{{ _("Identifiers") }}</td>
                    <td class="Value TwoRows">{{macro.all_obj_ids(source)}}</td>
                </tr>
	{% if source.sauthor or source.spubinfo or source.sabbreviation %}
                <tr><td class="ColumnAttribute">{{ _("Author") }}</td>
                    <td class="Value">{{source.sauthor}}</td>
                </tr>
                <tr><td class="ColumnAttribute">{{ _("Publishing info") }}</td>
                    <td class="Value">{{source.spubinfo}}</td>
                </tr>
                <tr><td class="ColumnAttribute">{{ _("Abbreviation") }}</td>
                    <td class="Value">{{source.sabbrev}}</td>
                </tr>
	{% endif %}
	{% if source.attrs %}
				{{ macro.attr_rows(source) }}
	{% endif %}
	{% if source.notes %}
	            <tr><td class="ColumnAttribute">{{ _("Notes") }}</td>
                    <td class="Value"><ul>
    	{% for note in source.notes %}
	                   <li>{{ macro.notelink(note) }}</li>
		{% endfor -%}
                    </ul>
	{% endif %}
            </tbody></table>
	    </div>

        <form>
			<input type="hidden" name="uniq_id" value="{{ source.uniq_id }}">
        </form>

	{% if user_context.SHOW_DISCUSSION %}
    	<div id="comments_div" hx-get="/scene/hx-comment/comments_header" hx-trigger="load"></div> 
    {% endif %}

	        <div class="subsection" id="citations">
	            <h3>{{ _('Source References') }}</h3>
	            <table class="infolist eventlist" width="100%">
	                <tbody>

			        {% for c in citations|sort(attribute='page') %}
	        		<tr>
	        		  <td class="Citation" style="text-align: center;">
	        		     <span title="{{ _("Citation") }} {{ macro.obj_title(c) }}">{{ loop.index }}.</span> 
	        		  </td>
	        		  <td class="Citation">

            {{ macro.source_clip(loop.index, c, source, repo_name, _( "Page" ), _("Copy citation to clipboard")) }}

	        		    <div title="{{c.confidence|transl('conf')}} {{ _('confidence') }}"
                          {% if c.confidence and c.confidence < "2" %}style="color:red"{% endif %}>
	   					  <b>{% if c.url %}
	   					  		<a href="{{c.url}}" class="outlink" 
           						   target="_blank">{{c.url|transl('urldomain')}}</a>
	   					     {% else %}{{c.page}}
	   					     {% endif -%}</b> 
	   					  {{ macro.stars(c.confidence|float) }}

                          {% if c.notes %}
                            {% for note in c.notes %}{% if note.show %}
                                <br><span title="{{note.iid}} / {{note.id}}">–► </span>{{ macro.notelink(note) }}
                            {% endif %}{% endfor %}
                          {% endif %}

	               		  <ol type="a">
	               		{% for indi in c.citators %}
	                        <li>
                          {% if indi.eventtype %}
                                 {{ _(indi.eventtype)|capitalize 
                             }}{% if indi.role and indi.role != "Family" %}
                                 <i>{{indi.role|transl('role')}}</i>{% endif -%}:
                          {% endif -%}
                          {% if indi.id[0] == "F" %}
                                 <a href="/family/{{indi.iid}}" class="inlink"
                                    title="{{ _('Family') }} {{ macro.obj_title(indi) }}">
                                    {{ indi.clearname | replace("#", " ") }}</a>
                          {% elif indi.id[0] == "E" %}{# _('Event') #}
                                 <a href="/event/{{indi.iid}}" class="inlink"
                                    title="{{ _('Event') }} {{ macro.obj_title(indi) }}">
                                    {{ indi.clearname | title }}
                          {% elif indi.id[0] == "P" %}{# _('Place') #}
                                 <a href="/place/{{indi.iid}}" class="inlink"
                                    title="{{ _('Place') }} {{ macro.obj_title(indi) }}">
                                    {{ indi.clearname }}
                          {% else %}
                                 {{ macro.person_name_by_sortname_anon(indi) }}
                             {% if indi.event_birth and indi.event_birth.dates %}
                                {{ indi.event_birth.dates }}
                             {% endif %} &ndash;
                             {% if indi.event_death and indi.event_death.dates %}
                                {{ indi.event_death.dates }}
                             {% endif %}
                          {% endif %}
               			    </li>
	                    {% endfor %}
	                      </ol>
	         		    </div>
	         		  </td>
	         		</tr>
                    {% endfor %}
                </tbody></table>
	        </div>
	    </div>
{% endblock %}

