{# _myapp/templates/table1.html_ #}
{% extends "/scene/layout.html" %}
{% block title %}{{ _('Sources') }}{% endblock %}
{% block body %}
{{ super() }}
{% import '/scene/macros.html' as macro %}

<h2>{{ _('List of Sources') }}</h2>

{{ macro.menu(5) }}
	<div class="content" id="Individuals">
		<p id="description">
		{{ _('This page contains a directory of all sources.') }}
		</p>
		<div id="alphanav">
			<ul><li><a href="#" title="{{ _('Top') }}">&uarr;</a></li>
        {% for s in sources %}{% set ini = s.stitle|list|first|upper %}
            {% if alpha != ini %}{%set alpha = ini %}
                <li><a href="#{{alpha}}" title="{{ _('Alphabetical Menu') }}: {{alpha}}">{{alpha}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
                    <th>{{ _('Source') }}</th>
                    <th>{{ _('Tool') }}</th>
                    <th>{{ _('In the repository') }}</th>
                    <th title="{{ _('Citations') }}">{{ _('citated') }}</th>
                    <th title="{{ _('events, persons, etc., referred to as "> referenced') }}</th>
				</tr>
			</thead>
			<tbody>
	{% if sources %}
	    {% for s in sources %}{% set ini = s.stitle|list|first|upper %}
	    	<tr><td class="ColumnAlpha">{% if alpha|upper != ini %}
	               {%set alpha = ini %}
	               <a id="{{alpha}}" name="{{alpha}}" title="{{ _('Back to Top') }}" href="#">{{alpha}}</a>
               {% endif %}</td>
            <td class="ColumnPerson">
               <div>
                 {% set uniq_id = s.uniq_id %}
                 {% set id = s.id %}
               
                  <a href="/scene/source={{s.uniq_id}}" {% if s.ref_cnt == 0 %} class="dimmed" 
                     title="{{ _('Source') }} {{s.uniq_id}} ({{s.id}}) {{ _('unused') }}">{% else %}
                     title="{{ _('see details of source %(uniq_id)s (%(id)s)', uniq_id=uniq_id, id=id) }} {{ _('used') }}">{% endif %}
                     {{s.stitle}}</a>
                </div></td>
            <td title="{{ _('Format') }}: {{s.medium}}">{% if s.medium %}{{s.medium|transl('medium')}}{% endif %}</td>
            <td title="{{ _('Repository Name') }}">{% if s.repo_name %}{{s.repo_name}}{% endif %}</td>
            <td class="numbers">{% if s.cit_cnt %}{{s.cit_cnt}}{% endif %}</td>
            <td class="numbers">{% if s.ref_cnt %}{{s.ref_cnt}}{% endif %}</td>
            </tr>
	    {% endfor %}
	{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
