{# start/index.html_ #} 
{% extends "start/s_layout.html" %} 
{% include "security/_messages.html" %} 
{% block title %}{{ _('Stk Start Page') }} (start/index){% endblock %} 
{% block body %} 
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu( (
    ("/message", _('Contact administrator'), _('Message to the administrator')),
    ("/settings", _('Change language'), _('Select language'))
   ) ) }}

<div id="startdiv">
    <h2>{{ _('Welcome to Finland Database') }}</h2>
	<div>
		<div class="row">

			<div class="startbox bg_intro">
				<div style="display: inline-block;">
					<h3>{{ _('Learn about our service') }}</h3>
					<p>
						{{ _('<i>Finland Database</i> is a system for co\'operatively collect validated Finnish Genealogy data.') }} 
						<a href="#" class="not-allowed">{{ _('See the process for your data') }}</a>.
					</p>
					<p>{{ _("For more info see also documents -") }}</p>
					<ul class="compact">
						<li><a href="#" class="not-allowed">{{ _('Suomikanta database') }}</a></li>
						<li><a href="#" class="not-allowed">{{ _('Gedcom healing services') }}</a></li>
					</ul>
				</div>
			</div>

			<div class="startbox">
				<h3>{{ _('Look at data in Suomikanta') }}</h3>
				<p>{{ _('Here you can see a restrected view on Finnish genealogical data.') }}</p>
				<form method="get" action="/scene">
					<div class="submit">
						<button type="submit">{{ _('Explore the database') }}</button>
					</div>
				</form>
			</div>

			<div class="startbox">
				<div style="display: inline-block;">
					<h3>{{ _('Log in') }}</h3>
                    <p>{{ _('As a member of Suomen sukututkimusseura, you can gain full access by logging in.') }}</a>.
                    {{ _('Join our users by') }} 
                    <a href="/message">{{ _('sending a message to administrators') }}.</a>.
                </p>
					<p>{{ _('If you have credentials, please log in here.') }}</p>
					<form method="get" action="/login">
						<div class="submit">
							<button type="submit">{{ _('Log in') }}</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}
