{# start/index_logged.html_ #}
{% extends "start/s_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("Isotammi User's Start Page") }}{% endblock %}
{% block body %}
  {{ super() }}
  {% from "start/s_macros.html" import hamburger_menu with context %}

  {{ hamburger_menu( (
   ) ) }}

<div id="startdiv">
  <div>
    <h2>{{ _("User's home page for Isotammi Services") }}</h2>

{#  <p>{{ _('User') }} <b>{{current_user.name}}</b> &lt;{{current_user.email}}&gt;
       {{ _('with roles') }} [ {% for r in current_user.roles %}{{r.name}} {% endfor %} ]<br>
       <span style="font-size:8pt; color:gray">{{ _('Git Application Version' ) }} 
          <i>{{ 'git'|app_date }}</i></span></p>
#}
    <div class="row">

{% if current_user.is_authenticated and 
   (current_user.has_role('gedcom') or current_user.has_role('research')) %}
         <div class="startbox gedtools">
            <div style="display: inline-block;">
            <form method="get" action="/gedcom">
               <h3>{{ _('Gedcom tools') }}</h3>
               <p>{{ _('First before importing your data to Isotammi database, it is best to check and fix your Gedcom file using the tools we provide.') }}</p>
               <p>{{ _('Send your gedcom files and experiment various cleanup functions') }}.</p>
              <div class="submit"> 
                 <button type="submit">{{ _('My Gedcom files') }}</button>
              </div>
            </form>
            </div>
         </div>
{% endif %}

{% if current_user.is_authenticated and current_user.has_role('research') %}
           <div class="startbox">
             <div style="display: inline-block;">
                <h3>{{ _('My candicate materials and files') }}</h3>
                  <form action="/gramps">
                 <p>{{ _('Send your Gramps xml file to Isotammi database and store it as a candidate material.') }}</p>
                 <p>{{ _('Manage your candidate files and materials in database.') }}</p>
                 <div class="submit"> 
                    <input type="submit" value="{{ _('Browse and Manage') }}" />
                 </div>
                 </form>
             </div>
           </div>
{% endif %}           

           <div class="startbox">
             <div style="display: inline-block;">
               <form method="get" action="/scene/persons_all/">

{% if current_user.is_authenticated and 
   ( current_user.has_role('research') or current_user.has_role('admin') ) %}
                 <h3>{{ _('Browse Isotammi Database') }}</h3>
                 <p>{{ _('View your own candidate material or all approved common data') }}.</p>
                 <p>{% set ctxt = session['user_context'] %}
                   <input type="radio" name="div" value="1" 
                    {% if ctxt == 1 %}checked{% endif %}>{{ _('The approved Isotammi data') }}<br>
                   <input type="radio" name="div" value="2" 
                    {% if ctxt == 2 or ctxt == 3 %}checked{% endif %}>{{ _('My candidate material') }}<br>
{#
                   &nbsp;&nbsp;└─ <input type="checkbox" name="cmp" value="1"  
                    {% if ctxt == 3 or ctxt == 5 %}checked{% endif %}>
                        {{ _('Compare to approved Isotammi data') }} 
#}
                </p>
{% else %}
                 <h3>{{ _('The Browsed Material') }}</h3>
                 <p>{{ _('You can view only approved and public material in Demo Database') }}.</p>
                 <input name="div" type="hidden" value="1">
{% endif %}

                 <div class="submit"> 
                    <button type="submit">{{ _('Continue') }}</button>
                 </div>
               </form>
             </div>
           </div>
    
{% if current_user.is_authenticated and 
            (current_user.has_role('admin') or current_user.has_role('master') ) %}
      <div class="startbox admin">
        <div style="display: inline-block;">
          <form method="get" action="/admin">
            <h3>{{ _('Admin Operations') }}</h3>
            <p>{{ _('Manage users, reference data sets and do database maintenance tasks') }}.</p>
            <div class="submit"> 
               <button type="submit">{{ _('Maintenance') }}</button>
            </div>
          </form>
        </div>
      </div>
{% endif %}

{% if current_user.is_authenticated and (current_user.has_role('audit') ) %}
      <div class="startbox audit">
        <div style="display: inline-block;">
          <form method="get" action="/audit">
             <h3>{{ _('Isotammi auditor') }}</h3>
             <p>{{ _('Operations between user candidate materials and Isotammi database') }}.</p>
             <div class="submit"> 
                <button type="submit">{{ _('Continue') }}</button>
             </div>
          </form>
        </div>
      </div>
{% endif %}

       <div class="startbox">
         <div style="display: inline-block;">
           <form method="get" action="http://wiki.isotammi.net/wiki/Työkaluja" target="_blank">
              <h3>{{ _('Tools and Links') }}</h3>
   <!--       <p>Ohjesivuitamme voit löytää hyödyllisiä varusohjelmia ja Grampsin lisätoimintoja (grampletteja).</p> -->
              <p>{{ _('Study our supplementary stand-alone and Gramps utilities in our tools page') }}.</p>
              <div class="submit"> 
               <button type="submit">{{ _('Help page') }}</button>
              </div>
            </form>
         </div>
       </div>

    </div>{# row #}

  </div>
</div>
{% endblock %}
