{# _start/join.html_ #}
{% extends "start/s_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("Join Isotammi") }} (start/my_message){% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<style>
table, td {
	border: none;
	vertical-align: top;
}
</style>

<div id="startdiv">
  <div>
    <h2>{{ _("Join Isotammi") }}</h2>

    <div class="startbox2">
        <div>
        {{ _('To join the Isotammi project we wish that you will provide some basic information below.') }}
        {{ _('Please let us know at least your name and email address.') }}
        {{ _('You can also provide any comments or additional information in the message field.') }}
        {{ _('Thank You!') }}
        </div>
          <form method="post">
         <p>
         <table>
         <tr>
         	<td>{{ _("Your name") }}: 
         	<td><input name="name" size="60">
         <tr>
         	<td>{{ _("Your email") }}: 
         	<td><input name="email" size="60">
         <tr>
         	<td>{{ _("Are you a member of the Genealogical Society of Finland?") }}
         	<td><input type="radio" name="member value="yes">{{ _("Yes") }}
         	    <input type="radio" name="member value="nos">{{ _("No") }}
         <tr>
         	<td>{{ _("How many years have you been doing genealogical research?") }}
         	<td><input name="years" size="60">
         <tr>
         	<td>{{ _("What genealogy software are you mainly using?") }}
         	<td><input name="software" size="60">
         <tr>
         	<td>{{ _("Which families/surnames are you mainly researching?") }}
         	<td><input name="surnames" size="60">
         <tr>
         	<td>{{ _("Which places are you mainly researching?") }}
         	<td><input name="places" size="60">
         <tr>
         	<td>{{ _("Message") }}:
         	<td><textarea id="message" name="message" rows="20" cols="59"></textarea>
     	 </table>
         </p>
         <div> 
            <input type="submit" id="send" value="{{ _('Apply') }}" />
         </div>
         </form>
    </div>

  </div>
  <p></p>
</div>
{% endblock %}
