{# _start/my_settings.html_ #}
{% extends "start/s_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("User Settings") }} (start/my_settings){% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}
{# import 'start/s_macros.html' as macro #}

{{ hamburger_menu() }}

<div id="startdiv">
  <div>
    <h2>{{ _("Change my settings") }}</h2>

    {% if current_user is defined and current_user.is_authenticated %}
	<div>
	{{ _('User') }} <i>{{current_user.name}}</i> 
	    &lt;{{current_user.email}}&gt;
    </div>
    <p>
    <div class=startbox>
        <h3>{{ _('Change language') }}</h3>
         <div> 
          <form method="post">
          	<div id="lang">
          		<br><input type="radio" name="lang" value="fi"
          			{% if session.lang == "fi" %} checked {% endif %}
      			>{{ _("Finnish") }}
          		<br><input type="radio" name="lang" value="sv"
          			{% if session.lang == "sv" %} checked {% endif %}
          		>{{ _("Swedish") }}
          		<br><input type="radio" name="lang" value="en"
          			{% if session.lang == "en" %} checked {% endif %}
          		>{{ _("English") }}
          	</div>
          	<p>
            <input type="submit" value="{{ _('Apply') }}" />
            <p><a href="{{ referrer }}">{{ _('Go back') }}</a>
            <input type="hidden" name="referrer" value="{{ referrer }}" />
         </form>
         </div>
    </div>

    <div class=startbox>
        <h3>{{ _('Roles') }}</h3>
        {% for role in  roles %}
        	<br>{{role.name}}
        {% endfor %}
        
    </div>

    <div class=startbox>
        <h3>{{ _('Candidate materials') }}</h3>
        tbd
    </div>

    {% endif %}
  </div>
  <p></p>
</div>
{% endblock %}
