{# _start/my_settings.html_ #}
{% extends "start/s_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("User Settings") }} (start/my_settings){% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}
{# import 'start/s_macros.html' as macro #}

{{ hamburger_menu() }}

<div id="startdiv">
  <div>
    <h2>{{ _("Change my settings") }}</h2>

    {% if current_user is defined and current_user.is_authenticated %}
    <div>
        <h3>{{ _('Change language') }}</h3>
		{{ _('User') }} <i>{{current_user.name}}</i> 
		    &lt;{{current_user.email}}&gt;
         <div> 
          <form method="post">
          	<div id="lang">
          		<br><input type="radio" name="lang" value="fi"
          			{% if session.lang == "fi" %} checked {% endif %}
      			>{{ _("Finnish") }}
          		<br><input type="radio" name="lang" value="sv"
          			{% if session.lang == "sv" %} checked {% endif %}
          		>{{ _("Swedish") }}
          		<br><input type="radio" name="lang" value="en"
          			{% if session.lang == "en" %} checked {% endif %}
          		>{{ _("English") }}
          	</div>
          	<br>
            <button onclick="goBack()">{{ _('Go back') }}</button>
            <input type="submit" value="{{ _('Apply') }}" />
         </form>
         </div>
    </div>
    {% endif %}
  </div>
  <p></p>
</div>
{% endblock %}
