{# _templates/start/s_layout.html_ #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Suomi-tietokanta</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hamburger.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
	    #menuToggle { top: 18px; right: 10px; }
	    #menu { margin-top: -24px; }    
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/ohjeet.js?"></script>

	<!-- i18n for Javascript: -->
	<link rel="gettext" type="application/x-po" href="/static/translations/{{ g.locale }}.po">
	<script src="/static/Gettext.js"></script>
  </head>
  
  <body>
{% block body %}
    <h1><a href="/"><img id="logo" src="/static/hlo.png" alt="{{ _('Back to Top') }}" title="{{ _('Back to Top') }}"
             onmouseover="this.src='/static/hlo1.png';" 
             onmouseout="this.src='/static/hlo.png';"/></a>
        <i>{{ _('A Database of the Genealogical Society of Finland') }}</i></h1>

<nav role="navigation" >
{# https://codepen.io/erikterwan/pen/EVzeRP #}
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span><span></span><span></span>
    <ul id="menu">
      <a href="/" title="{{ _('Start page') }}"><li>Home</li></a>
      <a href="#" title="{{ _('Instructions for this page') }}">
        <li>{{ _('Help') }}</li></a>
       <a href="/message" title="{{ _('Instructions for this page') }}">
        <li>{{ _('Contact administrator') }}</li></a>
      <a href="/settings" title="{{ _('Select language and other options') }}">
        <li>{{ _('My settings') }}</li></a>
      <a href="/logout" title="{{ _('Log out from this application') }}">
        <li>{{ _('Logout') }}</li></a>
    </ul>
  </div>
</nav>

{#  <a href="#" id="ohjeet" 
       title="{{ _('Instructions for this page') }}">{{ _('Help') }}</a>
    <p class="bread">Suomi-tietokanta &gt; 
        <a  class="bread" href="/">Etusivu</a></p>
    <!-- TODO: Use https://flask-breadcrumbs.readthedocs.io/ -->
 #}

{% endblock %}
    <div class="fullclear"></div>
    <div id="footer">
        <span id="createdate">{{ _("Stk-server") }} &nbsp;
        {% if elapsed %}
        <tt style="font-size:8pt;color:maroon;">time {{'%0.4f'| format(elapsed|float)}}s</tt> &nbsp;
        {% endif %}
        <small style="font-size: 6pt">{{ _('Version') }} {{ 'app'|app_date }}</small></span>
    <div class="fullclear"></div>

<div id="ohjeikkuna" title="{{ _('Instructions') }}"></div>

</body></html>
