{# start/s_macros.html #}

{% macro hamburger_menu(items) -%}
    {# Hamburger menu in top rigth corner.
        You may adjust position by by re-defining css top and right values of
        #menuToggle top and right and #menu margin-top.
    #}
    {% if not config['DEMO'] %}
	<nav role="navigation" >
	{# https://codepen.io/erikterwan/pen/EVzeRP #}
	{# items is a list of tuples (url, label, hover title) 
	   example: items = (("/message", _('Contact administrator'), _('Message to the administrator')), 
	                      ... ) 
	#}
	  <div id="menuToggle">
	    <input type="checkbox" />
	    <span></span><span></span><span></span>
	    <ul id="menu">
	      <a href="/" title="{{ _('Start page') }}"><li>{{ _('Home') }}</li></a>

	      <a id="help" href="#" title="{{ _('Instructions for this page') }}" 
	      	language="{{ session.lang }}" target="_blank">
	        <li>{{ _('Help') }}</li></a>

	       <a href="/message" title="{{_('Message to the administrator')}}" target="_blank">
	        <li>{{_('Contact administrator')}}</li></a>

	       <a href="/settings" title="{{_('User profile settings')}}">
	        <li>{{ _('My home page')}}</li></a>

	    {% for url, label, title in items %}
	       <a href="{{url}}" title="{{title}}">
	        <li>{{label}}</li></a>
	    {% endfor %}

	    {% if current_user is defined and current_user.is_anonymous %}
          <a href="/login" title="{{ _('Log in to this application') }}">
            <li><b>{{ _('Log in') }}</b></li></a>
	    {% else %}
          <a href="/logout" title="{{ _('Log out from this application') }}">
            <li><b>{{ _('Logout') }}</b></li></a>
	    {% endif %}
	    </ul>
	  </div>
	</nav>
	{% endif %}
{%- endmacro %}
