{# _start/join.html_ #}
{% extends "start/s_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("Thank You") }} (start/my_message){% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<style>
table, td {
	border: none;
	vertical-align: top;
}
</style>

<div id="startdiv">
  <div>
    <h1>{{ _("Thank You for joining Isotammi") }}</h1>

    <div>
        <h3>
        {{ _('We are processing your request and will soon send you further instructions in email.') }}
        </h3>
        <h3>
        	<a href="/home">{{ _('Go to main page') }}
        </h3>
    </div>

  </div>
  <p></p>
</div>
{% endblock %}
