{# _myapp/templates/k_persons.html_ #}
{% extends "/narrative/layout.html" %}
{% block title %}henkilöluettelo{% endblock %}
{% block body %}
{{ super() }}
{% import '/narrative/macros.html' as macro %}

<h2>Henkilöluettelo</h2>

{{ macro.menu(menuno) }}
	<div class="content" id="Individuals">
        <div id="summaryarea">
    {% if menuno > 0 %}
            <p id="description">
    Tällä sivulla on luettelo {{persons|count}} henkilönimestä mahdollisen 
    sukunimen mukaan lajiteltuna.<br> 
    Nimen napsauttaminen vie sinut valitun henkilön sivulle. 
    Jos henkilöllä on monta nimeä, hän esiintyy listalla kullakin nimellä.
            </p>
    {% else %}{% if persons|count %}
            <h3>Näytetään {{persons|count}} henkilönimeä</h3>{% else %}
            <h3>Valitse näytettävät ihmiset</h3>{% endif %}
			<div id="searching">
			    <form  action="/narrative/persons" method="post">
                  <p>Haku tapahtuu annetun nimen alkuosalla, esim. "Sib" osuu nimeen "Sibbe".</p>
                  <label for="snam">Hakusana (alkuosa)&nbsp; </label>
                    <input type="text" name="name" id="snam" 
                     {% if name %}value="{{name}}"{% endif %} required><br>
                  <input type="radio" name="rule" id="ssur" value="surname"
                   {% if rule and rule == "surname" %}checked{% endif %}>
                    <label for="ssur">Sukunimi</label>
                  <input type="radio" name="rule" id="sfir" value="firstname"
                   {% if rule and rule == "firstname" %}checked{% endif %}>
                    <label for="sfir">Etunimi</label>
                  <input type="radio" name="rule" id="ssuf" value="patronyme"
                   {% if rule and rule == "patronyme" %}checked{% endif %}>
                    <label for="ssuf">Patronyymi</label>
				  <input type="submit" value="Hae">
			    </form>
			</div>
			{% endif %}

	        {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	            <ul  class='flashes'>
	            {% for category, message in messages %}
	              <li class='flash_{{category}}'>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}

        </div>

    {% if persons|count > 0 %}
		<div id="alphanav">
			<ul><li><a href="#" title="alkuun">&uarr;</a></li>
        {% for p in persons %}{% set ini = p.names[0].surname|list|first %}
            {% if alpha != ini %}{%set alpha = ini %}
                <li><a href="#{{alpha}}" title="Aakkosmenu: {{alpha}}">{{alpha}}</a></li>
            {% endif %}
        {% endfor %}
			</ul>
		</div>
		<table class="IndividualList">
			<thead>
				<tr><th></th>
					<th>Henkilö</th>
                    <th>Henkilön tapahtumat</th>
                    <!-- th>Perheen tapahtumat</th -->
				</tr>
			</thead>
			<tbody>
	    {% for p in persons %}{% set ini = p.names[0].surname|list|first %}
	            <tr><td class="ColumnAlpha">{% if alpha != ini %}
		               {%set alpha = ini %}
		               <a id="{{alpha}}" name="{{alpha}}" title="Palaa alkuun" href="#">{{alpha}}</a>
	               {% endif %}</td>
	                <td class="ColumnPerson"><div>
	                   <a href="/narrative/person={{p.uniq_id}}"
	                     title="katso henkilön {{p.uniq_id}} tiedot">
		               {{p.names[0].firstname}} 
		               {% if p.names[0].surname %} <b>{{p.names[0].surname}}</b>
		               {% else %}<i>{{p.names[0].patronyme}}</i>{% endif %}
		               <small class="idno">[{{p.uniq_id}}]</small></a>
		               {% if p.refnames %}
		               <br><small class="refname" title="referenssinimet">
		                  hakusanat: {{p.refnames}}
		               {% endif %}
	                </div></td>
	              <td class="ColumnEvent">
	        {% if p.events %}<ul>{% for e in p.events|sort(attribute='date') %}
		              <li><i>{{e.type|transl('evt')}}</i> {{e.dates}}
		              {% if e.place %} | {{e.place}}{% endif %}</li>
		        {% endfor %}</ul>
	        {% endif %}
	              </td><!-- Perheen tapahtumat tähän
                  <td class="ColumnEvent">
                  </td> -->
	           </tr>
	    {% endfor %}
				</tr>
	{% else %}
        <table class="IndividualList">
            <tbody>
	        <tr><td>Ketään ei löytynyt hakutiedoilla<//td></tr>
	{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
