{# _templates/narrative/person.html_ #}
{% extends "/narrative/layout.html" %}
{% block title %}henkilön tiedot{% endblock %}
{% block body %}
{{ super() }}
{% set sp = {'M':'mies', 'F':'nainen'} %}
{% import '/narrative/macros.html' as macro %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
<h2>Henkilön tiedot</h2>

{{ macro.menu(1) }}
    <div class="content" id="IndividualDetail">
        {% if photos %}<div class="snapshot">
            <div class="thumbnail">
                <img alt="Kuvassa {{photos[0].description}}" src="{{photos[0].src}}" />
            </div>
        </div>{% endif %}
        <h3 style="position:sticky; top:0;">{{person.names[0].firstname}} 
            <i>{{person.names[0].suffix}}</i> <b>{{person.names[0].surname}}</b>
        </h3>
        {% set myid = person.uniq_id %}
        {# set mybirth = "" %}{% for e in events %}
            {% if e.type == "Birth" %}{% set mybirth = e.date %}{% endif %}{% endfor #}
        
        <div id="summaryarea">
            <table>
                <tr>
                    <td class="ColumnAttribute">Tunnisteet</td>
                    <td class="ColumnValue"><span class="id">{{myid}}</span> / <tt>{{person.id}}</tt></td>
                </tr>
                {% for pname in person.names %}<tr>
                    <td class="ColumnAttribute">{{pname.type|transl('nt')}}</td>
                    <td class="ColumnValue">
                        {% if pname.prefix %}<span title="etuliite">{{pname.prefix}}</span>{% endif %}
                        <span title="etunimi">{{pname.firstname}}</span>
                        <i title="patronyymi">{{pname.suffix}}</i>
                        <b title="sukunimi">{{pname.surname}}</b>
                        <!-- todo: <a href="#sref3a">3a</a> -->
                        <!-- {% if pname.refname %}&nbsp; 
                          <tt class="refname" title="referenssinimi">{{pname.refname}}</tt -->
                        {% endif %}
                   <!-- <ul><div class="grampsstylednote">
                            <p>Tähän tulee Person Note</p>
                        </div></ul>
                   -->
                    </td>
                </tr>{% endfor %}
                {% if person.gender %}<tr>
                    <td class="ColumnAttribute">Sukupuoli</td>
                    <td class="ColumnValue">{% if person.gender in sp %}{{sp[person.gender]}}
                      {% else %}{{person.gender}}{% endif %}</td>
                </tr>{% endif %}
                {% if person.priv %}<tr>
                    <td class="ColumnValue" title="Salattu tieto">{{ macro.lock(person.priv) }}</td>
                </tr>{% endif %}
                
                {% if person.confidence %}<tr>
                    <td class="ColumnAttribute">Tietojen luotettavuus</td>
                    <td class="ColumnValue">{{ macro.stars(person.confidence|float) }}</td>
                </tr>{% endif %}
<!--            <tr>
                    <td class="ColumnAttribute">Ikä kuollessa</td>
                    <td class="ColumnValue">66 vuotta 10 kuukautta 21 päivää</td>
                </tr>
-->
            </table>
        </div -->

        <div class="subsection" id="events">
            <h4>Tapahtumat</h4>
            <table class="infolist eventlist">
                <thead>
                    <tr>
                        <th class="ColumnEvent">Tapahtuma</th>
                        <th class="ColumnDate">Päivämäärä</th>
                        <th class="ColumnPlace">Paikka</th>
                        <th class="ColumnDescription">Kuvaus</th>
                        <th class="ColumnNotes">Lisätiedot</th>
                        <th class="ColumnSources">Lähteet</th>
                    </tr>
                </thead>
                <tbody>
        {% for e in events|sort(attribute='date') %}
                    <tr>
                 	{% if e.type == "Cause Of Death" %}
                		{% set t_cause_of_death = e.description %}
            		{% else %}
                        <td class="ColumnEvent">
                            <span class="id">
                            {% if e.type == "Baptism" %}
                            	<a href="/lista/baptism_data/{{e.uniq_id}}">{{e.uniq_id}}</a></span>
                             	{{e.type|transl('evt')}}
                         	{% else %}
                         		{{e.uniq_id}}</span> {{e.type|transl('evt')}}
                         	{% endif %}
                            {% if e.role != "Primary" %}<small>({{e.role|transl('role')}})</small>{% endif %}
                        </td>
                        <td class="ColumnDate">{{e.dates}}</td>
                        <td class="ColumnPlace">
                            <a href="/narrative/location={{e.locid}}" class="inlink"
                            title="tyyppiä {{e.ltype}}; katso paikan tiedot">
                            {{e.location|join(' • ')}}</a>
                        </td>
                        <td class="ColumnDescription">{{e.description}}</td>
                        <td class="ColumnNotes">
                            <div>{% if e.type == "Death" %}
                            	{% if t_cause_of_death %}<i>kuolinsyy:</i> {{t_cause_of_death}}<br>
                            	{% endif %}{% endif %}
                            	{% if e.note %}<i>{{ e.note.type }}</i> {{ e.note.text }}{% endif %}
                            	</div>
                        </td>
                        <td class="ColumnSources">
                         {% if e.source %}
                         	<a href="#sref{{e.source}}a">{{e.source}}a</a>
                     	 {% endif %}
                        </td>
                    {% endif %}
                    </tr>
         {% endfor %}
                 </tbody>
            </table>
        </div>

        <div class="subsection" id="families">
            <h4>Perheet</h4>
            {% set chtype = {"F":"tytär", "M":"poika", "":"lapsi"} %}
            <div class="mainbox" title="Perheet">
                <p>Vanhempien perhe</p>
            {% for fam in families %}{% if fam.role == "CHILD" %}
                <div class="groupbox">
	                <div class="familybox" title="perhe {{fam.id}}">
	                    <p>perhe {{fam.id}}</p>
	                    <ul>{% if fam.father %}
	                        <li>Isä: {{ macro.member(fam.father, myid) }}</li>
	                {% endif %}{% if fam.mother %}
	                        <li>Äiti: {{ macro.member(fam.mother, myid) }}</li>
	                {% endif %}{% if fam.children|count %}
	                        <li>Lapset<ul>{% for ch in fam.children|sort(attribute='birth_date') %}
	                            <li>{{chtype[ch.gender]}}: {{ macro.member(ch, myid) }}</li>{% endfor %}
	                        </ul></li>
	                {% endif %}
	                    </ul>
	                </div>
                </div>
            </div>
            {% endif %}{% endfor %}

            <div class="mainbox" title="Päähenkilö">
	            <p>{{person.names[0].firstname}} itse</p>
	            <div class="groupbox">
		            <div class="personbox" title="Itse">
		                <span title="etunimi">{{person.names[0].firstname}}</span>
		                {% if not person.names[0].surname %}<i title="patronyymi">{{person.names[0].suffix}}</i>
		                {% else %}<b title="sukunimi">{{person.names[0].surname}}</b>
		                {% endif %}
		            </div>
	            </div>
	        </div>

            <div class="mainbox" title="Omat perheet">
                <p>Perheessä vanhempana</p>
	            <div class="groupbox">
		            {% for fam in families %}{% if fam.role != "CHILD" %}
		            <div class="familybox" title="perhe {{fam.id}} {{fam.role}}">
		                <p>perhe {{fam.id}}</p>
		                <ul>{% if fam.father %}
		                        <li>Isä: {{ macro.member(fam.father, myid) }}</li>
		                {% endif %}{% if fam.mother %}
		                        <li>Äiti: {{ macro.member(fam.mother, myid) }}</li>
		                {% endif %}{% if fam.children|count %}
		                        <li>Lapset<ul>{% for ch in fam.children|sort(attribute='birth_date') %}
		                            <li>{{chtype[ch.gender]}}: {{ macro.member(ch, myid) }}</li>
		                         {% endfor %}</ul></li>
		                {% endif %}
		                    </ul>
		                </ol></div>
		            {% endif %}{% endfor %}
	             </div>
             </div>

        </div>

        <div class="subsection" id="indivgallery">
            <h4>Media</h4>
        {% for photo in photos %}<div class="thumbnail">
                <img alt="kuva" src="{{photo.src}}" />
                    <p>{{photo.description}}</p>
            </div>
        {% endfor %}
            <div class="fullclear"></div>
        </div>
<!--
        <div class="subsection narrative">
            <h4>Kerrottua</h4>
            <div class="grampsstylednote">
                <p>
                Note
                </p>
            </div>
        </div>
-->
<!--
        <div class="subsection" id="pedigree">
            <h4>Esipolvien taulu</h4>
            <ol class="pedigreegen">
                <li>
                    <a href="../../../ppl/8/a/ce373c19c2f1a78cda8.html">Silius, Carl Gustaf</a>
                    <ol>
                        <li class="spouse">
                            <a href="../../../ppl/8/a/ce373c19c692ce8a5a8.html">Berttunen, Brita Kristina Eriksdotter</a>
                            <ol>
                                <li>
                                    <a href="../../../ppl/4/b/ce373c19c935b19acb4.html">Silius, Knut</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/9/8/ce373c19cba64453b89.html">Silius, Karl Aleksander</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/3/a/d62cce4aee65110a2a3.html">Silius, Knut Theodor nuor.</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/1/5/ce373c19ce0245e8851.html">Silius, Aina Alina</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/2/a/ce373c19da6166834a2.html">Airola ent. Silius, Knut Theodor</a>
                                </li>
                                <li class="thisperson">
                                Airola, Kalle Kustaa ent. Silius
                                    <ol class="spouselist">
                                        <li class="spouse">
                                            <a href="../../../ppl/d/3/ce373c1949b5af12e3d.html">Serenius, Saimi Alli Zuleima</a>
                                            <ol>
                                                <li>
                                                    <a href="../../../ppl/f/d/ce373c18ffb7fb981df.html">Airola, Maija Kyllikki</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li class="spouse">
                                            <a href="../../../ppl/1/e/ce373c195ac3fcc8ce1.html">Airola, Irja Tuulikki os. Kajander</a>
                                            <ol>
                                                <li>
                                                    <a href="../../../ppl/f/e/ce373c195dc54f0c8ef.html">Airola, Kalle Eero Ilmari</a>
                                                </li>
                                                <li>
                                                    <a href="../../../ppl/f/2/ce373c1984203db7f2f.html">Airola, Leena Irja Tuulikki</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="../../../ppl/2/1/ce373c19d7f6d6f7412.html">Silius, Hilja Kristina</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/3/1/ce373c19de07cf7a113.html">Airola, Saima Adele ent. Silius</a>
                                </li>
                                <li>
                                    <a href="../../../ppl/8/5/ce373c19e4557f46258.html">Airola, Elsa Elina</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
-->
        <!-- div class="subsection" id="tree"><h4>Esivanhemmat -->
        <div class="subsection" id="sourcerefs">
            <h4>Lähdeviitteet</h4>
            <ol>
                {% set source_cnt = 0 %}
                {% for source in sources %}
                <li>
            		{% for source in source.sources %}
            			{% for repo in source.repos %}
            				{{repo.rname}}:
             			{% endfor %}
             			<a href="/narrative/source={{source.uniq_id}}" class="inlink"
	                     title="katso lähteen {{source.uniq_id}} tiedot">{{source.stitle}}</a>
             		{% endfor %}
                     <ol>
                         {% set source_cnt = source_cnt + 1 %}
                         {% set conf = source.confidence | int %}
                         <li id="sref{{ source_cnt }}a"
                          title="{{source.confidence|transl("conf")}} luotettavuus ({{source.confidence}})"
                           {% if source.confidence and source.confidence < "2" %}
                             style="color:red"{% endif %}>
                            Sivu: {{source.page}} &nbsp;
                            {{ macro.stars(conf) }}
                           {% if source.notetext %}<br>
                              <a href="{{source.notetext}}" class="outlink" target="_blank"
                              {% if source.confidence and source.confidence < "2" %}
                             style="color:red"{% endif %}>{{ source.notetext }}</a>{% endif %}                           
                        </li>
                	</ol>
                </li>
				{% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}

