{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/static/infobox.js"></script>

<h1>{{ _('List of Repositories') }}</h1>
<p>{{ _('Showing repositories') }}</p>

<section id="lista">
<div ng-app="myApp" ng-controller="namesCtrl">
	<table>
	    <tr>
	    	<th ng-repeat="x in columns" ng-click="sort(x.column)">{a x.column a}
			<a ng-show="currentSort.exp == x.column && currentSort.reverse"><i class='fa fa-angle-down'></i></a>
			<a ng-show="currentSort.exp == x.column && !currentSort.reverse"><i class='fa fa-angle-up'></i></a></th>
	    </tr>
	{% if repositories %}
	    <tr ng-repeat="r in repos | orderBy:currentSort.exp: currentSort.reverse">
	        <td><a href="/pick/repo_uniq_id={a r.uniq_id a}">{a r.uniq_id a}</a></td>
	        <td>{a r.rname a}</td>
    		<td>{a r.type a}</td>
        </tr>
	{% else %}
	        <tr><td colspan="5">{{ _('No data') }}</td></tr>
	{% endif %}
	</table>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('namesCtrl', function($scope) {
	$scope.columns = [
		{column:'uniq_id'}, {column:'rname'}, {column:'type'}
	];
    $scope.repos = [
	{% for repo in repositories %}
        {uniq_id:'{{repo.uniq_id}}',rname:'{{repo.rname}}',type:'{{repo.type}}'},
    {% endfor %}
    ];
    
    $scope.order = {};

    $scope.sort = function(column) {
        if ($scope.order[column] == column) {
            $scope.order[column+'Desc'] = !$scope.order[column+'Desc'];

        } else {
           $scope.order[column] = column;
           $scope.order[column+'Desc'] = false;
        }

        $scope.currentSort = {exp: $scope.order[column], reverse: $scope.order[column+'Desc']};
    };
});

app.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{a');
  $interpolateProvider.endSymbol('a}');
}]);
</script>

{% endblock %}
