{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}

<h1>{{ _('Users') }}</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}}'>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<section id="lista">
<table>
    <tr><th>{{ _("user id") }}</th><th>{{ _("name") }}</th><th>{{ _("email") }}</th><th>{{ _("roles") }}</th>
    </tr>
{% if users %}
    {% for u in users %}
        <tr>
            <td>{{u.username}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.roles}}</td>
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="1">{{ _('No data') }}</td></tr>
{% endif %}
</table>

<div>
	<h2>{{ _('Create Username') }}</h2>
	<form action="/newuser" method="post">
	    <p>{{ _('Username') }} <input type="text" name="userid" size="10"></p>
	    <p>{{ _('Name') }} <input type="text" name="name"></p>
	    <p><input type="submit" value="{{ _('Create a new user or update the old one') }}"/></p>
    </form>
</div>
</section>
{% endblock %}
