{# start/index.html_ #} 
{% extends "start/s_layout.html" %} 
{% include "security/_messages.html" %} 
{% block title %}{{ _('Isotammi Start Page') }}{% endblock %} 
{% block body %} 
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu( (
   ) ) }}

<style>
div.startbox { min-height: 270px;}
#langbox {
    float:right; margin-right: 2em;
    font-style: italic; 
}
#langbox a { text-decoration: none; }

.CloudBox {
    background-color: white;
    margin: -1em 0 0 -1em;
}

div.CloudBox div {
    width: 225px;
    background-image: url("/static/image/cloud.png");
    box-shadow: 7pt 10pt 10pt #ccc;
    padding: 1em 2em;
    text-align: center;
    border-radius: 3em;
    line-height: 1.6em;
}
/* html body div#startdiv div div.row div.startbox.CloudBox div form span a */
div.CloudBox a:link    { text-decoration: none; }
div.CloudBox a:visited { text-decoration: none; }
div.CloudBox a:hover   { text-decoration: underline; }
</style>

<div id="startdiv">
    <div id="langbox">
        <a href="/?lang=fi">🇫🇮&nbsp;Suomeksi</a> –
        <a href="/?lang=sv">🇸🇪&nbsp;På svenska</a> –
        <a href="/?lang=en">🇬🇧&nbsp;In English</a>
    </div>
    <h1>{{ _('Welcome to Isotammi Service') }}</h1>
	<div>
		<div class="row">

			<div class="startbox bg_intro">
				<h2>{{ _('Learn about Isotammi') }}</h2>
				<img alt="Suomen sukututkimusseura ry" src="/static/SSS-tunnus-160.png"
				     style="float:left; width:50%">
				<p>
					{{ _('<i>Isotammi Service</i> is a service for co-operatively collected and validated genealogical data.') }} 
				</p>
				<p>{{ _("For more info see also documents -") }}</p>
				<ul class="compact">
					<li><a href="http://wiki.isotammi.net/wiki/Suomikanta_ja_sen_hy%C3%B6dynt%C3%A4minen"
					 target="esite">{{ _('Why Isotammi database') }}</a></li>
                    <li><a href="http://wiki.isotammi.net/wiki/Oma_aineisto_Isotammeen" 
                     target="esite">{{ _('See the process for your data') }}</a></li>
					<li><a href="http://wiki.isotammi.net/wiki/Sukutietojen_vakiointi_Gedcom-ohjelmilla"
					 target="esite">{{ _('Gedcom data healing services') }}</a></li>
				</ul>
			</div>

			<div class="startbox">
				<h2>{{ _('Look at the demo data') }}</h2>
				<p>{{ _('In this demo we have a genealogical tree which follows our quality rules and 
				it contains the relatives of the Finnish national compositor Jean Sibelius.') }}</p>
				
			    {% if config['DEMO'] %}					
					<form method="get" action="/start/guest">		
				{% else %}	
					<form method="get" action={{demo_site}}>	
				{% endif %}
							
					<div class="submit">
						<button type="submit">{{ _('Explore demo') }}</button>
					</div>
					<input type="hidden" name="lang" value="{{ lang }}">
				</form>
			</div>

		    {% if not config['DEMO'] %}
            <div class="startbox">
                <h2>{{ _('Register') }}</h2>
				<p>{{ _("To see the full data, you can fill the registration form here") }}.</p>
				<form method="get" action={{demo_site}}>
					<div class="submit">
						<button type="submit" formaction="/register">{{ _('Register') }}</button>
					</div>
 					<input type="hidden" name="lang" value="{{ lang }}">
				</form>
                <h2>{{ _('Log in') }}</h2>
                <p>{{ _('If you has already registered, you can log in and refine the structure of your own data.') }}
                   {{ _('As a member of <i>Genealogical Society of Finland</i> you will get more services.') }}.
                </p>
                <form method="get">
                    <div class="submit">
                       <button type="submit" formaction="/start/logged">{{ _('Log in') }}</button>
                    </div>
                </form>
            </div>
			{% endif %}

            {% if surnamestats %}
<!--             <h3>{{ _('Most common names') }}</h3> -->
            <div class="startbox CloudBox" style="display: inline-block;">
                    <div>
                         <form name="surnameform" method="post" action="/start/persons/search">
                            <input name="rule" type="hidden" value="surname">
					       <input name="lang" type="hidden" value="{{ lang }}">
                            <input name="key" type="hidden">
                            <script>
                                function submit_search(surname) {
                                    document.forms.surnameform.elements.namedItem('key').value = surname;
                                    document.forms.surnameform.submit();
                                }
                            </script>
                 {% for stat in surnamestats %}
                                <span style='font-size:{{ stat.fontsize}}px'>
                                    <a href=# onclick="submit_search('{{ stat.surname }}')">
                                        {{ stat.surname }}</a>
                                </span>
                 {% endfor %}
                         </form>
                    </div>
                </div>
            </div>
            {% endif %}

	   </div> {# row #}
	</div>


</div>
{% endblock %}
