{# start/index.html_ #} 
{% extends "start/s_layout.html" %} 
{% include "security/_messages.html" %} 
{% block title %}{{ _('Isotammi Start Page') }}{% endblock %} 
{% block body %} 
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu( (
   ) ) }}

<style>
div.startbox { min-height: 270px;}
#langbox {
    float:right; margin-right: 2em;
    font-style: italic; 
}
#langbox a { text-decoration: none; }
</style>

<div id="startdiv">
    <div id="langbox">
        <a href="/?lang=fi">🇫🇮&nbsp;Suomeksi</a> –
        <a href="/?lang=sv">🇸🇪&nbsp;På svenska</a> –
        <a href="/?lang=en">🇬🇧&nbsp;In English</a>{# [{{lang}}] #}
    </div>
    <h2>{{ _('Welcome to Isotammi Services') }}</h2>
	<div>
		<div class="row">

			<div class="startbox bg_intro">
				<h3>{{ _('Learn about Isotammi') }}</h3>
				<img alt="Suomen sukututkimusseura ry" src="/static/SSS-tunnus-160.png"
				     style="float:left; width:50%">
				<p>
					{{ _('<i>Isotammi Database</i> is a system for co\'operatively collect validated Finnish Genealogy data.') }} 
				</p>
				<p>{{ _("For more info see also documents -") }}</p>
				<ul class="compact">
					<li><a href="http://wiki.isotammi.net/wiki/Suomikanta_ja_sen_hy%C3%B6dynt%C3%A4minen"
					 target="esite">{{ _('Why Isotammi database') }}</a></li>
                    <li><a href="http://wiki.isotammi.net/wiki/Oma_aineisto_Isotammeen" 
                     target="esite">{{ _('See the process for your data') }}</a></li>
					<li><a href="http://wiki.isotammi.net/wiki/Sukutietojen_vakiointi_Gedcom-ohjelmilla"
					 target="esite">{{ _('Gedcom data healing services') }}</a></li>
				</ul>
			</div>

			<div class="startbox">
				<h3>{{ _('Look at demo data in Isotammi Database') }}</h3>
				<p>{{ _('Here you can see a restricted view on demo genealogical data.') }}</p>
		    {% if config['DEMO'] %}
				<form method="get" action="/start/guest">
			{% else %}
				<form method="get" action={{demo_site}}>
			{% endif %}
					<div class="submit">
						<button type="submit">{{ _('Explore demo') }}</button>
					</div>
					<input type="hidden" name="lang" value="{{ lang }}">
		    {% if not config['DEMO'] %}
                    <p>{{ _("To see the full data, you can fill the registration form here") }}.</p>
                    <div class="submit">
                       <button type="submit" formaction="/join">{{ _('Join us') }}</button>
                    </div>
			{% endif %}
				</form>
			</div>

		    {% if not config['DEMO'] %}
            <div class="startbox">
                <h3>{{ _('Log in') }}</h3>
                <p>{{ _('As a member of <i>Suomen sukututkimusseura</i>, you can log in,') }}
                   {{ _('refine the structure of your own data and get full access to the demo database') }}.
                </p>
                <form method="get">
                    <div class="submit">
                       <button type="submit" formaction="/start/logged">{{ _('Log in') }}</button>
                    </div>
                </form>
            </div>
			{% endif %}
			
	   </div>
	</div>
</div>
{% endblock %}
