{# _myapp/templates/person.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Repository Details') }}{% endblock %}
{% block body %}
{{ super() }}

{% for r in repositories %}
    <h1>{{ _("Repository") }}</h1>
    <ol id="itemlist">
        <li class="itemrow">
                <div class="col1">{{ _('Identifier') }}</div>
                <div class="col2">{{r.uniq_id}}</div>
        </li>
        <li class="itemrow">
                <div class="col1">{{ _('Name') }}</div>
                <div class="col2">{{r.rname}}</div>
        </li>
        <li class="itemrow">
                <div class="col1">{{ _("Type") }}</div>
                <div class="col2">{{r.type}}</div>
        </li>
        {% for note in r.notes %}
	        <li class="itemrow">
	                <div class="col1">{{ _("URL href") }}</div>
	                <div class="col2">{{note.url}}</div>
	        </li>
	        <li class="itemrow">
	                <div class="col1">{{ _("URL type") }}</div>
	                <div class="col2">{{note.type}}</div>
	        </li>
	        <li class="itemrow">
	                <div class="col1">{{ _("URL description") }}</div>
	                <div class="col2">{{note.text}}</div>
	        </li>
	     {% endfor %}
     </ol>
    {% if r.sources %}
    <h3>{{ _("Sources") }}</h3>
    <ol class="num">
        {% for s in r.sources %}
        <li><div class="itemrow">
                <div class="col1">{{ _('Identifier < br/> Title < br/> Medium') }}<br /><br /></div>
                <div class="col3"><span class="id">{{s.uniq_id}}</span><br />
                	{{s.stitle}}<br />
                	{{s.sauthor}}<br />
                	{{s.spubinfo}}<br />
                    {{s.reporef_medium}}<br /><br /></div>
            </div>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endfor %}
    <p>&rtrif; <a href="javascript:history.back()">{{ _('Go back') }}</a></p>

{% endblock %}
