{# _myapp/templates/select_refcols.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _("Referenssinimet kannasta") }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

{% set sp = {"M": "mies", "N": "nainen", "U": "?"} %}
{% set tp = {"undef":" ", "fname":"etunimi", "lname":"sukunimi", "patro":"patronyymi", "place":"paikka", "occu":"ammatti"} %}
{% set rt = {'REFFIRST':'etunimi', 'REFLAST':'sukunimi', 'REFPATRO':'patron.'} %}
<h2>{{ _("Referenssitietojen valinta") }} (#TODO, tässä staattinen sisältö!)</h2>
<form action="/talleta/valitut/refnimet" method="post">
    
<p>{{ _("Valitse talletettava yhteystyyppi:") }}
  <select name="refcl">
    <option value="None">{{ _("-- valitse referenssiyhteys --") }}</option>
    <option value="fname">{{ _("Etunimi A on normalisoitu etunimi B") }}</option>
    <option value="lname">{{ _("Sukunimi A on normalisoitu sukunimi B") }}</option>
    <option value="patro">{{ _("Patronyyminen nimi A viittaa etunimeen B") }}</option>
    <option value="place">{{ _("Paikannimi A on normalisoitu paikannimi B") }}</option>
    <option value="occu">{{ _("Ammattinimike A on normalisoitu nimike B") }}</option>
  </select></p>

<section id="lista">
    <table border="2">
    <tr>
        <th>{{ _("Nimi A") }}<br />
            <select name="A">
              <option value="None">{{ _("-- valitse sarake --") }}</option>
              <option value="Etunimi">{{ _("Etunimi") }}</option>
              <option value="Etunimi_vakioitu">{{ _("Etunimi_vakioitu") }}</option>
              <option value="Patronyymi">{{ _("Patronyymi") }}</option>
              <option value="PatroRef">{{ _("PatroRef") }}</option>
              <option value="Sukunimi_vakioitu">{{ _("Sukunimi_vakioitu") }}</option>
              <option value="Ammatti">{{ _("Ammatti") }}</option>
              <option value="Ammatti_vakioitu">{{ _("Ammatti_vakioitu") }}</option>
              <option value="Paikka">{{ _("Paikka") }}</option>
              <option value="Paikka_vakioitu">{{ _("Paikka_vakioitu") }}</option>
              <option value="Kommentti">{{ _("Kommentti") }}</option>
              <option value="Käräjät">{{ _("Käräjät") }}</option>
              <option value="Käräjäpaikka">{{ _("Käräjäpaikka") }}</option>
              <option value="Alkuaika">{{ _("Alkuaika") }}</option>
              <option value="Loppuaika">{{ _("Loppuaika") }}</option>
              <option value="Signum">{{ _("Signum") }}</option>
            </select><br/>
            <select name="A_kieli">
              <option value="None">{{ _("Määrittämätön kieli") }}</option>
              <option value="fi">{{ _("suomi") }}</option>
              <option value="se">{{ _("ruotsi") }}</option>
              <option value="ru">{{ _("venäjä") }}</option>
              <option value="fi-ka">{{ _("karjala") }}</option>
              <option value="la">{{ _("latina") }}</option>
            </select>
        </th>
        <th>nimi B<br/>
            <select name="A">
              <option value="None">{{ _("-- valitse sarake --") }}</option>
              <option value="Etunimi">{{ _("Etunimi") }}</option>
              <option value="Etunimi_vakioitu">{{ _("Etunimi_vakioitu") }}</option>
              <option value="Patronyymi">{{ _("Patronyymi") }}</option>
              <option value="PatroRef">{{ _("PatroRef") }}</option>
              <option value="Sukunimi_vakioitu">{{ _("Sukunimi_vakioitu") }}</option>
              <option value="Ammatti">{{ _("Ammatti") }}</option>
              <option value="Ammatti_vakioitu">{{ _("Ammatti_vakioitu") }}</option>
              <option value="Paikka">{{ _("Paikka") }}</option>
              <option value="Paikka_vakioitu">{{ _("Paikka_vakioitu") }}</option>
              <option value="Kommentti">{{ _("Kommentti") }}</option>
              <option value="Käräjät">{{ _("Käräjät") }}</option>
              <option value="Käräjäpaikka">{{ _("Käräjäpaikka") }}</option>
              <option value="Alkuaika">{{ _("Alkuaika") }}</option>
              <option value="Loppuaika">{{ _("Loppuaika") }}</option>
              <option value="Signum">{{ _("Signum") }}</option>
            </select><br/>
            <select name="A_kieli">
              <option value="None">{{ _("Määrittämätön kieli") }}</option>
              <option value="fi">{{ _("suomi") }}</option>
              <option value="se">{{ _("ruotsi") }}</option>
              <option value="ru">{{ _("venäjä") }}</option>
              <option value="fi-ka">{{ _("karjala") }}</option>
              <option value="la">{{ _("latina") }}</option>
            </select>
        </th>
        <th style="text-align: left">{{ _("Talleta valittujen sarakkeiden tiedot<br/>referenssiniminä") }}<br/>
            <input type="submit" value="{{ _('   Hyväksy   ') }}" style="width: 180pt;" />
        </th>
    </tr>
    <tbody id="rows">
        <tr><td>Oloffsson</td><td>Olli</td></tr>
        <tr><td>Månsson</td><td>Mauno</td></tr>
        <tr><td>Henricij</td><td>Heikki</td></tr>
        <tr><td>Mårtensdotter</td><td>Martti</td></tr>
        <tr><td colspan="2">...</td></tr>
    </tbody>
</table>
</section>
</form>
{% endblock %}
