{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

<h2>{{ _('List of Persons') }}</h2>
<p>{{ _('Number of persons:') }} {{persons|count}}  

<section id="lista">
<table>
    <tr><th>{{ _("uniq_id") }}</th>
        <th>{{ _("name") }}</th>
        <th>{{ _("type") }}</th>
        <th>{{ _("date") }}</th>
        <th>{{ _("place") }}</th>
    </tr>
{% if persons %}
    {% for p in persons %}
        {% set ecnt = p.events|count %}{% if ecnt %}{% else %}{% set ecnt = 1 %}{% endif %}
        {% set tr_tag = "" %}
            <tr>
                <td rowspan="{{ecnt}}"><a href="/pick/uniq_id={{p.uniq_id}}">{{p.uniq_id}}</a></td>
                <td rowspan="{{ecnt}}">{{p.names[0].firstname}} <b>{{p.names[0].surname}}</b></td>
    	{% if p.events %}
        	{% for event in p.events %} {{tr_tag|safe}} {% set tr_tag="<tr>" %}
	    		<td style="align:right;">{{event.type}}</td>
	    		<td>{{event.date}}</td>
	    		<td>{{event.place}}</td>
	    	</tr>
			{% endfor %}
		{% else %}
            </tr>
		{% endif %}
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No persons') }}</td></tr>
{% endif %}
</table>
{% endblock %}
