{# _myapp/templates/table_families.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

<h2>{{ _('List of Families') }}</h2>
<p>{{ _('Number of families:') }} {{families|count}}  

<section id="lista">
<table>
    <tr><th>{{ _("Uniq_id") }}</th>
        <th>{{ _("Father") }}</th>
        <th>{{ _("Mother") }}</th>
        <th>{{ _("Type") }}</th>
        <th>{{ _("Child") }}</th>
    </tr>
{% if families %}
    {% for f in families %}
        <tr>
                <td>{{f[0][0]}}</td>
                <td><a href="/scene/person={{f[1][0]}}">{{f[1][3]}} {{f[1][2]}} {{f[1][1]}}</a></td>
                <td><a href="/scene/person={{f[2][0]}}">{{f[2][3]}} {{f[2][2]}} {{f[2][1]}}</a></td>
                <td>{{f[0][1]}}</td>
                 <td>{{f[0][2]}}</td>
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No persons') }}</td></tr>
{% endif %}
</table>
{% endblock %}
