{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _("Tiedot kannasta") }}{% endblock %}
{% block body %}
{{ super() }}

<h2>{{ _("People who has the surname") }}: {{surname}}</h2>
<section id="lista">
<table>
    <tr><th>{{ _("unique id") }}</th><th>{{ _("firstname") }}</th><th>{{ _("surname") }}</th>
    </tr>
{% if people %}
    {% for person in people %}
     	{% if person.names %}
        	{% for pname in person.names %}
        		<tr>
	        		<td><a href="/lista/person_data/{{person.uniq_id}}">{{person.uniq_id}}</a></td>
	        		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
	        		<td>{{pname.surname}}</td>
        		</tr>
    		{% endfor %}
		{% else %}
    		<tr>
        		<td>{{person.uniq_id}}</td>
    		</tr>
		{% endif %}
    {% endfor %}
{% else %}
        <tr><td colspan="1">{{ _("Ei tietoja") }}</td></tr>
{% endif %}
</table>
</section>
{% endblock %}
