{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}

<h2>{{ _("Baptism data") }}</h2>

{% if event %}
	<h4>{{ _('Identifier') }}: {{event.uniq_id}}</h4>
	{% if event.type %}<h4>{{ _('Type') }}: {{event.type}}</h4>{% endif %}
    {% if event.date %}<h4>{{ _('Date') }}: {{event.date}}</h4>
	{% elif event.daterange %}<h3>{{ _('Date') }}: {{event.daterange}}</h4>
	{% endif %}
	{% if event.location %}<h4>{{ _('Place') }}: {{event.location |join(' • ')}}</h4>{% endif %}
	{% if event.description %}<h4>{{ _('Description') }}: {{event.description}}</h4>{% endif %}
{% endif %}

<section id="lista">
<table>
    <h2>{{ _("Names") }}</h2>
    <tr><th>{{ _("unique_id") }}</th><th>{{ _("role") }}</th><th>{{ _("firstname") }}</th><th>{{ _("surname") }}</th>
    </tr>
	{% if persons %}
	{% for person in persons %}
	 	{% if person.names %}
	    	{% for pname in person.names %}
			<tr>
	    		<td class="id">
	    			<a href="/person/uniq_id={{person.uniq_id}}">{{person.uniq_id}}</a></td>
	    		<td>{% if person.role != "Primary" %}{{person.role|transl('role')}}{% endif %}</td>
	    		<td>{% if pname.firstname %}{{pname.firstname}}{% endif %}</td>
	    		<td>{% if pname.surname %}{{pname.surname}}{% endif %}</td>
			</tr>
			{% endfor %}
		{% endif %}
	{% endfor %}
	{% else %}
	        <tr><td colspan="1">{{ _('No person information') }}</td></tr>
	{% endif %}
</table>
<p>&nbsp;</p>

<br>
<br>
</section>
{% endblock %}
