{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

<h2>{{ _('List of Persons') }}</h2>
<p>{{ _('Number of persons:') }} {{persons|count}}  
{% if name %}
{{ _('from the File') }} [<i>{{name}}</i>] 
{% endif %}{% if uri %}
{{ _('from Server') }} <i>{{uri}}</i>
{% endif %}</p>

<section id="lista">
<table>
    <tr><th>{{ _('Oid') }}</th>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Occupation') }}</th>
        <th>{{ _('Place') }}</th>
        <th>{{ _('Court') }}</th>
    </tr>
{% if persons %}
    {% for p in persons %}
        {% set e = p.events[0] %}
        <tr onmouseover="info('{{p.id}}', 
        	'{{p.names[0].surname}}, {{p.names[0].firstname}}',
            '{% if p.occupation %}{{p.occupation}}{% endif %}', 
            '{% if p.place %}{{p.place}}{% endif %}', 
            '{% if e.nimi %}{{e.nimi}}', '{{e.aika}}{% else %}', '{% endif %}', 
            '{% if e.citation %}{{e.citation.id}}{% endif %}')" >
            <td class="id"><a href="/pick/oid={{p.id}}">{{p.id}}</a></td>
            <td>{{p.names[0].firstname}} <b> {{p.names[0].surname}}</b></td>
            <td>{% if p.occupation %}{{p.occupation}}{% endif %}</td>
            <td>{% if p.place %}{{p.place}}{% endif %}</td>
            <td>{% if p.events|count %}
                <ul class="event">{% for e in p.events %}
                <li><span class="id">{{e.oid}}</span> {{e.name}}
                <span style="font-size:80%; font-style: italic">{{e.date}}</span> 
                {% if e.citation %}({% for note in e.citation.notes %}signum
                {% if note.url %}<a href='{{note.url}}'>{{note.text}}</a>
                {% else %}{{note.text}}){% endif %})
                {% endfor %}
                </li>{% endfor %}</ul>
            {% endif %}
            </td>

        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _('No data') }}</td></tr>
{% endif %}
</table>
</section>
<section id="tiedot"><p>{{ _('Nodes and connections') }}</p></section>
{% endblock %}
