{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _("Tiedot kannasta") }}{% endblock %}
{% block body %}
{{ super() }}
<script src="/static/infobox.js"></script>

<h2>{{ _("Mediatiedostot") }}</h2>
<p>{{ _("Näytetään mediaobjektit") }}</p>

<section id="lista">
<table>
    <tr><th>{{ _("uniq_id") }}</th>
        <th>{{ _("src") }}</th>
        <th>{{ _("mime") }}</th>
        <th>{{ _("description") }}</th>
        <th>{{ _("picture") }}</th
    </tr>
{% if media %}
    {% for obj in media %}
	    <tr>
	        <td>{{obj.uniq_id}}</td>
	        <td>{{obj.src}}</td>
    		<td>{{obj.mime}}</td>
    		<td>{{obj.description}}</td>
    		<td><img src="/static/{{obj.src}}" alt="{{ _('Picture cannot be found') }}"></td>
        </tr>
    {% endfor %}
{% else %}
        <tr><td colspan="5">{{ _("Ei tietoja") }}</td></tr>
{% endif %}
</table>
{% endblock %}
