{# _myapp/templates/virhe_lataus.html_ #}
{% extends "a_layout.html" %}
{% block title %}Tiedot talletettu{% endblock %}
{% block body %}
    {{ super() }}
    <h2>Tietojen talletus kantaan{% if uri %} <i>{{uri}}</i>{% endif %}</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}
    {% if text is string %}
	       <p>{{text}}</p>
	    {% else %}<table>
	    {% for line in text %} 
	       {% set fields = line.split(':') %}<tr>
	       {% if fields|count == 1 %}<p>{{fields[0]}}</p>
	       {% else %}
	       {% for f in fields %}<td>{{f}}</td>{% endfor %}
	       {% endif %}</tr>
	    {% endfor %}</table>
    {% endif %}
    <p>&rtrif; <a href="javascript:history.back()">Palaa takaisin</a></p>
{% endblock %}

