{# _myapp/templates/virhe_lataus.html_ #}
{% extends "a_layout.html" %}
{% block title %}{{ _('Failed to load') }}{% endblock %}
{% block body %}
    {{ super() }}
    <h2>
    {% if code == 1 %}
        {{ _('Invalid input file') }}
    {% elif code == 2 %}
        {{ _('No permission') }}
    {% elif code == 415 %}
        {{ _('Unable to load file') }}
    {% else %}
        {{ _('Unable to load file, code =') }}{{code}}
    {% endif %}
    </h2>
    {% if text %}
    <p>{{text}}</p>
    {% endif %}
    <p>&gt; <a href="/">{{ _('Back to Front Page') }}</a>
{% endblock %}

