{# _myapp/templates/allowed_emails.html_ #}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% extends "/admin/layout.html" %}
{% block title %}{{ _('User candidates from database') }}{% endblock %}
{% block body %}
{{ super() }}

<script>
$(document).ready( function() {
    console.log("ready");

	$("#select_all").click(function(e) {
		var checked = $("#select_all").is(":checked");
		$("input.user").prop("checked",checked);
    });
 
	$("input[name=select]").click(function(e) {
		var value = $(e.target).val();
		$("tr[data-active]").hide();
		if (value == "all") $("tr[data-active]").show();
		if (value == "registered") $("tr[data-active=True]").show();
		if (value == "pending") $("tr[data-active=False]").show();
    });

});
	        
</script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <h3>{{ _('Notifications') }}</h3>
  <div>
    <ul  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}}'>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}
 
<div id="startdiv">
  <div>
    <h2>{{ _('User candidates') }}</h2>

    <div class="startbox admin">
   	  <h3>{{ _('Create a new user candidate') }}</h3>
	    <div style="display: inline-block;">    
	        <form action="{{ url_for('admin.list_allowed_emails') }}" method="POST">
	          {{ form.hidden_tag() }}
	          {{ render_field_with_errors(form.allowed_email) }}
	          {{ render_field_with_errors(form.default_role) }}      
	          {{ render_field(form.submit) }}
	
	        </form>
	    </div>
	</div>
	       <div><p>{{ _('Show') }}
            <input type="radio" name="select" value="all" checked>{{ _('all users') }} /
        	<input type="radio" name="select" value="registered">{{ _('registered users only') }} /
        	<input type="radio" name="select" value="pending">{{ _('pending candidates only') }}
          </p>
          </div>
    <div>
      <h3>{{ _('Pending user candidates') }}</h3>
        <!--section id="lista" -->
	        <table class="table100">
	            <tr>
	               <th>   </th>
	               <th>{{ _('email') }}</th>
                   <th>{{ _('role') }}</th>
	               <th>{{ _('approved') }}</td>
	               <th>{{ _('creator') }}</th>
	               <th>{{ _('created') }}</th>
	               <th>{{ _('registered') }}</th>
	            </tr>
	        {% if emails %}
	            {% for e in emails %}
	                <tr data-active="{{e.confirmed_at!=None}}">
	                    <td><input type="checkbox" class="user" name="select_user" value="{{e.allowed_email}}">
                        <td><a href="update_allowed_email/{{e.allowed_email}}" title="{{ _('Edit') }}">
		                          {{e.allowed_email}}</a>
		                   </td>	
	                    <td>{{e.default_role}}</td>
	                    <td>{{e.approved}}</td>
	                    <td>{{e.creator}}</td>
	                    <td>{{e.created_at | isodatetime}}</td>
	                    <td>{{e.confirmed_at | isodatetime}}</td>
	                </tr>
	            {% endfor %}
	        {% else %}
	                <tr><td colspan="1">{{ _('No data') }}</td></tr>
	        {% endif %}
	        </table>
        <!-- /section -->
    </div>
  </div>             
</div>

{% endblock %}
