{# _myapp/templates/allowed_emails.html_ #}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% extends "/admin/layout.html" %}
{% block title %}Käyttäjäehdokkaat kannasta{% endblock %}
{% block body %}
{{ super() }}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <h3>Ilmoitukset</h3>
  <div>
    <ul  class='flashes'>
    {% for category, message in messages %}
      <li class='flash_{{category}}}'>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}
 
<div id="startdiv">
  <div>
    <h2>Käyttäjäehdokkaat</h2>

    <div class="startbox">
   	  <h3>Luo uusi käyttäjäehdokas</h3>
	    <div style="display: inline-block;">    
	        <form action="{{ url_for('admin.list_allowed_emails') }}" method="POST">
	          {{ form.hidden_tag() }}
	          {{ render_field_with_errors(form.allowed_email) }}
	          {{ render_field_with_errors(form.default_role) }}      
	          {{ render_field(form.submit) }}
	
	        </form>
	    </div>
	</div>
    <div class="startbox2">
      <h3>Odottavat käyttäjäehdokkaat</h3>
        <!--section id="lista" -->
	        <table class="table100">
	            <tr><th>email</th><th>role</th><th>creator</th><th>created</th><th>registered</th>
	            </tr>
	        {% if emails %}
	            {% for e in emails %}
	                <tr>
	                    <td>{{e.allowed_email}}</td>
	                    <td>{{e.default_role}}</td>
	                    <td>{{e.creator}}</td>
	                    <td>{{e.created_at}}</td>
	                    <td>{{e.confirmed_at}}</td>
	                </tr>
	            {% endfor %}
	        {% else %}
	                <tr><td colspan="1">Ei tietoja</td></tr>
	        {% endif %}
	        </table>
        <!-- /section -->
    </div>
  </div>             
</div>

{% endblock %}
