{# _myapp/templates/gr_result.html_ #}
{% extends "/admin/layout.html" %}
{% block title %}{{ _("GEDCOMs") }}{% endblock %}
{% block body %}
    {{ super() }}
    {% if num_requested_users > 0 %}
    	{% if num_users == 1 %}
	    	<h1>{{ _("GEDCOMs for user") }} <i>{{users[0].username}} ({{users[0].name}})</i></h1>
    	{% else %}
    		<h1>{{ _("GEDCOMs for %(n)s users", n=num_users) }}</h1>
		{% endif %}
    {% else %}
	    <h1>{{ _("GEDCOMs for all users") }}</h1>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

    <div class="content">
        <table>
           <tr>
                <th>{{ _("User id") }}</th>
                <th>{{ _("GEDCOM file") }}</th>
           </tr>
	    {% for username,gedcomfile in gedcom_list %}
	       <tr>
	           <td>{{ username }}</td>
	           <td><a href="list_user_gedcom/{{ username }}/{{ gedcomfile.name }}">{{ gedcomfile.name }}</a></td>
	       </tr>
	    {% endfor %}
	    </table>
	    <br>
	    {{ _("Number of files") }}: {{ gedcom_list|count }}
        <p>&rtrif; <a href="list_users">{{ _("List of users") }}</a></p>
    </div>
{% endblock %}
</body>
</html>

