{# _myapp/templates/layout.html_ #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.STK_SYSNAME }} – {% block title %}{% endblock %} – {{ _('Admin pages') }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hamburger.css') }}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
  </head>
  <body>
    {% block body %}
    <div id="Header" class="admin"><a href="/"><img id="logo" 
             src="/static/tam.png" alt="{{ _('Admin-Start Page') }}" title="{{ _('Admin-Start Page') }}"
             onmouseover="this.src='/static/tam1.png';" 
             onmouseout="this.src='/static/tam.png';"/></a>
        <div class="curr_user"><a href="/settings" title="{{ _('My profile') }}">{{current_user.username}}</a></div>
        <i>{{ config.STK_SYSNAME }} – {{ _('The Genealogical Society of Finland') }}</i></div>

	{% from "start/s_macros.html" import hamburger_menu with context %}
	
	{{ hamburger_menu((
	    ("/scene", _('Change settings'), _('Select displayed data')),
	   ) ) }}

    <div id="paluu">
        <a href="/admin">&#9881; {{ _('Admin home') }}</a>
    </div>

    {% endblock %}

    <div class="fullclear"></div>
    <div id="footer">
        <span class="copyright">&nbsp;</span>
        <span class="createdate">{{ config.STK_SYSNAME }} &nbsp;
            {{ _('Version') }} {{ 'app'|app_date }}
            {% if elapsed %}
                <tt>time {{'%0.4f'| format(elapsed|float)}}s</tt> &nbsp;
            {% endif %}
        </span>
    </div>
    <div class="fullclear"></div>

  </body>
</html>