{# _myapp/templates/layout.html_ #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.STK_SYSNAME }} – {% block title %}{% endblock %} – {{ _('Admin pages') }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pers.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hamburger.css') }}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
  </head>
  <body>
    {% block body %}
    <h1 class="admin"><a href="/admin"><img id="logo" 
             src="/static/hlo.png" alt="{{ _('Admin-Start Page') }}" title="{{ _('Admin-Start Page') }}"
             onmouseover="this.src='/static/hlo1.png';" 
             onmouseout="this.src='/static/hlo.png';"/></a>
        <i>{{ config.STK_SYSNAME }} – {{ _('The Genealogical Society of Finland') }}</i></h1>

	{% from "start/s_macros.html" import hamburger_menu with context %}
	
	{{ hamburger_menu((
	    ("/scene", _('Change settings'), _('Select displayed data')),
	   ) ) }}

    {% endblock %}
  </body>
</html>