{# _myapp/templates/table1.html_ #}
{% extends "/admin/layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}

<style>form { display: inline-block; }</style>
<div id="startdiv">
    <div>
        <h2>{{ _("Our Users") }}</h2>
         {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul  class='flashes'>
            {% for category, message in messages %}
              <li class='flash_{{category}}}'>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
       <div id="errors" class="errors"></div>
        <div class="row">
             <div style="display: inline-block;">
                <h3>{{ _("User names in use") }}</h3>
		        <table class="table100">
		            <tr><th>{{ _("User name") }}</th><th>{{ _("Name") }}</th><th>{{ _("mail") }}</th>
		            <th>{{ _("Roles") }}</th><th>{{ _("Operations") }}</th><th>{{ _("Edit") }}</th></tr>
		        {% if users %}
		            {% for u in users %}
		                <tr>
		                    <td>{{u.username}}</td>
		                    <td>{{u.name}}</td>
		                    <td>{{u.email}}</td>
		                    <td>{{u.roles}}</td>
		                    <td><a href="list_uploads/{{u.username}}">{{ _("Uploaded files") }}</a>
                                </form>
                            </td>
 		                    <td><form action="update_user/{{u.username}}">
                                    <input type="submit" value="{{ _("*") }}" />
                                </form>
                            </td>
		                </tr>
		            {% endfor %}
		        {% else %}
		                <tr><td colspan="1">{{ _("No users") }}</td></tr>
		        {% endif %}
		        </table>
	        </div>
    </div> 
  </div>
</div>
{% endblock %}
