{# _myapp/templates/table1.html_ #}
{% extends "a_layout.html" %}
{% block title %}Tiedot kannasta{% endblock %}
{% block body %}
{{ super() }}

<div>
    <h2>Käyttäjät</h2>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul  class='flashes'>
            {% for category, message in messages %}
              <li class='flash_{{category}}}'>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <section id="lista">
        <table>
            <tr><th>user id</th><th>name</th><th>email</th><th>roles</th>
            </tr>
        {% if users %}
            {% for u in users %}
                <tr>
                    <td>{{u.username}}</td>
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.roles}}</td>
                </tr>
            {% endfor %}
        {% else %}
                <tr><td colspan="1">Ei tietoja</td></tr>
        {% endif %}
        </table>
        </section>
    </div>


{% endblock %}
