{# _bp/admin/templates/admin/list_users.html_ #}
{% extends "/admin/layout.html" %}
{% block title %}{{ _('Database Information') }}{% endblock %}
{% block body %}
{{ super() }}

<style>form { display: inline-block; }</style>

<script>
$(document).ready( function() {
    console.log("ready");

    $(document).on({
        ajaxStart: function() { $("body").addClass("loading");  },
        ajaxStop: function() { $("body").removeClass("loading"); },    
        ajaxError: function() { $("#errors").text(('Server error')).show(); }    
    });

	$("#select_all").click(function(e) {
		var checked = $("#select_all").is(":checked");
		$("input.user").prop("checked",checked);
    });
 
	$("input[name=select]").click(function(e) {
		var value = $(e.target).val();
		$("tr[data-active]").hide();
		if (value == "all") $("tr[data-active]").show();
		if (value == "active") $("tr[data-active=True]").show();
		if (value == "inactive") $("tr[data-active=False]").show();
    });

	$("#list_uploads").click(function(e) {
		$("input.user:hidden:checked").prop("checked",false);
		$("#form").attr("action","list_uploads_all");
		$("#form").submit();
    });

	$("#list_gedcoms").click(function(e) {
		$("input.user:hidden:checked").prop("checked",false);
		$("#form").attr("action","list_gedcoms_for_users");
		$("#form").submit();
    });

	$("#send_email").click(function(e) {
		$("input.user:hidden:checked").prop("checked",false);
		$("#form").attr("action","send_email");
		$("#form").submit();
    });
});
	        
</script>
                    
<div id="startdiv">
    <div>
        <h1>{{ _("Active User names") }}</h1>
         {% with messages = get_flashed_messages(with_categories=true) %}

          {% if messages %}
            <ul  class='flashes'>
            {% for category, message in messages %}
              <li class='flash_{{category}}}'>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
       <div id="errors" class="errors"></div>
        <div>
          <div><p>{{ _('Show') }}
	            <input type="radio" name="select" value="all" checked>{{ _('all users') }} /
	        	<input type="radio" name="select" value="active">{{ _('active users only') }} /
	        	<input type="radio" name="select" value="inactive">{{ _('inactive users only') }}
	          </p>
          </div>
          <div style="display: inline-block;">
             <form id="form" action="" method="post">
		        <table class="table100">
		            <tr>
                	<th><input type="checkbox" id="select_all"></th>
		            <th>{{ _("Is active") }}</th>
		            <th>{{ _("Last login time") }}</th>
		            <th>
		            	{% if sortby == 'username' %} 
		            		{{ _("User") }} &darr; 
		            	{% else %}
		            		<a href=?sortby=username>{{ _("User") }}</a>
		            	{% endif %}
		            </th>
		            <th>
		            	{% if sortby == 'name' %} 
		            		{{ _("Name") }} &darr; 
		            	{% else %}
		            		<a href=?sortby=name>{{ _("Name") }}</a>
		            	{% endif %}
		            </th>
		            <th>
		            	{% if sortby == 'email' %} 
		            		{{ _("Email address") }} &darr; 
		            	{% else %}
		            		<a href=?sortby=email>{{ _("Email address") }}</a>
		            	{% endif %}
		            </th>
		            <th>{{ _("Language") }}</th>
		            <th>{{ _("Roles") }}</th>
		            </tr>
		        {% if users %}
		            {% for u in users %}
		                <tr data-active="{{u.is_active}}">
		                	<td><input type="checkbox" class="user" name="select_user" value="{{u.username}}">
		                	<td>{% if u.is_active %} {{ _("Active") }} {%else%} {{ _("Inactive") }} {%endif%}</td>
		                    <td>{% if u.current_login_at %} {{(u.current_login_at / 1000) | timestamp }} {% endif %}</td>
		                    <td>{% if current_user.username == u.username %}
		                      <a href="update_user/{{u.username}}" class="editlink" title="{{ _('Edit me') }}">
		                          <b>{{u.username}}</b></a>&#9733;
		                      {% else %}
		                      <a href="update_user/{{u.username}}" class="editlink" title="{{ _('Edit') }}">
		                          {{u.username}}</a>
		                      {% endif %}
		                    </td>
		                    </td>
		                    <td>{{u.name}}</td>
                            <td>{{u.email}}</td>
                            <td class="center">{{u.language}}</td>
		                    <td>{{ u.roles|join(', ') }}</td>
		                </tr>
		            {% endfor %}
		        {% else %}
		                <tr><td colspan="1">{{ _("No users") }}</td></tr>
		        {% endif %}
		        </table>
		        <p>
		        <h2>{{ _("Operations for selected users") }}</h2>
					<button id="list_uploads">{{ _("Gramps Files and Candidate Materials") }}</button>
		        	<button id="list_gedcoms">{{ _("Uploaded GEDCOMs") }}</button>
		        	<button id="send_email">{{ _("Send email") }}</button>
	        </form>
	    </div>
    </div> 
  </div>
</div>
{% endblock %}
