{# _start/my_message.html_ #}
{% extends "start/s_layout.html" %}
{% include "security/_messages.html" %}
{% block title %}{{ _("Send email to users") }} (start/my_message){% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<style>
table, td {
	border: none;
	vertical-align: top;
}
</style>

<script>
$(document).ready( function() {
    $('#send').click( function() {
		$.post("send_emails",$("form").serialize(), 
		function(rsp) {
			alert("{{ _('Message sent') }}");
		}
	).fail(
		function(rsp) {
			alert("{{ _('Message send failed') }}");
		}
	);
    });
});
</script>
	

<div id="startdiv">
  <div>
    <h1>{{ _("Send email to users") }}: {{users}}</h1>
    <div>
        <h2>{{ _('Write a message') }}</h2>
         <form action="#">
		 {% for email in emails %}
	         <input type="hidden" name="email" value="{{email}}">
         {% endfor %}
         <table>
         <tr>
         	<td>{{ _("Subject") }}: 
         	<td><input name="subject" size="80" value="{{ _('Message from Isotammi admin') }}">
         <tr>
         	<td>{{ _("Message") }}:
         	<td><textarea id="message" name="message" rows="20" cols="80"></textarea>
     	 </table>
         <p>
         <div> 
            <input type="button" id="send" value="{{ _('Apply') }}" />
         </div>
         </form>
    </div>
  </div>
  <p>&rtrif; <a href="list_users">{{ _("List of users") }}</a></p>
</div>
{% endblock %}
