{# _start/my_message.html_ #}
{% extends "start/s_layout.html" %}
{% block title %}{{ _("Write email to users") }} (start/my_message){% endblock %}
{% block body %}
{{ super() }}
{% from "start/s_macros.html" import hamburger_menu with context %}

{{ hamburger_menu() }}

<style>
span.rec {
    border: 1pt solid goldenrod;
    border-bottom-width: 2pt;
    border-right-width: 2pt;
    border-radius: 4pt;
    padding: 1pt 4pt;
}
table.normal, td {
	border: none;
	vertical-align: top;
    margin: 4pt;
    padding: 3pt;
}
tr:hover {background-color: white;}
</style>

<script>
$(document).ready( function() {
    $('#send').click( function() {
		$.post("send_emails",$("form").serialize(), 
		function(rsp) {
			alert("{{ _('Message sent') }}");
		}
	).fail(
		function(rsp) {
			alert("{{ _('Message send failed') }}");
		}
	);
    });
});
</script>
	

<div id="startdiv">
  <div>
    <h1>{{ _("Write email to users") }}
    </h1>

{% include "flash_messages.html" %}

    <div>
        <h2>{{ _('Write a message') }}</h2>
         <form action="#">
    {% for user in users %}
	         <input type="hidden" name="email" value="{{user.email}}">
    {% endfor %}
         <table class="normal">
            <tr>
              <td>{{ _("Recievers") }} </td>
              <td>
    {% for user in users %}
                    <span class="rec" title="user={{user.username}}"
                     ><b>{{user.name}}</b> &lt;{{user.email}}&gt;</span>
    {% endfor %}
              </td>
            </tr>
            <tr>
         	  <td>{{ _("Subject") }} </td>
         	  <td><input name="subject" size="80" 
            {% if subject %}
                    value="{{ subject }}"
            {% else %}
                    value="{{ _('Message from Isotammi admin') }}"
            {% endif %}
                    style="width:100%"></td>
            </tr>
            <tr>
         	  <td>{{ _("Message") }} </td>
         	  <td><textarea id="message" name="message" rows="12" cols="80" style="width:100%"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="right-button"> 
                       <input type="button" id="send" value="{{ _('Apply') }}" />
                    </div>
                </td>
            </tr>
     	 </table>
         </form>
    </div>
  </div>
  <div>&rtrif; <a onclick="history.back()" href="#">{{ _("Return") }}</a></div>
</div>
{% endblock %}
