{# bp/admin/templates/admin/reference.html_ #}
{% extends "/admin/layout.html" %}
{% block title %}{{ _('Logged on user') }}{% endblock %}
{% block body %}
{{ super() }}

<div style="margin-left:50px; padding-bottom: 2em;">
  <div>
    <h2>{{ _('Handling reference materials') }}</h2>
    <div class="row">

          <div class="startbox admin">
            <div style="display: inline-block;">
               <h3>{{ _('Adding data') }}</h3>
                 <form action="/admin/upload_csv" method="post"  enctype="multipart/form-data">
	               <div style="display: inline-block;">
	                 <input type="hidden" name="material" value="refnames">
	                 <p>{{ _('Download reference names') }}</p>
	                 <input type="file" name="filenm"><br>
	                 <input type="checkbox" name="destroy" value="all">
	                  <u>{{ _('Destroying <u>all former</u> and creating a unique index') }}
	               </div>
                   <div style="text-align:right;"> 
	                 <input type="submit" value="{{ _('Upload') }}" />
	               </div>
                </form>
            </div>
        </div>

       <div class="startbox admin">
          <div style="display: inline-block;">
			<h3>{{ _('Handling reference names') }}</h3>
			<ul><li>{{ _('Listings') }}</li><ul>
	              <li><a href="/list/refnames">{{ _('List reference names') }}</a></li>
	              <li><a href="/scene/persons/all/ref">{{ _('See people with reference names') }}</a></li>
              </ul>
			  <li>(<a href="/admin/set/refnames">{{ _('Set changed reference names for all people') }}</a>) <i>{{ _('Do not use') }}</i></li>
              <li><a href="/refname_editor/">{{ _('Refname Editor') }}</a></li>
			</ul>
          </div>
        </div>

    </div>
  </div>
</div>
	
{% endblock %}