{# _myapp/templates/update_allowed_email.html_ #}
{% extends "/admin/layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}{{ _("Update allowed_email") }}{% endblock %}
{% block body %}
    {{ super() }}
<style>
label { display: inline-block; width:140pt; }
</style>

    <h2>{{ _("Update allowed email") }} '{{ form.email }}'</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('admin.update_allowed_email', email=form.email.data) }}"  method="POST">
	      {{ form.hidden_tag() }}
	      <p> {{ form.email.label }}  {{ form.email(readonly=true) }} </p>
    	  {{ render_field_with_errors(form.approved) }}
   	      {{ render_field_with_errors(form.role) }}
   	      <p> {{ form.creator.label }}  {{ form.creator(readonly=true) }} </p>
   	      <p> {{ form.created.label }}  {{ form.created(readonly=true) }} </p> 
	      <p> {{ form.confirmed_at.label }}  {{ form.confirmed_at(readonly=true) }} </p>   	      
   	      {{ render_field(form.submit) }}  	    	      
  	      		  
    </form>
    
    <p>&rtrif; <a href="/admin/list_allowed_emails">{{ _("Allowed email list") }}</a></p>
{% endblock %}
</body>
</html>

