{# _myapp/templates/update_user.html_ #}
{% extends "/admin/layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}{{ _("Update user") }}{% endblock %}
{% block body %}
    {{ super() }}
<style>
label { display: inline-block; width:140pt; }
</style>

    <h2>{{ _("Update user") }} '{{ username }}'</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('admin.update_user', username=form.username.data) }}"  method="POST">
	      {{ form.hidden_tag() }}
	      <p> {{ form.email.label }}  {{ form.email(readonly=true) }} </p>
          <p> {{ form.username.label }}  {{ form.username(readonly=true) }} </p>
   	      {{ render_field_with_errors(form.name) }}
   	      {{ render_field_with_errors(form.language) }}	
    	  {{ render_field_with_errors(form.is_active) }}
   	      <p>
   	      <label for="roles">Roles</label>
   	      {% for role in form.roles.iter_choices() %}
   	      	<input name="roles" type=checkbox {% if role[2] %}checked{% endif %} value="{{ role[0] }}">{{role[1]}}
			<br><label></label>
      	  {% endfor %}
      	  </p>
	      <p> {{ form.confirmed_at.label }}  {{ form.confirmed_at(readonly=true) }} </p>   	      
   	      <p> {{ form.last_login_at.label }}  {{ form.last_login_at(readonly=true) }} </p>
    	  <p> {{ form.last_login_ip.label }}  {{ form.last_login_ip(readonly=true) }} </p>
    	  <p> {{ form.current_login_at.label }}  {{ form.current_login_at(readonly=true) }} </p>	   	      
 	      <p> {{ form.current_login_ip.label }}  {{ form.current_login_ip(readonly=true) }} </p>  	      
   	      <p> {{ form.login_count.label }}  {{ form.login_count(readonly=true) }} </p>		

		  {% if 'to_be_approved' in form.roles.data %}
     	      {{ render_field(form.approve) }}  	    	      
	      {% else %}
     	      {{ render_field(form.submit) }}  	    	      
		  {% endif %}   
  	      		  
    </form>
    
    <p>&rtrif; <a href="/admin/list_users">{{ _("User list") }}</a></p>
{% endblock %}
</body>
</html>

