{# _myapp/templates/gr_result.html_ #}
{% extends "/admin/layout.html" %}
{% block title %}{{ _("Uploads") }}{% endblock %}
{% block body %}
    {{ super() }}
    <meta http-equiv="refresh" content="30">
    {% if user %}
	    <h2>{{ _("Uploads for user") }} '{{ user }}'</h2>
    {% else %}
    	<h2>{{ _("Uploads for all users") }}</h2>
    {% endif %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}
        <table>
           <tr>
			    {% if not user %}
	                <th>{{ _("User id") }}</th>
			    {% endif %}
                <th>{{ _("Upload time") }}</th>
                <th>{{ _("XML file") }}</th>
                <th>{{ _("Status") }}</th>
                <th>{{ _("Operations") }}</th>
           </tr>
	    {% for upload in uploads %}
	       <tr>
			    {% if not user %}
	                <td>{{ upload.user }}</td>
			    {% endif %}
	           <td class="msg_INFO">{{upload.upload_time_s}}</td>
	           <td class="msg_INFO">
    	           <a href=/admin/xml_download/{{user}}/{{upload.xmlname | urlencode}}>
    	               {{upload.xmlname}}</a> 
	           </td>
	           <td class="msg_INFO">{{upload.status}}</td>
	           <td class="msg_INFO">
	           		<a href=/admin/start_upload/{{user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Store to database") }}</a> |
	           		<a href=/admin/show_upload_log/{{user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Show log") }}</a> |
	           		<a href=/admin/xml_delete/{{user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Delete file") }}</a> &nbsp;
	           	</td>
	       </tr>
	    {% endfor %}</table>
    <p>&rtrif; <a href="javascript:history.back()">{{ _("Return") }}</a></p>
{% endblock %}
</body>
</html>

