{# _admin/uploads.html_ #}
<!-- Note different versions:
     ./gramps/templates/gramps/uploads.html
     ./audit/templates/audit/batches.html
     ./admin/templates/admin/uploads.html
 -->
{% extends "/admin/layout.html" %}
{% block title %}{{ _("Uploads") }}{% endblock %}
{% block body %}
    {{ super() }}
    <!-- meta http-equiv="refresh" content="30" -->
    
    {% if users %}
    	{% if users|length == 1 %}
	    	<h1>{{ _("Uploads for user") }} <i>{{users[0].username}} ({{users[0].name}})</i></h1>
    	{% else %}
    		<h1>{{ _("Uploads for %(n)s users", n=users|length) }}</h1>
		{% endif %}
    {% else %}
	    <h1>{{ _("Uploads for all users") }}</h1>
    {% endif %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}

    <div class="content">
        <table style="width:90%">
           <tr>
			    {% if not user %}
	                <th>{{ _("User id") }}</th>
			    {% endif %}
                <th>{{ _("Gramps file / uploaded at") }}</th>
                <th>{{ _("Status") }}
                    <div class="tooltip"> &#x2754;
                      <div class="tooltiptext">
                          <p><b>{{ _("Steps for uploading Gramps files") }}</b></p>
                          <p>↓ {{ _("UPLOADED") }} – {{ _("the file has been uploaded to server") }}<br>
                             ↓ {{ _("STORING") }}  – {{ _("the file content is being stored to the database") }}<br>
                             ↳ {{ _("STORED") }}   – {{ _("the data is stored as candidate material") }}<br>
                             → {{ _("REMOVED") }}  – {{ _("Not found any more") }}<br>
                             ↝ {{ _("ERROR") }} / {{ _("FAILED") }} – {{ _("there was an error") }}
                        </p>
                      </div>
                    </div> 
                </th>
                <th>{{ _("Operations") }}</th>
           </tr>
	    {% for upload in uploads %}
	       <tr>
			    {% if not user %}
                  {% if current_user.username == upload.user %}
                    <td title="{{ _('me') }}">&#9733; <b>{{upload.user}}</b></td>{% else %}
                    <td>{{upload.user}}{% endif %}</td>
			      {% endif %}
	           <td class="msg_INFO">
    	           <a href=/admin/xml_download/{{upload.user}}/{{upload.xmlname | urlencode}}>
    	               {{upload.xmlname}}</a>
                   <br>{{upload.upload_time_s}} 
	           </td>
	           <td class="msg_INFO">{{upload.status}}
	           	{% if upload.batch_id %}
	           	   {% if upload.status == "LADATTU" %}({{_( "deleted from database" ) }})
	           	   {% else %}<br>
                      {{ _("batch %(batch_id)s; %(persons)d persons", batch_id=upload.batch_id, persons=upload.count) }}
	           	   {% endif %}
	           	{% endif %}
               </td>
	           <td class="msg_INFO">
{% if upload.xmlname and upload.status != "TIETOKANNASSA" %}
	           		<a href=/admin/start_upload/{{upload.user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Store to database") }}</a> |
{% endif %}
	           		<a href=/admin/show_upload_log/{{upload.user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Show log") }}</a> |
                    <a href=/admin/xml_delete/{{upload.user}}/{{upload.xmlname | urlencode}}>
                        {{ _("Delete file") }}</a>
	           	</td>
	       </tr>
	    {% endfor %}
	    </table>
	    <br>
	    {{ _("Number of files") }}: {{ uploads|count }}
    <p>&rtrif; <a href="/admin/list_users">{{ _("List of users") }}</a></p>
    </div>
{% endblock %}

<script>
// Status help text
var e = document.getElementById('help');
e.onmouseover = function() {
  document.getElementById('help_box').style.display = 'block';
}
e.onmouseout = function() {
  document.getElementById('help_box').style.display = 'none';
}
</script>
</body>
</html>

