{# _admin/uploads.html_ #}
{% extends "/admin/layout.html" %}
{% block title %}{{ _("Uploads") }}{% endblock %}
{% block body %}
    {{ super() }}
    <!-- meta http-equiv="refresh" content="30" -->
    {% if users %}
    	{% if users|length == 1 %}
	    	<h2>{{ _("Uploads for user") }} <i>{{users[0].username}} ({{users[0].name}})</i></h2>
    	{% else %}
    		<h2>{{ _("Uploads for %(n)s users", n=users|length) }}</h2>
		{% endif %}
    {% else %}
	    <h2>{{ _("Uploads for all users") }}</h2>
    {% endif %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ol  class='flashes'>
        {% for category, message in messages %}
          <li class='flash_{{category}}'>{{ message }}</li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endwith %}
    <div class="helptext">
    	<table class=legend>
        <tr><td colspan="3"><b>{{ _("Status for differents steps in XML file upload:") }}</b>
    	<tr>
    	<td>1
    	<td>{{ _("UPLOADED") }}     
    	<td>{{ _("the file has been uploaded to server") }}
    	<tr>
    	<td>2
    	<td>{{ _("STORING") }}
    	<td>{{ _("the file content is being stored to the database") }}
    	<tr>
    	<td>3
    	<td>{{ _("STORED") }}
    	<td>{{ _("the file content has been stored to the database") }}
    	<tr>
        <td>4
        <td>{{ _("REMOVED") }}
        <td>{{ _("not found any more") }}
        <tr>
    	<td>-
    	<td>{{ _("ERROR") }} / {{ _("FAILED") }}
    	<td>{{ _("there was an error") }}
    	</table>
    </div>
    
    <div class="content">
        <table>
           <tr>
			    {% if not user %}
	                <th>{{ _("User id") }}</th>
			    {% endif %}
                <th>{{ _("Gramps file / uploaded at") }}</th>
                <th>{{ _("Status") }}</th>
                <th>{{ _("Operations") }}</th>
           </tr>
	    {% for upload in uploads %}
	       <tr>
			    {% if not user %}
                  {% if current_user.username == upload.user %}
                    <td title="{{ _('me') }}">&#9733; <b>{{upload.user}}</b></td>{% else %}
                    <td>{{upload.user}}{% endif %}</td>
			      {% endif %}
	           <td class="msg_INFO">
    	           <a href=/admin/xml_download/{{upload.user}}/{{upload.xmlname | urlencode}}>
    	               {{upload.xmlname}}</a> {{upload.upload_time_s}} 
	           </td>
	           <td class="msg_INFO">{{upload.status}}
	           	{% if upload.batch_id %}
	           	   {% if upload.status == "LADATTU" %}({{_( "deleted from database" ) }})
	           	   {% else %}({{ _("batch %(batch_id)s; %(persons)d persons", batch_id= upload.batch_id,persons=upload.count) }})
	           	   {% endif %}
	           	{% endif %}
               </td>
	           <td class="msg_INFO">
{% if upload.xmlname %}
	           		<a href=/admin/start_upload/{{upload.user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Store to database") }}</a> |
{% endif %}
	           		<a href=/admin/show_upload_log/{{upload.user}}/{{upload.xmlname | urlencode}}>
	           			{{ _("Show log") }}</a> |
                    <a href=/admin/xml_delete/{{upload.user}}/{{upload.xmlname | urlencode}}>
                        {{ _("Delete file") }}</a>
	           	</td>
	       </tr>
	    {% endfor %}
	    </table>
	    <br>
	    {{ _("Number of files") }}: {{ uploads|count }}
    <p>&rtrif; <a href="/admin/list_users">{{ _("List of users") }}</a></p>
    </div>
{% endblock %}
</body>
</html>

